@font-face {
    font-family: 'NexaLight';
    src: url('fonts/nexa.light.otf');
    src: url('fonts/nexa.light.otf?#iefix') format('embedded-opentype'), url('fonts/nexa.light.otf') format('otf'), url('fonts/nexa.light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirMedium';
    src: url('fonts/AvenirLTStd-MediumOblique.otf');
    src: url('fonts/AvenirLTStd-MediumOblique.otf?#iefix') format('embedded-opentype'), url('fonts/AvenirLTStd-MediumOblique.otf') format('otf'), url('fonts/AvenirLTStd-MediumOblique.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Geometos';
    src: url('fonts/Geometos.ttf.eot');
    src: url('fonts/Geometos.ttf.eot?#iefix') format('embedded-opentype'), url('fonts/Geometos.ttf.woff') format('woff'), url('fonts/Geometos.ttf.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RalewayMedium';
    src: url('fonts/raleway/Raleway-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GeometosRounded';
    src: url('fonts/GeometosRounded.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuestrialRegular';
    src: url('fonts/questrial-regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QswaldLight';
    src: url('fonts/oswald.light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirRoman';
    src: url('fonts/AvenirRoman.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaStab';
    src: url('fonts/Nexa_Slab_Bold-webfont.eot');
    src: url('fonts/Nexa_Slab_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Nexa_Slab_Bold-webfont.woff2') format('woff2'), url('fonts/Nexa_Slab_Bold-webfont.woff') format('woff'), url('fonts/Nexa_Slab_Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaStabRegular';
    src: url('fonts/Nexa_Slab_Regular-webfont.eot');
    src: url('fonts/Nexa_Slab_Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Nexa_Slab_Regular-webfont.woff2') format('woff2'), url('fonts/Nexa_Slab_Regular-webfont.woff') format('woff'), url('fonts/Nexa_Slab_Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* HEADER */

.navbar {
    border-radius: 0px !important;
}
.navbar-brand {
    height: 54px;
    padding-top: 20px;
}
.navbar-brand img {
    float: left;
}
.navbar-brand span {
    color: #f36f21;
    width: 100%;
    font-size: 14px;
    line-height: 1;
    right: 50px;
    top: 10px;
}
.navbar-nav > li > a {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
    font-size: 14px;
}
.nav-team a {
    opacity: 1 !important;
}
.nav-team a span {
    opacity: .75 !important;
    text-align: right;
    margin-top: -5px;
    line-height: 1.3;
}
.nav-team a img {
    opacity: 1 !important;
}
.nav .active::after {
    content: "o";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    font-size: 1px;
    right: 0;
    top: 0;
    margin-top: 22px;
    margin-right: 6px;
    border-radius: 50%;
    color: #f36f21;
    background-color: #f36f21;
}
.nav > li {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.nav-team span {
    float: left;
}
.nav-team a img {
    padding-left: 5px;
}
.nav-team a i {
    padding-left: 5px;
    font-size: 10px !important;
}
.settings-noborder {
    border: none !important;
}
.settings-noborder a i {
    font-size: 18px !important;
}
.navbar-team,
.navbar-settings,
.collapse.navbar-collapse {
    float: right;
}
/* FOOTER */

.footer {
    padding-top: 90px;
}
.footer-text.transparent {
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
}
.footer-text {
    font-size: 16px;
    margin-bottom: 0px;
}
.footer-widget.right p {
    float: right;
    margin-top: 6px;
    text-decoration: underline;
}
.footer-widget.right .soc-icon {
    margin-top: 0px;
}
.footer-link {
    padding: 6px;
}
.footer-link:hover {
    color: white;
}
.all-content {
    min-height: 800px;
}
.navbar .container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.collapse.navbar-collapse {
    padding-right: 0px !important;
}
/* RESPONSIVE */

@media (max-width: 1170px) {
    .navbar-brand span {
        color: #f36f21;
        width: 100%;
        font-size: 14px;
        line-height: 1;
        right: 50px;
        left: 165px;
        top: 0px;
        float: left;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .footer-bot {
        text-align: center;
    }
    .footer-bot div div div {
        padding: 10px;
    }
    .footer-bot div div div p {
        float: none !important;
    }
    .footer-bot {
        padding: 20px;
    }
    .navbar .container {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .collapse.navbar-collapse {
        padding-right: 15px !important;
    }
}


html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    color: #222;
}
p {
    margin: 0 0 1px;
}



.btn-orange {
    outline: 0;
    background-color: #d76f2c;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    padding: 4px 20px;
    margin-top: -10px;
    font-size: 20px;
    border: 2px solid #d76f2c;
}
.btn-orange:hover {
    background: #fff;
    color: #d76f2c;
}
.ui-state-active a {
    background-color: #fff !important;
}
.dev12 .team-indent {
    min-height: 60px;
    height: auto;
    color: #616161;
    font-size: 1.4em;
    border-bottom: 1px solid #616161;
}
@media (max-width: 992px) {
    .dev12 .navbar-nav>li {
        font-size: 0.7em;
    }
    .dev12 .glyphicon-cog {
        margin-top: 6px;
    }
}
@media (max-width: 768px) {
    .dev12 .navbar-nav>li {
        text-transform: uppercase;
    }
}
.dev12 .main-menu .navbar {
    padding: 0px !important;
}
.dev12 .players-table-title-controls {
    background-color: #0d2857;
    text-align: center;
    height: 42px;
    padding: 12px;
}
.dev12 .players-table-title-controls a {
    background: rgba(255, 255, 255, .5);
    padding: 4px 10px;
    margin: 0px !important;
    color: #0d2857;
    cursor: pointer;
}
.dev12 .text-left {
    font-size: 20px;
}
.text-left2 {
    font-size: 18px;
    color: #616161;
}
.top-icons {
    text-align: center;
    padding-top: 10px;
}
.top-icon {
    padding: 60px;
    opacity: .5;
}
.top-icon:hover {
    opacity: 1;
}
.top-icon::before {
    content: '';
    display: inline-block;
    background-size: 100%;
    WIDTH: 40px;
    height: 50px;
    background-repeat: no-repeat;
}
.top-icon1::before {
    background-image: url('../img/icons/1.png');
}
.top-icon2::before {
    background-image: url('../img/icons/2.png');
}
.top-icon3::before {
    background-image: url('../img/icons/3.png');
}
.top-icon4::before {
    background-image: url('../img/icons/4.png');
}
.top-icon5::before {
    background-image: url('../img/icons/5.png');
}
.contentm .container {
    padding-left: 0px;
    padding-right: 0px;
}
.button.end-practice {
    width: 135px;
    float: right;
    font-size: 20px;
    border-radius: 0;
    padding: 4px;
}
/* progress bar */

.dev12 .progress-bar {
    position: relative;
    height: 74px;
    width: 74px;
    margin-left: 6px;
}
.dev12 .progress-bar div {
    position: absolute;
    height: 74px;
    width: 74px;
    border-radius: 50%;
}
.dev12 .progress-bar div span {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 22px;
    line-height: 52px;
    height: 52px;
    width: 52px;
    left: 11px;
    top: 11px;
    text-align: center;
    border-radius: 50%;
    color: #d76f2c;
    background-color: #f6f6f6;
}
.dev12 .progress-bar div span text {
    font-size: 11px;
}
.dev12 .progress-bar .background {
    background-color: #fff;
}
.dev12 .progress-bar .rotate {
    clip: rect(0 38px 102px 0);
    background-color: #fff;
}
.dev12 .progress-bar .left {
    clip: rect(0 38px 76px 0);
    opacity: 1;
    background-color: #b3cef6;
}
.dev12 .progress-bar .right {
    clip: rect(0 38px 76px 0);
    transform: rotate(180deg);
    opacity: 0;
    background-color: #fff;
}
@keyframes toggle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.dev12 .progress-bar {
    background-color: transparent;
    webkit-box-shadow: none;
    box-shadow: none;
}
/* end progress bar */

.dev12 .pb-title {
    text-align: center;
    padding-top: 4px;
    color: #b1b1b1;
    float: left;
    display: block;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 12px;
}
.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}
.dev12 .team-players {
    height: 1052px;
    overflow: auto;
}
.dev12 .team-players>div:last-child {
    border-bottom: none;
}
.dev12 .main-column {
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.3);
}

.dev12 #content-tabs > div {
    height: 1052px;
    overflow: auto;
    padding-right: 15px;
}
.dev12 #content-tabs::after {
    content:'';
    display:block;
    clear:both;
}
.players-table-title-controls li {
    list-style: none;
    float:left;
}
.players-table-title-controls li:last-child a {
    border-radius: 0px 4px 4px 0px;
}
.players-table-title-controls li:first-child a {
    border-radius: 4px 0px 0px 4px;
}
.main-table {
    border: 1px solid #949494;
    border-top: none;
    margin-top:30px;
}
.dev12 .players-table-title-controls {
    width: calc(100% + 1px);
    padding-left: 30px;
}
.dev12 .team-title {
    border-right: 1px solid #949494;
}
.dev12 .team-title::after {
    content:'';
    display:block;
    clear:both;
}
.dev12 .team-players {
    border-right: 1px solid #949494;
}
.dev12 .compare-top {
    color: #616161;
    font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    padding-left: 15px;
    height: 50px;
    margin-top: 15px;
    margin-right: 15px;
}
.dev12 .compare-top p {
    float:left;
}
.dev12 .compare-top div {
    float:right;
}
.dev12 .compare-top::after {
    content:'';
    display:block;
    clear:both;
}
.dev12 .team-title .team-info {
    text-transform:uppercase;
}
.dev12 .ct-buttons a {
    font-size: 12px;
    color: #616161;
    cursor: pointer;
    border: 1px solid #616161;
    padding: 6px 28px;
    background-color:#d6d6d6;
}
.dev12 .ct-buttons a.active {
    background-color:#fff;
}
.dev12 .ccharts-wrapper {
    display:block;
}
.dev12 .cstats-wrapper {
    display:none;
    padding-right:15px;
}
.dev12 .cstats-wrapper::after {
    content:'';
    clear:both;
    display:block;
}
.dev12 .ct-buttons a:last-child {
    margin-left:-5px;
}
.dev12 .team-indent.text-left.selected {
    background-color: #e2e2e2;
}
.dev12 .ct-entity {
    height: 247px;
    background-color: #f6f6f6;
    margin-bottom: 12px;
    padding: 7px 20px;
    margin-left: 15px;
    width: calc(50% - 23px);
}
.dev12 .cte-top{
    padding-left: 20px;
    height: 45px;
    margin-bottom: 7px;
}
.dev12 .cte-top::after {
    content:'';
    display:block;
    clear:both;
}
.dev12 .cte-top img {
    height: 45px;
    width: auto;
    float:left;
}
.dev12 .cte-top div {
    margin-left: 15px;
    float: left;
    width: calc(100% - 60px);
}
.dev12 .cte-top > div p:first-child {
    color: #616161;
    font-size: 21px;
    line-height: 1;
}
.dev12 .cte-top > div p:last-child {
    color: #616161;
    font-size: 16px;
}
.dev12 .cte-bot {
    text-align: center;
}
.dev12 .cte-bot img {
    height: 172px;
}
.dev12 .cteb-stats {
    position:static;
    color:#222;
}
.dev12 .cteb-statszone {
    position:absolute;
    line-height: 1;
}
.dev12 .cteb-statszone text {
    font-size: 11px;
    color: #d12626;
}
.dev12 .cteb-statszone1 {
    top: 70px;
    left: 10%;
    color: #70bfb2;
}
.dev12 .cteb-statszone2 {
    top: 17px;
    left: 27%;
    color: #d12626;
}
.dev12 .cteb-statszone3 {
    top: 60px;
    left: 28.5%;
    color: #d76f2c;
}
.dev12 .cteb-statszone4 {
    top: 60px;
    left: 46%;
    color: #252525;
}
.dev12 .cteb-statszone5 {
    top: 60px;
    left: 62%;
    color: #252525;
}
.dev12 .cteb-statszone6 {
    top: 17px;
    left: 64.5%;
    color: #d76f2c;
}
.dev12 .cteb-statszone7 {
    top: 70px;
    left: 81%;
    color: #252525;
}
.dev12 .cteb-statszone8 {
    top: 136px;
    left: 46%;
    color: #252525;
}
.dev12 .cteb-statszone9 {
    left: 46%;
    top: 17px;
    color: #d12626;
}

.dev12 .cs-entity:after {
    content:'';
    clear:both;
    display:block;
}
.dev12 .cs-entity {
    background-color:#f6f6f6;
    padding:8px;
    margin-left: 15px;
    margin-bottom: 20px;
    width: calc(100% - 15px);
}
.dev12 .cs-left {
    float: left;
    margin-left: 10px;
    width: 330px;
}
.dev12 .cs-left-top p {
    font-size: 16px;
    color: #616161;
}
.dev12 .cs-left-bot::after {
    content:'';
    display:block;
    clear:both;
}
.dev12 .cs-right {
    float: left;
    width: 220px;
    margin-left: 10px;
    margin-top: 12px;
}
.dev12 .cs-img-wrapper {
    width: 95px;
    float: left;
}
.dev12 .cs-right p {
    position: absolute;
    font-size: 13px;
    margin: 0px;
    margin-top: 1px;
    color: #616161;
    width: 30px;
    text-align: right;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}
.dev12 .cs-right span {
    position: absolute;
    color: #fff;
    z-index: 2;
    font-size: 10px;
    padding-left: 3px;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}
.dev12 .firstcicle div span text {
    display:none;
}
.dev12 .firstcicle .pb-title {
    color:#d76f2c;
}


.dev12 .cs-progress-container {
    background-color: #e1e1e1;
    height: 14px;
    width: 185px;
    margin-bottom: 7px;
    margin-left: 35px;
}

.dev12 .cs-progressbar {
    -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
    background-color: #d76f2c;
    height: 14px;
}


.dev12 .cs-entity-var2:after {
    content:'';
    clear:both;
    display:block;
}
.dev12 .cs-entity-var2 {
    background-color:#f6f6f6;
    padding:0px;
    margin-left: 15px;
    margin-bottom: 20px;
    width: calc(100% - 15px);
}
.dev12 .cs-img-wrapper span {
    background-color: #142455;
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    height: 43px;
    line-height: 43px;
}
.dev12 .cs-entity-var2 .cs-progress-container, .cs-entity-var2 .cs-progressbar {
    height:18px;
}
.dev12 .cs-entity-var2 .progress-bar div, .cs-entity-var2 .progress-bar {
    width:90px;
    height:90px;
}
.dev12 .cs-entity-var2 .cs-right span {
    font-size:12px;
}
.dev12 .cs-entity-var2 .cs-right p {
    font-size:15px;
    margin-top:2px;
}
.dev12 .cs-entity-var2 .progress-bar div span {
    font-size: 30px;
    line-height: 60px;
    height: 60px;
    width: 60px;
    left: 15px;
    top: 15px;
}
.dev12 .cs-entity-var2 .progress-bar .rotate {
    clip: rect(0 45px 117px 0);
}
.dev12 .cs-entity-var2 .left {
    clip: rect(0 45px 90px 0);
}
.dev12 .cs-entity-var2 .right {
    clip: rect(0 45px 90px 0);
}
.dev12 .cs-entity-var2 .cs-left {
    width:390px;
}
.dev12 .cs-entity-var2 .cs-progress-container {
    width:131px;
}
.header.mtb30, .main-table {
    margin-left:4.1666666%;
}
.dev12 .cs-entity-var2 .cs-left-bot {
    margin-top:30px;
}
.dev12 .cs-entity-var2 .cs-right {
    margin-left:10px;
    width:168px;
}
.dev12 .cs-entity-var2 .firstcicle .pb-title {
    color: #b1b1b1;
}
.dev12 .ccharts-wrapper::after {
    content:'';
    display:block;
    clear:both;
}
.dev12 .cte-top.lineup p {
    font-size: 17px;
    color: #242424;
    width: 95%;
}
.dev12 .ct-vs {
    position:absolute;
    border-radius:50%;
    background-color:#d76f2c;
    width:50px;
    height:50px;
    text-align:center;
    left:50%;
    margin-left:-17px;
    margin-top:230px;
    z-index:2;
    color:#fff;
}
.dev12 .ct-vs p {
    font-size:26px;
    height:50px;
    line-height:50px;
}
.dev12 .cs-entity-var2.lineup {
    height: 170px;
}
.dev12 .cs-entity-var2.lineup .cs-left {
    width:465px;
}
.dev12 .cs-entity-var2.lineup .cs-progress-container {
    width:148px;
}
.dev12 .cs-entity-var2.lineup .cs-right {
    margin-top:20px;
}
.dev12 .cs-entity-var2.lineup .cs-progress-container {
    margin-bottom:10px;
}
.dev12 .cs-entity-var2.lineup .cs-left-bot {
    margin-top:30px;
}
.dev12 .cs-entity-var2.lineup .pb-title {
    font-size:16px;
}
.dev12 .cs-entity-var2.lineup .progress-bar {
    margin-left:14px;
}
.dev12 .cs-entity-var2.lineup .pb-title {
    padding-top: 10px;
}
.dev12 .team-title.lineups {
    height: 56px;
    background: #dfdfdf;
    padding: 0;
    text-align: left;
    padding-left: 15px;
    color: #616161;
    padding-top: 16px;
    font-size: 18px;
    border-bottom: 1px solid #616161;
    cursor:pointer;
    transition:.2s;
}
.dev12 .team-title.lineups:hover {
    background: #fff;
}
.dev12 .team-title.lineups i {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 42px;
    cursor:pointer;
}
.dev12 .team-lineup-players {
    border-bottom: 1px solid #949494 !important;
    height: 134px;
}
.dev12 .team-lineup-players.selected {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dfdfdf+0,dfdfdf+70,9a9a9a+100 */
    background: #dfdfdf; /* Old browsers */
    background: -moz-linear-gradient(left,  #dfdfdf 0%, #dfdfdf 70%, #9a9a9a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #dfdfdf 0%,#dfdfdf 70%,#9a9a9a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #dfdfdf 0%,#dfdfdf 70%,#9a9a9a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#9a9a9a',GradientType=1 ); /* IE6-9 */
}
.dev12 .tlp-top {
    padding: 12px;
}
.dev12 .tlp-top img {
    height: 53px;
    padding-left: 5px;
    padding-right: 5px;
}
.mtb30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.dev12 .tlp-bot {
    padding-left: 17px;
}
.button.end-practice.dev12 {
    right: 0px;
    position: absolute;
    margin-top: 5px;
    width: 120px;
}
.dev12p {
    height: 51px;
    line-height: 51px;
}
.dev12 .player-number {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #d76f2c;
    width: 50px;
    text-align: center;
    font-family: 'QswaldLight';
}
.dev12 .team-logo {
    width: 72px;
    height: 72px;
    display: inline-block;
    margin: 6px 0;
}
.dev12 .team-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
}
.title-row-controls p {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 300;
    width: 52%;
    float: left;
    padding-right: 2%;
    font-family: 'Oswald', sans-serif;
}
.edcf::after {
    display:block;
    clear:both;
    content:'';
}
.main-table-top-wrapper {
    background-color: #142455;
    text-align:center;
    height:42px;
}
.players-table-title-controls {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
    display: inline-block;
    padding: 0px;
    margin-top: 10px;
}

.players-table-title-controls li {
    float:left;
    list-style: none;
}
.players-table-title-controls li a {
    color:#142455;
    background: rgba(255, 255, 255, .5);
    padding: 4px 10px;
    margin: 0px !important;
    cursor: pointer;
}
.main-table-left-wrapper::after, .main-table-right-wrapper::after, .main-table-top-wrapper::after {
    content:'';
    display:block;
    clear:both;
}
.dev12 .team-title.plrs {
    height: 56px;
    background: #dfdfdf;
    padding: 0;
    text-align: left;
    padding-left: 15px;
    color: #616161;
    padding-top: 16px;
    font-size: 18px;
    border-bottom: 1px solid #616161;
    cursor:pointer;
    transition:.2s;
}
.dev12 .team-title.plrs:hover {
    background: #fff;
}
.dev12 .team-title.plrs i {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 42px;
    cursor: pointer;
}
.dev12-lineups {
    display:none;
}
.dev12-players {
    display:block;
}
/*
DEV 7 DEV7
*/
.dev7 .contentm .container {
    padding-left: 0px;
    padding-right: 0px;
}
.dev7 .button.end-practice {
    width: 48%;
    margin-top: -9px;
    float: right;
    font-size: 20px;
    border-radius: 0;
}
.dev7 .title-row-controls p {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 300;
    width: 52%;
    float: left;
    padding-right: 2%;
    font-family: 'Oswald', sans-serif;
}
/* progress bar */

.dev7 .progress-bar {
    position: relative;
    height: 120px;
    width: 120px;
    margin-left: 15px;
}
.dev7 .progress-bar div {
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.dev7 .progress-bar div span text {
    font-size: 14px;
}
.dev7 .progress-bar div span {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 42px;
    line-height: 84px;
    height: 84px;
    width: 84px;
    left: 18px;
    top: 18px;
    text-align: center;
    border-radius: 50%;
    color: #d76f2c;
    background-color: white;
}
.dev7 .progress-bar .background {
    background-color: #fff;
}
.dev7 .progress-bar .rotate {
    clip: rect(0 60px 160px 0);
    background-color: #fff;
}
.dev7 .progress-bar .left {
    clip: rect(0 60px 120px 0);
    opacity: 1;
    background-color: #b3cef6;
}
.dev7 .progress-bar .right {
    clip: rect(0 60px 120px 0);
    transform: rotate(180deg);
    opacity: 0;
    background-color: #fff;
}
@keyframes toggle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.dev7 .progress-bar {
    background-color: #fff;
    webkit-box-shadow: none;
    box-shadow: none;
}
/* end progress bar */

.dev7 .pb-title {
    text-align: center;
    font-family: 'RailwayMedium';
    font-size: 12px;
    padding-bottom: 7px;
    color: #b1b1b1;
}
.dev7 .pbars {
    padding-top: 30px;
    padding-bottom: 15px;
}
.dev7 .pbarleft {
    padding-top: 60px;
}
.dev7 .percents,
.dev7 .map-dots {
    position: static;
    color: #222;
}
.dev7 .map-dot {
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 50%;
    font-family: 'QswaldLight';
    font-size: 18px;
    color: #585858;
}
.dev7 .map-dot1 {
    background-color: #d12626;
    top: 155px;
    left: 10%;
}
.dev7 .map-dot2 {
    background-color: #d12626;
    top: 30px;
    left: 25.5%;
}
.dev7 .map-dot3 {
    background-color: #d12626;
    top: 155px;
    left: 28.5%;
}
.dev7 .map-dot4 {
    background-color: #d12626;
    top: 155px;
    left: 46%;
}
.dev7 .map-dot5 {
    background-color: #d12626;
    top: 155px;
    right: 31.5%;
}
.dev7 .map-dot6 {
    background-color: #d12626;
    top: 30px;
    right: 27.5%;
}
.dev7 .map-dot7 {
    background-color: #d12626;
    top: 155px;
    right: 10%;
}
.dev7 .map-dot8 {
    background-color: #d12626;
    top: 295px;
    left: 46%;
}
.dev7 .pzone {
    font-size: 32px;
    position: absolute;
    font-family: 'QswaldLight';
}
.dev7 .pzone1 {
    top: 180px;
    left: 10%;
}
.dev7 .pzone2 {
    top: 30px;
    left: 25%;
}
.dev7 .pzone3 {
    top: 140px;
    left: 27%;
}
.dev7 .pzone4 {
    top: 142px;
    left: 46%;
}
.dev7 .pzone5 {
    top: 140px;
    right: 29%;
}
.dev7 .pzone6 {
    top: 30px;
    right: 27%;
}
.dev7 .pzone7 {
    top: 180px;
    right: 12%;
}
.dev7 .pzone8 {
    top: 295px;
    left: 46%;
}
.dev7 .btn.btn-zone:last-child {
    margin-left: -5px;
}
.dev7 .btn.btn-zone {
    font-size: 18px;
    font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px !important;
}
.dev7 .bottom-table {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.dev7 .pbars::after {
    content: '';
    clear: both;
    display: block;
}
.dev7 .pbars {
    -webkit-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.3);
}
.dev7 .bottom-table table {
    width: 100%;
    min-height: 40px;
    height: auto;
    border: 1px solid #949494;
    font-size: 1.4em;
    margin-bottom: 50px;
    border-left: none;
    border-right: none;
}
.dev7 .nopadding {
    padding-left: 0px;
    padding-right: 0px;
}
.dev7 .yespadding {
    padding-left: 15px;
    padding-right: 15px;
}
.dev7 td {
    color: #313131;
    font-family: 'QswaldLight';
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 28px;
}
.dev7 .caption-table td {
    font-size: 18px;
    padding: 4px;
}
.dev7 .under-field {
    height: 110px;
    text-align: right;
    padding: 45px;
}
.dev7 .under-field span {
    padding-right: 30px;
    font-family: 'Raleway';
    font-size: 12px;
}
.dev7 .under-field span:nth-child(3) {
    padding-right: 10px;
}
.dev7 .under-field span::before {
    content: '';
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    top: -1px;
    position: absolute;
    margin-left: -20px;
}
.dev7 .under-field span:nth-child(1)::before {
    background: #d12626;
}
.dev7 .under-field span:nth-child(2)::before {
    background: #d76f2c;
}
.dev7 .under-field span:nth-child(3)::before {
    background: #70bfb2;
}
.dev7 .map-content {
    display: none;
}
.dev7 .chart-content,
.dev7 .map-content {
    height: 367px;
    width: 100%;
    float: left;
}
.dev7 .chart-content::after,
.dev7 .under-field::after,
.dev7 .text-center::after {
    content: '';
    display: block;
    clear: both;
}
.dev7 .map-dot-details {
    position: absolute;
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid #ddd;
    margin-top: -38px;
    width: 120px;
    padding: 7px;
    margin-left: -42px;
    display: none;
}
.dev7 .map-dot-details::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 20px 0 20px;
    border-color: rgba(255, 255, 255, .8) transparent transparent transparent;
    left: 38px;
}
.dev7 .map-dot8 .map-dot-details {
    display: block;
}
.dev7 .team-title {
    padding-top: 40px;
}
.dev7 .team-players {
    height: 1052px;
    overflow: auto;
}
.dev7 .box-content>div:first-child {
    border-right: 1px solid #616161;
}
.dev7 .team-players>div:last-child {
    border-bottom: none;
}
.dev7 .tablepad {
    margin-left: -15px;
    margin-right: -17px;
}
.dev7 .main-column {
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.3);
}
.dev7 .team-title {
    border-right: 1px solid #949494;
}
.dev7 .team-title::after {
    content:'';
    display:block;
    clear:both;
}
.dev7 .team-players {
    border-right: 1px solid #949494;
}
.dev7 .text-left {
    font-size: 20px;
}
.dev7 .team-indent {
    min-height: 60px;
    height: auto;
    color: #616161;
    font-size: 1.4em;
    border-bottom: 1px solid #616161;
}
.dev7 .player-number {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #d76f2c;
    width: 50px;
    text-align: center;
    font-family: 'QswaldLight';
}
.dev7 .team-logo {
    width: 72px;
    height: 72px;
    display: inline-block;
    margin: 6px 0;
}
.dev7 .team-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    font-size:20px;
}
.dev7 .gray-sub-title {
    color: #b1b1b1;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 25px;
    font-family: 'RalewayMedium';
}
.dev7 .yespadding {
    padding-left: 15px;
    padding-right: 15px;
}
.dev7 .float-right {
    float: right;
}
.dev7 .orange-big-time {
    margin-top: -30px;
}
.dev7 .orange-big-title, .orange-big-time {
    font-size: 2em;
    color: #d76f2c;
    line-height: 1.1;
    font-family: 'QswaldLight';
}
.dev7 .gray-sub-title2 {
    color: #b1b1b1;
    text-transform: uppercase;
    font-size: 16px;
}
.dev7 .btn-zone {
    background-color: #d6d6d6;
    color: #858585;
    padding: 2px 20px;
    margin-top: 6px;
    font-size: 1.2em;
    border-radius: 0;
    border: 1px solid #858585;
    text-transform: uppercase;
    outline: none !important;
}
.dev7 .btn.btn-zone {
    font-size: 18px;
    font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px !important;
}
.dev7 .btn-zone.active {
    background-color: #fff;
}
.dev7 .btn.btn-zone:last-child {
    margin-left: -5px;
}
.dev7 .bottom-table table {
    width: 100%;
    min-height: 40px;
    height: auto;
    border: 1px solid #949494;
    font-size: 1.4em;
    margin-bottom: 50px;
    border-left: none;
    border-right: none;
}
.dev7 .caption-table {
    background: #e3e3e3;
    border-bottom: 0;
}
.dev7-players .team-title .team-info {
    text-transform: uppercase;
    padding-top: 0px !important;
    margin-top: -10px;
}
td {
    color: #313131;
    font-family: 'QswaldLight';
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 28px;
}
tr td {
    border-right: 1px solid #949494;
}
.caption-table td {
    font-size: 18px;
    padding: 4px;
}

tr td:first-child {
    border-left: none;
}
.team-players > div {
    transition:.2s;
}
.team-players > div:hover {
    cursor:pointer;
    background-color: #eee !important;
}

/*
DEV8 DEV 8
*/
.dev8 .panel-box {
    min-height: 46px;
    height: auto;
    background-color: #152455;
    padding-bottom: 6px;
}
.dev8 .box-content {
    height: auto;
    border: 1px solid #616161;
}
.dev8 .header-table {
    width: 100%;
    min-height: 40px;
    height: auto;
    border: 1px solid #949494;
    font-size: 1.4em;
    margin-bottom: 50px;
}
.dev8 .caption-table {
    background: #e3e3e3;
    border-bottom: 0;
}
.dev8 .title-info {
    height: 56px;
    background: #dfdfdf;
    padding: 0;
    text-align: center;
    color: #616161;
    text-transform: uppercase;
    padding-top: 16px;
    font-size: 18px;
    border-bottom: 1px solid #616161;
}
.dev8 .plr-info {
    height: 93px;
    text-align: center;
    color: #616161;
    font-size: 1.4em;
    border-bottom: 1px solid #616161;
    padding: 32px 0 0 20px;
}
.dev8 .border-left {
    border-left: 1px solid #616161;
}
.dev8 .circle-green, .circle-blue {
    width: 40px;
    height: 40px;
    line-height: 32px;
    background: #51cd86;
    display: block;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
}
.dev8 .circle-blue {
    background: #62baf5;
}
.dev8 .circle-indent {
    float: left;
    margin: 0 5px 0 -10px;
}
.dev8 .gray-sub-title {
    color: #b1b1b1;
    text-transform: uppercase;
    font-size: 13px;
    margin-top:32px;
    margin-left:15px;
    margin-bottom: 15px;
}
.dev8 .title-field {
    font-size: 1.8em;
}
.dev8 .orange-big-title, .dev8 .orange-big-time {
    font-size: 2.4em;
    color: #d76f2c;
    line-height:1.1;
}
.dev8 .orange-medium-title {
    font-size: 1.8em;
    color: #d76f2c;
}
.dev8 .orange-big-time {
    margin-top: -30px;
}
.dev8 .info-title {
    word-wrap: break-word;
}
.dev8 .gray-wrap {
    width: 100%;
    height: 5px;
    background: #cecece;
    border-top: 1px solid #ababab;
}
.dev8 .field {
    position: relative;
    min-height: 452px;
    width:100%;
}
.dev8 .players-on-filed-left {
    position: absolute;
    top: 20px;
    left: 60px;
}
.dev8 .players-on-filed-right {
    position: absolute;
    top: 20px;
    right: 60px;
}
.dev8 .hasBall {
    width: 43px;
    height: 43px;
    border: 3px solid #f5843a;
    padding-right: 1px;
}
.dev8 .ball-left,.dev8  .ball-right {
    width: 24px;
    height: 24px;
    background-image: url(../../img/ball.png);
    background-repeat: no-repeat;
    margin: -46px 0 0 -16px;
}
.dev8 .ball-right {
    margin: -46px 0 0 30px;
}
.dev8 .player-info {
    font-size: 1.4em;
    padding-top:12px;
}
.dev8 .copy,.dev8  .social {
    text-transform: uppercase;
    padding: 14px 0 10px 20px;
}
.dev8 .social {
    padding: 25px 20px 10px 0;
}
.dev8 .gray {
    color: #828aa4;
}
.dev8 .orange {
    color: #d76f2c;
}
.dev8 .team-indent {
    min-height: 60px;
    height: auto;
    color: #616161;
    text-transform: uppercase;
    font-size: 1.4em;
    border-bottom: 1px solid #616161;
}
.dev8 .team-logo {
    width: 72px;
    height: 72px;
    display: inline-block;
    margin: 6px 0;
}
.dev8 .team-info {
    display: inline-block;
    vertical-align: middle;
}
.dev8 .player-number {
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    color: #d76f2c;
    width: 50px;
    text-align: center;
}
.dev8 .float-right {
    float: right;
}
.dev8 .slide-wrap {
    width: 1000px;
}
.dev8 .slide-wrap::after {
    content:'';
    clear:both;
    display:block;
}
.dev8 .slide-item {
    float:left;
    padding: 5px;
}
.dev8 .slide-list {
    width: 100%;
    overflow-x: auto;
}
.dev8 .text-left {
    font-size:18px;
}
.dev8 .circle-green,.dev8  .circle-blue {
    line-height: 42px;
    font-size: 28px;
    font-family: 'QswaldLight';
}
.dev8 .players-on-filed-left > div,.dev8  .players-on-filed-right > div{
    -webkit-box-shadow: 2px 4px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 4px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 2px 4px 7px 0px rgba(0,0,0,0.4);
    margin-top:0px;
}
.dev8 .orange-big-title {
    font-family:'QswaldLight';
}
.dev8 .gray-sub-title2 {
    color: #b1b1b1;
    text-transform: uppercase;
    font-size: 16px;
}
.dev8 .text-left.title-field p:first-child {
    font-family: 'RalewayMedium';
    color:#616161;
}
.dev8 .text-left.title-field p:last-child {
    font-family: 'Raleway';
    color:#616161;
}
.dev8 .plr-info .circle-green, .plr-info .circle-blue{
    margin-top:-6px;
}
.dev8 .circle-info {
    font-size: 21px;
    margin-left: -20px;
    padding-right: 26px;
}
.dev8 .text-left.fixsize {
    font-size:24px;
}
.dev8 .contentm .container {
    padding-left: 0px;
    padding-right: 0px;
}
.dev8 .right-heading {
    padding-bottom:40px;
    -webkit-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.3);
}
.dev8 .players-left {
    border-right: 1px solid #616161;
}
.dev8 .players-left>div>div:last-child {
    border-bottom:none;
}
.dev8 .right-field {
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.3);
}
.dev8 .slide-title {
    color:#616161;
}
.dev8 .players-left-scroll{
    overflow: auto;
    height: 1172px;
}
.dev8 .plr-info {
    cursor:pointer;
    transition:.2s;
}
.dev8 .plr-info:hover {
    background-color:#eee;
}
/*
DEV9 DEV 9
*/
.dev9 .table.main-tabled {
    width: 900px;
    margin-bottom: 0;
}
.dev9 .table.main-tabled > thead > tr > th {
    border-bottom: none;
    padding: 15px;
    font-family: AvenirRoman;
    color: #7c7c7c;
    font-weight: 100;
}
.dev9 .main-tabled th {
    background: #dfdfdf;
    border: 1px solid #979797;
    vertical-align: middle;
    text-align: center;
}
.dev9 .main-tabled tr {
    border: 1px solid #979797;
    border-right: none;
    border-left: none;
}
.dev9 .table.main-tabled > tbody > tr > td {
    border: 1px solid #979797;
    vertical-align: middle;
    text-align: center;
    padding: 35px 25px;
    font-family: 'OswaldLight', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #616161;
    border-right: none;
    padding: 0px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    width: 74px !important;
    max-width: 74px !important;
}
.dev9 .account {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    padding-right: 15px;
    display: inline-block;
    line-height: 52px;
    font-size: 18px;
    color: #616161;
}
.dev9 .table.main-tabled tbody tr:last-child {
    border-bottom: none;
}
.dev9 .table.main-tabled tbody tr:last-child td {
    border-bottom: none;
}
.dev9 .table.main-tabled tr th:last-child {
    border-right: none;
}
.dev9 .table.main-tabled tr th:first-child {
    border-left: none;
}
.dev9 .main-tabled thead tr {
    border: none;
}
.dev9 .table.main-tabled  tbody tr td:first-child {
    border-left: none;
}
.dev9 .table.main-tabled thead tr th {
    vertical-align: middle;
}
.dev9 .text-left p {
    color: #616161;
}
.dev9 .table.main-tabled thead tr th {
    vertical-align: middle;
}
.dev9 .text-left p {
    color:#616161;
    font-size:18px;
}
.dev9 .mtb30 {
    margin-left: 4.1666666%;
}
.dev9 .nopadding {
    padding:0px !important;
}
.dev9 .table.main-tabled thead th {
    padding: 5px !important;
    color: #fff !important;
}
.dev9 .header-bgz {
    background: #dfdfdf;
    padding: 5px !important;
    color: #616161;
    padding-left: 57px !important;
}
.dev9 .main-tabled tbody tr:first-child td {
    border-top: none;
}
.dev9 .main-tabled tr:first-child {
    border-top:none;
}
.dev9 .team-indent.text-left.team-title::after {
    content:'';
    clear:both;
    display:block;
}
.dev9 .team-indent.text-left.team-title {
    padding: 2px 58px !important;
    padding-right: 0px !important;
    border-bottom: 1px solid #949494;
}
.dev9 .plbr {
    border-right: 1px solid #949494;
}
.dev9 .team-indent.text-left.team-title .team-info {
    float: left;
    width: 170px;
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 14px;
}
.dev9 .team-indent.text-left.team-title img {
    width: 73px;
    float: left;
}
.dev9 .player-number {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #d76f2c;
    width: 50px;
    text-align: center;
    font-family: 'QswaldLight';
}
.dev9 .team-logo {
    width: 72px;
    height: 72px;
    display: inline-block;
    margin: 6px 0;
}
.dev9 .team-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    color: #616161;
    font-size:20px;
}
.dev9 .plbr {
    border-right: 1px solid #949494;
    -webkit-box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.3);
    z-index: 2;
}
.dev9 .team-indent.text-left:last-child {
    border-bottom:none;
}
.dev9 .main-tabled-wrapper {
    overflow-x:auto;
}
.dev9 .team-indent.text-left {
    font-size: 18px;
    border-bottom: 1px solid #949494;
    padding-top: 2px;
    padding-bottom: 2px;
}
/*
DEV13 DEV 13
*/
.dev13 .table.main-tablede > thead > tr > th {
    border-bottom: none;
    padding: 15px;
    font-family: AvenirRoman;
    color: #7c7c7c;
    font-weight: 100;
}
.dev13 .main-tablede th {
    background: #dfdfdf;
    border: 1px solid #979797;
    vertical-align: middle;
    text-align: center;
}
.dev13 .main-tablede tr {
    border: 1px solid #979797;
    border-right: none;
    border-left: none;
}
.dev13 .table.main-tablede > tbody > tr > td {
    border: 1px solid #979797;
    vertical-align: middle;
    text-align: center;
    padding: 28px 25px;
    font-family: 'OswaldLight', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #616161;
    border-right: none;
}
.dev13 .table-container {
    width: 1168px;
    overflow: auto;
}
.dev13 .account {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    padding-right: 15px;
    display: inline-block;
    line-height: 52px;
    font-size: 18px;
    color: #616161;
}
.dev13 .table.main-tablede tbody tr:last-child {
    border-bottom: none;
}
.dev13 .table.main-tablede tbody tr:last-child td {
    border-bottom: none;
}
.dev13 .table.main-tablede tr th:last-child {
    border-right: none;
}
.dev13 .table.main-tablede tr th:first-child {
    border-left: none;
}
.dev13 .main-tablede thead tr {
    border-top: none;
    border-right: none;
    border-left: none;
}
.dev13 .table.main-tablede tbody tr td:first-child {
    border-left: none;
}
.dev13 .table.main-tablede thead tr th {
    vertical-align: middle;
}
.dev13 .gradient {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 0px;
    left: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%);
}
.dev13 .headwhite {
    color:#fff !important;
    padding: 10px 5px !important;
}
.dev13 .main-tablede-wrapper {
    overflow-x:auto;
}
.dev13 .players-table .headwhite {
    background: #dfdfdf;
}
.dev13 .nopadding {
    padding:0px !important;
}
.dev13 .players-table .headwhite:first-child {
    text-align: left;
    font-family: 'MyriadPro' !important;
    border-bottom: 1px solid #979797;
    font-weight:100;
    padding-left: 8px !important;
}
.dev13 .left-table-wrapper {
    border-right: 1px solid #949494;
    -webkit-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);
    z-index: 1;
}
.dev13 .text-left p {
    color:#616161;
}
.dev13 .image-box {
    float: left;
    width: 59px;
    margin: 5px;
    line-height: 28px;
    margin-top: 13px;
    margin-bottom: 0px;
    margin-left: 6px;
}
.dev13 .image-box p {
    position: absolute;
    z-index: 2;
    color: #fff;
    left: 5px;
    top: 32px;
    font-size: 28px;
    height: 28px;
    font-family: 'AvenirRoman';
}
.dev13 .td-players::after {
    content:'';
    display:block;
    clear:both;
}
.dev13 .td-players {
    height: 85px;
    border-bottom: 1px solid #949494;
}
.dev13 .table {
    margin-bottom:0px;
}
.dev13 .players-table tr:last-child .td-players {
    border-bottom:none;
}
.dev13 .td-players > div:first-child {
    margin-left: 7px;
}
.dev13 .headtopd {
    background: #dfdfdf;
    color: #fff;
    padding-left: 5px !important;
    height: 43px;
    line-height: 43px;
    border-bottom: 1px solid #949494;
}
.dev13 .td-players {
    border-right: none;
}