/* SIGNIN PLAYSIGHT*/

body.signin, body.signin > .container > .row > div {
    background: #fff;
    color: #032A70;
    text-align: center;
    padding-left: 2px;
    padding-right: 11px;
}

body.signin > .container > .row > div > form > input {
    background: #fff;
    color: #1A406E;
    border-width: 2px;
}

body.signin > .container > .row > div > img {
	margin-bottom: 10px;
	width: 103%;
	max-width: 103%;
}

body.signin > .container > .row > div > p {
	font-family: 'Oswald';
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 40px;
}

/*incorrect input warning*/
body.signin > .container > .row > div > p:nth-child(3) {
	color: red;
	margin-bottom: 0px;
	font-family: 'Questrial';
	font-size: 0.8em;
	text-align: left;
	position: relative;
	left: 5px;
}

.warning, .has-error {
	opacity: 1.0; /*to switch visibility on/off*/
}

body.signin > .container > .row > div > form > div {
	color: red;
	text-transform: uppercase;
	font-size: 0.8em;
	width: 80px;
	height: 44px;
	line-height: 0.95em;
	text-align: right;
	padding-right: 8px;
	margin-bottom: 12px;
	float: right;
	position: relative;
	bottom: 158px;
	left: 5px;
	z-index: 10;
	border-right: 3px solid red;
	clear: both;
}

body.signin > .container > .row > div > form > div:nth-child(1) {
	bottom: 146px;
	color: blue;
}

body.signin > .container > .row > div > form > div > p {
	padding-top: 11px;
}
/*./incorrect input warning*/

body.signin > .container > .row > div > p.warning > span > img {
	margin-right: 5px;
	position: relative;
	bottom: 1px;
} 

body.signin > .container > .row > div > form > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9A9A9A;
}
body.signin > .container > .row > div > form > input::-moz-placeholder { /* Firefox 19+ */
    color: #9A9A9A;
}
body.signin > .container > .row > div > form > input:-ms-input-placeholder { /* IE 10+ */
    color: #9A9A9A;
}
body.signin > .container > .row > div > form > input:-moz-placeholder { /* Firefox 18- */
    color: #9A9A9A;
}

body.signin > .container > .row > div > form > input.signin-submit-button {
    color: #fff;
    background: #032A70;
    border: 0px;
}

body.signin > .container > .row > div > form > input.signin-submit-button:active, 
body.signin > .container > .row > div > form > input.signin-submit-button:focus {
    outline: 0;
    outline-offset: 0;
}

/*./ SIGNIN PLAYSIGHT */