html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 78px;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
}
body * {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before,
.container:after {
  content: '';
  display: table;
  clear: both;
}
.header {
  width: 100%;
  height: 78px;
  background: #001f56;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
}
.header .container {
  position: relative;
  height: 100%;
}
.logo {
  position: absolute;
  top: 24px;
  left: 15px;
  text-align: right;
}
.logo img {
  display: block;
}
.logo span {
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f36f21;
}
.header-menu-wrap {
  float: right;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}
.team-settings {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  cursor: pointer;
}
.team-settings i {
  color: #fff;
}
.team-settings .fa-cog {
  margin-left: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.team-settings img {
  margin-left: 5px;
  margin-right: 5px;
}
.team-settings span {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 11.3px;
  color: #fff;
  text-align: right;
}
.main-nav {
  display: inline-block;
  height: 100%;
}
.main-nav-list {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.main-nav-list li {
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.main-nav-list li.active span:after {
  content: '';
  position: absolute;
  top: -6px;
  right: -6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f36f21;
}
.main-nav-list a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 11.3px;
  color: #fff !important;
  text-decoration: none !important;
  text-transform: uppercase;
}
.main-nav-list span {
  position: relative;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 78px;
  padding-bottom: 8px;
  background: #001f56;
}
.footer .container {
  height: 100%;
}
.footer-copyright {
  position: relative;
  float: left;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.footer-copyright h4 {
  margin: 0;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
.footer-copyright p {
  margin: 0;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.footer-social-wrap {
  position: relative;
  float: right;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.footer-social {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-left: 4px;
}
.footer-social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: 6px;
  border-radius: 50%;
  background: #f36f21;
  text-decoration: none !important;
}
.footer-social a:hover {
  background: #f47f39;
}
.footer-social a i {
  font-size: 12px;
  color: #fff !important;
}
.footer-terms {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.footer-terms a {
  display: inline-block;
  margin-left: 14px;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5) !important;
  text-decoration: underline;
  text-transform: uppercase;
}
.footer-terms a:hover {
  text-decoration: none;
}
.section-header {
  position: relative;
  width: 100%;
  height: 154px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-header h1 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #f36f21;
  text-transform: uppercase;
}
.section-header__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-left: 14px;
  padding-right: 14px;
  background: #f36f21;
  text-decoration: none !important;
}
.section-header__button img {
  margin-right: 14px;
}
.section-header__button span {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff !important;
  text-transform: uppercase;
}
.section-block {
  position: relative;
  width: 100%;
  height: 880px;
  margin-bottom: 115px;
  border: 1px solid #cacaca;
}
.section-block:before,
.section-block:after {
  content: '';
  display: table;
  clear: both;
}
.section-block-sidebar {
  position: relative;
  float: left;
  width: 288px;
  height: 100%;
  border-right: 1px solid #cacaca;
}
.section-block-content {
  position: relative;
  float: left;
  width: calc(100% - 288px);
  overflow: hidden;
}
.games-list-item {
  position: relative;
  width: 100%;
  height: 70px;
  padding: 9px 17px;
  border-bottom: 1px solid #cacaca;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.games-list-item.active {
  background: #ebeced;
}
.games-list-item.active .games-list-item__link {
  pointer-events: none;
}
.games-list-item__text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-left: 10px;
}
.games-list-item__text span {
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #202020;
}
.games-list-item__text p {
  margin: 4px 0 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #9d9d9d;
}
.games-list-item__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.team-result {
  position: relative;
  margin-bottom: 9px;
  padding-left: 35px;
  padding-right: 12px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.team-result:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 9px;
  background: #cfcfcf;
  z-index: -1;
}
.team-result-header {
  position: relative;
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-result-header h3,
.team-result-header span {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 11.41px;
  color: #575757;
  text-transform: uppercase;
}
.team-result-stats {
  position: relative;
  width: 100%;
  padding-right: 14px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-result-stats__circle {
  display: inline-block;
}
.progressbar {
  position: relative;
  width: 114px;
  min-width: 114px;
  height: 114px;
}
.progressbar-number {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  transform: translate(-50%, -50%);
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 43.5px;
  color: #f36f21;
}
.progressbar-number:after {
  content: '%';
  position: relative;
  top: -2px;
  margin-left: 4px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 12.8px;
  color: #f36f21;
}
.team-result-stats__item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-result-stats__item p {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 29px;
  color: #f36f21;
}
.team-result-stats__item span {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 13.7px;
  color: #575757;
  text-transform: uppercase;
}
.stats-diagram-wrap {
  position: relative;
  min-height: 510px;
}
.stats-diagram-tab-content {
  position: relative;
  min-height: 446px;
}
.stats-diagram-tab-nav {
  position: relative;
  padding-top: 34px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.stats-diagram-tab-nav a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 30px;
  border: 1px solid #666666;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #111218 !important;
  text-decoration: none !important;
  text-transform: uppercase;
}
.stats-diagram-tab-nav a + a {
  border-left: none;
}
.stats-diagram-tab-nav a.active {
  background: #d7d7d7;
}
.stats-diagram-tab-pane {
  display: none;
  width: 588px;
  min-height: 446px;
  margin: 0 auto;
}
.stats-diagram-tab-pane.active {
  display: block;
}
.zone-map-header {
  height: 68px;
  padding-top: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.zone-map-indicator {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 36px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 11.41px;
  color: #575757;
  text-transform: uppercase;
}
.zone-map-indicator__dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 6px;
  border-radius: 50%;
}
.stats-diagram-image {
  position: relative;
}
.stats-diagram-numb {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}
#out-left-numb {
  top: 186px;
  left: 26px;
}
#out-right-numb {
  top: 186px;
  right: 26px;
}
#out-bottom-numb {
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
}
#in-top-left-numb {
  top: 36px;
  left: 110px;
}
#in-top-right-numb {
  top: 36px;
  right: 110px;
}
#in-bottom-left-numb {
  top: 150px;
  left: 125px;
}
#in-bottom-right-numb {
  top: 150px;
  right: 125px;
}
#center-numb {
  top: 152px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1120px) {
  .container {
    max-width: 760px;
    min-width: 760px;
    width: 760px;
    overflow-x: hidden;
  }
  .section-block-sidebar {
    width: 250px;
  }
  .games-list-item {
    padding-left: 9px;
    padding-right: 9px;
  }
  .section-block-content {
    width: calc(100% - 250px);
  }
  .games-list-item__text span {
    font-size: 13px;
  }
  .games-list-item__text p {
    font-size: 14px;
  }
  .team-result {
    padding-left: 18px;
  }
  .team-result-stats__item p {
    font-size: 16px;
  }
  .team-result-stats__item span {
    font-size: 10px;
  }
  .stats-diagram-tab-pane {
    width: 100%;
  }
  .stats-diagram-tab-pane img {
    width: 100%;
  }
  .main-nav-list a {
    width: 66px;
  }
  .zone-map-header {
    padding-right: 20px;
  }
  .stats-diagram-numb {
    font-size: 32px;
  }
  #out-left-numb {
    top: 150px;
    left: 18px;
  }
  #out-right-numb {
    top: 150px;
    right: 18px;
  }
  #out-bottom-numb {
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
  }
  #in-top-left-numb {
    top: 30px;
    left: 93px;
  }
  #in-top-right-numb {
    top: 30px;
    right: 93px;
  }
  #in-bottom-left-numb {
    top: 122px;
    left: 110px;
  }
  #in-bottom-right-numb {
    top: 122px;
    right: 110px;
  }
  #center-numb {
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
  }
}
