/* SPLASH PRESEASON */
@font-face {
    font-family: 'NexaLight';
    src: url('fonts/nexa.light.otf');
    src: url('fonts/nexa.light.otf?#iefix') format('embedded-opentype'), url('fonts/nexa.light.otf') format('otf'), url('fonts/nexa.light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirMedium';
    src: url('fonts/AvenirLTStd-MediumOblique.otf');
    src: url('fonts/AvenirLTStd-MediumOblique.otf?#iefix') format('embedded-opentype'), url('fonts/AvenirLTStd-MediumOblique.otf') format('otf'), url('fonts/AvenirLTStd-MediumOblique.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {

    font-family: 'Geometos';
    src: url('fonts/Geometos.ttf.eot');
    src: url('fonts/Geometos.ttf.eot?#iefix') format('embedded-opentype'),
        url('fonts/Geometos.ttf.woff') format('woff'),
        url('fonts/Geometos.ttf.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GeometosRounded';
    src: url('fonts/GeometosRounded.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuestrialRegular';
    src: url('fonts/questrial-regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QswaldLight';
    src: url('fonts/oswald.light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirRoman';
    src: url('fonts/AvenirRoman.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaStab';
    src: url('fonts/Nexa_Slab_Bold-webfont.eot');
    src: url('fonts/Nexa_Slab_Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nexa_Slab_Bold-webfont.woff2') format('woff2'),
        url('fonts/Nexa_Slab_Bold-webfont.woff') format('woff'),
        url('fonts/Nexa_Slab_Bold-webfont.ttf') format('truetype'),
        url('fonts/Nexa_Slab_Bold-webfont.svg#nexa_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexaStabRegular';
    src: url('fonts/Nexa_Slab_Regular-webfont.eot');
    src: url('fonts/Nexa_Slab_Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nexa_Slab_Regular-webfont.woff2') format('woff2'),
        url('fonts/Nexa_Slab_Regular-webfont.woff') format('woff'),
        url('fonts/Nexa_Slab_Regular-webfont.ttf') format('truetype'),
        url('fonts/Nexa_Slab_Regular-webfont.svg#nexa_slab_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.btn {
    border-radius: 0 !important;
}
.formobileState, #splash-about-usMobile {
    display:none;
}
#splash-about-us {
    display:block;
}
.top-title{
    margin: 52px 0px 0px 0px; 
}
.top-title p {
    z-index:2;
    margin: 0px 0px 0px;
    line-height: 1;
}
/*#splash-top img {
    width:37%;
    margin-top:60px;
}*/
.forNOmobileRank {
    display:block;
}
.formobileRank {
    display:none;
}
.top-title p:first-child {
    color: #101038;
    font-size: 48px;
    font-weight: bold;
    font-family: 'GeometosRounded';
}
.top-title p:last-child {
    color: #0973ba;
    font-size: 38px;
    font-weight: bold;
    font-family: 'GeometosRounded';
}
.top-white-overlay {
    position: absolute;
    width: 100%;
    height: 28%;
    bottom: 0px;
    background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(255,255,255,0.83) 66%, rgba(255,255,255,1) 80%);
    background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(255,255,255,0.83) 66%,rgba(255,255,255,1) 80%);
    background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(255,255,255,0.83) 66%,rgba(255,255,255,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffffff',GradientType=0 );
}
#splash-howto h3, #splash-about-us h3, #splash-prizes h3, #splash-questions h3, #splash-leaderboard h3, #splash-about-usMobile h3 {
    color: #0973ba;
    text-align: center;
    font-weight: bold;
    font-family: 'AlternateGotNo1D';
    text-shadow: -2px 2px 2px rgba(0, 0, 0, .8);
    padding-bottom: 30px;
    line-height: 1;
}
#splash-howto img {
    float: left;
}
#splash-howto p {

}
#splash-howto span {
    background-color: #FFC019;
}
/* .hitw-item {
    padding-bottom:35px !important;
    float: left;
}

.hitw-item:last-child {
    padding-bottom:60px !important;
}   */










.letter-mobile p {
    text-align: right;
    width: 50%;
    right: 30px;
    font-size: 18px;
    line-height: 1;
}

@media only screen and (min-width: 320px) {
    @media only screen and (max-width: 768px) {
        .letter-mobile p {
            width: 40%;
            right: 60px;
            margin-top: -200px !important;
        }
    }
}

.hitw-text {
    margin-top: 60px;
}

.hitw-item a {
    font-family: 'AlternateGotNo1D';
    float: left;
    background-color: #0973ba;
    color: #fff;
    padding: 5px 100px;
    font-size: 30px;
    margin-top: 27px;
    border:2px solid #0973ba;
}
.hitw-item a:hover {
    text-decoration:inherit;
    color: #0973ba;
    background-color: #fff;
}
#splash-about-us .girl-left {
    float:left;
}
#splash-about-us .girl-right {
    float:right;
}
.left-girl::after, .right-girl::after {
    content: '';
    display:block;
    clear:both;
}
.left-girl p, .right-girl p {
    font-size: 22px;
    color: #0973ba;
    font-family: 'GeometosRounded';
    float:left;
    margin: 0px;
    line-height: 22px;
}
.left-girl img, .right-girl img {
    float:left;
}
#splash-about-us h3 {
    padding-top:40px;
}
#splash-about-us {
    padding-bottom:40px;
}
.right-girl p, .right-girl span {
    text-align:right;
    display: block;
}
.left-girl span, .right-girl span {
    font-size:15px;
    font-family:'AvenirRoman';
}

#splash-prizes h3 {
    padding-top:40px;
    background: url(../img/stripe.png) top no-repeat;
}
#splash-prizes {
    padding-bottom:40px;
    background-image: url(../img/running-gamer.png);
    background-repeat: no-repeat;
    height: 540px;
    background-color: #000;
    background-size: cover;
    background-position: 75% 50%;
}

.prizes-desc span {
    font-family:'AvenirMedium';
    font-size:13px;
    color:#494949;
}
.prizes-desc span text {
    font-weight:bold;
    text-transform:uppercase;
}
.prizes-desc {
    padding-top:30px;
    text-align:center;
}

/*****HANGOUT*****/

.livefeed-bg {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/hgtopbotbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.livefeed {
    padding: 20px 0px 40px 0;
    position: relative;
    background: #090909;
    background-size: auto 100%;
    text-align: center;
    color: #ffffff;
}
.livefeed .container{
    padding: 90px 0px 0px 0px;

}
.livefeed .left-bg{
    text-align: center;
    position: absolute;
    left: -220px;
    position: absolute;
    top: -80px;
    height: 100%;
}
.livefeed .left-bg img{
    width: 90%;

}
.board-pannel__twitter-footer{
    text-transform: uppercase;
}
@media (max-width: 1800px) {
    .livefeed {
        background-position: -120px top;
    }
}
@media (max-width: 1600px) {
    .livefeed {
        background-position: -220px top;
    }
}
@media (max-width: 1400px) {
    .livefeed {
        background-position: -320px top;
    }
}

@media (max-width: 1079px) {
    img {
        max-width: 200%;
    }
}


@media (max-width: 992px) {
    .livefeed {
        background-position: -500px top;
    }

    .hitw-item {
        position: absolute;
        top: -10px;
        left: -135px;
    }

    .hitw-text {
        margin-left: 80px;
    }

    .top-area-desc-table {
        margin-left: 140px;
    }

}
@media (max-width: 768px) {
    .livefeed {
        background-image: none;
    }
}
.livefeed h1 {
    font-family: 'NexaStab', sans-serif;
    font-weight: 300;
    font-size: 3em;
    line-height: 1;
    margin-bottom: -5px;
    text-transform: uppercase;
    position: relative;
    color: #FFF;
    padding-bottom:20px;
}
.livefeed h1 + div {
    // line-height: 1.8;
    color: #FFF;
    font-size: 1.2em;
}
.livefeed h1 + div > span {
    display: block;
    font-size: 0.7em;
    color: #FFF;
}
@media (max-width: 768px) {
    .livefeed h1 {
        font-size: 4em;
    }
}
@media (max-width: 480px) {
    .livefeed h1 {
        font-size: 3em;
    }
}

.livefeed .row {
    margin: 60px 0 0;
}

.livefeed .col-md-8 {
    margin-bottom: 30px;
}
@media (min-width: 992px) {
    .livefeed .livefeed-wrap:first-of-type {
        margin-right: -15px;
    }
    .livefeed .livefeed-wrap:last-of-type {
        margin-left: -15px;
    }
}
.livefeed .life-frame {
    position: relative;
    background-color: #000;
    vertical-align: middle;
    padding-bottom: 56%;
}
.livefeed .life-frame > img,
.livefeed .life-frame > iframe {
    display: block;
}
.livefeed .life-frame > iframe {
    border: 1px solid #999;
    display: block;
    min-width: 100%;
    width: auto;
}
.livefeed .life-frame-wrap {
    text-align: center;
    padding: 40px 60px;
}
.livefeed .life-frame-wrap h2 {
    line-height: 1;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'AlternateGotNo1D', sans-serif;
    font-weight: 300;
}
.livefeed .life-frame-wrap h2 span {
    display: block;
    line-height: 1;
    font-size: 0.6em;
}
.livefeed .life-frame-wrap h2 span:last-of-type {
    margin-top: 20px;
}
.livefeed .life-frame-wrap ol {
    padding: 0;
    margin: 0 auto;
    max-width: 540px;
    list-style-position: inside;
}
.livefeed .life-frame-wrap ol > li {
    margin: 10px 0;
}
.livefeed .life-frame-wrap a {
    color: #f36f21;
}
.livefeed .board-pannel__twitter {
    background-color: rgba(200, 200, 200, 0.25);
    position: relative;
    padding-bottom: 30px;
    height: 100%;
}
.livefeed .board-pannel__twitter-header {
    text-align: left;
    vertical-align: middle;
    background-color: #f36f21;
    padding: 5px 15px;
    color: #fff;
}
.livefeed .board-pannel__twitter-header h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.8em;
    color: inherit;
    font-family: 'AlternateGotNo1D', sans-serif;
    font-weight: 300;
}
.livefeed .board-pannel__twitter-header h4 > span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: 2px;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
    font-size: .6em;
}
.livefeed .board-pannel__twitter-header h4 > span > i {
    vertical-align: -1px;
    margin-left: 2px;
}
.livefeed .board-pannel__twitter-subheader {
    font-size: .8em;
    text-align: left;
    padding: 5px 10px;
    background-color: #7c7c7c;
    color: #fff;
}
.livefeed .board-pannel__twitter-subheader a {
    color: inherit;
}
.livefeed .board-pannel__twitter-body {
    border-right: 1px solid #ccc;
    background-color: #fcfcfc;
}
@media (max-width: 992px) {
    .livefeed .board-pannel__twitter-body {
        overflow: visible;
    }
    .splash-buy {
        padding:24px;
    }
    .splash-buy a {
        background-color: rgba(243,111,33,0.75) !important;
        color: white;
        opacity: 1 !important;
    }
    .main-menu .navbar .nav > li.st-logo > a {
        border:none;
    }
    #splash-leaderboard h3 {
        width:60%;
    }
    p.tadt.fourth, p.tadt.fifth{
        padding-top:10px;
    }
    #splash-howto .hitw-item img{
        width:80%;
    }

    #splash-howto .top-area-desc-table {
        width: 50%;
    }
    .hitw-text{
        margin-top:10px;
    }
    #splash-howto .hitw-text p{
        font-size:24px;
    }
    #splash-howto p span {
        font-size:24px;
    }
    #splash-howto .top-area-desc-table{
        margin-left:160px;
    }
    #splash-howto .top-area-desc-table p{
        font-size:16px;
        padding-top:16px;

    }
    #splash-howto {
        padding-bottom:30px;

    }
    #splash-howto .hitw-item {
        top:135px;
    }
    .sublinks .countdown-title {
        right:5px;
        top:-2px;
        font-size: 16px;
        line-height: 16px;
    }
    .all{
        // overflow-x:hidden;
    }
    #splash-questions.splash-questions {
        background-position: 55% 10%;
        background-image: url(../img/questions-bg_mb.png);
        
    }
    
    .header .logo-main img {
        width: 120px;
    }

    .header-top .sublinks a {
        display: block;
    }

}
.livefeed .board-pannel__twitter-body > iframe {
    width: 100% !important;
    margin-bottom: -8px !important;
    padding: 0;
}
@media (min-width: 1199px) {
    .livefeed .board-pannel__twitter-body > iframe {
        height: 311px !important;
    }
}
.livefeed .board-pannel__twitter-item {
    position: relative;
    padding: 15px 15px 15px 60px;
}
.livefeed .board-pannel__twitter-item + .board-pannel__twitter-item {
    border-top: 1px solid #e7e7e7;
}
.livefeed .board-pannel__twitter-item p {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.1;
    margin: -1px 0 0;
    color: #999;
}
.livefeed .board-pannel__twitter-item small {
    display: block;
    font-size: 0.7em;
    margin: 0;
}
.livefeed .board-pannel__twitter-item a {
    color: #24b4ff;
}
.livefeed .board-pannel__twitter-avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    left: 15px;
    top: 15px;
}
.livefeed .board-pannel__twitter-footer {
    background-color: #646464;
    padding: 5px 15px;
    position: absolute;
    font-size: 0.9em;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.livefeed .board-pannel__twitter-footer:before,
.livefeed .board-pannel__twitter-footer:after {
    content: " ";
    display: table;
}
.livefeed .board-pannel__twitter-footer:after {
    clear: both;
}
.livefeed .board-pannel__twitter-footer > div {
    width: 50%;
    float: left;
    height: 20px;
    line-height: 20px;
    text-align: left;
}
.livefeed .board-pannel__twitter-footer > div:last-child {
    text-align: right;
}
.livefeed .board-pannel__twitter-footer a {
    color: #fff;
}
.livefeed .poweredby {
    margin-top: 20px;
}
.livefeed .poweredby span {
    display: block;
    font-size: 1em;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}    


#splash-questions h3, #splash-leaderboard h3 {
    padding-top:40px;
    background: url(../img/leaderboard.png) left no-repeat;
    text-indent: -9999px;
    margin-left:15px;
    margin-bottom: 20px;
}
.question-item p, .question-item span{
    font-family:'AvenirRoman';
    font-size:15px;
    color: #101038;
}
.question-item p {
    font-weight:bold;
    text-transform:uppercase;
    line-height:15px;
    margin:0px;
    //min-height:30px;
}
.question-item span text {
    font-weight:bold;
    text-transform:uppercase;
}
.padding30top {
    padding-top:30px;
}

#splash-questions {
    padding-bottom:40px;
    background-image: url(../img/questions-bg.png);
    background-repeat: no-repeat;
    height: 150px;
    background-size: 60%;
    background-color: #000;
    background-size: cover;
    background-position: 75% 70%;
}

#splash-questions img {
    margin-top: 40px;
}

#splash-questions p {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#splash-leaderboard {
    background-image: url(../img/topbotbg.png);
    background-repeat: no-repeat;
    height: 900px;
    background-color: white;
    background-size: cover;
    background-position: 50%;
}
#splash-leaderboard h3 {
    z-index:2;
}

#splash-leaderboard .container {
    z-index:2;
}
.leaderboard-table {
    width:100%;
    -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.35);
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.35);
}
.leaderboard-table thead {
    background-color: #898989;
}
.leaderboard-table th {
    padding: 7px 0px;
    color: #fff;
    font-family:'QuestrialRegular';
    font-size:14px;
}
.leaderboard-heading th:nth-child(1) {
    text-align: center;
    width:7%;
}
.leaderboard-heading th:nth-child(2) {
    text-align: left;
    width:22%;
    padding-left: 15px;
}
.leaderboard-heading th:nth-child(3) {
    text-align: center;
    width:56%;
}
.leaderboard-heading th:nth-child(4) {
    text-align: left;
    width:15%;
}
.leaderboard-table tbody {
    background-color: #fff;
}
.leaderboard-table tbody tr {
    border-top: 1px solid #e4e4e4;
    height: 50px;
    max-height: 50px;
    overflow: hidden;
}
.leaderboard-table tbody tr:first-child {
    border-top:none;
}
.leaderboard-table tr td:first-child {
    background: #f6f6f6;
    font-family: 'QswaldLight';
    color:#575757;
    font-size:20px;
    text-align:center;
}
.lb-name::after {
    content:'';
    display:block;
    clear:both;
}
.lb-name p{
    color:#353535;
    font-size:14px;
    font-family:'QuestrialRegular';
    margin: 0px;
    padding-left: 15px;
    margin-top: 11px;
}
.lb-name p, .lb-name img {
    float:left;
}
.leaderboard-table tr td:nth-child(3) {
    color:#757575;
    font-size:14px;
    font-family:'QuestrialRegular';
    text-align:center;
}
.leaderboard-table tr td:nth-child(4) {
    font-family: 'QswaldLight';
    color:#000;
    font-size:20px;
    text-align:left;
}

.leaderboard-ribbon {
    width: 220px;
    border-top: 2px solid #FFC019;
    border-left: 2px solid #FFC019;
    padding: 4px 14px;
    background-color: #fff;
}
.leaderboard-ribbon::after {
    content: '';
    display: block;
    border-right: 2px solid #FFC019;
    width: 21px;
    height: 38px;
    position: absolute;
    right: -11px;
    background: #fff;
    top: 1px;
    overflow: hidden;
    transform: rotate(-30deg);
}
.leaderboard-ribbon p {
    margin:0px;
    color:#000;
    font-family: 'QuestrialRegular';
    font-size:16px;
    font-weight: bold;
}



































































.navbar.top {
    background-color: #FFC019;
    border-bottom: 0px;
    min-height: 45px;
    max-height: 45px;
    border-radius:0px;
}
.navbar.bot {
    background-color: #000;
    border-bottom: 0px;
    min-height: 50px;
    max-height: 50px;
    border-radius:0px;
}
.nav.navbar-nav.navbar-right li.st-logo{
    max-width: 150px;
    text-align: center;
}
.nav.navbar-nav.navbar-right li.st-logo a{
    margin-top: -15px;
    padding-right: 10px;
    padding-top: 12px !important;
}
.nav.navbar-nav.navbar-right li.st-logo img{
    width: 90%;
}
.header-top, .header-top > div {
    padding-left: 0px;
    padding-right: 0px;
}
.header-bot {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -10px;
}

.logo-main {
    margin-left: 0px !important;
    padding-top: 7px;
}
.logo-main img {
    position: absolute;
    z-index: 2;
    left: 35px;
    width:150px;
}

.logo-splash {
    margin-left: 0px !important;
    padding-top: 45px;
}
.logo-splash img {
    position: absolute;
    z-index: 2;
    width:100px;
}

.navbar-nav > li > a {
    line-height:3px;
}

.navbar-nav > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
}



.splash-buy a {
    font-size: 16px;
    border: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    margin-top: -9px;
}
.countdown-title {
    font-family: 'AlternateGotNo1D';
    font-size: 26px;
    height: 45px;
    line-height: 45px;
    float: right;
    color: #000;
    text-transform: uppercase;
}
.countdown-title a{
    color: #000;
}

.countdown-table {
    float: left;
    height: 45px;
    background-color: #0973ba;
    padding-left: 8px;
    padding-right: 8px;
}
.ct-days, .ct-hours, .ct-mins {
    position:relative;
    width:34px;
}
.countdown-title {
    margin-left: 40px;
    //position: absolute;
}
.countdown-table{
    font-family: 'Digital-7';
    font-size: 34px;

    //position: absolute;
    //width: 160px;
    right: 0px;
}
.countdown-table span {
    margin-top: -5px;
    position: absolute;
    height:50px;
    width:100%;
}
/*
.countdown-table span text {
    font-family: 'AlternateGotNo1D';
    font-size: 11px;
}
*/

.countdown-table span text::after {
    font-family: 'AlternateGotNo1D';
    font-size: 13px;
    position:absolute;
    bottom:-11px;
    width:34px;
    left:50%;
    margin-left:-8px;
}

.countdown-table span .ct-days::after{
    content:'DAYS';
    /*margin-left:-23px;*/
}
.countdown-table span .ct-hours::after{
    content:'HOURS';
    /* margin-left:-22px;*/
}
.countdown-table span .ct-mins::after{
    content:'MINS';
    /*margin-left:-19px;*/
}

.countdown-table, .countdown-title {
    float:right;
}
#splash-girlz {
    background-image: url(../img/girlsgirlsgirls.png);
    background-repeat: no-repeat;
    height: 450px;
    background-color: #000;
    background-size: cover;
    background-position: 25%;
}
#splash-top {
    background-image: url(../img/gamer-background.png);
    background-repeat: no-repeat;
    height: 540px;
    background-color: black;
    background-size: cover;
    background-position: 25%;
}

.bottom-logo {
    position: relative;
    left: 138px;
    width: 25%;
}

/*vl-x edit*/

#splash-top > div {
    outline: 0px solid yellow;
    position: relative;
    left: -200px;
}

.splash-top-image-text {
    width: 800px; 
    text-align: center; 
    margin: 0 auto;
    margin-top: 80px; 
    outline: 0px solid green;
}

.splash-top-image-text img {
    width: 50%;
}

.splash-top-image-logo {
    width: 800px;
    text-align: center; 
    margin: 0 auto; 
    outline: 0px solid red;
}

.splash-top-image-logo img {
    width: 150px;
}

.hitw-item img {
    margin-top: 35px;
    width: 400px;
}

.hitw-text p {
    font-family: 'AlternateGotNo1D';
    text-align: justify;
    text-transform: uppercase;
    font-size: 30px;
    color: #000;
    font-weight: normal;
    float: left;
    width: 99%;
    line-height: 1.1;
}

#splash-prizes div {
    color: #fff;
}

#splash-prizes img {
    margin-top: 60px;
}

#splash-prizes p {
    /*    font-family: 'QuestrialRegular';*/
    font-size: 32px;
    color: #fff;
    font-weight: normal;
    width: 100%;
    line-height: 1.0;
    margin: 5px;
    margin: 0px;
}

#splash-prizes p.sub-prize, #splash-prizes p.sub-list {
    font-family: 'QuestrialRegular';
    font-size: 15px;
    margin: 0px;
}

#splash-prizes p.sub-list {
    text-transform: none;
    font-size: 18px;
}

#splash-prizes p.sub-conditions {
    font-family: 'QuestrialRegular';
    font-size: 12px;
    font-style: italic;
    line-height: 1.2em;
}

#splash-prizes li {
    text-transform: uppercase;
    list-style-type: none;
    margin-left: -25px;
    font-size: 18px;
}

#splash-prizes li:before {
    content: "- ";
}

.prize-item p {
    font-family: 'AlternateGotNo1D';
    text-transform: uppercase;
}

.prize-item p:second-child {
    font-family: 'AlternateGotNo1D';
    text-transform: uppercase;
}

/*import list of klay thompson*/

.tad.top-text {
    color: rgba(255,255,255,0.9);
    width: 44%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-family: 'NexaStabRegular';
}

.tad.bot-text {
    font-size: 20px;

}

.top-area-desc {
    margin-top:20px;
}

.top-area-desc-table p {
    color: rgba(255,255,255,0.9);
    text-align: left;
    margin-left: 74px;
    font-size: 22px;
    width: 80%;
    font-family: 'QuestrialRegular';
    color: #000;
    font-weight: normal;
    float: left;
    width: 99%;
    line-height: 1.7;
}

.top-area-desc-table a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}

.tadt.first::before{
    content: '1';
    background-color: #FFC019;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 32px;
    margin-left: -55px;
    line-height: 1.2;
    font-family: 'AlternateGotNo1D';
}

.tadt.second::before{
    content: '2';
    background-color: #FFC019;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 32px;
    margin-left: -55px;
    line-height: 1.2;
    font-family: 'AlternateGotNo1D';
}
.tadt.third::before{
    content: '3';
    background-color: #FFC019;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 32px;
    margin-left: -55px;
    line-height: 1.2;
    font-family: 'AlternateGotNo1D';
}

.tadt.fourth::before{
    content: '4';
    background-color: #FFC019;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 32px;
    margin-left: -55px;
    line-height: 1.2;
    font-family: 'AlternateGotNo1D';
}
.tadt.fifth::before{
    content: '5';
    background-color: #FFC019;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 32px;
    margin-left: -55px;
    line-height: 1.2;
    font-family: 'AlternateGotNo1D';
}

/*import list end*/

.questions-item > p {
    font-family: 'AlternateGotNo1D';
    font-size: 28px;
}


.questions-item > p > a {
    text-decoration: underline;
    color: #000;
}

.leaderboard-item img {
    margin: 50px 0px 50px 0px;
}

.bottom-logo > img {
    width: 50px;
    position: relative;
    left: 50px;
}

/*vl-x edit end*/

.footer.splash {
    padding-top:0px;
}
.footer.splash .footer-bot {
    padding: 0 !important;
    min-height: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d2d2d+0,1c1c1c+100 */
    background: rgb(45,45,45); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(45,45,45,1) 0%, rgba(28,28,28,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(28,28,28,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(45,45,45,1) 0%,rgba(28,28,28,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */

}
.footer-text.splash {
    margin-top: -14px !important;
    text-decoration: none !important;
    padding: 6px;

}
.splash-footer-menu a {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    color: #fff;
    width: 40%;
    -webkit-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;

    opacity: .75;
    cursor:pointer;
}
.splash-footer-menu a:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}
.splash-footer-menu a:last-child {
    margin-left:-2px;
}

.splash-footer-menu a:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5) inset;
    opacity: 1;
}

.splash-footer-p-links {
    margin-top: 32px !important;
}
.soc-icon.splash {
    margin-top: 23px !important;
    text-align: center;
}

.how-it-works-title-elem {
    text-align:center;
}
.hiwte-big {
    font-size: 100px;
    font-family: 'NexaSlab';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+29,ffffff+29,333333+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 29%, rgba(255,255,255,1) 29%, rgba(51,51,51,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 29%,rgba(255,255,255,1) 29%,rgba(51,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 29%,rgba(255,255,255,1) 29%,rgba(51,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#333333',GradientType=0 ); /* IE6-9 */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: -22px !important;
}
.hiwte-small {
    font-size:20px;
    font-family: 'NexaSlab';

    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(68,68,68,1) 66%, rgba(68,68,68,1) 69%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(68,68,68,1) 66%,rgba(68,68,68,1) 69%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(68,68,68,1) 66%,rgba(68,68,68,1) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#444444',GradientType=0 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.how-it-works-title {
    padding-top:30px !important;
    padding-bottom:30px !important;
}
.how-it-works-desc{
    padding-left: 5%;
    padding-right: 5%;
}
.how-it-works-desc-big{
    color: rgba(255,255,255,0.9);
    font-size:14px;
}
.how-it-works-desc-big text {
    font-weight:bold;
}
.how-it-works-desc-small{
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    margin-top: 30px;
    font-style: italic;
}
.buy-inner {
    margin-top: 95px;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.klay-hangout-inner {
    width: 50%;
    margin-left: 10%;
    padding-top: 30px;
}
.klay-hangout-innerf{
    font-size: 38px;
    font-family: 'NexaStab';
    color: #f36f21;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, .7);
    margin-bottom: 0;
}
.klay-hangout-innerf text {
    font-size: 20px;
}
.klay-hangout-innerl{
    font-size: 38px;
    font-family: 'NexaStab';
    color: #f36f21;
    font-weight: bold;
    margin-left: 60px;
    margin-top: -12px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, .7);
}
.btn.hg-shottracker {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: rgba(150, 150, 150, 0);
    font-family: 'AlternateGotNo1D';
    font-size: 28px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}
.footer-widget.right p {
    float:right;
    margin-top:6px;
}
.footer-text.splash {
    padding-right:0px;
    padding-top: 3px;
    opacity:.75;
}
.footer-text.footer-link {
    opacity:.75;
    text-decoration:underline;
}
.footer-text.footer-link:hover {
    /*opacity:1;*/
    text-decoration:none;
}
.footer-text.footer-link:first-child {
    padding-right:14px;
}
.main-menu .navbar .navbar-toggle {
    position: absolute;
    right: 0px;
    margin-top: 5px;
}

.navbar-collapse.collapse.in, .navbar-collapse.collapsing {
    margin-top: 41px;
    padding-top: 0px! important;
}
.main-menu .navbar .nav {
    margin-top:0px !important;
}

@-moz-document url-prefix() {

    .buy-area-title p, .hiwte-big, .hiwte-small, .top-area-titlel {
        background: none;
        color: rgba(255, 255, 255, 0.91);
    }

}

tbody {
    display:block;
    height:550px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: 100%;
}
tbody tr td:nth-child(1) {
    width:7%;
}
tbody tr td:nth-child(2) {
    width:22%;
}
tbody tr td:nth-child(3) {
    width:56%;
}
tbody tr td:nth-child(4) {
    width:15%;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {

    /* iPhone menu margin fix */
    @-apple-document url-prefix() {
        .main-menu .navbar .navbar-toggle {
            margin-top: -27px;
        }
    }
    tbody tr td:nth-child(2) {
        width:auto;
    }

    #splash-prizes {
        padding-bottom:40px;
        background-image: url(../img/running-gamer-small.png);
        background-repeat: no-repeat;
        height: 740px;
        background-color: #000;
        background-size: cover;
        background-position: 50% 75%;
    }

    .nav.navbar-nav.navbar-right li.st-logo{
        max-width:none;
        text-align: center;
    }

    .nav.navbar-nav.navbar-right li.st-logo a {
        margin-top: 0px;
        padding: 10px 10px;
    }

    .nav.navbar-nav.navbar-right li.st-logo img{
        width: 30%;
    }

    .splash-buy {
        padding-bottom:5px !important;
    }

    .st-logo{
        padding-bottom:5px !important;
    }

    /*    .st-logo a {
            border-bottom:none !important;
            top: -10px;
            left: 75px;
        }
        
    /*    .splash-buy a {
            top: 2px;
            left: 160px;
            font-size: 12px;
        }*/

    .logo-splash img {
        width: 70px;
    }

    /*    #splash-top img {
            width:60%;
            margin-top:20px;
        }   */
    .top-title p:first-child {
        font-size:34px;
    }
    .top-title p:last-child {
        font-size:24px;
    }
    .top-white-overlay {
        height:55%;
    }
    .main-menu .navbar .navbar-toggle {
        border: none;
        margin-top: 2px;
        margin-right: 5px;
    }
    #splash-girlz.splash-girlz{
        background-position:12%;
        height:330px;
    }

    #splash-howto h3, #splash-about-us h3, #splash-prizes h3, #splash-questions h3, #splash-leaderboard h3 {
        font-size:34px;
    }
    .asddivider {
        float: left;
        width: 80%;
    }
    .asddivider::after{
        content:'';
        display:block;
        clear:both;
    }
    #splash-howto p {
        margin: 0px !important;
        width: 100%;
    }
    #splash-howto span {
        width: 100%;
    }
    #splash-howto img {
        padding-right:5px;
        width: 40%;
    }
    /*    .hitw-item {
            padding-bottom: 30px !important;
        }   
        .hitw-item:last-child {
            padding-bottom: 30px !important;
        }   */
    .splash-buy1 {
        width: 48% !important;
        padding: 2px 0px !important;
        font-size: 24px !important;
        text-align: center;
        margin-top: 50px !important;
    }
    .splash-buy1img {
        width: 50% !important;
    }
    .hitw-item:last-child {
        width: 100%;
    }
    #splash-about-us h3 {
        padding-top:0px;
        padding-bottom: 10px;
    }
    .right-girl div::after, .left-girl div::after {
        content:'';
        display:block;
        clear:both;
    }
    .right-girl div:first-child {
        padding:0px;
        padding-top: 15px;
    }
    .left-girl div:last-child {
        padding:0px;
        padding-top: 15px;
    }
    .aligncenter {
        text-align:center;
    }
    .left-girl img, .right-girl img{
        float:none;
    }
    .right-girl p, .right-girl span, .left-girl p, .left-girl span {
        text-align:center;
    }
    #splash-questions h3, #splash-leaderboard h3, #splash-prizes h3 {
        background-size:contain;
    }
    #splash-leaderboard h3 {
        padding-bottom:10px;
        padding-top:40px;
    }

    .leaderboard-heading th:nth-child(1) {
        text-align: center;
        width:14%;
    }
    .leaderboard-heading th:nth-child(2) {
        text-align: left;
        width:70%;
        padding-left: 15px;
    }
    .leaderboard-heading th:nth-child(3), .leaderboard-table tr td:nth-child(3) {
        display:none;
    }
    .leaderboard-heading th:nth-child(4) {
        text-align: left;
        width:16%;
    }
    .lb-name p {
        padding-left: 5px;
        margin-top: 2px;
    }
    .formobileState {
        display:block;
        position: absolute;
        width: 100%;
        left: 60px;
        top: 20px;
        font-size: 14px;
        color: #757575;
    }
    .leaderboard-table tr td:nth-child(4) {
        color:#000;
    }
    .forNOmobileRank {
        display:none;
    }
    .formobileRank {
        display:block;
    }
    #splash-leaderboard {
        height:780px;
    }
    .question-item p {
        font-size:18px;
        line-height: 18px;
    }

    .padding30topMob {
        padding-top:30px;
    }

    .prizes-desc {
        text-align:left;
    }
    .prizes-desc span {
        font-size:12px;
    }

    .prize-item {
        text-align: left;
        padding-left: 0px;
        padding-bottom: 30px;
        margin-left: 15px;
    }

    .prize-item img {
        float: left;
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 10px;
        margin-right: 600px;
    }

    .prize-item span {
        float: left;
        width: 56%;
        padding-left: 5px;
        font-size: 14px;
    }

    .prize-item p {
        float: left;
        width: 56%;
        padding-left: 5px;
        font-size: 18px;
        margin: 0px;
    }

    #splash-about-us {
        display:none;
    }

    #splash-about-usMobile {
        display:block;
    }

    .girlMobile img {
        width: 40%;
        float: left;
    }

    .girlMobile p {
        color: #0973ba;
        font-size: 22px;
        font-weight: bold;
        font-family: 'AvenirRoman';
        margin-bottom: 5px;
        float: left;
        width: 60%;
        padding-left: 15px;
        position: absolute;
        left: 40%;
        bottom: 0;
    }

    .girlMobile div:last-child {
        margin-top:7px;
    }

    .girlMobile {
        padding-bottom: 30px;
    }

    .main-menu .navbar .nav > li > a {
        line-height:1;
        padding:15px;
    }
    #navbar {
        padding-top: 10px;
    }
    .klay-buy {
        padding:24px;
    }
    .klay-buy a{
        background-color: rgba(243,111,33,0.75) !important;
        color: white;
        opacity: 1 !important;
    }
    .container {
        padding-left: 2% !important;
        padding-right: 2% !important;
    }
    .logo-klay.navbar-brand {
        padding-left: 0px !important;
        padding-top: 10px !important;
    }
    .countdown-table {
        right: 0px;
        font-size: 22px;
        width: 110px;
        margin-top: 3px;
    }
    .countdown-title {
        font-size: 12px;
        float: right;
        margin-left: -10px;
        margin-top: 7px;
        width: 100%;
        line-height: 1.3;
        display: block;
        text-align: right;
    }

    .header-title a {
        font-size: 12px;
    }


    .navbar.top {
        min-height: 38px !important;
        max-height: 38px !important;
    }
    .navbar.bot {
        min-height: 42px !important;
        max-height: 42px !important;
    }
    .countdown-table span text::after {
        bottom:-15px;
    }
    #splash-top {
        height: 300px;
        background-color: #000;
        background-size: cover;
        background-position: 50%;
    }
    #splash-top .container {
        background-color: rgba(0,0,0,0.35);
    }
    .klay-empty {
        display:none;
    }
    .top-inner {
        width: 100% !important;
    }
    .top-inner {
        padding-top:330px;
    }
    .tad.top-text {
        font-size:15px;
        width: 100%;
    }
    .top-area-desc-table {
        width: 70%;
    }
    .tad.bot-text {
        width:100%;
    }
    .top-area-desc-links {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #klay-hangout .container{
        background-image: url(/img/klayPage/klay-mobile-bg2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 330px;
        background-position: 60%;
    }
    .klay-hangout-inner {
        margin-left:5%;
    }
    .klay-hangout-innerf {
        line-height:1;
        font-size:36px;
    }
    .klay-hangout-innerl {
        margin-left: 0px;
        margin-top: 0px;
        line-height: 1;
        font-size:36px;
    }
    .btn.hg-shottracker {
        margin-left: 0;
        width: 100%;
        padding: 10px;
        white-space: pre-wrap;
        line-height: 1;
    }
    .how-it-works-title-elem {
        z-index:2;
    }
    #klay-how-it-works {
        height:auto;
    }
    .how-it-works-desc {
        padding-left: 15px;
        padding-right: 15px;
    }
    .how-it-works-title-elem p{
        background: none;
        color: rgba(255, 255, 255, 0.91);
        -webkit-text-fill-color: inherit;
    }
    .how-it-works-title {
        padding-top:0px !important;
    }
    #klay-buy-area {
        background: none;
        background-repeat: no-repeat;
        height: auto;
        background-color: black;
        background-size: contain;
        background-position: 44%;
    }
    .buy-inner {
        padding-left:0px;
        padding-right:0px;
        margin-top:30px;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    .buy-area-title p {
        gont-size:50px;
        line-height:1;
        background: none;
        color: rgba(255, 255, 255, 0.91);
        -webkit-text-fill-color: inherit;
    }
    .buy-area-items {
        padding-left:0px;
        padding-right:0px;
        padding-top:40px;
    }
    .buy-area-item {
        width: 50%;
        padding-bottom: 30px;
    }
    .btn.buy-shottracker {
        width:100%;
        margin-top:-90px;
    }
    .buy-area-actions {
        background-image: url(/img/klayPage/klay-mobile-bg3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        background-position: 50%;
        margin-top: 30px;
    }
    #klay-buy-area .container {
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .mask2 {
        display:none;
    }
    .footer.splash .footer-bot .container {
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .footer-bot div div div {
        padding:0px;
    }
    .splash-footer-menu {
        width:100%;
    }
    .splash-footer-menu a {
        width: 50%;
        float: left;
        margin-left: 0px;
        border-bottom: 1px solid rgba(0,0,0,0.4);
    }
    .footer-bot .soc-icon > a {
        width:50px;
        height:50px;
    }
    .footer-bot .soc-icon > a i {
        transform: scale(1.5);
        margin-top: 18px;
    }
    .splash-footer-p-links {
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer-text.transparent.footer-link {
        font-size:14px;
    }
    .footer-text.splash.transparent {
        padding-bottom:30px;
    }
    #splash-top .container {
        background-color: rgba(0,0,0,0);
    }
    .top-area-desc-links {
        margin-top:20px;
    }
    .tad.bot-text {
        margin-top:30px;
    }
    .how-it-works-desc-small, .how-it-works-desc-big {
        text-align:justify;
    }
    .splash-footer-p-links {
        float:inherit !important;
        text-align: center;
    }
    .footer-text.splash {
        text-align: center !important;
        float: inherit !important;
        font-size: 11px !important;
    }
    .buy-shottracker2 {
        margin-top:10px !important;
    }
    .klay-buy-shottracker-inner {
        margin-top:50px;
    }

}
@media only screen and (max-width: 320px) {
    .top-area-link-appstore {
        margin-left:5%;
    }

    .countdown-title {
        top: 6px;
        right: -10px;
    }

    .splash-buy {
        padding-bottom:5px !important;
    }
    .st-logo{
        padding-bottom:5px !important;
    }
    .st-logo a{
        border-bottom:none !important;
    }
    #splash-top {
        height: 350px;
    }
    .btn.buy-shottracker2 {
        font-size:24px;
    }
    .top-area-titlel {
        font-size:34px;
    }
    .top-area-titlel::after {
        font-size: 14px;
        margin-left: -26px;
    }
    #klay-buy-shottracker .container {
        height: 150px;
    }
    .klay-buy-shottracker-inner {
        margin-top:30px;
    }
}

@media only screen and (min-width: 321px) {
    @media only screen and (max-width: 425px) {
        .countdown-title {
            top: 6px;
            right: -10px;
            width: 100%;
            font-size: 13px;
        }
    }
}

@media only screen and (min-width: 426px) {
    @media only screen and (max-width: 768px) {
        .countdown-title {
            top: 6px;
            right: -10px;
            width: 100%;
            font-size: 15px;
        }

        .splash-buy {
            padding-bottom:5px !important;
            top: 15px;
            left: 160px;
            font-size: 12px;
        }

        .st-logo {
            padding-bottom: 5px !important;
            top: 5px;
            left: 75px;
        }
    }
}



@media only screen and (min-width: 768px) {

    @media only screen and (max-width: 1024px) {
        .buy-area-actions {
            height:1000px;
        }
        .btn.buy-shottracker {
            font-size:40px;
        }
        .buy-area-actions span {
            font-size:24px;
        }
        .buy-area-item-image > div {
            left:133px;
        }

        .splash-buy {
            padding-bottom:5px !important;
        }

        .countdown-title {
            font-size: 16px;
        }

        .st-logo {
            padding-bottom: 5px !important;
        }

        .st-logo a {
            border-bottom:none !important;
        }

        #klay-hangout .container {
            height: 500px;
        }

        .main-menu .navbar .nav {
            background-color: rgba(240, 248, 255, 0);
            position: absolute;
            right: 0px;
        }
        .main-menu .navbar .nav > li > a {
            padding-top: 4px;
            padding-bottom: 4px;
            line-height: 3px;
            border-bottom: none;
        }

        .nav.navbar-nav.navbar-right li.st-logo{
            max-width:none;
            text-align: center;
        }

        .nav.navbar-nav.navbar-right li.st-logo a{

            margin-top: 0px;
            padding: 10px 10px;
        }

        .nav.navbar-nav.navbar-right li.st-logo img{
            width: 30%;
        }

        .splash-buy a {
            border-bottom: 1px solid #fff !important;
        }

        .klay-buy a {
            background-color: rgba(243,111,33,0) !important;
            color: white;
            opacity: .75 !important;

            font-size: 16px;
            border: 1px solid #fff;
            padding-top: 4px !important;
            padding-bottom: 4px !important;
            margin-top: -9px;
        }

        .main-menu .navbar .nav > li {
            margin-top:4px;
        }

        .klay-buy {
            padding:0px;
        }

        .klay-buy a {
            padding-top: 12px !important;
            padding-bottom: 12px !important;
            border-bottom: 1px solid #fff !important;
            font-size:20px !important;
        }

        .tad.top-text {
            font-size: 24px;
            color: rgba(255,255,255,0.8);
        }

        .top-area-desc-table p {
            font-size: 20px;
            width: 80%;
        }

        .tad.bot-text {
            font-size: 20px;
        }

        #splash-top {
            height:350px;
        }
        .top-area-desc-links a img{
            transform: scale(1.5);
            padding-left: 50px;
            padding-right: 50px;
        }

        #klay-hangout .container {
            height: 200px;
            background-image: url(/img/klayPage/klay-mobile-bg2-tablet.jpg);
        }

        .btn.hg-shottracker {
            font-size:36px;
        }
        .how-it-works-desc-small, .how-it-works-desc-big {
            font-size:20px;
        }
        .splash-footer-menu a {
            font-size:20px;
        }
        .footer-text.splash, .footer-text.transparent.footer-link {
            font-size:18px !important;
        }
        .buy-area-item-desc {
            font-size:20px;
        }
        .countdown-title {
            margin-left:0px;
            font-size: 19px;
            width:100%;
        }

        #splash-howto {
            padding-top: 60px;
        }

        .bottom-logo {
            display: none;
        }
    }
}

@media only screen and (min-width: 1024px) {
    @media only screen and (max-width: 1280px) {
        .countdown-title {
            margin-left: 0px;
        }
        .main-menu .navbar .nav > li {
        }
        .tad.top-text {
            width:80%;
        }
        .top-area-desc-table {
            width:60%;
        }
        .top-area-desc-links, .tad.bot-text {
            width:100%;
            margin-top: 30px;
        }
        #splash-top {
            height:440px;
            background-position: 50%;
            background-size: cover;
        }

        .splash-top-image-text img {
            width: 40%;
        }

        .splash-top-image-logo img {
            width: 110px;
        }

        .btn.hg-shottracker {
            width:80%;
        }
        #klay-how-it-works {
            height:auto;
        }
        #klay-buy-area {
            height:auto;
        }
        .buy-inner {
            margin-top:0px;
        }
        .mask2 {
            display:none;
        }
        #klay-buy-area .klay-empty {
            display:none;
        }
        .buy-inner {
            width:100%;
        }
        #klay-buy-area {
            background: none;
            background-repeat: no-repeat;
            height: auto;
            background-color: black;
            background-size: contain;
            background-position: 44%;
        }
        .buy-area-actions {
            background-image: none;
            background-repeat: no-repeat;
            background-size: cover;
            height: 130px;
            background-position: 50%;
            margin-top: 30px;
        }
        .splash-footer-menu {
            width:40%;
        }
        .splash-footer-menu a {
            font-size:14px;
        }
        .soc-wrapper {
            width:20%;
            margin-right: 6.667%;
        }
        .footer-text.splash {
            font-size: 11px !important;
        }

        .bottom-logo {
            display: none;
        }
    }
}


@media only screen and (min-width: 893px) {
    @media only screen and (max-width: 921px) {
        .splash-top-image-text {
            width: 400px;
            margin-top: 50px;
            left: 200px;
        } 

        .splash-top-image-text img {
            width: 50%;
        }

        .splash-top-image-logo img {
            width: 110px;
            position: relative;
        }

        .sub-conditions {
            opacity: 0.0;
        }

        .bottom-logo {
            display: none;
        }
    }
}

@media only screen and (min-width: 692px) {
    @media only screen and (max-width: 892px) {
        .splash-top-image-text {
            width: 500px;
            margin-top: 50px;
            left: 50px;
        } 

        .splash-top-image-text img {
            width: 40%;
        }

        .splash-top-image-logo img {
            width: 110px;
            position: relative;
            left: -100px;
        }

        .sub-conditions {
            opacity: 0.0;
        }

        .bottom-logo {
            display: none;
        }
    }
}

@media only screen and (min-width: 319px) {
    @media only screen and (max-width: 691px) {
        .splash-top-image-text {
            width: 500px;
            margin-top: 50px;
            left: 50px;
        } 

        .splash-top-image-text img {
            width: 40%;
        }

        .splash-top-image-logo img {
            width: 110px;
            position: relative;
            left: -100px;
        }

        #splash-prizes p {
            font-size: 25px;
        }

        #splash-prizes p.sub-prize, #splash-prizes p.sub-list {
            font-size: 16px;
        }

        .sub-list {
            padding-top: 15px;
        }

        .sub-conditions {
            opacity: 0.0;
        }

        .questions-item > p {
            font-size: 18px;
        }

        .bottom-logo {
            display: none;
        }
    }
}

.lb-name > span.ava-wrapper {
    display: block;
    height: 39px;
    overflow: hidden;
    width: 39px;
    float: left;
}
.lb-name > span > img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}