.activity
	.activity-tabs.hidden-md.hidden-lg
		.container
			ul
				li.active
					a(href="#", data-target="#workout") TODAY'S<br class="visible-xs"> WORKOUT
				li
					a(href="#", data-target="#results") TODAY'S<br class="visible-xs"> RESULTS
				li
					a(href="#", data-target="#feed") TWITTER<br class="visible-xs"> FEED

	.container
		.board
			.board-tab: span Day 1 Workout
			.board-pannel
				.row
					.col-md-8
						.board-pannel__wrap
							.board-pannel__empty
								div
									.h1 Check back later.
									p Once the camp begins, you can see<br>the daily workouts and player's acivity.
					.col-md-4.pannel#feed
						.board-pannel__wrap
							.board-pannel__twitter
								.board-pannel__twitter-header
									h4 Virtual Camp activity feed

								.board-pannel__twitter-body
									a.twitter-timeline(href='https://twitter.com/KlayThompson', data-widget-id='606029044241580032', data-chrome='noheader') @KlayThompson
									script.
										!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

									//- .board-pannel__twitter-item
									//- 	.board-pannel__twitter-avatar: img(src="images/avatar.jpg", alt="")
									//- 	p Experiettnce more with expanded Tweets <a href="#">http://t.co/8gH7sqUE</a>
									//- 	small 18 hours ago

								.board-pannel__twitter-footer
									div: a(href="#") @GetShotTracker
									div: a(href="#") #KlaysVirtualCamp


