.activity
	.activity-tabs.hidden-md.hidden-lg
		.container
			ul
				li.active
					a(href="#", data-target="#workout") TODAY'S<br class="visible-xs"> WORKOUT
				li
					a(href="#", data-target="#results") TODAY'S<br class="visible-xs"> RESULTS
				li
					a(href="#", data-target="#feed") TWITTER<br class="visible-xs"> FEED

	.container
		.board
			//- .board-tab: span Day 1 Workout

			.dropdown
				button#drop-menu.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
					span Day 1 Workout
					span.caret
				ul.dropdown-menu(aria-labelledby='#drop-menu')
					li: a(href='#') Day 1 Workout
					li: a(href='#') Day 2 Workout
					li: a(href='#') Day 3 Workout
					li: a(href='#') Day 4 Workout

			.board-pannel
				.row
					.col-md-8
						.board-pannel__wrap
							.row
								.col-md-6.pannel.active#workout
									.board-pannel__resoults
										.board-pannel__resoults-shots
											.board-pannel__resoults-header
												h4 Workout Name would go here

											.board-pannel__resoults-body
												p Shoot 20 shots from the 3 spots on the court. Between each location, sprint to the half court and back 3 times. Shoot 20 shots from the 3 spots on the court. Between each location, sprint to the half court and back 3 times.
												.board-pannel__shot
													include _table.jade

												span.total-shots 60 SHOTS
												span.h5 Drill results
												table.table
													tr
														td 1
														td Drill Name here
														td 20 Shots
													tr
														td 2
														td Drill Name here
														td 20 Shots
													tr
														td 3
														td Drill Name here
														td 20 Shots

								.col-md-6.pannel.rc#results
									.board-pannel__header Day 1 activity
									.board-pannel__item.leader
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column.name Klay Thompson
										.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

									.board-pannel__table
										.board-pannel__table-wrapper
											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

											.board-pannel__item
												.board-pannel__item-column.avatar
													span: img(src="images/avatar.jpg", alt="")
												.board-pannel__item-column.name UserName GOEShere <small>2 hours ago</small>
												.board-pannel__item-column.shots 76% <span class="space-10">|</span> 114/150 SHOTS <span class="space-10">|</span> 00:31:17

					.col-md-4.pannel#feed
						.board-pannel__wrap
							.board-pannel__twitter
								.board-pannel__twitter-header
									h4 Virtual Camp activity feed
								.board-pannel__twitter-subheader Tweet questions for Klay to @GetShotTracker and use #KlayCamp.
								.board-pannel__twitter-body
									a.twitter-timeline(href='https://twitter.com/hashtag/KlayCamp' data-widget-id='612129186111713281' data-chrome='nofooter noheader') @KlayThompson
									script.
										!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

									//- .board-pannel__twitter-item
									//- 	.board-pannel__twitter-avatar: img(src="images/avatar.jpg", alt="")
									//- 	p Experiettnce more with expanded Tweets <a href="#">http://t.co/8gH7sqUE</a>
									//- 	small 18 hours ago

								.board-pannel__twitter-footer
									div: a(href="#") @GetShotTracker
									div: a(href="#") #KlaysVirtualCamp


