.awards
	.container
		.row
			.col-md-6
				ol.breadcrumb
					li
						a(href='#') Virtual Camp
					li.active Camp awards
				h2 Live camp awards ceremony
				p Join Klay online for a LIVE end of camp awards ceremony. He’ll be awarding prizes to players with standout performance and awesome participation. Prizes include signed gear and other surprises. One lucky camper will win a live shooting session with Klay.
				p In advance of the awards ceremony,  tweet questions for Klay to <a href="#">@GetShottracker</a> and use <a href="#">#KlayCamp</a>. We'll prioritize the best questions for him to answer.
				h3 Details
				p
					img.icon(alt='', src='img/calendar.png')
					|  Thursday, June 28, 2015
				p
					img.icon(alt='', src='img/clock.png')
					|  5:00-5:30 pm PST (8:00-8:30pm EST)

				//- <p class="note">***Login details will be available in June.</p>
			.col-md-6
				img.notebook(src="images/notebook.jpg", alt="")