.buynow
	.container
		a(href="http://shottracker.com"): img.buynow__logo(src="img/shottracker.png", alt="")
		span The first wearable tech for basketball that automatically tracks your shot attempts, makes & misses
		a.btn(href="#") Buy Now