.register
	.container
		.row
			.col-md-6
				span.date June 21-28, 2015
				h1 Klay Thompson <br> Virtual Basketball Camp
				p: a.play(href='https://vimeo.com/125841736') Watch Video
					//-a.play(href="#" data-toggle='modal', data-target='#modal-video') Watch Video

				.campspecial
					.h3 Camp Special: Save $30!
					p Use coupon code CAMP119 to get your ShotTracker for $119 vs. $149. <a href="#" class="text-uppercase">Buy Now</a>.
					small: i ***Must be registered for camp. Expires 6/21/15.

		.row
			.col-md-6
				.text1  Your confirmation email has been sent.
				.text2 Invite your friends <br> &amp; teammates to join
				.text3 When your friends use your referral link (provided to them via email), they will receive $30 off their ShotTracker purchase. For every friend that makes a purchase, you will receive $30 towards the ShotTracker Store or an Amazon gift card. Spread the word!
				a.btn#invite(href='#', data-toggle='modal', data-target='#modal-invite') Invite friends
				a.btn(href='#') Buy a shottracker
				.text4 Excited? Share with your friends!
					a.twitter(href='#')
					a.facebook(href='#')

			.col-md-6.hidden-xs
				//- a.video(href="#" data-toggle='modal', data-target='#modal-video')
				a.video(href='https://vimeo.com/125841736')
