.details#details
	.container
		h2 CAMP DETAILS
		.items
			.item
				.item__wrap
					h3 REGISTRATION
					p All Campers must register and download the (free) ShotTracker Player App. You can always manually enter your stats into to the App, but if you want to be eligible for Klay's awards, you need the validation provided by a ShotTracker device. It automatically tracks your shot attempts, makes and misses throughout camp and beyond.
					a(href='https://store.shottracker.com/', target='_blank') Order YOUR ShotTracker
			.item
				.item__wrap
					h3 CAMP KICK-OFF
					p The week begins with a Camp online meeting, hosted by Klay himself on June 21st at 5:00 PST. Get details on the week ahead and hear what Klay has to say about a solid off season work ethic. You'll want to have your ShotTracker set-up and ready to go for
						span this meeting!
					a(href='#') Kick-Off Details
			.item
				.item__wrap
					h3 DAILY WORKOUTS
					p Klay will load your daily workout into the App first thing each morning.. He'll also email you the day's instructions and a video of him demonstrating a portion of the workout. You'll have 24 hours to complete it. Be ready for bonus drills, social media shout-outs, and don't forget to keep your eye on Klay's leaderboard.
					a(href='#') Learn More
			.item
				.item__wrap
					h3 TRACK RESULTS
					p Our ShotTracker automatically tracks your workout results and let's you compete on the leaderboard and be eligible for camp awards. If you opt not to purchase it, you can still manually enter your stats into the App. Klay will be monitoring your results either way.
					a(href='http://shottracker.com/', target='_blank') Learn More About ShotTracker
			.item
				.item__wrap
					h3 CAMP AWARDS
					p No camp is complete without an awards ceremony. Join Klay online for a live awards ceremony and camp closing on Sunday, June 28 at 5:00 PST. There will be prizes for the best performing ballers and most improved, so don&rsquo;t miss it.
					a(href='#') Awards Ceremony Details

		p.note NOTE: A ShotTracker device is not required to participate in the Virtual Basketball Camp. You can manually enter your stats into the free app to<br class="hidden-xs hidden-sm"> track your workouts. However, players who do not have a ShotTracker device, which validates shooting stats, are not eligible for the leaderboard or camp awards.<br class="hidden-xs hidden-sm"><a href='https://store.shottracker.com/shottracker.html', target='_blank'>PURCHASE A SHOTTRACKER</a>
