.experience#experience
	.container
		h2 Get the full camp Experience
		.row
			.img
				img(src="img/5.png", alt="")
				a.btn-buynow(href="#") Buy Now
			.col-md-6
				.step
					span.digit1 1
					span.title Register for camp &amp; REFER YOUR FRIENDS
					p When your friends use your referral link(provided to them via email), they will receive $15 off their ShotTracker purchase. For every friend that makes a purchase, you will receive a $15 towards the ShotTracker Store or an Amazon gift card. Spread the word!

				.step.step2
					span.digit1 2
					span.title DOWNLOAD THE SHOTTRACKER APP
					p The App gives you access to Klay's camp workouts and serves as the hub for all Virtual Basketball Camp activity. In addition to Camp content, the App contains over 30 additional workouts and drills.
					ul
						li
							a.img1(href='https://itunes.apple.com/us/app/shottracker-player/id926461132?mt=8', target='_blank')
								img(src='img/6.png', alt='')
							span (Requires iOS 7.1 and above)
						li
							a.img1(href='https://play.google.com/store/apps/details?id=com.shottracker.player', target='_blank')
								img(src='img/7.png', alt='')
							span (Requires Android 4.3 and above)
							a(href='http://support.shottracker.com/hc/en-us/articles/203084645-Does-the-app-work-for-iOS-and-Android-', target='_blank') See list of phones

				.step.step3
					span.digit1 3
					span.title Order your OWN ShotTracker
					p ShotTracker improves your camp experience by automatically tracking your shot attempts, makes and misses, and capturing that information in the ShotTracker App.
						span.only-desktop Validated results captured by your ShotTracker make you eligible for Klay's leaderboard and Camp awards.

				.step.step4
					span.digit1 4
					span.title COMPETE ON KLAY'S LEADERBOARD
					p Attend the live, online Camp kick-off meeting. Mark your calendar for June 21st at 5:00 PST for a live chat with Klay. It's exclusive for campers, so login details will be send via email a week in advance of Camp.