.footer
	.container
		.row
			.col-md-5
				//- a.link(href="#") register for camp
				a.link(href="#") buy a shottracker
				a.link(href="http://shottracker.com") shottracker.com
			.col-md-2.text-center
				.footer-soc
					a.twitter(href='#')
					a.facebook(href='#')
					a.youtube(href='#')
			.col-md-5
				span.copyright
					a(href="#") Privacy policy
					a(href="#") Terms of use
					| <br> &copy; Copyright ShotTracker. All Rights Reserved
