head
	title Klay Thompson Virtual Basketball Camp - Register Now
	meta(name='keywords', content='Klay Thompson, Virtual Basketball Camp, Shooting, ShotTracker, Basketball Camp, Basketball')
	meta(name='description', content='Get Klay’s elite drills via the free ShotTracker App. He’ll watch your stats and up your game. Live virtual kickoff and awards ceremony. June 21-June 28')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='language', content='en')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(property='og:title', content='Klay Thompson Virtual Basketball Camp - Register Now')
	meta(property='og:type', content='article')
	meta(property='og:image', content='http://virtualcamp.shottracker.com/img/1.jpg')
	meta(property='og:url', content='shottracker.com/virtualbasketballcamp/klaythompson')
	meta(property='og:description', content='Get Klay’s elite drills via the free ShotTracker App. He’ll watch your stats and up your game. Live virtual kickoff and awards ceremony. June 21-June 28')
	link(rel='icon', type='image/png', href='favicon.ico')
	link(rel='stylesheet', href='css/bootstrap.css')
	link(rel='stylesheet', href='css/main.css')
	script(src='js/jquery-1.11.2.min.js')
	//- script(src='js/jquery-migrate-1.2.1.min.js')