.header4
	.timer
		.container
			span.timer-span2 The first ever virtual basketball camp with klay thompson has come to an end. thank you to everyone who joined.

	nav.navbar.navbar-inverse
		.container
			// Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand.klay(href="#"): img(src="img/logo.png", alt="Klay Thompson")
			// Collect the nav links, forms, and other content for toggling
			#navbar-collapse.collapse.navbar-collapse
				ul.nav.navbar-nav.right
					li: a(href="#overview", data-scroll) Camp overview
					li: a(href="#recap", data-scroll) Workout recap
					li: a(href="#winners", data-scroll) Prize winners
					li: a(href="#leaderboard", data-scroll) Leaderboard
					li: a.buynow(href="http://virtualcamp.shottracker.com") Buy Now