.timer
	.container
		//- a.visible-xs.buynow(href="https://store.shottracker.com/shottracker.html") Buy Now
		.twitter-feed(title="@KlayThompson: Pumped to announce I'm teaming with @getshottracker! I'm running #KlaysVirtualCamp in June. It's free. Sign up...")
			img.twitter-icon(src="img/twitter-icon.png", alt="")
			a(href="#") @KlayThompson:
			| Pumped to announce I'm teaming with @getshottracker! I'm running #KlaysVirtualCamp in June. It's free. Sign up...

//- .main-menu.m2
	.container
		a.klay(href="#"): img(src="img/logo.png", alt="Klay Thompson")
		nav
			ul
				li.hidden-xs: a.signup(href="http://shottracker.com/virtualbasketballcamp/klaythompson", data-toggle='modal', data-target='#modal-sigin-signup') Sign Up Now
				li: a(href="activity.html") Activity
				li: a(href="leaderboard.html") Leaderboard
				li.active: a(href="livefeed.html") Live feed
				li.hidden-xs: a.buynow(href="https://store.shottracker.com/shottracker.html") Buy Now

nav.navbar.navbar-inverse
	.container
		// Brand and toggle get grouped for better mobile display
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.klay(href="#"): img(src="img/logo.png", alt="Klay Thompson")
		// Collect the nav links, forms, and other content for toggling
		#navbar-collapse.collapse.navbar-collapse
			ul.nav.navbar-nav.right
				li.signup: a.signup(href="http://shottracker.com/virtualbasketballcamp/klaythompson", data-toggle='modal', data-target='#modal-sigin-signup') Sign Up Now
				li: a(href="activity.html") Activity
				li: a(href="leaderboard.html") Leaderboard
				li.active: a(href="livefeed.html") Live feed
				li: a.buynow(href="https://store.shottracker.com/shottracker.html") Buy Now