.timer
	.container
		.twitter-feed(title="@KlayThompson: Pumped to announce I'm teaming with @getshottracker! I'm running #KlaysVirtualCamp in June. It's free. Sign up...")
			img.twitter-icon(src="img/twitter-icon.png", alt="")
			a(href="#") @KlayThompson:
			| Pumped to announce I'm teaming with @getshottracker! I'm running #KlaysVirtualCamp in June. It's free. Sign up...

//- .main-menu.m2
	.container
		a.klay(href="#"): img(src="img/logo.png", alt="Klay Thompson")
		nav
			ul
				li.hidden-xs: a.live(href="http://shottracker.com/virtualbasketballcamp/klaythompson/livefeed") Live
				//- li: a(href="http://shottracker.com/") Home
				li: a(href="http://virtualcamp.shottracker.com/") Register
				li: a(href="http://virtualcamp.shottracker.com/#details", data-scroll) Details
				li: a(href="http://virtualcamp.shottracker.com/#experience", data-scroll) Devices
				li: a(href="http://virtualcamp.shottracker.com/#faq", data-scroll) FAQ
				//- li: a.buynow(href="http://virtualcamp.shottracker.com") Buy Now

nav.navbar.navbar-inverse
	.container
		// Brand and toggle get grouped for better mobile display
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.klay(href="#"): img(src="img/logo.png", alt="Klay Thompson")
		// Collect the nav links, forms, and other content for toggling
		#navbar-collapse.collapse.navbar-collapse
			ul.nav.navbar-nav.right
				li.live: a(href="http://shottracker.com/virtualbasketballcamp/klaythompson/livefeed") Live
				li: a(href="http://virtualcamp.shottracker.com/") Register
				li: a(href="http://virtualcamp.shottracker.com/#details", data-scroll) Details
				li: a(href="http://virtualcamp.shottracker.com/#experience", data-scroll) Devices
				li: a(href="http://virtualcamp.shottracker.com/#faq", data-scroll) FAQ
				li: a.buynow(href="http://virtualcamp.shottracker.com") Buy Now