.awards
	.container
		.row
			.col-md-6
				ol.breadcrumb
					li
						a(href='#') Virtual Camp
					li.active Kick off details
				h2 Live Camp Kick Off
				p Join Klay online for the LIVE camp kick-off. Hear what the pro himself has to say about the week ahead.
				p In advance of the awards ceremony,  tweet questions for Klay to <a href="#">@GetShottracker</a> and use <a href="#">#KlayCamp</a>. We'll prioritize the best questions for him to answer.
				h3 Details
				p
					img.icon(alt='', src='img/calendar.png')
					|  Thursday, June 21, 2015
				p
					img.icon(alt='', src='img/clock.png')
					|  5:00-5:30 pm PST (8:00-8:30pm EST)

				//- <p class="note">***Login details will be available in June.</p>
			.col-md-6
				img.notebook(src="images/notebook_.jpg", alt="")