.leaderboard
	.container
		.board
			.board-tab: span Top 50 leaderboard
			.board-pannel
				.row
					.col-md-8
						.board-pannel__wrap
							.board-pannel__filter
								.btn-group.btn-group-justified(role='toolbar', aria-label='...')
									.btn-group
										a.btn.btn-gray.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
											span Overall
											span.caret
										ul.dropdown-menu(role='menu')
											li: a(href='javascript:void(0);') Overall
											li: a(href='javascript:void(0);') Bla Bla
											li: a(href='javascript:void(0);') Bla

									.btn-group
										a.btn.btn-gray.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
											span All ages
											span.caret
										ul.dropdown-menu(role='menu')
											li: a(href='javascript:void(0);') All ages
											li: a(href='javascript:void(0);') 12 years and below
											li: a(href='javascript:void(0);') 13 - 17 years
											li: a(href='javascript:void(0);') 18 years and above

									.btn-group
										a.btn.btn-gray.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
											span Shottracker verified
											span.caret
										ul.dropdown-menu(role='menu')
											li: a(href='javascript:void(0);') Shottracker verified
											li: a(href='javascript:void(0);') Bla Bla
											li: a(href='javascript:void(0);') Bla
								.board-pannel__item.leader
									.board-pannel__item-column.number 11
									.board-pannel__item-column.avatar
										span: img(src="images/avatar.jpg", alt="")
									.board-pannel__item-column
										.board-pannel__item-wrap
											.board-pannel__item-column.name Klay Thompson
											.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
									.board-pannel__item-column.percent 97.8%

							.board-pannel__table
								.board-pannel__table-wrapper

									.board-pannel__item
										.board-pannel__item-column.number 01
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name He Got Game
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

									.board-pannel__item
										.board-pannel__item-column.number 02
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name He Got Game He Got Game
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

									.board-pannel__item
										.board-pannel__item-column.number 03
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name HeGotGame
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

									.board-pannel__item
										.board-pannel__item-column.number 04
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name HeGotGame
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

									.board-pannel__item
										.board-pannel__item-column.number 05
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name HeGotGame
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

									.board-pannel__item
										.board-pannel__item-column.number 06
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name HeGotGame
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

									.board-pannel__item
										.board-pannel__item-column.number 07
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name HeGotGame
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

									.board-pannel__item
										.board-pannel__item-column.number 08
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name HeGotGame
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

									.board-pannel__item
										.board-pannel__item-column.number 09
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name HeGotGame
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

									.board-pannel__item
										.board-pannel__item-column.number 10
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name HeGotGame
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

									.board-pannel__item
										.board-pannel__item-column.number 11
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name HeGotGame
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

									.board-pannel__item
										.board-pannel__item-column.number 12
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name HeGotGame
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

									.board-pannel__item
										.board-pannel__item-column.number 13
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name HeGotGame
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

									.board-pannel__item
										.board-pannel__item-column.number 14
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column
											.board-pannel__item-wrap
												.board-pannel__item-column.name HeGotGame
												.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
										.board-pannel__item-column.percent 97.8%

					.col-md-4
						.board-pannel__wrap-right
							.board-pannel__resoults
								.board-pannel__resoults-info
									.board-pannel__resoults-header
										.board-pannel__item-column.avatar
											span: img(src="images/avatar.jpg", alt="")
										.board-pannel__item-column.name HeGotGame
									.board-pannel__resoults-body
										.board-pannel__resoults-desc The WorkoutName Goes Here
										.board-pannel__resoults-charts
											.chart(data-percent="50")
												span 50

											span 84 / 168
												small Shots made
											br
											span 249
												small Points
											i.space.space-30
											span 00:17:16
												small Court time
								.board-pannel__resoults-shots
									.board-pannel__resoults-header
										span.h5 Shot Zones
										span.points
											span.points-red Baller
											span.points-orange Semi-PRO
											span.points-green Rookie

									.board-pannel__resoults-body
										.board-pannel__shot
											include _table.jade

										span.h5 Drill results
										table.table
											tr
												td 1
												td Drill Name here
												td 20/100 <span class="space-10">|</span> 20%
											tr
												td 2
												td Drill Name here
												td 20/40 <span class="space-10">|</span> 50%
											tr
												td 3
												td Drill Name here
												td 20/20 <span class="space-10">|</span> 100%
