.leaderboard
	.container
		.board
			.board-tab: span Top 50 leaderboard
			.board-pannel
				.board-pannel__wrap
					.board-pannel__filter
						.btn-group.btn-group-justified(role='toolbar', aria-label='...')
							.btn-group
								a.disabled.btn.btn-gray.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
									span Overall
									span.caret
								ul.dropdown-menu(role='menu')
									li: a(href='javascript:void(0);') Overall
									li: a(href='javascript:void(0);') Bla Bla
									li: a(href='javascript:void(0);') Bla

							.btn-group
								a.disabled.btn.btn-gray.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
									span All ages
									span.caret
								ul.dropdown-menu(role='menu')
									li: a(href='javascript:void(0);') All ages
									li: a(href='javascript:void(0);') 12 years and below
									li: a(href='javascript:void(0);') 13 - 17 years
									li: a(href='javascript:void(0);') 18 years and above

							.btn-group
								a.disabled.btn.btn-gray.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
									span Shottracker verified
									span.caret
								ul.dropdown-menu(role='menu')
									li: a(href='javascript:void(0);') Shottracker verified
									li: a(href='javascript:void(0);') Bla Bla
									li: a(href='javascript:void(0);') Bla
					.board-pannel__table-wrapper
						.board-pannel__item.header
							.board-pannel__item-column.number Rank
							.board-pannel__item-column.avatar Name
							.board-pannel__item-column.shots Shot count
							.board-pannel__item-column.percent Shooting %

					.board-pannel__item.leader
						.board-pannel__item-column.number 11
						.board-pannel__item-column.avatar
							span: img(src="images/avatar.jpg", alt="")
						.board-pannel__item-column
							.board-pannel__item-wrap
								.board-pannel__item-column.name Klay Thompson
								.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
						.board-pannel__item-column.percent 97.8%

					.board-pannel__table
						.board-pannel__table-wrapper
							.board-pannel__item
								.board-pannel__item-column.number 01
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%

							.board-pannel__item
								.board-pannel__item-column.number 02
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%

							.board-pannel__item
								.board-pannel__item-column.number 03
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%

							.board-pannel__item
								.board-pannel__item-column.number 04
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%

							.board-pannel__item
								.board-pannel__item-column.number 05
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%

							.board-pannel__item
								.board-pannel__item-column.number 06
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%

							.board-pannel__item
								.board-pannel__item-column.number 07
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%

							.board-pannel__item
								.board-pannel__item-column.number 08
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%

							.board-pannel__item
								.board-pannel__item-column.number 09
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%

							.board-pannel__item
								.board-pannel__item-column.number 10
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%

							.board-pannel__item
								.board-pannel__item-column.number 11
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%

							.board-pannel__item
								.board-pannel__item-column.number 12
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%

							.board-pannel__item
								.board-pannel__item-column.number 13
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%

							.board-pannel__item
								.board-pannel__item-column.number 14
								.board-pannel__item-column.avatar
									span: img(src="images/avatar.jpg", alt="")
								.board-pannel__item-column
									.board-pannel__item-wrap
										.board-pannel__item-column.name HeGotGame
										.board-pannel__item-column.shots 50.000 / 100,00 SHOTS
								.board-pannel__item-column.percent 97.8%