.leaderboard
	.container
		.board
			.board-tab: span Top 50 leaderboard
			.board-pannel
				.board-pannel__wrap
					.board-pannel__filter
						.btn-group.btn-group-justified(role='toolbar', aria-label='...')
							.btn-group
								a.btn.btn-gray.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
									span Overall
									span.caret
								ul.dropdown-menu(role='menu')
									li: a(href='javascript:void(0);') Overall
									li: a(href='javascript:void(0);') Bla Bla
									li: a(href='javascript:void(0);') Bla

							.btn-group
								a.btn.btn-gray.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
									span All ages
									span.caret
								ul.dropdown-menu(role='menu')
									li: a(href='javascript:void(0);') All ages
									li: a(href='javascript:void(0);') 12 years and below
									li: a(href='javascript:void(0);') 13 - 17 years
									li: a(href='javascript:void(0);') 18 years and above

							.btn-group
								a.btn.btn-gray.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
									span Shottracker verified
									span.caret
								ul.dropdown-menu(role='menu')
									li: a(href='javascript:void(0);') Shottracker verified
									li: a(href='javascript:void(0);') Bla Bla
									li: a(href='javascript:void(0);') Bla
					.board-pannel__empty
						div
							.h1 Check back later.
							p The leaderboard will activate once<br>the camp has begun.