.livefeed
	.container
		h1 Klay Thompson live
		.text-uppercase Camp kick-off begins sunday, june 21st at 5:00 pdt.
		.row
			.col-md-8
				.livefeed-wrap
					.life-frame.embed-responsive.embed-responsive-16by9
						iframe.embed-responsive-item(width='760', height='428', src='https://www.youtube.com/embed/FASu_XY5Feo?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
						//- img(src="img/life.png", alt="")
						//- .life-frame-wrap
							h2
								span Camp Kick-off BEGINS
								| Sunday, June 21st at 5:00 PDT.
								span In the meantime:
							ol
								li Make sure you've <a href="#">registered</a> for camp.
								li Download the ShotTracker Player App to your smartphone. If you already have it, make sure your phone has updated to the latest version.
								li If you want to be eligible for Klay's leaderboard and camp prizes, purchase a <a href="#">ShotTracker</a> to automatically capture and validate your stats. Use coupon code CAMP119 to save $30.
								li Tweet kick-off questions for Klay to @getshottracker and use <a href="#">#KlayCamp</a>.
			.col-md-4
				.livefeed-wrap
					.board-pannel__twitter
						.board-pannel__twitter-header
							h4 Virtual Camp activity feed
						.board-pannel__twitter-subheader Tweet questions for Klay to @GetShotTracker and use #KlayCamp.
						.board-pannel__twitter-body
							a.twitter-timeline(href='https://twitter.com/hashtag/KlayCamp' data-widget-id='612129186111713281' data-chrome='nofooter noheader') @KlayThompson
							script.
								!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

							//- a.twitter-timeline(href='https://twitter.com/KlayThompson', data-widget-id='606029044241580032', data-chrome='noheader') @KlayThompson
							//- script.
							//- 	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

						.board-pannel__twitter-footer
							div: a(href="https://twitter.com/GetShotTracker", target="_blank") @GetShotTracker
							div: a(href="https://twitter.com/hashtag/klaysvirtualcamp", target="_blank") #KlaysVirtualCamp



		.poweredby
			span powered by
			img(src="img/st-logo.png", alt="ShotTracker")
