//- .modal.fade#modal-video
	.modal-dialog
		.modal-content
			.modal-body
				.video-frame
					iframe(src='https://player.vimeo.com/video/125841736?autoplay=0', width='568', height='320', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
				.clearfix
				a.twitter-share-button(href='https://twitter.com/share', data-count='none') Tweet
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.clearfix

.modal.fade#modal-invite
	.modal-dialog
		.modal-content
			.modal-body
				h2 Invite your friends to join you at Camp.
				p With your referral, they'll get $15 off the purchase of their ShotTracker wearable tech, and when they purchase, you'll get a $15 gift card for the ShotTracker Store!
				form(action='#', method='post')
					label
						textarea(placeholder='(To add multiple email addresses, seperate them by commas)')
					button.btn(type='submit') Send invitations
					span.info *** $15 ShotTracker discount provided at time of purchase. Purchaser must use the referral link provided in the invite email and gift card will be awarded only to that referral source.
					.clearfix

.modal.fade#modal-sigin-signup
	.modal-dialog
		.modal-content
			.modal-body
				#signIn
					h2 Sign in to view live feed
					p.text-center It appears you have not registered for the camp yet. Enter your Name and Email below to register and begin watching Klay live:
					form(action='#', method='post')
						.form-group
							input.form-control(type='text', placeholder='Name')
						.form-group
							input.form-control(type='email', placeholder='Email Address')
						.form-group
							button.btn-block.btn.btn-orange(type='submit') Register
						a.switcher(href="#") Sign in
				#signUp(style="display:none")
					h2 Sign in to view live feed
					p.text-center Enter your ShotTracker Player App username or the email address you used to join the camp:
					form(action='#', method='post')
						.form-group
							input.form-control(type='text', placeholder='Username or email address')
						.form-group
							button.btn-block.btn.btn-orange(type='submit') Sign in
						.text-right: a.switcher(href="#") Register for camp



