.postcamp
	section.postcamp-intro
		.container
			.row
				.col-md-6.col-md-offset-6
					.postcamp-intro-wrap
						h1 Play like Klay
							span Virtual Basketball Camp
						p The first-of-its kind Virtual Basketball Camp was awesome! We loved the commitment people made to improving their game in the off season. Check out the stats from the week.

	section#overview.postcamp-stats
		.container
			.row
				.col-md-4.col-sm-6
					.stat
						.stat-number 2,489
						span.stat-name registered players
				.col-md-4.col-sm-6
					.stat
						.stat-number 7,621
						span.stat-name minutes of shooting
				.col-md-4.col-sm-6
					.stat
						.stat-number 32,512
						span.stat-name number of shots taken
				.col-md-4.col-sm-6
					.stat
						.stat-number 1,870
						span.stat-name dRILLS complETED
				.col-md-4.col-sm-6
					.stat
						.stat-number 418
						span.stat-name posts on social
				.col-md-4.col-sm-6
					.stat
						.stat-number 30
						span.stat-name prizes awarded

	section#recap.postcamp-workout
		.container
			.row
				.col-md-4
					h2 Workout Recap
				.col-md-8
					p Loved Klay's workouts during camp? You can still access the workouts from camp through the ShotTracker Player App. Doesn't matter if you are doing these workouts for the first or fiftieth time, these workouts will make a difference in your game.
			.row
				.col-md-4.col-sm-6
					.recap
						.recap-date Monday, June 22
						.recap-video
							.embed-responsive.embed-responsive-16by9
								iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RmrmWUEHcIc?rel=0', frameborder='0', allowfullscreen='')
							.recap-video__footer
								span 8 Drills &ndash; 185 Shots
								h4 Day 1 workout
				.col-md-4.col-sm-6
					.recap
						.recap-date Tuesday, June 23
						.recap-video
							.embed-responsive.embed-responsive-16by9
								iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RmrmWUEHcIc?rel=0', frameborder='0', allowfullscreen='')
							.recap-video__footer
								span 8 Drills &ndash; 215 Shots
								h4 Day 2 workout
				.col-md-4.col-sm-6
					.recap
						.recap-date Wednesday, June 24
						.recap-video
							.embed-responsive.embed-responsive-16by9
								iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RmrmWUEHcIc?rel=0', frameborder='0', allowfullscreen='')
							.recap-video__footer
								span 10 Drills &ndash; 245 Shots
								h4 Day 3 workout
				.col-md-4.col-sm-6
					.recap
						.recap-date Thursday, June 25
						.recap-video
							.embed-responsive.embed-responsive-16by9
								iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RmrmWUEHcIc?rel=0', frameborder='0', allowfullscreen='')
							.recap-video__footer
								span 10 Drills &ndash; 185 Shots
								h4 Day 4 workout
				.col-md-4.col-sm-6
					.recap
						.recap-date Friday, June 26
						.recap-video
							.embed-responsive.embed-responsive-16by9
								iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RmrmWUEHcIc?rel=0', frameborder='0', allowfullscreen='')
							.recap-video__footer
								span 10 Drills &ndash; 215 Shots
								h4 Day 5 workout
				.col-md-4.col-sm-6
					.recap
						.recap-date Saturday, June 27
						.recap-video
							.embed-responsive.embed-responsive-16by9
								iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RmrmWUEHcIc?rel=0', frameborder='0', allowfullscreen='')
							.recap-video__footer
								span 10 Drills &ndash; 245 Shots
								h4 Day 6 workout

	section#winners.postcamp-winners
		.container
			.row
				.col-md-4
					h2 Camp Winners
				.col-md-8
					p The live stream camp kick-off and awards ceremony was a hit. At the final camp awards ceremony, Klay gave out 30 awards for everything from Top Shot to best Social Promoter. Here are the 2015 Camp winners:
			.row
				.col-md-3.col-md-offset-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 TOP SHOT
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 SECOND PLACE SHOOTER
						.winner-name Winner name here
			.row
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 TOP SHOT
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 SECOND PLACE SHOOTER
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 THIRD PLACE SHOOTER
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 EFFICIENT SHOOTER
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 KEEP AT IT
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 4K SHOT CLUB
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 MAKIN' IT
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 PUTTIN' EM UP
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 SOCIAL PROMOTER
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 INSTA POST
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 GRIND IT OUT
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 NICE MUG
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 PLAY LIKE KLAY DRAWING
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 INTERVIEW AWARD
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 GRIND IT OUT
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 INSTA POST
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 PLAY LIKE KLAY DRAWING
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 INTERVIEW AWARD
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 GRIND IT OUT
						.winner-name Winner name here
				.col-md-3.col-sm-4.col-xs-6
					.winner
						.winner-point: span
						h3 NICE MUG
						.winner-name Winner name here
			.row
				.col-sm-6
					.postcamp-winners__video.embed-responsive.embed-responsive-16by9
						iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/FASu_XY5Feo?rel=0', frameborder='0', allowfullscreen='')
				.col-sm-6
					.postcamp-winners__video.embed-responsive.embed-responsive-16by9
						iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/f4l_90fHW2g?rel=0', frameborder='0', allowfullscreen='')

	section#leaderboard.postcamp-leaderboard
		.container
			h2 Final leaderboard
			include _leaderboard3.jade