.questions#faq
	.container
		h3 Questions?
		#accordion.panel-group(role='tablist', aria-multiselectable='true')
			.row
				.col-md-6
					.panel.panel-default
						#headingOne.panel-heading(role='tab')
							h4.panel-title
								| DO I HAVE TO HAVE A SHOTTRACKER TO PARTICIPATE IN THE CAMP?
								a.hidden-lg.hidden-md(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') &minus;
						#collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
							.panel-body
								| Players without a ShotTracker will need to manually enter their stats. Because these stats are not validated, these players are not eligible for the leaderboard Camp awards. Without a ShotTracker, you'll still get to do Klay's workouts, and will absolutely improve your game, it's just not the full Camp experience.
					.panel.panel-default
						#headingTwo.panel-heading(role='tab')
							h4.panel-title
								| WHAT IS THE CAMP SCHEDULE?
								a.hidden-lg.hidden-md.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') +
						#collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
							.panel-body
								| The camp will kick off Sunday, June 21 with a live online chat with Klay. Camp runs for 7 days and ends on June 28th with a live online awards ceremony.
					.panel.panel-default
						#headingThree.panel-heading(role='tab')
							h4.panel-title
								| HOW DO I REGISTER?
								a.hidden-lg.hidden-md.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree') +
						#collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
							.panel-body
								| Register at the top of this page by entering your name and email address. Once registered, purchase your ShotTracker and download the ShotTracker Player App onto your smartphone.

				.col-md-6
					.panel.panel-default
						#headingFour.panel-heading(role='tab')
							h4.panel-title
								| WHERE IS THE CAMP LOCATED?
								a.hidden-lg.hidden-md(data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='true', aria-controls='collapseFour') +
						#collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
							.panel-body
								| That's the best part about this camp! You can be anywhere! Using the ShotTracker app, you will receive workouts from Klay every morning. You can complete these workouts in any gym, driveway or court, as long as you capture your stats in the ShotTracker App.
					.panel.panel-default
						#headingFive.panel-heading(role='tab')
							h4.panel-title
								| HOW MUCH DOES THE CAMP COST?
								a.hidden-lg.hidden-md.collapsed.in(data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive') +
						#collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
							.panel-body
								| The camp is free!
