.register
	.container
		.row
			.col-md-6
				span.date June 21-28, 2015
				h1 Klay Thompson <br> Virtual Basketball Camp
				p: a.play(href="#" data-toggle='modal', data-target='#modal-video') Watch Video
		.row
			.col-md-6.col-sm-6
				.intro
					p The Pros know that the Off Season is where real improvement is made. That's why Klay Thompson and ShotTracker have come together to bring you this first of its kind Virtual Basketball Camp.
					p Now, everyone everywhere can up their game with hands on coaching from an NBA All-Star. Register, download the ShotTracker Player App and order your ShotTracker. You'll be included in live conversations with Klay and receive shooting challenges from the Pro himself. He'll have an eye on your stats, give shout-outs via social media and award prizes to the best ballers at Camp. <b>Register now. It's Free</b>.
					form.form(role="form", action="#")
						.form-group
							input.form-control(type='text', placeholder='NAME*', value="")
						.form-group.has-error
							input.form-control(type='email', placeholder='EMAIL ADDRESS*', value="", data-toggle="tooltip" data-placement="top" title="Please enter your email address")
						.form-group.hidden-sm.hidden-xs
							button.btn(type="submit") Register
						.checkbox
							label
								input(type='checkbox')
								span
								| Check me out

						.hidden-md.hidden-lg
							button.btn.btn-block(type="submit") Register

			.col-md-6.col-sm-6.hidden-xs
				//- a.video(href="#" data-toggle='modal', data-target='#modal-video')
				a.video(href='https://vimeo.com/125841736')