script(src="js/pxgradient-1.0.3.min.js")
script(src="js/smooth-scroll.min.js")
script(src="js/easypiechart.min.js")
script(src="js/prettyphoto.min.js")
script(src="js/bootstrap.min.js")
//- script(src="js/lockfixed.min.js")
script(src="js/countdown.min.js")
script(src="js/fitvids.min.js")
script(src="js/main.min.js")
script.
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');