table#scheduleDrillDetails
	tr
		td.c-1: &nbsp;
		td.c-2: &nbsp;
		td.c-3: &nbsp;
		td.c-4: &nbsp;
		td.c-5: &nbsp;
		td.c-6: &nbsp;
		td.c-7: &nbsp;
		td.c-8: &nbsp;
		td.c-9: &nbsp;
		td.c-10: &nbsp;
		td.c-11: &nbsp;
		td.c-12: &nbsp;
		td.c-13: &nbsp;
	tr
		td.c-14: &nbsp;
		td.c-15: &nbsp;
		td.c-16: &nbsp;
		td.c-17: &nbsp;
		td.c-18: &nbsp;
		td.c-19: &nbsp;
		td.c-20: &nbsp;
		td.c-21: &nbsp;
		td.c-22: &nbsp;
		td.c-23: &nbsp;
		td.c-24: &nbsp;
		td.c-25: &nbsp;
		td.c-26: &nbsp;
	tr
		td.c-27: &nbsp;
		td.c-28: &nbsp;
		td.c-29: &nbsp;
		td.c-30: &nbsp;
		td.c-31: &nbsp;
		td.c-32: &nbsp;
		td.c-33: &nbsp;
		td.c-34: &nbsp;
		td.c-35: &nbsp;
		td.c-36: &nbsp;
		td.c-37: &nbsp;
		td.c-38: &nbsp;
		td.c-39: &nbsp;
	tr
		td.c-40: &nbsp;
		td.c-41: &nbsp;
		td.c-42: &nbsp;
		td.c-43: &nbsp;
		td.c-44: &nbsp;
		td.c-45: &nbsp;
		td.c-46: &nbsp;
		td.c-47: &nbsp;
		td.c-48: &nbsp;
		td.c-49: &nbsp;
		td.c-50: &nbsp;
		td.c-51: &nbsp;
		td.c-52: &nbsp;
	tr
		td.c-53: &nbsp;
		td.c-54: &nbsp;
		td.c-55: &nbsp;
		td.c-56: &nbsp;
		td.c-57: &nbsp;
		td.c-58: &nbsp;
		td.c-59: &nbsp;
		td.c-60: &nbsp;
		td.c-61: &nbsp;
		td.c-62: &nbsp;
		td.c-63: &nbsp;
		td.c-64: &nbsp;
		td.c-65: &nbsp;
	tr
		td.c-66: &nbsp;
		td.c-67: &nbsp;
		td.c-68: span.point-red(title="25/50 | 50%", data-toggle="tooltip")
		td.c-69: &nbsp;
		td.c-70: &nbsp;
		td.c-71: &nbsp;
		td.c-72: &nbsp;
		td.c-73: &nbsp;
		td.c-74: &nbsp;
		td.c-75: &nbsp;
		td.c-76: span.point-green(title="25/50 | 50%", data-toggle="tooltip")
		td.c-77: &nbsp;
		td.c-78: &nbsp;
	tr
		td.c-79: &nbsp;
		td.c-80: &nbsp;
		td.c-81: &nbsp;
		td.c-82: &nbsp;
		td.c-83: &nbsp;
		td.c-84: &nbsp;
		td.c-85: &nbsp;
		td.c-86: &nbsp;
		td.c-87: &nbsp;
		td.c-88: &nbsp;
		td.c-89: &nbsp;
		td.c-90: &nbsp;
		td.c-91: &nbsp;
	tr
		td.c-92: &nbsp;
		td.c-93: &nbsp;
		td.c-94: &nbsp;
		td.c-95: &nbsp;
		td.c-96: &nbsp;
		td.c-97: &nbsp;
		td.c-98: span.point-orange(title="25/50 | 50%", data-toggle="tooltip")
		td.c-99: &nbsp;
		td.c-100: &nbsp;
		td.c-101: &nbsp;
		td.c-102: &nbsp;
		td.c-103: &nbsp;
		td.c-104: &nbsp;
	tr
		td.c-105: &nbsp;
		td.c-106: &nbsp;
		td.c-107: &nbsp;
		td.c-108: &nbsp;
		td.c-109: &nbsp;
		td.c-110: &nbsp;
		td.c-111: &nbsp;
		td.c-112: &nbsp;
		td.c-113: &nbsp;
		td.c-114: &nbsp;
		td.c-115: &nbsp;
		td.c-116: &nbsp;
		td.c-117: &nbsp;