.awards
	.container
		.row
			.col-md-6
				ol.breadcrumb
					li
						a(href='#') Virtual Camp
					li.active Daily Workouts
				h2 Daily Workouts
				p The Virtual Basketball Camp provides custom workouts, designed  by Klay and his trainer, Charlie Torres.  The workouts will challenge you, build your fitness and improve your shot. Complete the whole week, and you WILL see a difference.
				p Each morning during camp, Klay will send out the day's workouts.  There will be a description and video explaining exactly what needs to be accomplish. You will be notified both on your ShotTracker App and via email.
				p Once sent, you have 24 hours to complete the workout.
				p Through the ShotTracker Coach App, Klay can see all of the shooting statistics for each camper.  He'll have is eye on your workout results. If he likes what he sees, you might just get a shout out on social media during the week.

				p: small PS: You don't need a ShotTracker device to participate in the camp. You can count your shots and manually enter them into the ShotTracker Player App.  However, to be eligible for the leaderboard and camp prizes, you must complete your workouts using a ShotTracker device. Why? Because the device automatically tracks your shot attempts makes and misses and validates your stats. Plus, it's a lot more fun!
			.col-md-6
				img(src="images/phones.png", alt="")