/* set outline to check border of any object*/
.outline {
    outline: 1px dotted red;
}
/* ./ set outline to check border of any object*/






/* common styles for header and footer */

/* header */
.navbar-nav > li.active > a {
    font-weight: bold;
}
header .main-menu .navbar {
    border-radius: 0;
}
/* ./ header*/

/* footer */
.ft2 {
    background-color: #002056;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.footer .email-form > span {
    font-size: 18px;
    color: #fff;
    float: left;
}
.footer .email-form form input {
    height: 40px;
    color: #fff;
    font-size: 18px;
}
.footer .email-form form input:focus {
    color: #fff;
}
.footer .email-form form .submit {
    background: url(../img/tick.png) center no-repeat;
    color: #ed6700;
    width:40px;
}
.footer .email-form form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.502);
}
.footer .email-form form input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.502);
}
.footer .email-form form input:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.502);
}
.footer .email-form form input:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.502);
}

.footer-logo img {
    width: 100%;
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .footer-logo img {
    width: 20%;
    }
}

@media only screen and (min-width:300px) and (max-width:767px) {
    .footer-logo img {
    width: 30%;
    }
}
/* ./ footer */

/* ./ common styles for header and footer */






/* get started + learn */

/* vertical-tab-items */
.tab-item-container {
    margin-bottom: 30px;
}

.nav-pills > li > a {
    border-radius: 0px;
    font-family: 'QswaldLight';
    text-transform: uppercase;
    font-size: 1.2em;
    height: 55px;
    padding-top: 14px;
    padding-left: 70px;
    background-image: url(../img/3-small.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 6%
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    background-color: #676767;
    background-image: url(../img/3-small-invert.png);
}



.nav-pills > li.doc > a {
    background-position-x: 7.5%;
    background-image: url(../img/4-small-invert.png);
    /* this image should be changed to non-invert version when I get it*/
}

.nav-pills > li.active.doc > a, .nav-pills > li.active.doc > a:focus {
    background-color: #676767;
    background-image: url(../img/4-small-invert.png);
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .nav-pills > li > a {
        background-position-x: 4%
    }
}

@media only screen and (min-width:300px) and (max-width:767px) {
    .nav-pills > li > a {
        padding-left: 60px;
        background-position-x: 3%
    }
}
/* ./ vertical-tab-items */

/* video */
.resources .video-container {
    padding: 0px 0px 0px 0px;
}

.resources  .fluid-width-video-wrapper a.fancybox-media, .resources .fluid-width-video-wrapper a.fancybox-media {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 80%;
    z-index: 999;
    background: none;
    background: url(/img/bgpix.png) center no-repeat;
}
.resources  .fluid-width-video-wrapper a.fancybox-media:hover, .resources .fluid-width-video-wrapper a.fancybox-media:hover {
     background: url(/img/3.png) center no-repeat;
}

.resources .action-item {
    background:none;
    width: 100%;
    padding: 0 15px 15px 15px;
}

.action-item > div:first-child {
    padding: 20px;
    min-height: 350px;
}

.resources .action-item > div:last-child {
    font-family: 'QswaldLight';
    color: #083C81;
    font-size: 1.2em;
    padding: 15px 0px;
    text-transform: uppercase;
}

 @media (max-width: 992px) {
    .action-item > div:first-child {
        min-height: 300px;
    }
}
@media (max-width: 768px) {
    .resources .action-item, .resources .subrow .action-item {
        width: 100%;
    }

    .action-item > div:first-child {
        min-height: 180px;
    }
}
/* ./ video*/

/* text-content */
.tab-pane.definitions {
    margin-top: 0px;
}

.definitions h3 {
    color: #083F88;
    margin-top: 0px;
}
.definitions p > span {
    color: #083F88;
    text-decoration: underline;
    font-weight: bold;
}
/* ./ text-content */

/* ./ get started + learn */






/* questions */

/* search input*/
.resources .article input.search, .resources .customer-content input.search{
    float: right;
    background-color: #ebebeb;
    height: 54px;
    color: #aaaaaa;
    font-size: 18px;
    font-family: 'QuestrialRegular';
    width: 100%;
    border:solid 1px #ebebeb;
    padding: 0px 0px 0px 50px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 2%
}
/* ./ search input*/

/* accordion */
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #F5F5F5;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}

.panel-title {
    font-size: 1.7em;
    color: #0B2658;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #F5F5F5;
    font-family: 'QuestrialRegular';
    font-size: 1.1em;
}

.panel-body > h5 {
    color: inherit;
    font-family: 'QuestrialRegular';
    font-weight: bold;
    margin-bottom: 0.01em;
}

.panel-body > p {
    margin-top: 0.01em;
}

.panel-body ul > li {
    list-style-type: none;

}

.panel-body ul > li:before {
    content: "- ";
    margin-right: 10px;
}

.fa {
    float: right;
    color: #0B2658;
}
/* ./ accordion */

/* bottom inputs */
.resources .forms input.questions, .resources .forms textarea {
    float: right;
    background-color: #ebebeb;
    height: 54px;
    color: #808080;
    font-size: 22px;
    font-family: 'QswaldLight';
    width: 100%;
    border:solid 1px #ebebeb;
    padding: 0px 0px 0px 20px;
    margin: 5px 2px 5px 2px;
}

.resources .forms textarea {
    resize: none;
    height: 200px;
    padding: 20px 0px 0px 20px;
}

.resources .forms .questions-submit-button {
    float: right;
    margin: 5px 2px 5px 2px;
    padding: 10px 0px 10px 0px;
    background-color: #083C81;
    border: none;
    width: 230px;
    color: #fff;
    font-size: 22px;
    font-family: 'QswaldLight';
}

.hr-questions {
    border-top: 1px solid #0B2658;
    margin: 4.0em 0 4.0em 0;
}

.forms > .row > div > p {
    font-size: 1.4em;
}

.forms > .row > div.left-input {
    padding-right: 5px;
}

.forms > .row > div.right-input {
    padding-left: 5px;
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .forms > .row > div.left-input {
        padding-right: 15px;
    }

    .forms > .row > div.right-input {
        padding-left: 15px;
    }
}

@media only screen and (min-width:300px) and (max-width:767px) {
    .forms > .row > div.left-input {
        padding-right: 15px;
    }

    .forms > .row > div.right-input {
        padding-left: 15px;
    }
}
/* ./ bottom inputs */

.space {
    height: 300px;
}

/* ./ questions */