/*fonts*/
@font-face {
    font-family: 'Oswald';
    src: url(../css/fonts/oswald.regular.ttf);
}
@font-face {
    font-family: 'OswaldLight';
    src: url('fonts/oswald.light.eot');
    src: url('fonts/oswald.light.eot?#iefix') format('embedded-opentype'), url('fonts/oswald.light.woff') format('woff'), url('fonts/Oswald.light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlternateGotNo1D';
    src: url(../css/fonts/AlternateGotNo1D.ttf);
}

@font-face {
    font-family: 'AvenirRoman';
    src: url(../css/fonts/AvenirRoman.otf);
}

@font-face {
    font-family: 'AvenirLight';
    src: url(../css/fonts/AvenirLTStd-Light.otf);
}

@font-face {
    font-family: 'AvenirBlack';
    src: url(../css/fonts/AvenirLT95-Black.ttf);
}

@font-face {
    font-family: 'Questrial';
    src: url(../css/fonts/questrial-regular.ttf);
}
/*./fonts*/


/*Web Court View body*/
.webcourt {
    margin-top: 50px;
    margin-bottom: 100px;
}

.center-block {
    width: 1007px;
    outline: 0px solid red;
}

/*switch-sides button*/
.webcourt button {
    width: 150px;
    height: 35px;
    vertical-align: middle;
    border-radius: 0px;
    border: 1px solid #919191;
    margin-top: 30px;
    color: #919191;
}

.webcourt button {
    width: 150px;
    border-radius: 0px;
    border: 1px solid #919191;
    background-color: #fff;
}

.webcourt button > span {
    position: relative;
    left: 12px;
}

.webcourt button > span:before {
    content: "";
    background: url(../img/switch-sides.png) no-repeat;
    display: inline-block;  
    height: 20px;  
    width: 20px;
    position: absolute;
    left: -30px;
    top: 1px;
}
/*switch-sides button*/

/*svg*/
.webcourt svg > g > text {
    font-size: 16px;
}
/*.svg*/

/*no-session overlay*/
.no-session-wrapper {
    position: relative;
}

.no-session {
    position: absolute;
    width: 1007px;
    height: 538px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    display: visible; /*switch to none or visible to hide/show overlay*/
    z-index: 199;
}

.no-session > div {
    width: 280px;
    margin: 230px auto;
    background-color: rgba(255,255,255,.2);
    box-shadow: 0px 0px 40px rgba(0,0,0,.5);
    padding: 10px;
    font-family: 'Oswald';
    font-weight: 200;
    font-size: 1.5em;
    text-transform: uppercase;
}

.html-court {
    position: relative;
    overflow: hidden;
    background: url(../img/full_court.png) no-repeat;
    /*transform: scale(1, -1); //start coords like in geometry from left bottom*/
}

.html-court.vertical {
    transform: rotate(90deg);
    transform-origin: center center;
    background: url(../img/full_court_v.png) no-repeat;
}

.html-court .internal-court {
        width: 100%; height: 100%; position: relative; border: 1px solid black;
       /*transform: rotate(90deg);*/
}

.point {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: grey;
    text-align: center;
    overflow: hidden;
    vertical-align:middle;
}

.point.player {
    position: absolute;
}

.point.player span {
    color: #FFF;
    line-height: 30px;
}

.point.ball {
    width: 40px;
    height: 40px;
    background: url(../img/court_ball.png) no-repeat;
    background-size: cover;
    position: absolute;
}
/*./no-session overlay*/

/*livecourt*/

.livecourt.webcourt {
    margin-top: 10px;
    margin-bottom: 100px;
}

.livecourt.webcourt .court-header > div {
    width: 50%;
}

.livecourt.webcourt .court-header {
    margin-bottom: 5px;
}

.livecourt.webcourt .court-header .text-left {
    float: left;
}

.livecourt.webcourt .court-header .text-left span {
    font-size: 1.39em;
}

.livecourt.webcourt .court-header .text-right {
    float: right;
}

.livecourt.webcourt .court-header .text-right span {
    font-size: 2.0em;
    line-height: 0.9em;
    font-family: 'OswaldLight';
}

.livecourt.webcourt .html-court {
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    background: url(../img/full_court_no_baskets.png) no-repeat;
    background-size: 100%;
    /*transform: scale(1, -1); //start coords like in geometry from left bottom*/
}

.livecourt.webcourt .html-court .left-basket {
    position: absolute;
    left: 20px;
    top: 248px;
    width: 50px;
    height: 50px;
    background: url(../img/court-left-basket.png) no-repeat;
    background-size: 100%;
}

.livecourt.webcourt .html-court .right-basket {
    position: absolute;
    right: 20px;
    top: 248px;
    width: 50px;
    height: 50px;
    background: url(../img/court-right-basket.png) no-repeat;
    background-size: 100%;
}

.livecourt.webcourt .html-court .point.player {
    font-family: 'AlternateGotNo1D';
    width: 45px;
    height: 45px;
    border-radius: 45px;
}

.livecourt.webcourt .html-court .point.player.player-1 {
    background-color: #00FF00;
}

.livecourt.webcourt .html-court .point.player.player-2 {
    background-color: #0DDAFF;
}

.livecourt.webcourt .html-court .point.player span {
    line-height: 45px;
    font-size: 2.6em;
}

.livecourt.webcourt .html-court .point.ball {
    width: 58px;
    height: 58px;
}

.livecourt.webcourt .court-footer .team-wrapper {
    display: table;
    width: 42.1%;
    height: 100px;
    background-color: transparent;
}





.scrollable-items {
    position: relative;
}

.scrollable-items img {
    margin: 5px 0px 5px 5px;
    //   -webkit-filter: brightness(0.5);
}
.scrollable-items .gradient {
    
}
.scrollable-items .jersey-gradient {
    
}








.livecourt.webcourt .court-footer .team-wrapper table {
    width: 100%;
}

.livecourt.webcourt .court-footer .team-wrapper th,
.livecourt.webcourt .court-footer .team-wrapper td {
    width: 20%;
}

.livecourt.webcourt .court-footer .team-wrapper .player-wrapper {
    position: relative;
    padding: 0 4px;
}

.livecourt.webcourt .court-footer .team-wrapper .player-wrapper .gradient-wrapper {
    position: relative;
}

.livecourt.webcourt .court-footer .team-wrapper .player-wrapper .gradient-wrapper span.gradient {
    position: absolute;
    left: 0px;
    top: 27px;
    width: 100%;
    height: 50px;
    z-index: 10;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 29%, rgba(0, 0, 0, 0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(29%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 29%, rgba(0, 0, 0, 0.65) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 29%, rgba(0, 0, 0, 0.65) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 29%, rgba(0, 0, 0, 0.65) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0.9) 100%);
}


.livecourt.webcourt .court-footer .team-wrapper .player-wrapper span {
    position: absolute;
    z-index: 15;
    top: 50px;
    right: 7px;
    color: #fff;
    font-family: 'AlternateGotNo1D';
    font-size: 1.4em;
}

.livecourt.webcourt .court-footer .team-wrapper .player-wrapper span.team-1 {
    position: absolute;
    left: 5px;
    color: #00FF00;
}

.livecourt.webcourt .court-footer .team-wrapper .player-wrapper span.team-2 {
    position: absolute;
    left: 5px;
    color: #0DDAFF;
}

.livecourt.webcourt .court-footer .team-wrapper .player-wrapper .text-center span {
    position: static;
    font-family: 'AvenirRoman';
    font-size: 1.0em;
    line-height: 1.6em;
    color: #545454;
}

.livecourt.webcourt .court-footer .team-count {
    margin: 0 5px 0 6px;
    width: 14.7%;
}

.livecourt.webcourt .court-footer .team-count table,
.livecourt.webcourt .court-footer .team-count th,
.livecourt.webcourt .court-footer .team-count td {
    border: 1px solid gray;
}

.livecourt.webcourt .court-footer .team-count td {
    border-top: 0px solid gray;
    font-family: 'AlternateGotNo1D';
    font-size: 3.6em;
    line-height: 1.15em;
}

.livecourt.webcourt .court-footer .team-count table {
    width: 100%;
}

.livecourt.webcourt .court-footer .team-count th {
    height: 10px;
    border-bottom: 0px solid gray;
    color: #545454;
}

.livecourt.webcourt .court-footer .team-count th.team-1 {
    background-color: #00FF00;
}

.livecourt.webcourt .court-footer .team-count th.team-2 {
    background-color: #0DDAFF;
}

.livecourt.webcourt .court-footer .team-count th {
    width: 50%;
}
/*./livecourt*/

/*./Web Court View body*/

/*MISC*/
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}
/*./MISC*/