/*fonts*/
@font-face {
	font-family: 'Oswald';
	src: url(../css/fonts/oswald.regular.ttf);
	}
@font-face {
	font-family: 'AlternateGotNo1D';
	src: url(../css/fonts/AlternateGotNo1D.ttf);
	}
@font-face {
	font-family: 'Avenir Light';
	src: url(../css/fonts/AvenirLTStd-Light.otf);
	}
@font-face {
	font-family: 'Avenir Black';
	src: url(../css/fonts/AvenirLT95-Black.ttf);
	}
/*./fonts*/

body {
	color: #373B3F;
	font-family: 'Avenir Light';
	text-transform: uppercase;
	font-size: 2.2em;
}

/*header*/
header {
	text-align: center;
}

header h1 {
	font-family: 'AlternateGotNo1D';
	font-size: 5.15em;
	line-height: 1.1em;
	margin-bottom: 0;
}

header img.logo {
	width: 57.5%;
	margin: 75px 20px 0 35px;
}

@media (max-width: 768px) {
	header h1 {
		font-size: 2.5em;
		line-height: 1.1em;
	}

	header img.logo {
		width: 80%;
		margin: 10px 20px 10px 50px;
	}
}
/*./header*/

/*content*/
input, button {
	text-transform: uppercase;
	border: 0px solid #000;
	border-bottom: 2px solid #000;
	margin-bottom: 60px;
	border-radius: 0 !important;
}

section.content {
	padding-top: 60px;
	padding-left: 7.5%;
}

.btn-custom {
	line-height: 2.2em !important;
	font-size: 0.85em !important;
	font-weight: normal;
	width: 257px;
	border: 1px solid #000;
	background-color: #fff;
	color: #000;
}

.btn-custom:hover {
	font-family: 'Avenir Black';
}

.btn-custom.active, .btn-custom:active, .btn-custom:focus {
	background-color: #CFCDCD !important;
	color: #000 !important;
	box-shadow: 0 0 0 0.0rem rgba(108,117,125,.0) !important;
	font-family: 'Avenir Black';
}

input.input-name {
	width: 630px;
}

input.input-date {
	width: 280px;
	margin: 5px 60px 90px 0;
}

input.input-name, input.input-date {
	font-family: 'Avenir Black';
	font-size: 0.85em;
	line-height: 1.85em;
}

input.input-name:focus, input.input-date:focus {
	outline: none;
}

button.input-submit {
	margin-top: 45px;
	width: 385px;
	font-family: 'AlternateGotNo1D';
	font-size: 1.3em;
	line-height: 1.5em;
	background-color: #000;
}

button.input-submit:active, 
button.input-submit:focus {
	box-shadow: 0 0 0 0.0rem rgba(108,117,125,.0) !important;
}

@media (max-width: 768px) {
	.btn-custom {
		line-height: 1.6em !important;
		font-size: 0.65em !important;
		padding: 10px;
		width: 160px;
		margin: 0;
	}

	input.input-name {
		margin-top: 30px;
		width: 90%;
	}

	input.input-name, input.input-date {
		font-size: 0.75em;
		line-height: 1.65em;
		margin-bottom: 30px;
	}

	button.input-submit {
	margin-top: 35px;
	width: 90%;
	font-size: 1.2em;
	line-height: 1.5em;
}
}
/*./content*/

/*misc*/
.box-shadow-bottom {
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.vdp-datepicker {
    float: left;
}

.vdp-datepicker__calendar {
    width: 35% !important;
}

[v-cloak] {
    opacity: 0;
}

@media (min-width: 991px) {
	.left-align-desktop {
		text-align: left;
	}

	.right-align-desktop {
		text-align: right;
	}
}
/*/misc*/