/*fonts*/
@font-face {
    font-family: 'Oswald';
    src: url(../css/fonts/oswald.regular.ttf);
    }
@font-face {
    font-family: 'AlternateGotNo1D';
    src: url(../css/fonts/AlternateGotNo1D.ttf);
    }
@font-face {
    font-family: 'Avenir Light';
    src: url(../css/fonts/AvenirLTStd-Light.otf);
    }
@font-face {
    font-family: 'Avenir Black';
    src: url(../css/fonts/AvenirLT95-Black.ttf);
    }
@font-face {
    font-family: 'Questrial';
    src: url(../css/fonts/questrial-regular.ttf);
    }
/*./fonts*/

/* HEADER */

/*main logo*/
.navbar-brand > img {
    height: 58px;
    margin-top: 5px;
}
/*./main logo*/


/*main menu*/
.navbar {
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 0px;
}

.navbar-nav > li > a {
    margin-top: 25px;
    line-height: 15px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav > li > a > div , .navbar-nav > li > a > img, .navbar-nav > li > a > i {
    float: left;
}

.navbar-nav > li > a > div {
    width: 100px;
}

.signin-button {
    border: 1px solid #fff;
    background-color: #243D6A;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
}
/*/. main menu*/

/* ./ HEADER */




/* CONTENT */
h2 {
    font-family: 'AlternateGotNo1D';
    color: #0B2659;
    font-size: 55px;
    line-height: 1.2em;
    margin-top: 55px;
}

p {
    font-size: 18px;
    line-height: 1.2em;
    margin-bottom: 55px;
}

.all-content {
    margin-bottom: 200px;
}

/*video-container*/
.video-container > .fillWidth {     /* video */
    width: 675px;
    padding-top: 5px;
}

video::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
/*./video-container*/

/*forms*/
.form-block {
    text-align: right;
    padding-right: 15px;
}

.form-block > div {
    text-align: left;
}

.form-block > div > span {
    font-family: 'AlternateGotNo1D';
    color: #0B2659;
    font-size: 30px;
    line-height: 1.0em;
    text-transform: uppercase;
}

.form-block input {
    width: 100%;
    margin-bottom: 2px;
    padding: 5px 10px;
    font-size: 18px;
}

.form-block input::placeholder {
    text-transform: uppercase;
    
}

.form-block input[type="submit"] {
    width: 50%;
    height: 40px;
    border-width: 0px;
    text-transform: uppercase;
    font-size: 15px; 
    color: #5C5C5C;
    background-color: #E9E9E9;
    font-weight: bold;
    font-family: 'Avenir Black';
}

.form-block div > input[type="submit"] {
    width: 100%;
}

.form-block > form > div {
    padding: 0px;
}

.form-block > form > div.link {
    text-align: left;
    padding-top: 12px;
    padding-left: 10px;
}

.form-block > form > div > a {
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
    font-size: 13px;
    line-height: 1.0em;
    color: #787878;
    font-family: 'Avenir Light';
}

hr {
    margin-top: 60px;
    margin-bottom: 10px;
    margin-right: 15px;
    border-top: 1px solid #B7B7B7; 
}
/*./forms*/

/*save bar*/
.save-bar {
    padding: 11px 25px 11px 25px;
    text-transform: uppercase;
    background-color: rgba(211,211,211,0.90);
    color: #4C4C4C;
    position: absolute;
    top: 92px;
    left: 68%;
}
/*./save bar*/

/* ./ CONTENT */




/* FOOTER */
.footer-header {
    font-size: 30px;
    line-height: 0.7em;
    font-family: 'AlternateGotNo1D';
}

.footer-header, .footer-email, .footer-sn {
    margin-left: -75px;
}

.footer-email {
    font-size: 15px;
}

.footer-sn > img {
    margin-top: 10px;
    width: 145px;
}

.footer-bottom, .copyright {
    text-align: right;
}

.footer-bottom > a {
    font-size: 16px;
    text-decoration: underline;
    vertical-align: bottom;
    line-height: 1.36em;
}

.copyright {
    padding-top: 20px;
}

.copyright > span {
    font-size: 16px;
    line-height: 1.36em;
}
/* ./ FOOTER */