/* HEADER */

/*main logo*/
.navbar-brand > img {
    height: 40px;
    position: relative;
    right: 30px;
}
/*./main logo*/


/*main menu*/
.navbar {
    border-radius: 0px;
}

.navbar > .container {
    position: relative;
    right: -30px;
}

@media (max-width: 768px) {
    .navbar > .container {
        position: relative;
        right: 0px;
    }

    .navbar-brand > img {
        position: relative;
        right: 0px;
    }
}

.navbar-nav > li > a {
    line-height: 15px;
    text-align: right;
    padding: 0 auto;
}

.navbar-nav > li > a > div , .navbar-nav > li > a > img, .navbar-nav > li > a > i {
    float: left;
}

.navbar-nav > li > a > div {
    width: 100px;
}

.navbar-nav > li:last-child {
    position: relative;
    top: -5px;
}

.navbar-nav > li:last-child > a > img {
    margin-left: 5px;
    position: relative;
    top: -5px;
}

.navbar-nav > li:last-child > a > i {
    margin-left: 5px;
    position: relative;
    top: 7px;
}

.navbar-nav > li.dropdown > ul.dropdown-menu {
    color: #0D2857;
}
/*/. main menu*/

/* ./ HEADER */




/* CONTENT */

/*tab-header*/
.jumbotron {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 0px;
    background-color: #fff;
}

.teamapp > ...

.nav-pills {
    
}

.nav-pills > li > a, .nav-pills > li > a:focus, .nav-pills > li {
    text-transform: uppercase;
    border-radius: 0px;
    font-family: 'Oswald';
    font-weight: 100;   
}

.nav-pills > li > a, .nav-pills > li {
    color: #B0B0B0; 
    background-color: #fff;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li {
    color: orange; 
    background-color: #fff;
}

.nav-pills > li > a:active, .nav-pills > li {
    color: #0D2857; 
    background-color: #fff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    text-transform: uppercase;
    color: #032A70;
    background-color: #fff;
    font-weight: 400;
}
/*./ tab-header*/
    
.tab-buttons {
    z-index: 10;
}

/*radio-buttons*/
.radios-as-buttons div {
    float: left;
}
.radios-as-buttons input, .buttons input {
    position: absolute;
    left: -9999px;
}
.radios-as-buttons label, .buttons label {
    font-family: 'Oswald';
    font-weight: 100;
    display: inline-block;
    margin: 15px 0 15px -4px;
    padding: 5px 10px;
    width: 100px;
    text-align: center;
    color: #707070;
    border: 1px solid #707070;
    cursor: pointer;
    position: relative;
    left: -11px;
}
.radios-as-buttons input:checked + label {
    background: #032A70;
    color: #fff;
}
/*./ radio-buttons*/

/*plain buttons*/
.export {
    text-align: right;
    position: relative;
    left: 26px;
}

.filter {
    text-align: center;
    position: relative;
    left: 21px;
}

@media (max-width: 991px) {
    .filter, .export {
        text-align: left;
        position: relative;
        left: 0px;
    }
}
/*./ plain buttons*/

.table-sup-title > p {
    text-transform: uppercase;
    text-align: center;
    color: #707070;
}

.table-sup-title {
    min-height: 100px;
    z-index: 1;
}

/*table BOX-STATS*/
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #707070;
}

.table-main > table {
    width: 100%;
    text-align: center;
    border-top: 1px solid #707070;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.table-main > table > thead > tr > th {
    width: 60px;
    text-align: center;
    color: rgba(255,255,255,0.7);
    background: #616161;
    font-weight: 100;
    vertical-align: middle;
    padding: 0px;
}

.table-main > table > thead > tr > th:hover {
    color: rgba(255,255,255,1);
}  

.table-main > table > tbody > tr > td {
    padding-top: 25px;
    line-height: 0.9em;
    font-family: 'Oswald';
    font-weight: 100;
    vertical-align: middle;
    padding: 0px;
} 

.table-main > table > tbody > tr > td:nth-child(2) {
    padding-top: 10px;
    padding-left: 10px;
    background: #DDDDDD;
    text-align: left;
}

.table-main > table > tbody > tr:nth-child(odd) > td:nth-child(2) {
    background: #D5D5D5;
}

/*team-name-cell*/
.table-main > table > tbody > tr:nth-child(1) > td:nth-child(2) {
    color: #032A70;
    font-weight: 400;
}

.table-main > table > tbody > tr:nth-child(1) > td:nth-child(2) > p:last-child {
    color: #707070;
    font-weight: 500;
    font-family: 'Questrial';
    font-size: 0.8em;
}
/*/. team-name-cell*/

/*player-name-cell*/
.table-main > table > tbody > tr > td > p {
    margin-bottom: 5px;
} 

.table-main > table > tbody > tr > td > img {
    width: 100%;
} 

.sub-table-header {
    width: 100%;
}

.table-main > table > tbody > tr > td:nth-child(2) > div:first-child {
    width: 25px;
    float: left;
    padding-right: 5px;
    color: #032A70;
    font-size: 1.1em;
}

.table-main > table > tbody > tr > td:nth-child(2) > div:last-child {
    width: 100px;
    float: left;
    font-family: 'Questrial';
    font-weight: 600;
    position: relative;
    top: -2px;
}

.table-main > table > tbody > tr > td:nth-child(2) > div:last-child > p:first-child {
    margin-bottom: 3px;
}

.table-main > table > tbody > tr > td:nth-child(2) > div:last-child > p:last-child {
    text-transform: none;
    font-weight: normal;
}
/*./ player-name-cell*/

/*scrollable table-container UPDATE*/
.intable {
    margin-bottom: 0px;
}

.scrollable-container {
    height: 806px;
    overflow-y: scroll;
    z-index: 20;
    background: #F8F8F8;
    padding: 0px;
    width: 100%;
}

.scrollable-container > table > thead > tr:nth-child(1) > th {
    text-align: center;
    font-weight: 100;
    padding: 0px;
    vertical-align: middle;
    width: 60px;
    border-width: 0px;
    border-bottom: 1px solid #4d4d4d;
    border-left: 1px solid #4d4d4d;
}

.table-main.charts table.intable > tbody > tr:nth-child(1) > th:first-child {
    border-left: 0px solid #4d4d4d;
}

.scrollable-container > table > thead > tr:nth-child(1) > th > img {
    width: 100%;
}

.scrollable-container > table > thead > tr:nth-child(1) > th:nth-child(1) {
    width: 75px;
}

.scrollable-container > table > tbody > tr > td {
    padding: 0px;
    vertical-align: middle;
    border-width: 0px;
    border-bottom: 1px solid #4d4d4d;
    border-left: 1px solid #4d4d4d;
}

.scrollable-container > table > tbody > tr:last-child > td {
    border-bottom: 0px solid #4d4d4d;
}

.scrollable-container > table > tbody > tr > td:first-child {
    border-left: 0px solid #4d4d4d;
}

.scrollable-container > table > tbody > tr > td > img {
    width: 100%;
}

/*BOX STATS*/
.scrollable-container.box-stats > table > thead > tr:nth-child(1) > th:nth-child(2) {
    width: 165px;
    background-color: #D5D5D4;
    color: #032A70;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    padding-top: 4px;
    line-height: 1.0em; 
}

.scrollable-container.box-stats > table > thead > tr:nth-child(1) > th:nth-child(2) > span:last-child {
    color: #707070;
    font-weight: 500;
    font-family: 'Questrial';
    font-size: 0.8em;
}

.scrollable-container.box-stats > table > tbody > tr:nth-child(odd) > td:nth-child(2) {
    background-color: #DDDDDD;
}

.scrollable-container.box-stats > table > tbody > tr:nth-child(even) > td:nth-child(2) {
    background-color: #D5D5D5;
}

.scrollable-container.box-stats > table > tbody > tr:nth-child(odd) > td:nth-child(2),
.scrollable-container.box-stats > table > tbody > tr:nth-child(even) > td:nth-child(2) {
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
}

.scrollable-container.box-stats > table > tbody > tr > td:nth-child(2) > div:first-child {
    width: 25px;
    float: left;
    padding-right: 5px;
    color: #032A70;
    font-size: 1.1em;
    position: relative;
    top: -5px;
}

.scrollable-container.box-stats > table > tbody > tr > td:nth-child(2) > div:last-child {
    width: 100px;
    float: left;
    font-family: 'Questrial';
    font-weight: 600;
    position: relative;
    top: -4px;
    line-height: 1.0em;
}

.scrollable-container.box-stats > table > tbody > tr > td:nth-child(2) > div:last-child > span:last-child {
    text-transform: none;
    font-weight: normal;
}
/*./BOX STATS*/

/*CHARTS*/

/*./CHARTS*/

/*LINEUPS*/
.scrollable-container.lineup {
    height: 459px;
}

.scrollable-container.lineup > table > tbody > tr > td {
    width: 81px;
}

.scrollable-container.lineup > table > tbody > tr > td:first-child {
    background-color: #DDDDDD;
    text-align: center;
}

.scrollable-container.lineup > table > tbody > tr > td > div {
    width: 240px;
    height: 50px;
    overflow-x: scroll;
}

.scrollable-container.lineup .scrollable-items {
	overflow-y:hidden;
}

.scrollable-container.lineup .scrollable-items .scrollable-item{
	width:40px;
	 white-space: nowrap;
	 float:left;
	 margin:0px 2px;
}
.scrollable-container.lineup .scrollable-items a {
	position:relative;
}
.scrollable-container.lineup .scrollable-items span {
    position: absolute;
    left: 7px;
    top: 10px;
    font-family: "Avenir";
    font-size: 1.2em;
    color: #fff;
}


.scrollable-container.lineup .scrollable-items img {
    margin: 5px 0px 5px 5px;
}

.scrollable-container.lineup > table > tbody > tr > td > div > a:last-child > img {
    margin-right: 5px;
}
/*./LINEUPS*/
/*./scrollable table-container UPDATE*/

/*./ table BOX-STATS*/

/* table CHARTS*/
.table-main.charts > table {
    position: relative;
    z-index: 10;
    height: 826px;
}

.table-main.charts > table > thead > tr > th:nth-child(1) {
    width: 21%;
    font-size: 0.8em;
    padding-top: 3px;
}

.table-main.charts > table > thead > tr > th:nth-child(2), .table-main.charts > table > tbody > tr > td:nth-child(2) {
    background: #F8F8F8;
    padding: 0px;
}

.table-main.charts > table > tbody > tr > td:nth-child(1) > div,
.table-main.charts > table > tbody > tr > td:nth-child(2) > div {
    overflow-y: scroll;
    z-index: 20;
    background: #F8F8F8;
    width: 100%;
}

.table-main.charts > table > tbody > tr > td:nth-child(1) > div {
    height: 800px;
    //position: absolute;
    top: 0px;
    padding: 0px;
    width: 100%;
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div {
    height: 800px;
    position: absolute;
    //top: -21px;

    padding: 5px;
    width: 100%;
    font-size: 1.0em;
}

::-webkit-scrollbar { 
    display: none; 
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .intable {
    width: 100%;
    margin-bottom: 22px;
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .intable > tbody > tr > td {
    border: 1px solid #F8F8F8;
    text-align: center;
    vertical-align: bottom;
    background: #F8F8F8;
    font-family: 'Questrial';
    font-weight: 100;
    padding: 3px;
    color: #4d4d4d;
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .intable > tbody > tr > td > p {
    margin-bottom: 4px;
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .intable > tbody > tr:first-child > td:first-child {
    vertical-align: middle;
}

/*players list section*/
.table-main.charts table.intable {  
    width: 100%;
}

.table-main.charts table.intable img {
    width: 100%;
}

.table-main.charts table.intable > tbody > tr > td {
    width: 40px;
    height: 50px;
    border-width: 0px;
    border: none none;
    border-bottom: 1px solid #4d4d4d;
    border-left: 1px solid #4d4d4d;
}

.table-main.charts table.intable > tbody > tr:last-child > td {
    border-bottom: 0px solid #4d4d4d;
}

.table-main.charts table.intable > tbody > tr > td:first-child {
    border-left: 0px solid #4d4d4d;
}

.table-main.charts table.players > tbody > tr:nth-child(1) > td:nth-child(2) {
    background-color: #D5D5D4;
    color: #032A70;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    padding-top: 4px;
    line-height: 1.0em;
}

.table-main.charts table.players > tbody > tr:nth-child(1) > td:nth-child(2) > span:nth-child(3) {
    color: #707070;
    font-weight: 500;
    font-family: 'Questrial';
    font-size: 0.8em;
}

.table-main.charts table.players > tbody > tr:nth-child(odd) > td:nth-child(2), 
.table-main.charts table.players > tbody > tr:nth-child(even) > td:nth-child(2) {
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
}

.table-main.charts table.players > tbody > tr:nth-child(odd) > td:nth-child(2) {
    background-color: #DDDDDD;
}

.table-main.charts table.players > tbody > tr:nth-child(even) > td:nth-child(2) {
    background-color: #D5D5D5;
}

.table-main.charts table.players > tbody > tr > td {
    padding: 0px;
    vertical-align: middle;
}

.table-main.charts table.players > tbody > tr > td:nth-child(2) > div:first-child {
    width: 25px;
    float: left;
    padding-right: 5px;
    color: #032A70;
    font-size: 1.1em;
}

.table-main.charts table.players > tbody > tr > td:nth-child(2) > div:last-child {
    width: 100px;
    float: left;
    font-family: 'Questrial';
    font-weight: 600;
    position: relative;
    top: -4px;
    line-height: 1.0em;
}

.table-main.charts table.players > tbody > tr > td:nth-child(2) > div:last-child > span:last-child {
    text-transform: none;
    font-weight: normal;
}
/*players list section*/

/*diagramm table sets*/
.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .intable > tbody > tr:first-child > td.ttl-cell > p { 
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 1.25em;
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .intable > tbody > tr:first-child > td.ttl-cell > p:nth-child(1) {
    font-size: 3.0em;
    font-family: 'Oswald';
}
/*./ diagramm table sets*/

/* circle diagramms*/
.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .intable > tbody > tr > td > svg {
    text-align: center;
    position: relative;
    left: 2px;
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .intable > tbody > tr > td > svg, circle {
    transform-origin: 50% 50%;
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .intable > tbody > tr > td > svg, text {
    font-family: 'Oswald';
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .intable > tbody > tr > td > svg > tspan, text > tspan {
    font-size: 0.5em;
}
/*./ circle diagramms*/

/*inline stats row*/
.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .inline-stats > tbody > tr > td > p:first-child, 
.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .zone-shot > tbody > tr > td > p:last-child {
    font-size: 1.7em;
    font-family: 'Oswald';
}
/*./ inline stats row*/

/*zone-shot section*/
.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .zone-shot > tbody > tr > td > div {
    margin-left: 10px;
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .zone-shot > tbody > tr > td > div > .nav-pills > li {
    border: 1px solid #515151;
    font-size: 1.25em;
    width: 200px;
}
.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .zone-shot > tbody > tr > td > div > .nav-pills > li> a {
    color: #515151;
    font-weight: 100;
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .zone-shot > tbody > tr > td > div > .nav-pills > li.active > a,
.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .zone-shot > tbody > tr > td > div > .nav-pills > li:focus > a {
    background: #515151;
    color: #fff;
    
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .zone-shot > tbody > tr > td > div > .nav-pills > li.active:hover > a {
    color: orange;
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .zone-shot > tbody > tr > td > div > .nav-pills > li:hover > a {
    color: orange;
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .zone-shot > tbody > tr > td > p {
    text-align: center;
}

.table-main.charts > table > tbody > tr > td:nth-child(2) > div > .svg-section > tbody > tr > td > div.tab-content > div.tab-pane > div > img {
    width: 100%;
    margin-bottom: 15px;
}
/*./ zone-shot section*/

/*./ table CHARTS*/

/* table LINEUPS*/
.table-main.lineups > table > thead > tr > th:first-child {
    font-size: 0.8em;
    padding-top: 2px;
}

.table-main.lineups > table > thead > tr > th {
    width: 60px;
}

.table-main.lineups > table > thead > tr > th:first-child {
    width: 180px;
}

.table-main.lineups > table > thead > tr > th > p {
    margin: 7px 0 7px 0;
    line-height: 0.40em;
    font-size: 0.8em;
}

.table-main.lineups > table > tbody > tr > td:nth-child(2) {
    padding-top: 5px;
    padding-left: 5px;
    background: inherit;
    text-align: inherit;
}

.table-main.lineups > table > tbody > tr:nth-child(odd) > td:nth-child(2) {
    background: inherit;
}

.table-main.lineups > table > tbody > tr > td:nth-child(1) {
    background: #DDDDDD;
}

.table-main.lineups > table > tbody > tr > td:nth-child(1) > a > img {
    float: left;
    margin: 5px 0 5px 5px;
}

/*team-name-cell lineups*/
.table-main.lineups > table > tbody > tr:nth-child(1) > td:nth-child(2) {
    color: inherit;
    font-weight: 100;
}

.table-main.lineups > table > tbody > tr:nth-child(1) > td:nth-child(2) > p:last-child {
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
}
/*/. team-name-cell lineups*/

/*player-name-cell lineups*/
.table-main.lineups > table > tbody > tr > td > p {
    margin-bottom: inherit;
} 

.table-main.lineups > table > tbody > tr > td > img {
    width: inherit;
} 

.table-main.lineups > table > tbody > tr > td:nth-child(2) > div:first-child {
    width: inherit;
    float: inherit;
    padding-right: inherit;
    color: inherit;
    font-size: inherit;
}

.table-main.lineups > table > tbody > tr > td:nth-child(2) > div:last-child {
    width: inherit;
    float: inherit;
    font-family: inherit;
    font-weight: inherit;
    position: inherit;
    top: inherit;
}

.table-main.lineups > table > tbody > tr > td:nth-child(2) > div:last-child > p:first-child {
    margin-bottom: inherit;
}

.table-main.lineups > table > tbody > tr > td:nth-child(2) > div:last-child > p:last-child {
    text-transform: inherit;
    font-weight: inherit;
}
/*./ player-name-cell lineups*/

/*./ table LINEUPS*/

/* ./ CONTENT */




/* FOOTER */

.footer-logo > img {
    width: 85%;
    margin-bottom: 10px;
}

@media (max-width: 991px) and (min-width: 480px) {
    .footer-logo > img {
        width: 35%;
    }
}

@media (max-width: 479px) and (min-width: 300px) {
    .footer-logo > img {
        width: 50%;
    }
}

.footerbottom {
    margin-top: 10px;
}

a.footer-logo > img {
    margin-bottom: 10px;
}

.footer-sn, .footer-bottom {
    text-align: right;
}

.footer-sn > a > img {
    margin-bottom: 10px;
}

.footer-bottom > p > a {
    text-decoration: underline;
}

/* ./ FOOTER */




/* SIGNIN */

body.signin > .container {
    margin-top: 13%;
}

body.signin, body.signin > .container > .row > div {
    background: #032A70;
    color: #fff;
    text-align: center;
}

body.signin, body.signin > .container > .row > div > img {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    right: -4px;
}

body.signin > .container > .row > div > form > input {
    background: #1A406E;
    color: #fff;
    width: 100%;
    margin: 5px;
    padding: 10px 15px 10px 15px;
    font-family: 'Oswald';
    font-weight: 100;
    border-width: 1px;
}

body.signin > .container > .row > div > form > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 1.0);
}
body.signin > .container > .row > div > form > input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 1.0);
}
body.signin > .container > .row > div > form > input:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 1.0);
}
body.signin > .container > .row > div > form > input:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 1.0);
}

body.signin > .container > .row > div > form > input.signin-submit-button {
    color: #032A70;
    background: #fff;
}

body.signin > .container > .row > div > form > input.signin-submit-button:active {
    background: lightgray;
}

body.signin > .container > .row > div > ul, body.signin > .container > .row > div > ul > li {
    list-style-type: none;
    font-family: 'Questrial';
    text-transform: uppercase;
    padding: 15px 0px 15px 0px;
}

body.signin > .container > .row > div > ul > li:hover > a {
    text-decoration: none;
}

body.signin > .container > .row > div > div {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 109px;
    vertical-align: middle;
}

body.signin > .container > .row > div > div > a {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 100;
    color: #fff;
    padding-left: 5px;
    font-size: 1.5em;
    text-decoration: none;
}

body.signin > .container > .row > div > div > a:hover {
    text-decoration: none;
    color: #F6713F;
}

body.signin > .container > .row > div > div > a > span {
    position: relative;
    top: -3px;
}

/*./ SIGNIN */




/* MODAL */
.modal-body {
    padding: 0px;
}

.modal-content {
    border-radius: 0px;
    border-width: 0px;
    position: relative;
    top: 100px;
    font-family: 'Oswald';
    font-weight: 100;
    text-transform: uppercase;
    height: 594px;
}

.modal-content > .modal-header {
    background: #434343;
    color: #fff;
    border: 0px;
}

.filter-sidebar {
    width: 30%;
    float: left;
    height: 500px;
    background: #F0F0F0;
}

.filter-sidebar > ul.nav-pills > li {
    margin: 0px;
}

.filter-sidebar > ul.nav-pills > li > a {
    color: #434343;
    background: #F0F0F0;
    border-bottom: 1px solid #9E9E9E;
}

.filter-sidebar > ul.nav-pills > li.active > a {
    background: #DFDFDF;
    color: #434343;
}

.filter-content {
    width: 70%;
    float: right;
    height: 500px;
    font-family: 'Questrial';
}

.filter-content > .tab-pane > .subheader {
    background: #9E9E9E;
    color: #434343;
    padding: 4px 15px 4px 15px;
    font-weight: bold;
    font-size: 0.95em;
}

.filter-content > .tab-pane > .subcontent {
    padding-top: 15px;
    padding-bottom: 50px;
}

/*update-button*/
.modal-body > div:nth-child(3) {
    clear: both;
}

.modal-body > div:nth-child(3) > button {
    width: 30%;
    border-radius: 0px;
    border: 0px;
    background: #032A70;
    color: #fff;
    padding: 10px;
}

.modal-body > div:nth-child(3) > button:hover {
    color: #F6713F;
}
/*./ update-button*/

/*radio-buttons*/
.subcontent > form > input {
    margin: 10px 5px 5px 15px;
    border: 0px;
    background: #EDEDED;
    border-radius: 0px;
    padding: 7px 10px 7px 10px;
    font-size: 0.82em;
    text-transform: uppercase;
}

.wide-input {
    width: 150px;
}

.subcontent > form > label {
    margin: 5px 25px 5px 25px;
    color: #231F20;
}

.subcontent > form > input[type="text"] {
    position: relative;
    left: -35px;
}

#drill-5 {
    width: 200px;
}

.subcontent > form > span {
    position: relative;
    left: -30px;
}

.subcontent > form > input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 26px;
    width: 26px;
    margin: 0 9px -9px 0;
    background-image: url(../img/radio-unchecked.png);
    background-repeat: no-repeat;
}

.subcontent > form > input[type="radio"]:checked + label::before {

    background-image: url(../img/radio-checked.png);
    background-repeat: no-repeat;
}
/*./ radio-buttons*/

/*accordion*/
.filter-content > .tab-pane > .accordion h4 > a > span:first-child {
    color: #434343;
}

.filter-content > .tab-pane > .accordion  div.active {
    background: #A0A0A0;
    color: #fff;
    border-radius: 0px;
    border-width: 0px;
}

.filter-content > .tab-pane > .accordion  div.active > h4 > a > span:first-child {
    color: #fff;
}

.filter-content > .tab-pane > .accordion > div > div {
    border-radius: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.filter-content > .tab-pane > .accordion > div > div:first-child {
    border-top-width: 0px;
}

.filter-content > .tab-pane > .accordion > div > div:nth-child(2) {
    position: relative;
    bottom: 6px;
}

.filter-content > .tab-pane > .accordion > div > div:nth-child(3) {
    position: relative;
    bottom: 12px;
}

.filter-content > .tab-pane > .accordion > div > div > div > h4, 
.filter-content > .tab-pane > .accordion  h4 > a {
    font-family: 'Questrial';
    font-size: 0.95em;
    text-decoration: none;
}

.filter-content > .tab-pane > .accordion  h4 > a:hover {
    text-decoration: none;
    color: #F6713F;
}

.filter-content > .tab-pane > .accordion > div > div > div > div  {
    padding: 0px 0px 0px 25px;
    border-bottom: 1px solid #000;
}

.filter-content > .tab-pane > .accordion table {
    margin: 0px;
}

.filter-content > .tab-pane > .accordion  table > thead > tr > th, 
.filter-content > .tab-pane > .accordion  table > tbody > tr > th, 
.filter-content > .tab-pane > .accordion  table > tfoot > tr > th, 
.filter-content > .tab-pane > .accordion  table > thead > tr > td, 
.filter-content > .tab-pane > .accordion  table > tbody > tr > td, 
.filter-content > .tab-pane > .accordion  table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 0px solid #000;
    border-bottom: 1px solid #000;
}

.filter-content > .tab-pane > .accordion   table > tbody > tr:last-child > td {
    border-bottom: 0px solid #000;
}

.filter-content > .tab-pane > .accordion  table > tbody > tr > td:first-child {
    text-align: left;
    padding-left: 0px;
    font-family: 'Oswald';
    font-size: 1.2em;
    color: #434343;
}

.filter-content > .tab-pane > .accordion  table > tbody > tr > td:nth-child(2) {
    text-align: left;
    padding-left: 0px;
    text-transform: none;
}

.filter-content > .tab-pane > .accordion  table > tbody > tr > td:nth-child(3) {
    position: relative;
    width: 50px;;
}


.filter-content > .tab-pane > .accordion > div > div > div:nth-child(2) > div > table > tr > td:nth-child(1){
    font-family: 'Oswald';
}

.filter-content > .tab-pane > .accordion > div > div > div > h4 > a > span:nth-child(1) {
    font-size: 1.2em;
}


.filter-content > .tab-pane > .accordion  h4 > a > span:nth-child(2),
.filter-content > .tab-pane > .accordion  h4 > a > img {
    position: relative;
    left: 190px;
}

/*Section below MUST BE REMOVED at once SVG chart styles complete*/

 .map-content {
    height: 367px;
    width: 100%;
    float: left;
}

.map-dot-details {
    position: absolute;
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid #ddd;
    margin-top: -38px;
    width: 120px;
    padding: 7px;
    margin-left: -42px;
    display: none;
}
.map-dot-details::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 20px 0 20px;
    border-color: rgba(255, 255, 255, .8) transparent transparent transparent;
    left: 38px;
}
.map-dot8 .map-dot-details {
    display: block;
}
 .map-dots {
    position: static;
    color: #222;
}
 .map-dot {
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 50%;
    font-family: 'QswaldLight';
    font-size: 18px;
    color: #585858;
}
 .map-dot1 {
    background-color: #d12626;
    top: 155px;
    left: 10%;
}
 .map-dot2 {
    background-color: #d12626;
    top: 30px;
    left: 25.5%;
}
 .map-dot3 {
    background-color: #d12626;
    top: 155px;
    left: 28.5%;
}
.map-dot4 {
    background-color: #d12626;
    top: 155px;
    left: 46%;
}
.map-dot5 {
    background-color: #d12626;
    top: 155px;
    right: 31.5%;
}
 .map-dot6 {
    background-color: #d12626;
    top: 30px;
    right: 27.5%;
}
.map-dot7 {
    background-color: #d12626;
    top: 155px;
    right: 10%;
}
 .map-dot8 {
    background-color: #d12626;
    top: 295px;
    left: 46%;
}
/*END CPORT DOTS STYLES*/


  .main-menu .navbar {
                border-bottom: none;
            }
            .subcontent > form > span {
               left: 0px !important;
            }
            .history-body{
                height: 530px;
                overflow: hidden;
                overflow-y: scroll;
            }
            .table-main table th{
                cursor: pointer;
            }


/*./ accordion*/

/*./ MODAL */