/*CHARTS*/
.table-main.charts > table > thead > tr > th:nth-child(1) {
    background-color: #fff;
    color: #0D2857;
    width: 22%;
    padding: 0px;
    font-family: 'Oswald';
    text-align: left;
    font-size: 15px;
    line-height: 1.01em;
}

.table-main.charts > table > thead > tr > th:nth-child(1) > div {
    margin: 10px;
}

.table-main.charts > table > thead > tr > th:nth-child(1) > div > span::after {
    content: '';
    background-image: url(../img/arrow-down.png);
    display: block;
    position: absolute;
    left: 215px;
    bottom: 7px;
    width: 14px;
    height: 8px;
}

.table-scrolled-content {
    margin-top: -34px; /*ugly but works*/
    background-color: #F5F5F5; 
}

.table-responsive {
    position: relative;
}

.round-vs {
    font-weight: 100;
    font-size: 1.4em;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 340px;
    left: 420px;
    color: #CCCDCD;
    background-color: #313131;
    border-radius: 50%;
    text-align: center;
    padding-top: 19px;
}

.zonemap-quarter {
    padding: 0px 30px 20px 30px;
    background-color: #F5F5F5; 
}

.zonechart-player-details {
    width: 100%;
    color: #636363;
    font-weight: 200;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
    font-size: 0.9em;
}

.zonechart-player-details tr:first-child {
    font-family: 'Oswald';
    font-size: 1.2em;
}

.zonechart-player-details tr td {
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
}

.zonechart-player-details tr td > div {
    height: 45px;
}

.zonechart-player-details tr td > div > img {
    width: 100%;
}

.zonechart-player-details tr:first-child > td:first-child {
    width: 45px;
    padding-left: 0px;
}

.zonechart-player-details .pull-left {
    padding-left: 5px;
    padding-top: 2px;
}

.tab-content div > img {
    margin-bottom: 5px;
}

.table-main.charts .intable svg, text {
    font-weight: 100;
}
/*./CHARTS*/

/*LINEUPS*/
.lineup-table tr {
    height: 50px;
}

.scrollable-items {
    width: 250px;
    height: 52px;
}

.scrollable-item  {
    margin: 5px;
}

.owl-theme .owl-controls .owl-page {
    display: none;
}

.scrollable-items span {
    position: absolute;
    left: 3px;
    top: 25px;
    font-family: "Avenir";
    font-size: 1.2em;
    color: #fff;
}

.lineups-diagram-table {
    width: 97.5%;
    margin: 10px;
}

.lineups-diagram-table th > div {
    float: left;
    vertical-align: middle;
    height: 30px;
}

.lineups-diagram-table th span {
    font-family: 'Oswald';
    font-weight: 200;
    font-size: 0.9em;
    color: #636363;
    margin-left: 5px;
}
/*
.lineups-diagram-table th:nth-child(2) {
    width: 30%;
}*/

.lineups-diagram-table table svg {
    margin-left: 10px;
}

.table-main.charts table.intable > tbody > tr > td {
    border-bottom: 0px solid #4d4d4d;
    border-left: 0px solid #4d4d4d;
    background-color: #F5F5F5;
    text-align: center;
    color: #636363;
    font-weight: 500;
    line-height: 1.0em;
    font-size: 0.8em;
}

table.lineup-diagram > tbody > tr > td > span:first-child {
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 1.2em;
}
/*
table.lineup-lined-diagram {
    width: 100%;
}*/

table.lined-diagram {
    margin: 0 0px 0px 0; 
    padding: 0;
    width: 350px;
    background: #f4f4f4;
}

table.lined-diagram td {
    text-align: right;
}

table.lined-diagram td > span {
    text-transform: uppercase; 
    color: #424242; 
    margin: 0;
    margin-right: 5px;
    font-size: 15px;
}

            table.lined-diagram td > span.description {
                top:5px;
            }


table.lined-diagram td > ul {
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
}

table.lined-diagram td > ul > li {
    margin: 7px 0 0px 0;
    padding: 0;
    background: #dfdfdf;
    color: #fff;
    text-align: left;
}

table.lined-diagram td > ul > li > div {
    width: 50%;
    background: #00326f;
    margin: 0px;
    padding: 10px 0px 12px 5px;
}
            table.lined-diagram td > ul > li > div >span{
                position: absolute;
                top:7px;
                padding-left: 5px;
            }

table.lined-diagram td > ul > li > div.line-1 {
    width: 30%;
}

table.lined-diagram td > ul > li > div.line-2 {
    width: 40%;
}

table.lined-diagram td > ul > li > div.line-3 {
    width: 50%;
}

table.lined-diagram td > ul > li > div.line-4 {
    width: 60%;
}

table.lined-diagram td > ul > li > div.line-5 {
    width: 70%;
}

/*./LINEUPS*/

/*vertical align fixed*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/*./vertical align fixed*/

/*font size fixed*/
.table-compare table.intable.players > tbody > tr > td {
   font-size: 1em;
}
/*./font size fixed*/