doctype html
//
<!--[if lt IE 9]><html class="IE-fix"><![endif]-->
<!--[if gt IE 8]><!-->
html(class="no-js" class="no-js")<!--<![endif]-->
	include part/_head.jade
	body
		.all
			// header
			include part/_header.jade
			include part/_confirm.jade
			// ./header
			// parallax
			include part/_parallax.jade
			// ./ parralax
			// buy now
			include part/_buynow.jade
			// ./ buy now
			// details
			include part/_details.jade
			// ./ details
			// experience
			include part/_experience.jade
			// ./ experience
			// season
			include part/_season.jade
			// ./ season
			// questions
			include part/_questions.jade
			// ./ questions

			// footer
			include part/_footer.jade
			// ./footer

		// modals
		include part/_modals.jade
		// ./ modals

		// scripts
		include part/_scripts.jade
		// ./ scripts