doctype html
//
<!--[if lt IE 9]><html class="IE-fix"><![endif]-->
<!--[if gt IE 8]><!-->
html(class="no-js" class="no-js")<!--<![endif]-->
	include part/_head.jade
	body
		.all
			// header
			include part/_header2.jade
			// ./ header
			// content
			include part/_leaderboard2.jade
			// ./ content
			// footer
			include part/_footer.jade
			// ./ footer

		// modals
		include part/_modals.jade
		// ./ modals

		// scripts
		include part/_scripts.jade
		// ./ scripts