doctype html
//
<!--[if lt IE 9]><html class="IE-fix"><![endif]-->
<!--[if gt IE 8]><!-->
html(class="no-js" class="no-js")<!--<![endif]-->
	include part/_head.jade
	body
		.all
			// header
			include part/_header4.jade
			// ./header
			// postcamp
			include part/_postcamp.jade
			// ./postcamp
			// footer
			include part/_footer2.jade
			// ./footer

		// modals
		include part/_modals.jade
		// ./ modals

		// scripts
		include part/_scripts.jade
		// ./ scripts