.customer-content{
    min-height: 461px;
    padding-bottom: 120px;
}


/* header */
.navbar-nav > li.active > a {
    font-weight: bold;
}
header .main-menu .navbar {
    border-radius: 0;
}
/* ./ header*/

/* get started + learn */

/* vertical-tab-items */
.tab-item-container {
    margin-bottom: 30px;
}

ul.nav.nav-pills.nav-stacked{
    background-color: #ebebeb;
    min-height: 500px;
}
ul.nav.nav-pills.nav-stacked li{
    border-bottom: 1px #676767 solid;
}

ul.nav.nav-pills.nav-stacked > li + li {
    margin-top: 0px;
    margin-left: 0;
}

.nav-pills > li > a {
    border-radius: 0px;
    font-family: 'QswaldLight';
    text-transform: uppercase;
    font-size: 1.2em;
    height: 55px;
    padding-top: 14px;
    padding-left: 70px;
    background-image: url(../img/3-small.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 6%
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus,.nav-pills > li.active > a:hover {
    background-color: #676767;
    background-image: url(../img/3-small-invert.png);
}

.nav-pills > li.doc > a {
    background-position-x: 7.5%;
    background-image: url(../img/4-small-invert.png);
    /* this image should be changed to non-invert version when I get it*/
}

.nav-pills > li.active.doc > a, .nav-pills > li.active.doc > a:focus {
    background-color: #676767;
    background-image: url(../img/4-small-invert.png);
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .nav-pills > li > a {
        background-position-x: 4%
    }
}

@media only screen and (min-width:300px) and (max-width:767px) {
    .nav-pills > li > a {
        padding-left: 60px;
        background-position-x: 3%
    }
}
/* ./ vertical-tab-items */

/* video */
.resources .video-container {
    padding: 0px 0px 0px 0px;
}

.resources  .fluid-width-video-wrapper a.fancybox-media, .resources .fluid-width-video-wrapper a.fancybox-media {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 80%;
    z-index: 999;
    background: none;
    background: url(/img/bgpix.png) center no-repeat;
}
.resources  .fluid-width-video-wrapper a.fancybox-media:hover, .resources .fluid-width-video-wrapper a.fancybox-media:hover {
    background: url(/img/3.png) center no-repeat;
}

.resources .action-item {
    background:none;
    width: 100%;
    padding: 0 15px 15px 15px;
}

.action-item > div:first-child {
    padding: 20px;
    min-height: 350px;
}

.resources .action-item > div:last-child {
    font-family: 'QswaldLight';
    color: #083C81;
    font-size: 1.2em;
    padding: 15px 0px;
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .action-item > div:first-child {
        min-height: 300px;
    }
}
@media (max-width: 768px) {
    .resources .action-item, .resources .subrow .action-item {
        width: 100%;
    }

    .action-item > div:first-child {
        min-height: 180px;
    }
}
/* ./ video*/

/* text-content */
.tab-pane.definitions {
    margin-top: 0px;
}

.definitions h3 {
    color: #083F88;
    margin-top: 0px;
}
.definitions p > span {
    color: #083F88;
    text-decoration: underline;
    font-weight: bold;
}
/* ./ text-content */

/* ./ get started + learn */






/* questions */

/* search input*/
.resources .article input.search, .resources .customer-content input.search{
    float: right;
    background-color: #ebebeb;
    height: 54px;
    color: #aaaaaa;
    font-size: 18px;
    font-family: 'QuestrialRegular';
    width: 100%;
    border:solid 1px #ebebeb;
    padding: 0px 0px 0px 50px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 2%
}
/* ./ search input*/

/* accordion */
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #F5F5F5;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}

.panel-title {
    font-size: 1.7em;
    color: #0B2658;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #F5F5F5;
    font-family: 'QuestrialRegular';
    font-size: 1.1em;
}

.panel-body > h5 {
    color: inherit;
    font-family: 'QuestrialRegular';
    font-weight: bold;
    margin-bottom: 0.01em;
}

.panel-body > p {
    margin-top: 0.01em;
}

.panel-body ul > li {
    list-style-type: none;

}

.panel-body ul > li:before {
    content: "- ";
    margin-right: 10px;
}

.fa {
    float: right;
    color: #0B2658;
}
/* ./ accordion */

.questionor-form-section .successMessage{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
    padding: 10px 10px;

}

/* bottom inputs */
.resources .forms input.questions, .resources .forms textarea {
    background-color: #ebebeb;
    height: 54px;
    color: #808080;
    font-size: 22px;
    font-family: 'QswaldLight';
    width: 100%;
    border:solid 1px #ebebeb;
    padding: 0px 0px 0px 20px;
    margin: 5px 2px 5px 2px;
}

.resources .forms textarea {
    resize: none;
    height: 200px;
    padding: 20px 0px 0px 20px;
}

.resources .forms .questions-submit-button {
    float: right;
    margin: 5px 2px 5px 2px;
    padding: 10px 0px 10px 0px;
    background-color: #083C81;
    border: none;
    width: 230px;
    color: #fff;
    font-size: 22px;
    font-family: 'QswaldLight';
}

.hr-questions {
    border-top: 1px solid #0B2658;
    margin: 4.0em 0 4.0em 0;
}

.forms > .row > div > p {
    font-size: 1.4em;
}

.forms > .row > div.left-input {
    padding-right: 5px;
}

.forms > .row > div.right-input {
    padding-left: 5px;
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .forms > .row > div.left-input {
        padding-right: 15px;
    }

    .forms > .row > div.right-input {
        padding-left: 15px;
    }
}

@media only screen and (min-width:300px) and (max-width:767px) {
    .forms > .row > div.left-input {
        padding-right: 15px;
    }

    .forms > .row > div.right-input {
        padding-left: 15px;
    }
}


.space {
    height: 300px;
}

.list-tooltips img{
    position: absolute; z-index: 8888; max-width: 500px
}

.court-stars{
    position: relative;
}
.court-stars div{
    position: absolute; left:55px; top:228px; width: 40px; height: 30px;
    text-indent: -9999px;
    cursor: pointer;
    //border:1px solid red;
}

.court-stars div:nth-child(1){
    left: 340px;
    top: 235px;
}
.court-stars div:nth-child(2){
    left: 340px;
    top: 570px;
}
.court-stars div:nth-child(3){
    left: 267px;
    top: 310px;
}
.court-stars div:nth-child(4){
    left: 202px;
    top: 370px;
}
.court-stars div:nth-child(5){
    left: 415px;
    top: 305px;
}
.court-stars div:nth-child(6){
    left: 485px;
    top: 370px;
}
.court-stars div:nth-child(7){
    left: 110px;
    top: 415px;
}
.court-stars div:nth-child(8){
    left: 150px;
    top: 545px;
}
.court-stars div:nth-child(9){
    left: 535px;
    top: 550px;
}
.court-stars div:nth-child(10){
    left: 80px;
    top: 230px;
}
.court-stars div:nth-child(11){
left: 630px;
    top: 505px;
}
.examples-popup.court-photos h4{
    color:#545454;
    
}
.examples-popup.court-photos p{
color:#545454;
}
.examples-popup.court-photos .btn{
    background-color: #0b2659;
    color: #FFF;
    font-size: 18px;
    width: auto;
    height: 35px;
    line-height: 1.25em;
}
.examples-popup.court-photos .btn .arrow{
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
}
.examples-popup.court-photos .btn .arrow.right  {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

