/*
ABOUT US PAGE
*/
.about-top-banner {
    background-image: url(../img/aboutuspage/aa-top-banner.jpg);
    background-repeat: no-repeat;
    height: 475px;
    background-color: #000;
    background-position: 50%;
    z-index: 1;
}
.about-top-banner p {
    text-align: center;
    padding-top: 112px;
    font-family: 'AlternateGotNo1D';
    text-transform: uppercase;
    font-size: 150px;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    color: rgb(70, 70, 70);
    opacity: .6;
}
.atb-top p {
    font-family: 'QswaldLight';
    color: #434343;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.7;
    padding-top: 10px;
}
.atb-top p strong {
    font-size:34px;
}
.atbb-right p {
    color:#434343;
    font-size:19px;
}
.atb-bottom {
    padding-top: 15px;
    padding-bottom:40px;
}
.aa-entity {
    border: 1px solid #ededed;
    padding: 40px;
    width: 48%;
    margin: auto;
    margin-right: 4%;
    height: 524px;
    margin-bottom: 40px;
    padding-right: 0px;

    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
}
.atbb-left {
    padding: 0px;
    padding-right: 15px;
}
.aa-entity:nth-child(2) {
    margin-right: 0%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
}
.aa-entity:nth-child(4) {
    margin-right: 0%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
}
.aaet-left {
    float: left;
    margin-right: 10px;
    width: 40%;
}
.aaet-right {
    width:calc(60% - 10px);
    float: left;
}
.aaet-right > p {
    font-family: 'AlternateGotNo1D';
    font-size: 50px;
    color: #f36f21;
    padding-top: 40px;
    line-height: 1;
    margin-bottom: 0px;
}
.aaet-socials {
    margin-top: 5px;
}
.aaet-socials a {
    padding:2px;
    opacity:.7;
    transition:.2s;
}
.aaet-socials a:first-child {
    padding-left: 0px;
}
.aaet-socials a:hover {
    opacity:1;
}
.aae-bot p {
    font-size: 18px;
    padding-top: 15px;
    padding-right: 15px;
}
.aa-wrapper {
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    padding-left: 25px;
    border: 1px solid #ededed;
}
.aa-wrapper > p {
    font-family: 'AlternateGotNo1D';
    font-size: 50px;
    color: #f36f21;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-left: 15px;
}
.aa-wrapper > div > p {
    padding-top: 5px;
    text-align: center;
}
.about-advisors {
    padding-bottom: 60px;
}
.mob-hide {
    display:none;
}
.desc-hide {
    display:block;
}
@media only screen and (max-width: 1024px) {
    .about-top-banner p {
        font-size: 75px;
        text-align: left;
        line-height: 1;
        padding-top: 165px;
    }
    .aa-entity {
        width:100% !important;
    }
    .atb-top p {
        font-size:17px;
    }
    .atb-top p strong {
        font-size:22px;
    }
    .atbb-right {
        padding:0px;
    }
    .atbb-right p {
        font-size:16px;
    }
    .atbb-left {
        padding-right:0px;
    }
    .desc-hide {
        display:none;
    }
    .mob-hide {
        display:block;
    }
    .atbb-left {
        margin-bottom: 10px;
    }
    .aa-entity {
        padding:20px;
        height:auto;
    }
    .aaet-right > p {
        font-size: 34px;
        padding-top: 0px;
    }
    .aaet-right span {
        font-size: 12px;
    }
    .aaet-socials img {
        height: 30px;
    }
    .aae-bot p {
        padding-right:0px;
        font-size: 16px;
    }
    .aa-wrapper {
        text-align: center;
        padding-left: 0px;
    }
    .aa-wrapper > p {
        padding-left:0px;
    }
    .about-advisors {
        padding-botom:90px;
    }
    .aa-wrapper img {
        width: 30%;
        max-width: 200px;
    }
    .aa-entity:nth-child(2), .aa-entity:nth-child(4) {
        -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    }
    @media only screen and (min-width: 440px) {
        .about-top-banner p {
            text-align:center;
        }
    }
}