@font-face {
    font-family: 'AvenirNext Bold';
    src: url('fonts/AvenirNext-Bold');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaLight';
    src: url('fonts/nexa.light.otf');
    src: url('fonts/nexa.light.otf?#iefix') format('embedded-opentype'), url('fonts/nexa.light.otf') format('otf'), url('fonts/nexa.light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirMedium';
    src: url('fonts/AvenirLTStd-MediumOblique.otf');
    src: url('fonts/AvenirLTStd-MediumOblique.otf?#iefix') format('embedded-opentype'), url('fonts/AvenirLTStd-MediumOblique.otf') format('otf'), url('fonts/AvenirLTStd-MediumOblique.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Geometos';
    src: url('fonts/Geometos.ttf.eot');
    src: url('fonts/Geometos.ttf.eot?#iefix') format('embedded-opentype'), url('fonts/Geometos.ttf.woff') format('woff'), url('fonts/Geometos.ttf.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GeometosRounded';
    src: url('fonts/GeometosRounded.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuestrialRegular';
    src: url('fonts/questrial-regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QswaldLight';
    src: url('fonts/oswald.light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirRoman';
    src: url('fonts/AvenirRoman.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaStab';
    src: url('fonts/Nexa_Slab_Bold-webfont.eot');
    src: url('fonts/Nexa_Slab_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Nexa_Slab_Bold-webfont.woff2') format('woff2'), url('fonts/Nexa_Slab_Bold-webfont.woff') format('woff'), url('fonts/Nexa_Slab_Bold-webfont.ttf') format('truetype'), url('fonts/Nexa_Slab_Bold-webfont.svg#nexa_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaStabRegular';
    src: url('fonts/Nexa_Slab_Regular-webfont.eot');
    src: url('fonts/Nexa_Slab_Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Nexa_Slab_Regular-webfont.woff2') format('woff2'), url('fonts/Nexa_Slab_Regular-webfont.woff') format('woff'), url('fonts/Nexa_Slab_Regular-webfont.ttf') format('truetype'), url('fonts/Nexa_Slab_Regular-webfont.svg#nexa_slab_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.owl-prev {}
.navbar.bot {
    border-bottom: 0px;
    min-height: 105px;
    max-height: 105px;
    height: 105px;
    border-radius: 0px;
    background-color: #0b2759;
}
.navbar.bot .container {
    padding-top: 30px;
}
.logo-splash {
    margin-left: 0px !important;
    padding-top: 0px !important;
}
.logo-splash::after {
    content: '';
    display: block;
    clear: both;
}
.logo-splash img {
    position: absolute;
    z-index: 2;
    height: 36px;
    margin-top: 15px;
}
.navbar-nav > li > a {
    line-height: 3px;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 68px;
}
.navbar.bot .container > div:last-child {
    height: 65px;
    padding-right: 0px;
}
#splash-top {
    background-image: url(../img/jewelPage/head-bg.jpg);
    background-repeat: no-repeat;
    height: 525px;
    background-color: #000;
    background-position: right;
    z-index: 1;
}
.main-menu .navbar .nav {
    margin-top: 0px !important;
}
#splash-top {
    background-image: url(../img/teamupdatePage/top-bg.jpg);
    background-repeat: no-repeat;
    height: 518px;
    background-color: white;
    background-size: cover;
    background-position: 25%;
}
.splash-top-text {
    text-align: center;
    padding-top: 130px;
    font-family: 'AlternateGotNo1D';
    color: #fff;
    z-index:2
}
.splash-top-text p {
    font-size: 94px;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, .7);
    margin-bottom: 0px;
}
.splash-top-text a {
    color: #fff;
    padding: 5px 10px;
    font-family: 'QswaldLight';
    cursor: pointer;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    margin-top: -10px;
}
.splash-top-text a:hover {
    text-decoration: none;
}
.splash-top-text a i {
    font-style: normal;
    display: block;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 32px;
    padding-left: 7px;
    left: 50%;
    margin-left: -20px;
    margin-bottom: 7px;
    line-height: 40px;
}

.splash-top-ancor.rotated {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.splash-top-ancor {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #023f88;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
    left: 50%;
    margin-left: -25px;
    margin-top: 18px;
    cursor: pointer;
}
.home_page .onlyteam.splash-top-ancor{
    margin-top: 18px;
}

.home_page .splash-top-ancor{
    margin-top: 128px;
    z-index:5;
}
.splash-top-logo-wrapper {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 35px;
    z-index: 2;
}
.two::after, .inner_two::after {
    content:'';
    display:block;
    clear:both;
}
.inner_two {
    position:relative;
}
.get-complete-top-gradient2-head {
    position: absolute;
    height: 100%;
    opacity: .5;
    width: 100%;
    z-index: 2;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#747893+0,000000+100&0.5+0,0.8+100 */
    background: -moz-linear-gradient(top,  rgba(116,120,147,0.5) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(116,120,147,0.5) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(116,120,147,0.5) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80747893', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
}
.splash-top-logo {
    cursor: pointer;
}
.splash-top-logo img {
    width: 300px;
}
#get-complete {
    height: 1100px;
    padding-top: 70px;
    background-image: url(../img/teamupdatePage/tr-bg.png);
    background-repeat: no-repeat;
    background-position-y: 300%;
}
.get-complete-bot-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+89,000000+100&0+0,0.65+100 */

    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.58) 89%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6-15 */

    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.58) 89%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.58) 89%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */

    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 6px;
    z-index: 2;
    opacity: .3;
}
.get-complete-leftside > p {
    color: #023f88;
    font-size: 54px;
    font-family: 'AlternateGotNo1D';
    line-height: 1;
    margin-bottom: 20px;
}
.get-complete-leftside > div {
    margin-top: 14px;
}
.get-complete-leftside > p text {
    color: #6fb1e2;
}
.get-complete-leftside div::after {
    content: '';
    display: block;
    clear: both;
}
.get-complete-leftside div img {
    float: left;
    padding-right: 15px;
    width: 96px;
}
.get-complete-leftside div p {
    float: left;
    color: #222222;
    font-size: 18px;
    font-family: 'QuestrialRegular';
    font-weight: 600;
    margin-top: 16px;
    width: 80%;
    margin-bottom: 7px;
}
.get-complete-leftside .firstp {
    margin-top: 10px;
}
.get-complete-leftside div span {
    float: left;
    color: #515151;
    font-size: 18px;
    font-family: 'QuestrialRegular';
    margin-top: -8px;
    width: 65%;
    display: block;
    line-height: 1;
}
.get-complete-leftside-wrapper {
    background-color: #023f88;
    padding: 20px;
}
.get-complete-leftside-wrapper p {
    font-family: 'AlternateGotNo1D';
    font-size: 46px;
    color: #fff;
    margin-bottom: 0px;
    line-height: 1;
    margin-left: 2px;
}
.get-complete-leftside-wrapper text {
    font-family: 'QuestrialRegular';
    color: #fff;
    margin-top: -10px;
    margin-left: 2px;
}
.get-complete-botside {
    padding-top: 60px;
}
.get-complete-botside > p {
    color: #023f88;
    font-size: 54px;
    font-family: 'AlternateGotNo1D';
}
.gcb-menu a {
    width: 100%;
    display: block;
    padding: 20px 15px;
    font-family: 'QuestrialRegular';
    border-bottom: 1px solid #acacac;
    color: #515151;
    font-size: 18px;
}

.gcb-menu a:hover {
    text-decoration: none;
}
#how-it-works {
    padding-top: 47px;
}
#how-it-works p {
    color: #023f88;
    font-size: 54px;
    font-family: 'AlternateGotNo1D';
    line-height: 1;
}
.col-md-ado80 {
    width: 76%;
    margin-left: auto;
    margin-right: auto;
}
#expert-says {
    padding-top: 47px;
}
#expert-says p {
    color: #023f88;
    font-size: 54px;
    font-family: 'AlternateGotNo1D';
    line-height: 1;
}
.home_tabs_text{
    padding-top: 0px;
    position: relative;
    width:90%;
}
body.home_page .two h2 {
    font-family: AlternateGotNo1D;
}
.item {
    float: left;
}
.owl-pagination {
    display:none;
}
.col-md-ado80::after {
    content: '';
    display: block;
    clear: both;
}
.hiwd::after {
    content: '';
    display: block;
    width: 100px;
    height: 50px;
    background-image: url(../img/teamupdatePage/arr.png);
    background-repeat: no-repeat;
    position: absolute;
    right: -70px;
    top: 70px;
}
.hiwd:last-child::after {
    display: none;
}
.hiwd {
    text-align: center;
}
.hiwd span {
    line-height: 1;
    color: #383838;
    font-size: 18px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'QswaldLight';
    font-weight: 600;
    display: block;
}
.owl-buttons {
    position: absolute;
    width: 100%;
    margin-top: -160px;
}
.esn-left {
    float: left;
    margin-top: 40px;
    display: block;
    text-align: center;
    color: #d4d4d4;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 28px;
    padding-left: 4px;
    padding-top: 2px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    margin-left:-60px;
}
.esn-right {
    float: right;
    margin-top: 40px;
    display: block;
    text-align: center;
    color: #d4d4d4;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 28px;
    padding-left: 4px;
    padding-top: 2px;
    margin-right:-60px;
}
#expertSays .esn-left, #expertSays .esn-right{
    margin-top: 10px;
}

#interested-form input, #interested-form select   {
    background-color: #3565a0;
    color: #fff;
    padding: 5px 10px;
    border: none;
    width: 100%;
    margin-top: 10px;
    outline: none !important;
}
#SubscribeForm_state_code { height:32px; }
#interested-form select   {
    -webkit-appearance:none;
    -webkit-border-radius: 0px;
    color:#aaa;
}
.interested-submit {
    margin-top: 15px;
    background-color: #f36f21;
    width: 100%;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #f36f21;
    transition:.2s;
}
.interested-submit:hover {
    background-color: #fff;
    color: #f36f21;
}
.esn-left:hover,
.esn-right:hover {
    color: #f36f21;
    border-color: #f36f21;
    text-decoration: none;
    cursor: pointer;
}
.item-text {
    float: left;
    width: 55%;
}
.item span {
    color: #515151;
    font-family: 'QuestrialRegular';
    font-size: 18px;
}
.item p {
    margin-top: 10px;
    color: #023f88;
    font-size: 25px;
    font-family: 'AlternateGotNo1D';
    line-height: 1;
    margin-left: 10%;
}
.item::after {
    content: '';
    display: block;
    clear: both;
}
.item img {
//    width: 22.5% !important;
    float: left;
    margin-right: 2.5%;
}
.get-complete-top-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+89,000000+100&0+0,0.65+100 */

    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.58) 89%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6-15 */

    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.58) 89%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.58) 89%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    position: absolute;
    width: 100%;
    top: 0px;
    height: 6px;
    z-index: 2;
    opacity: .3;
}
#how-it-works-content,
#expert-says-content {
    padding-bottom: 30px;
}
#expert-says-content {
    padding-top: 50px;
}
.logos-carousel::after,
.logo-wrapper::after {
    content: '';
    display: block;
    clear: both;
}
.logo-wrapper {
    float: left;
}

.soc-icon > a i {
    display: inline-block;
    vertical-align: middle;
}
.copyright {
    float: right;
    font-size: 13px;
}
.main-menu .navbar .nav > li > a {
    opacity: 1;
}
.main-menu .navbar .nav > li > a:hover {
    color: #ed6700;
}
.main-menu .navbar .nav > li > a:last-child i {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 8px;
    padding-left: 6px;
    padding-right: 6px;
}
.main-menu .navbar .nav > li > a:last-child:hover i {
    border-color: #ed6700;
}
#head-video {
    position: absolute;
    width: 100%;
}


.owl-theme .owl-controls .owl-buttons div {
    background:none;
    display: block;
    margin: auto;
    opacity: 1;
    padding: auto;
}
.gcb-menu a.selected {
    background-color: #ededed;
    color: #023f88;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}
.splash-top-text.home p{
    padding-bottom: 0px;
    line-height: 1;
}
.splash-top-text p.tip {
    font-size: 20px;
    text-transform: uppercase;
    font-family: AvenirRoman;

}
.splash-top-text.home a{
    margin-top: 20px;
}

#expertSays.owl-theme .owl-controls {
    margin-top: 0px;
}
#one {
    background: url(../img/top_bg_new.jpg) no-repeat;
    height: 518px;
    background-color: #000;
    background-position: right;
}
.top-mask {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 518px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+24,000000+53&1+24,0+54 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 24%, rgba(0,0,0,0.03) 53%, rgba(0,0,0,0) 54%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 24%,rgba(0,0,0,0.03) 53%,rgba(0,0,0,0) 54%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,1) 24%,rgba(0,0,0,0.03) 53%,rgba(0,0,0,0) 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}
.toparea {
    z-index: 3;
    padding-top: 130px;
    padding-left: 5%;
}
.toparea > p {
    font-family: AlternateGotNo1D;
    font-size: 94px;
    color: #fff;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, .7);
    margin-bottom: 0px;
    padding-bottom:20px;
}
.toparea div::after {
    content:'';
    clear:both;
    display:block;
}
.toparea img {
    height:33px;
    float: left;
}
.toparea a {
    float: left;
    color: #fff;
    padding: 5px 10px;
    font-family: 'QswaldLight';
    cursor: pointer;
    display: block;
    width: 50%;
    font-size: 24px;
    margin-top: -10px;
    margin-left: 56px;
    text-decoration:none !important;
    opacity:.9;
}
.toparea a:hover {
    opacity:1;
}
.toparea a text {
    margin-left: 30px;
    height: 48px;
    line-height: 48px;
}
.toparea i {
    float: left;
    font-style: normal;
    display: block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 32px;
    padding-left: 10px;
    margin-left: -20px;
    margin-bottom: 7px;
    left: 20px;
}
/* RESPONSIVE */
.home_page .block_logo::after {
    content:'';
    display:block;
    clear:both;
}
.home_page .block_logo > div {
    float:left;
}
.videotop-wrapper {
    position:absolute;
    width:100%;
    overflow:hidden;
    height: 100%;
}
.videotop-wrapper::after {
    clear:both;
    content:'';
    display:block;
}
.phone_tabs_mob_nav {
    display: none;
}
@media only screen and (max-width: 1150px) {
    .phone_tabs li {
        display: none;
    }
    .phone_tabs .active {
        display:block;
    }
    .gcb-menu{
        display: none;
    }
    .phone_tabs_mob_nav.team{
        padding-top:10px;
    }
    .area_player .player_mobile::after, .phone_tabs_mob_nav::after {
        display:block;
        clear:both;
        content:'';
    }
    .phone_tabs_mob_nav {
        display: block;
        width: 150px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .phone_tabs_mob_nav a {
        width: 20px;
        height: 20px;
        background-color: #c9c9c9;
        display: block;
        border-radius: 50%;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        cursor:pointer;
    }
    .phone_tabs_mob_nav a.active {
        background-color:#4c4c4c;
    }
    .player_btn_mobile {
        float:left;
        margin-top:25px;
    }
    body.player_page .two .area_player ul {
        margin-top:0px;
        padding-top:0px;
    }
    body.player_page .two .area_player ul li span {
        font-size:24px;
        font-family: 'QuestrialRegular';
    }
    body.player_page .two .area_player ul li:hover, body.player_page .two .area_player ul li.active {
        background-color:transparent;
    }
    body.player_page .two .block_triangle {
        display:none;
    }
    body.player_page .hr_bottom {
        display:none;
    }
    body.player_page .two .inner_two {
        padding-bottom:15px;
    }
    body.player_page .two h2 {
        padding-bottom: 15px;
        font-size: 36px;
        padding-left: 15px;
        padding-right: 15px;
    }
    body.player_page .htw-element.arrows {
        transform: scale(.7);
        margin-top: 0px !important;
    }
    body.player_page .htw-element {
        margin-top:-32px;
    }
    body.player_page .three h2 {
        font-size: 50px;
    }
    .main-menu .navbar {
        border-bottom: none;
    }
    .navbar-toggle {
        border:none;
    }
    #one {
        background-position: 70%;
    }
    .toparea div {
        padding-left: 0px;
    }
    .toparea p {
        font-size: 64px;
        line-height: 1;
        margin-bottom: 15px;
    }
    .toparea a {
        float: left;
        color: #fff;
        padding: 5px 10px;
        font-family: 'QswaldLight';
        cursor: pointer;
        display: block;
        width: 100%;
        margin-left: 0px;
        font-size: 24px;
        margin-top: 10px;
        text-decoration: none !important;
        opacity: .9;
        padding-left: 0px;
    }
    body.player_page .two .block_triangle {
        width:100%;
    }
    .videotop-wrapper {
        position: relative;
    }
    .home_page .block_logo > div:first-child {
        position:relative;
    }
    body.player_page.home_page .two .inner_two {
        padding-top:0px;
        height: auto;
    }
    body.player_page.home_page .two .block_triangle {
        background-position-x:6% !important;
    }
    .home_page .home_mobile {
        height:auto;
    }
    .p-home .image_tabs {
        height: auto;
        width: 100% !important;
    }
    .home_controlls .control_circle {
        margin-bottom: 5px;
        float: left;
        margin-right: 20px;
    }
    .control_circle.active {
        margin-top:-4px;
        width: 24px;
        height: 24px;
    }
    .home_controlls {
        padding-top: 0px;
        float: left;
        width: 40% !important;
        height: 30px;
        margin-left: 50%;
        left: -45px;
    }
    .home_tabs_text {
        padding-top: 0px;
        position: relative;
        top: inherit;
        transform: inherit;
        width: 100%;
    }
    .home_page .block_logo {
        min-height:330px;
    }
    body.player_page.home_page .two .inner_two {
        padding-bottom:15px;
    }
    #head-video {
        margin-top:70px;
        position: relative;
        width: 100%;
        height: auto;
    }
    .splash-top-ancor {
        display:none;
    }
    .email-form > img {
        display:none;
    }
    .footer-top {
        height:auto;
    }
    .main-menu .navbar .nav {
        display: block;
    }
    .main-menu {
        position: fixed;
    }
    .logo-splash img {
        height: auto;
    }
    .soc-icon {
        text-align: center;
        float: none;
        margin-top: 0px;
    }
    .footer-bot {
        padding-top: 5px;
    }
    .footer-bot ul {
        margin-botom: 20px;
    }
    .copyright {
        text-align: center;
        float: none;
        font-size: 11px;
    }
    .footer .email-form .email-inner {
        width: 100%;
    }
    .footer-bot ul {
        text-align: center;
        float: none;
    }
    #get-complete {
        padding-top: 20px;
        height: auto;
    }
    .get-complete-leftside > p {
        font-size: 44px;
    }
    .get-complete-leftside div img {
        width: 26%;
        padding-right: 5px;
    }
    .get-complete-leftside div p {
        width: 74%;
        font-size: 16px;
    }
    .get-complete-leftside div span {
        font-size: 14px;
    }
    .splash-top-text {
        padding-top: 0px;
        position: absolute;
        z-index: 5;
        width: 100%;
        margin-top: -50%;
        padding-top: 0px !important;
        margin-left:-15px;
    }
    .splash-top-text p {
        font-size: 42px;
    }
    .splash-top-text a {
        width: 50%;
    }
    .splash-top-logo-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        position: absolute;
        width: 40%;
        left: 50%;
        margin-left: -20%;
        margin-top: -12.5%;
    }
    .logo-wrapper::after {
        clear: both;
        display: block;
        content: '';
    }
    .navbar-nav {
        display: none;
    }
    .logo-splash {
        padding-top: 0px;
        margin-top: -9px;
        padding: 0px !important;
    }
    #splash-top {
        height: auto;
    }
    #get-complete {
        background-image: none;
    }
    .get-complete-leftside-wrapper {
        margin-top: 20px;
    }
    .get-complete-botside {
        padding-top: 40px;
        float: left;
    }
    .get-complete-botside > p {
        line-height: 1;
        font-size: 42px;
        margin-bottom: 20px;
    }
    .hiwd img {
        margin-top: -20px;
    }
    .item p {
        margin-left: 0px;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    #expert-says p {
        line-height: 1;
        font-size: 42px;
    }
    .item img {
        width: 30% !important;
        padding:10px;
    }
    .item-text {
        width: 67.5%;
    }
    .item span {
        font-size: 15px;
    }
    .esn-left,
    .esn-right {
        display: none;
    }
    .col-md-ado80 {
        width: 100%;
    }
    .gcb-menu {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    #how-it-works p {
        line-height: 1;
        font-size: 42px;
    }
    .hiwd span {
        width: 80%;
    }
    .main-menu .navbar .nav > li > a {
        line-height: 1;
        padding: 15px;
    }
    #navbar {
        padding-top: 1px;
        width: 100%;
        padding: 0px;
        position:fixed;
    }
    .navbar.bot {
        min-height: 90px !important;
        max-height: 90px !important;
        height: 90px;
    }
    #splash-top {
        background-size: cover;
        background-position: 70%;
    }
    #splash-top .container {
        background-color: rgba(0, 0, 0, 0.35);
    }
    .footer-bot div div div {
        padding: 0px;
    }
    #splash-top .container {
        background-color: rgba(0, 0, 0, 0);
    }
}


@media only screen and (min-width: 768px) {
    @media only screen and (max-width: 1150px) {
        #head-video {
            margin-top:0px;
        }
    }
}
@media only screen and (min-width: 768px) {
    @media only screen and (max-width: 1024px) {

        @media only screen and (max-width: 1024px) {
            .home_page .splash-top-ancor {
                margin-top:118px;
            }
        }
        .footer-bot .soc-icon, .footer-bot .soc-icon > a:last-child {
            margin-top:10px;
        }
        .logo-wrapper {
            width: 20% !important;
        }
        .navbar-header {
            width: 20%;
        }
        .main-menu .navbar .nav > li > a {
            padding-left: 15px;
            padding-right: 15px;
            line-height:54px;
        }
        .get-complete-leftside {
            width: 50%;
            float: left;
        }
        .get-complete-rightside {
            width: 50%;
            float: left;
        }
        .get-complete-leftside::after,
        .get-complete-rightside::after {
            content: '';
            display: block;
            clear: both;
        }
        .main-menu .navbar .nav {
            background-color: rgba(240, 248, 255, 0);
            position: absolute;
            right: 0px;
            height: 69px !important;
            margin-right: 30px !important;
        }
        @media only screen and (min-width: 1024px) {
            .main-menu .navbar .nav {
                margin-right: 15px !important;
            }
            .main-menu .navbar .nav > li:last-child a {
                padding-right:0px;
            }
        }
        .main-menu .navbar .nav > li > a {
            padding-top: 4px;
            padding-bottom: 4px;
            border-bottom: none;
        }
        .main-menu .navbar .nav > li {
            margin-top: 4px;
        }
    }
}

@media only screen and (min-width: 800px) {
    @media only screen and (max-width: 1280px) {
        @media only screen and (min-width: 1150px) {
            .home_page .block_logo {
                min-height: 380px;
                height: 380px;
            }
        }
        .block_triangle {
            display:none !important;
        }
        .home_page .home_mobile {
            margin-right: 60px;
            height: 350px;
        }
        .home_page .block_logo {
            margin-left:0px !important;
        }
        .home_page .block_logo {
            width:100% !important;
        }
    }
}

@media (min-width: 1280px) {
    @media (max-width: 1440px) {
        .home_page .block_logo {
            min-height: 380px !important;
            height: 380px;
        }
        .home_page .home_mobile {
            height:350px;
        }
        #get-complete {
            background-position-y: 400%;
        }
    }
}
.gcb-menu {
    padding-right: 0px;
}
@media only screen and (min-width: 1024px) {
    @media only screen and (max-width: 1280px) {
        #navbar {
            width:90%;
        }
        .home_line_p {
            font-size:18px;
        }
        .home_page .order_now {
            margin-tight:0px;
        }
        .footer-top {
            height:auto;
        }
        .logo-wrapper {
            width: 50% !important;
        }
        .main-menu .navbar .nav > li > a {
            padding-left: 20px;
            padding-right: 20px;
        }
        .main-menu .navbar .nav > li:last-child {
            margin-top: 2px;
        }
        .get-complete-leftside {
            width: 60%;
        }
        .get-complete-rightside {
            width: 40%;
        }
        #get-complete {
            background-position-x: 60%;
            height: 1230px;
        }
        .esn-right,
        .esn-left {
            display: none;
        }
    }
}
.block_triangle {
    display:block;
}
@media only screen
and (max-device-width: 1280px) {
    body.player_page.home_page .two .block_triangle {
        background-position-x: 1700%;
    }
}
@media only screen
and (max-device-width: 1280px) {
    body.player_page.home_page .two .block_triangle {
        background-position-x: 1200%;
    }
}
@media only screen
and (max-device-width: 986px) {
    body.player_page.home_page .two .block_triangle {
        background-position-x: 60%;
    }
}
@media only screen
and (max-device-width: 600px) {
    body.player_page.home_page .two .block_triangle {
        background-position-x: 40%;
    }
}
@media only screen
and (max-device-width: 480px) {
    body.player_page.home_page .two .block_triangle {
        background-position-x: 20%;
    }
}
#expertSays .esn-left, #expertSays .esn-right { margin-top:-20px; }
#expertSays .esn-right { margin-top:-26px; }
.home_page .block_logo { float:left; margin-left:40%;min-height: 430px; }
.inner_two::after {
    content:'';
    display:block;
    clear:both;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .home_page .block_logo {
        margin-left:0px !important;
        width: 100%;
    }
    .hiwd::after {
        content: '';
        display: block;
        width: 100px;
        height: 75px;
        background-image: url(../img/teamupdatePage/arr.png);
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        transform: scale(.8) rotate(90deg);
        position: relative;
        right: auto;
        top: auto;
    }
    #expert-says {
        padding-bottom:0px;
    }
    .comment p{
        font-size: 16px;
    }
}
.footer .email-form .email-inner {
    margin-right:0px;
}

.first_block_btn {
    z-index: 3;
    margin-top: auto;
    bottom: 0px;
    position: absolute;
    padding-bottom:6px;
}
@media screen and (max-width: 320px) {
    .splash-top-text {
        margin-top:-52%;
    }
    .splash-top-text.home a {
        margin-top:0px !important;
    }
    .splash-top-text p.tip {
        font-size:18px;
    }
    .splash-top-logo img {
        margin-top:8px;
    }
    .splash-top-text a {
        padding:0px;
    }
    .splash-top-text a i {
        margin-bottom:0px;
    }
}
@media screen and (max-width: 425px) {
    .splash-top-logo img {
        margin-top:12px;
    }
}
@media screen and (max-width: 425px) {
    .splash-top-text.home a {
        margin-top:10px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .splash-top-text.home a {
        margin-top:30px;
    }
}
@media screen and (min-width: 768px) {
    .main-menu {
        position:relative;
    }
}
@media screen and (min-width: 992px) and (max-width: 1280px) {
    .hiwd span {
        width: 100%;
        font-size: 14px;
        padding-top: 20px;
    }
    .hiwd::after {
        top:35px;
    }
}
@media screen and (max-width: 1280px) and (min-width: 992px){
    .hiwd span {
        width: 100% !important;
        font-size: 14px;
        padding-top: 20px;
    }
}
@media screen and (max-width: 425px) {
    .home_page .block_logo {
        min-height:330px !important;
        height:330px !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1150px){
    .home_page .block_logo {
        min-height:280px;
        height:280px;
    }
    .comment p {
        font-size: 22px;
    }
    .comment {
        height:450px !important;
    }
    .signature_comment span {
        font-size: 48px;
        font-family: 'AlternateGotNo1D';
        text-transform: uppercase;
    }
    .comment_p .signature_comment p {
        font-size:24px;
    }
    .comment_p .signature_comment {
        padding-right:30px;
    }
    .splash-top-text p {
        font-size:54px;
    }
    .splash-top-text a {
        margin-top:30px;
    }
}
.comment_p > p::before {
    display: inline-block;
    content: '\201C';
    font-family: 'AlternateGotNo1D';
    font-size: 54px;
    float: left;
    margin-top: -20px;
    opacity: .4;
    position: absolute;
}
.comment_p > p::after {
    display: inline-block;
    content: '\201D';
    font-family: 'AlternateGotNo1D';
    font-size: 54px;
    float: left;
    margin-top: -8px;
    opacity: .4;
    position: absolute;
}
.comment_p .signature_comment p {
    font-size: 18px;
    font-family: 'AlternateGotNo1D';
    padding-right: 5px;
    text-transform: uppercase;
    line-height: 1;
    margin-top:-10px;
}
@media screen and (min-width: 1280px) and (max-width: 1440px){
    .footer .email-form .email-inner {
        margin-top: -12px;
        width:260px;
    }
}
.arrow_down {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #f36f21;
    border-radius: 50%;
    text-align: center;
    z-index: 2;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
    left: 50%;
    margin-left: -25px;
    margin-top: 18px;
    cursor: pointer;
    bottom: -20px;
}
.target-tabs > img:not(:first-child) {
    display:none;
}
.play-symbol {
    height: 32px;
    margin-top: -4px;
}
.play-symbol.individualpage {
    margin-left: 7px;
    margin-top: 7px;
}
/*
 NEW FOOTER
*/
.footer-top {
    background-color:#0b2658;
    box-shadow:none;
    padding-top: 22px;
    padding-bottom: 22px;
}
.footer-bottom {
    background-color:#0b2658;
}
.footer .email-form > span {
    font-family: 'AlternateGotNo1D';
    font-size: 33px;
    float: left;
}
.footer .email-form form input {
    background-color:#e5e5e5;
    height: 40px;
    color:#0b2759;
    font-size: 18px;
    font-family: 'QswaldLight';
}
.footer .email-form form input:focus {
    background-color:#e5e5e5;
}
.footer .email-form form .submit {
    background: url(../img/tickw.png) center no-repeat;
    background-color: #ed6700;
    width:40px;
}
.footer .email-form form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#0b2759;
}
.footer .email-form form input::-moz-placeholder { /* Firefox 19+ */
    color:#0b2759;
}
.footer .email-form form input:-ms-input-placeholder { /* IE 10+ */
    color:#0b2759;
}
.footer .email-form form input:-moz-placeholder { /* Firefox 18- */
    color:#0b2759;
}
.footer .email-form .email-inner {
    width:340px;
}
.footer-bot ul > li > a {
    font-size:14px;
    opacity:.8;
}
.nopadding {
    padding-left:0px !important;
    padding-right:0px !important;
}
.footer-bot {
    background-color:#0b2658;
}
.soc-icon {
    float: right;
}
.soc-icon a {
    background-color: #f36f25;
    color: #fff;
    margin-left: 10px;
    margin-top: 3px;
    width: 34px;
    height: 34px;
    display: block;
    float: left;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 34px;
    transtion:.2s;
}
.soc-icon a:hover {
    color: #f36f25;
    background-color: #fff;
}
.footerbottop > a {
    float:right;
}
.footerbottop > p {
    float:right;
    height: 36px;
    line-height: 36px;
}
.footerbottop > p a {
    margin-right:22px;
    text-decoration:underline;
    font-size:16px;
    opacity: .8;
}
.footerbottop > p a:hover {
    text-decoration:none;
}
.footerbotbot p {
    font-size: 16px;
    opacity: .8;
}
.edcf::after {
    display:block;
    clear:both;
    content:'';
}
@media only screen and (max-width:992px) {
    .footer .email-form .email-inner {
        width:100%;
    }
    .footer .ft2 .email-form > span {
        font-size: 27px;
        margin-bottom: 10px;
        width: 100%;
    }
    .footer-top {
        padding-top:6px;
        padding-bottom:6px;
    }
    .soc-icon {
        float: none;
        text-align: center;
        width: 185px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
    }
    .footer .ft2 .email-form form {
        height:40px;
        width: 100%;
        margin-left: 0px;
    }
    .footerbottop > p a {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .footerbottop > p {
        float: none;
        width: 100%;
        text-align: center;
    }
    .footerbottop > a {
        float: none;
        width: 100%;
        text-align: center;
    }
    .footer-bot .container > div:first-child {
        margin-top:0px;
    }
    .footer-bot ul {
        text-align: center;
        float: none;
        margin-bottom: 15px;
    }
    .footerbotbot p, .footerbottop > p a {
        font-size:14px;
    }
    .footer-bot ul > li > a {
        padding:2px;
    }
    .footer .email-form form {
        max-width:100%;
    }
    @media only screen and (min-width:768px) {
        .soc-icon {
            margin-top: 15px;
        }
        .footerbottop > p {
            float:left;
        }
        .footerbottop > a {
            float:left;
        }
    }
}



/*
ABOUT US PAGE
*/
.about-top-banner {
    background-image: url(../img/aboutuspage/aa-top-banner.jpg);
    background-repeat: no-repeat;
    height: 475px;
    background-color: #000;
    background-position: 50%;
    z-index: 1;
}
.about-top-banner p {
    text-align: center;
    padding-top: 112px;
    font-family: 'AlternateGotNo1D';
    text-transform: uppercase;
    font-size: 150px;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    color: rgb(70, 70, 70);
    opacity: .6;
}
.atb-top p {
    font-family: 'QswaldLight';
    color: #434343;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.7;
    padding-top: 10px;
}
.atb-top p strong {
    font-size:34px;
}
.atbb-right p {
    color:#434343;
    font-size:19px;
}
.atb-bottom {
    padding-top: 15px;
    padding-bottom:40px;
}
.aa-entity {
    border: 1px solid #ededed;
    padding: 40px;
    width: 48%;
    margin: auto;
    margin-right: 4%;
    height: 524px;
    margin-bottom: 40px;
    padding-right: 0px;

    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
}
.atbb-left {
    padding: 0px;
    padding-right: 15px;
}
.aa-entity:nth-child(2) {
    margin-right: 0%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
}
.aa-entity:nth-child(4) {
    margin-right: 0%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
}
.aaet-left {
    float: left;
    margin-right: 10px;
    width: 40%;
}
.aaet-right {
    width:calc(60% - 10px);
    float: left;
}
.aaet-right > p {
    font-family: 'AlternateGotNo1D';
    font-size: 50px;
    color: #f36f21;
    padding-top: 40px;
    line-height: 1;
    margin-bottom: 0px;
}
.aaet-socials {
    margin-top: 5px;
}
.aaet-socials a {
    padding:2px;
    opacity:.7;
    transition:.2s;
}
.aaet-socials a:first-child {
    padding-left: 0px;
}
.aaet-socials a:hover {
    opacity:1;
}
.aae-bot p {
    font-size: 18px;
    padding-top: 15px;
    padding-right: 15px;
}
.aa-wrapper {
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    padding-left: 25px;
    border: 1px solid #ededed;
}
.aa-wrapper > p {
    font-family: 'AlternateGotNo1D';
    font-size: 50px;
    color: #f36f21;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-left: 15px;
}
.aa-wrapper > div > p {
    padding-top: 5px;
    text-align: center;
}
.about-advisors {
    padding-bottom: 60px;
}
.mob-hide {
    display:none;
}
.desc-hide {
    display:block;
}
@media only screen and (max-width: 1024px) {
    .about-top-banner p {
        font-size: 75px;
        text-align: left;
        line-height: 1;
        padding-top: 165px;
    }
    .aa-entity {
        width:100% !important;
    }
    .atb-top p {
        font-size:17px;
    }
    .atb-top p strong {
        font-size:22px;
    }
    .atbb-right {
        padding:0px;
    }
    .atbb-right p {
        font-size:16px;
    }
    .atbb-left {
        padding-right:0px;
    }
    .desc-hide {
        display:none;
    }
    .mob-hide {
        display:block;
    }
    .atbb-left {
        margin-bottom: 10px;
    }
    .aa-entity {
        padding:20px;
        height:auto;
    }
    .aaet-right > p {
        font-size: 34px;
        padding-top: 0px;
    }
    .aaet-right span {
        font-size: 12px;
    }
    .aaet-socials img {
        height: 30px;
    }
    .aae-bot p {
        padding-right:0px;
        font-size: 16px;
    }
    .aa-wrapper {
        text-align: center;
        padding-left: 0px;
    }
    .aa-wrapper > p {
        padding-left:0px;
    }
    .about-advisors {
        padding-botom:90px;
    }
    .aa-wrapper img {
        width: 30%;
        max-width: 200px;
    }
    .aa-entity:nth-child(2), .aa-entity:nth-child(4) {
        -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    }
    @media only screen and (min-width: 440px) {
        .about-top-banner p {
            text-align:center;
        }
    }
}