//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  margin: 0 0 @line-height-computed;
  list-style: none;
  padding: 0;
  // background-color: @breadcrumb-bg;
  // border-radius: @border-radius-base;

  > li {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;

    > a {color: #999;}

    + li:before {
      content: ">>"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      vertical-align: 2px;
      color: @breadcrumb-color;
    }
  }

  > .active {
    color: @breadcrumb-active-color;
  }
}
