@font-face {
	font-family: 'AlternateGotNo1D';
	src: url('fonts/AlternateGotNo1D.eot?#iefix') format('embedded-opentype'),
		 url('fonts/AlternateGotNo1D.woff') format('woff'),
		 url('fonts/AlternateGotNo1D.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Digital-7';
	src: url('fonts/Digital-7.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Digital-7.woff') format('woff'),
		 url('fonts/Digital-7.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald.regular.eot');
    src: url('fonts/oswald.regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald.regular.woff') format('woff'),
         url('fonts/oswald.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald.bold.eot');
    src: url('fonts/oswald.bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald.bold.woff') format('woff'),
         url('fonts/oswald.bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald.light.eot');
    src: url('fonts/oswald.light.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald.light.woff') format('woff'),
         url('fonts/oswald.light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Questrial';
    src: url('fonts/questrial-regular.eot');
    src: url('fonts/questrial-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/questrial-regular.woff') format('woff'),
         url('fonts/questrial-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}