@import "variables.less";
@import "mixins.less";
@import "fonts.less";

// custom variables
@board-height:	540px;
@orange: 		#f36f21;
@blue: 			#054690;

// custom mixins
.t(@time: 0.2s; @property: all) {
	.transition(@time @property ease-in-out;)
}

.fit(@f: 0) {
	display: block;
	position: absolute;
	top: @f; bottom: @f;
	left: @f; right: @f;
}

.fonta() {font-family: 'AlternateGotNo1D', sans-serif; font-weight: 300;}
.fontb() {font-family: 'Oswald', sans-serif; font-weight: 300;}

// custom style
// * {position: relative;}
.all {min-width: 300px;}
img {max-width: 100%;}
a {
	.t();
	&:focus {outline: none;}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	text-transform: uppercase;
	font-weight: 300;
	color: @orange;
	.fonta;

	&:first-child {margin-top: 0;}
}

.btn {
	.t();
	&-gray {
		color: #fff;
		background-color: #898989;

		&:hover, &:focus, &[aria-expanded='true'] {
			color: #fff;
			background-color: darken(#898989, 10%);
		}
	}
}

.timer {
	overflow: hidden;
	min-height: 40px;
	text-align: right;
	background-color: #212121;
	.vertical(#292929; #1c1c1c; 0%; 100%);
	z-index: 1;

	.timer-span {
		padding: 10px 0;
		line-height: 1em;
		display: inline-block;
		vertical-align: middle;
		text-transform: uppercase;
		margin: 0 160px 0 0;
		font-size: 1.25em;
		font-weight: 300;
		color: @orange;
		.fonta;

		@media (max-width: @screen-md) {margin-right: 140px;}
		@media (max-width: @screen-sm) {padding: 13px 0; min-height: 50px; display: inline-block;}
		@media (max-width: @screen-xs) {padding: 15px 0;margin-left: 0; margin-right: 160px;}

		> span {
			display: inline-block;
			vertical-align: -1px;
			font-size: 1.25em;
			color: #fff;
		}
	}

	.timer-span2 {
	  	padding: 10px 15px;
		line-height: 1em;
		display: inline-block;
		vertical-align: middle;
		text-transform: uppercase;
		font-size: 1.25em;
		font-weight: 300;
		color: @orange;
		margin: 0;
		.fonta;

		@media (max-width: @screen-sm) {padding: 5px 0; display: inline-block;}
		@media (max-width: @screen-xs) {font-size: .9em;}
	}

	.countdown {
		width: 160px;
		padding: 5px 0;
		font-size: 1.5em;
		vertical-align: top;
		right: 0; top: 0; bottom: 0;
		.vertical(#434343; #333; 0%; 100%);
		font-family: 'Digital-7', sans-serif !important;
		// letter-spacing: -1.1px;
		white-space: nowrap;
		text-align: center;
		position: absolute;
		color: #fff;

		@media (max-width: @screen-sm) {padding-top: 10px;}
		// @media (max-width: 600px) {padding-top: 18px;}
		// @media (max-width: @screen-xs) {padding-top: 20px;}
		// {padding: 15px 0;}

		> b {
			line-height: 1;
			display: inline-block;
			vertical-align: 3px;
		}

		> span {
			min-width: 35px;
			line-height: 1;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			> span {
				display: block;
				line-height: 1;
				text-transform: uppercase;
				margin-top: -2px;
				font-size: 9px;
			}
		}
	}

	.twitter-feed {
		color: #fff;
		font-size: 0.9em;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-left: 130px;
		padding-top: 10px;
		text-align: left;
		overflow: hidden;

		> a {color: @orange; margin-right: 10px;}

		.twitter-icon {
			vertical-align: middle;
			display: inline-block;
			margin: -2px 10px 0 0;
		}

		@media (max-width: @screen-sm-max) {margin-left: 70px;}
		@media (max-width: @screen-xs) {margin-left: 0;}
	}

	a.buynow {
		.fontb;
		color: #fff;
		float: right;
		height: 40px;
		line-height: 43px;
		text-decoration: none;
		text-transform: uppercase;
		margin-right: -15px;
		font-weight: 300;
		padding: 0 40px;
		.t();

		&:hover {background-color: darken(@orange, 10%);}
	}
}

.lf-ghost {margin-bottom: -20px;}

.header4 {
	z-index: 100;
	position: fixed;
	top: 0; left: 0; right: 0;

	+ div {margin-top: 100px;}

	@media(min-width: @screen-sm) {.navbar-inverse #navbar-collapse, .timer-span2 {margin-right: -15px;}}

	@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
		position: relative;
		+ div {margin-top: 0;}
	}
}

.main-menu {
	min-width: 300px;
	min-height: 60px;
	position: relative;
	background-color: #3f3f3f;
	.vertical(#464646; #383838; 0%; 100%);
	.box-shadow(0 2px 2px rgba(0,0,0,.75));
	z-index: 10;

	.klay {
		display: block;
		max-width: 112px;
		max-height: 115px;
		position: absolute;
		left: 15px; top: -27px;
		.t();

		@media (max-width: @screen-md) {
			max-width: 80px;
			top: -9px;
		}

		@media (max-width: 460px) {top: -16px;}
		@media (max-width: 436px) {top: -1px;}
	}

	nav {
		margin-left: 130px;
		.clearfix();

		@media (max-width: @screen-sm) {margin-left: 60px;}
		@media (max-width: @screen-xs) {margin-left: 80px;}

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			float: right;
			.clearfix();

			> li {
				float: left;;
				> a {
					color: #9b9b9b;
					font-family: 'Oswald', sans-serif;
					text-transform: uppercase;
					line-height: 30px;
					font-weight: 300;
					padding: 16px 15px 14px;
					display: block;
					.t();

					&:hover, &:focus {
						text-decoration: none;
						color: #fff;
					}

					&.buynow {
						color: #fff;
						.box-shadow(none);
						text-decoration: none;
						margin: 13px 0 12px;
						padding: 3px 12px 0;
						&:hover {background-color: darken(@orange, 10%);}

					}

					&.signup {
						.box-shadow(none);
						text-decoration: none;
						.box-sizing(border-box);
						border: 1px solid #ccc;
						margin: 13px 0 12px;
						padding: 3px 12px 0;
						color: #ccc;

						&:hover {
							color: #fff;
							border-color: #fff;
						}
					}

					&.live {
						.box-shadow(none);
						text-decoration: none;
						.box-sizing(border-box);
						border: 1px solid #ccc;
						text-align: center;
						margin: 13px 0 12px;
						padding: 3px 12px 0;
						min-width: 80px;
						color: #ccc;

						&:hover {
							color: #fff;
							border-color: #fff;
						}
					}
				}

				&.active > a {color: #fff;}
			}

			@media (max-width: @screen-sm) {
				padding: 10px 0;
				li > a {padding: 5px 15px;}
				li > a.buynow {margin: 3px 15px 0;}
			}

			@media (max-width: @screen-xs) {
				li > a {padding: 0 15px;}
				li > a.buynow {margin: 0 15px;}
			}
		}

	}

	&.m2 {
		@media (max-width: @screen-sm-max) {.klay {top: -9px;}}
		@media (max-width: @screen-sm-min) {.klay {top: -4px;}}
		@media (max-width: @screen-xs)	   {.klay {top: -9px;}}
		nav {
			> ul {
				float: none;
				vertical-align: middle;
				text-align: right;
				> li:not(:first-child) {
					display: inline-block;
					float: none;
				}

				@media (max-width: @screen-sm) {padding: 15px 0;}
				@media (max-width: 395px) {padding: 15px 0;}

				@media (max-width: @screen-xs) {
					li > a {padding: 0 10px; font-size: 0.8em;}
				}

				@media (max-width: 360px) {
					li > a {padding: 0 8px; font-size: 0.7em;}
				}
			}
		}
	}
}

.navbar-inverse {
	background-color: #3f3f3f;
	.box-shadow(0 2px 2px rgba(0,0,0,.75));
	z-index: 10;
	margin: 0;
	border: 0;

	@media (max-width: @screen-sm) {
		height: 50px;
		.navbar-header {z-index: 2; position: relative;}
	}

	&:before {
		.fit();
		content: '';
		.vertical(#464646; #383838; 0%; 100%);
	}


	.klay {
		display: block;
		max-width: 112px;
		max-height: 115px;
		position: absolute;
		left: 30px; top: -27px;
		padding: 0;
		.t();

		@media (max-width: @screen-md) {
			max-width: 80px;
			top: -9px;
		}

		@media (max-width: @screen-sm) {top: -16px;}
		@media (max-width: 460px) {left: 0;}
	}

	#navbar-collapse {
		border: 0;
		box-shadow: none;

		@media(min-width: @screen-sm) {margin-left: 60px;}
		@media(min-width: @screen-md-min) {margin-left: 115px;}
	}

	.nav {
		border: 0;
		margin: 0;
		padding: 0;
		list-style: none;
		.clearfix();
		.t();

		@media(min-width: @screen-sm) {
			&.right {
				float: none;
				text-align: right;

				> li {
					text-align: center;
					display: inline-block;
					float: none;

					&.signup, &.live {float: left;}
				}
			}
		}

		> li {
			> a {
				color: #aaa;
				text-align: center;
				font-family: 'Oswald', sans-serif;
				padding: 16px 15px 14px;
				text-transform: uppercase;
				line-height: 30px;
				font-weight: 300;
				display: block;
				.t();

				&:hover, &:focus {
					text-decoration: none;
					color: #fff;
				}

				&.buynow {
					color: #fff;
					.box-shadow(none);
					text-decoration: none;
					margin: 13px 0 12px;
					padding: 3px 12px 0;
					&:hover {background-color: darken(@orange, 10%);}

				}
			}

			&.signup > a {
				.box-shadow(none);
				text-decoration: none;
				.box-sizing(border-box);
				border: 1px solid #ccc;
				margin: 13px 0 12px;
				padding: 3px 12px 0;
				color: #ccc;

				&:hover {
					color: #fff;
					border-color: #fff;
				}
			}

			&.live > a {
				.box-shadow(none);
				text-decoration: none;
				.box-sizing(border-box);
				border: 1px solid #ccc;
				text-align: center;
				margin: 13px 0 12px;
				padding: 3px 12px 0;
				min-width: 80px;
				color: #ccc;

				&:hover {
					color: #fff;
					border-color: #fff;
				}
			}

			&.active {
				> a, > a:focus, > a:hover {color: #fff; background-color: transparent;}
			}
		}

		@media (max-width: @screen-sm) {
			background-color: fade(#464646, 90%);
			.box-shadow(0 1px 5px 0 rgba(0,0,0,.5) inset);
			position: absolute;
			top: 100%;
			right: 0;
			left: 0;

			li {overflow: hidden;}

			li > a {padding: 12px 15px 8px; line-height: 30px; text-shadow: 0 -1px 0 fade(#000, 25%);}
			li + li > a {border-top: 1px solid fade(#fff, 20%);}
			li.signup > a, li.live > a {background-color: #333}
			li > a.buynow, li.signup > a, li.live > a {margin: 0 -1px; padding: 12px 15px 8px;}
		}
	}
}

.register {
	z-index: 1;
	padding: 55px 0;
	min-height: 515px;
	background: #000 url(../img/ShotTracker_Klay.jpg) no-repeat top center;
	background-size: cover;
	color: #fff;

	@media (max-width: @screen-md) {
		background-image: url(../img/ShotTracker_Klay_md.jpg);
		// background-size: 100%;
	}

	@media (max-width: @screen-sm) {
		background-image: url(../img/ShotTracker_Klay_sm.jpg);
		// background-size: 100%;
		h1 {margin-right: 0;}
	}

	@media (max-width: @screen-xs) {
		background-size: 140%;
	}

	.date {
		display: block;
		text-transform: uppercase;
		.fonta;
		font-size: 1.5em;
		color: @orange;
	}

	h1 {
		.fonta;
	 	font-size: 5em;
		margin: 0 -30px 15px 0;
		text-shadow: 0 2px 1px #a5a5a5;
		text-transform: uppercase;
		position: static;
		line-height: 0.8;
	 	display: block;
		color: #fff;
	}

	.play {
		display: none;
		line-height: 1;
		padding: 5px 30px;
		text-decoration: none;
		text-transform: uppercase;
		border: 1px solid rgba(255,255,255,.4);
		background-color: rgba(255,255,255,.4);
		font-size: 1.8em;
		color: #fff;
		.fonta;
		.t();

		&:before {
			content: '';
			height: 0; width: 0;
			display: inline-block;
			border: 15px solid rgba(255,255,255,0);
			border-left-color: #fff;
		}

		&:hover {border-color: inherit;}

		@media(max-width: 767px) {
			display: inline-block;
		}

		@media(max-width: @screen-xs) {
			padding: 5px 15px;
			display: inline-block;
			font-size: 1.2em;

			&:before {
				border-width: 7px;
				vertical-align: -1px;
			}
		}
	}

	.intro {
		font-size: 0.8em;
		text-align: justify;
		margin-right: 35px;
	}

	.video {
		height: 210px;
		display: block;
		background: url(../img/3.png) center no-repeat;
	}

	.form {
		.form-group {
			float: left;
			position: relative;
			&:nth-child(1) {
				.box-sizing(border-box);
				padding-right: 10px;
				width: 40%;
			}
			&:nth-child(2) {
				.box-sizing(border-box);
				padding-right: 10px;
				width: 40%;
			}

			&:nth-child(3) {
				width: 20%;
				.btn {display: block; margin: 0; width: 100%;}
			}
		}

		.form-control {
			background: #272727;
			border: 1px solid #808080;
			font-size: 0.96em;
			color: #fff;
			width: 100%;
		}

		.has-error {
			.form-control  {
				border-color: red;
				color: red;
			}

			.tooltip {
				.box-sizing(border-box);
				left: 0!important;
				max-width: none;
				right: 10px;
			}

			.tooltip-inner  {
				color: red;
				.box-sizing(border-box);
				max-width: none;
				width: 100%;
			}
		}

		.checkbox {
			clear: both;
			position: relative;
			margin-top: 0;
			input {.opacity(0);}
			label > span {
				background: url(../img/checkbox.png) 0 0 no-repeat;
				position: absolute;
				display: block;
				height: 15px;
				width: 15px;
				left: 0;
				top: 0;
			}

			input[type="checkbox"]:checked + span {background-position: 0 -15px;}
		}

		.btn {
			font-weight: 300;
			font-family: 'Oswald', sasns-serif;
			text-transform: uppercase;
			background: @orange;
			text-align: center;
			color: #fff;
		}
	}

	.text1 {
		background: #1f1f1f url(../img/10.png) no-repeat 8px;
		border: 1px solid #4d4d4d;
		padding: 7px 20px 7px 40px;
		display: inline-block;
		margin: 25px 0 10px;
		font-weight: 300;
	}

	.text2 {
		.fonta;
		color: @orange;
		font-size: 3em;
		line-height: 0.9;
		text-transform: uppercase;
		padding: 13px 0 3px;
	}

	.text3 {
		color: #d1d1d1;
		line-height: 1.2;
		// font-size: 1.3em;
		font-size: .9em;
		padding: 0 0 10px;
	}

	.text4 {
		a {
			width: 20px;
			height: 20px;
			display: inline-block;
			background: url(../img/11.png) no-repeat 0 0;
			margin: 0 0 0 10px;
			position: relative;
			top: 5px;

			&.twitter {background-position: -30px 0;}
		}
	}

	#invite.btn {
		&, + .btn {
			min-width: 160px;
		}
	}

	.btn {
		.fontb;
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
		background: @orange;
		margin: 0 20px 10px 0;
	}

	.campspecial {
		@w: 310px;
		font-size: 0.9em;
		background-color: #ebebeb;
		border: 1px solid @orange;
		.box-shadow(0 0 30px 0 #000);
		padding: 15px 15px 10px;
		top: -55px; left: 145px;
		position: absolute;
		max-width: @w;
		border-top: 0;
		color: @gray;
		z-index: 2;

		.h3 {
			.fontb;
			font-size: 2em;
			letter-spacing: -1px;
			text-transform: uppercase;
			margin: 0 0 5px;
			color: @orange;
		}

		p {margin-bottom: 5px;}

		a {
			text-decoration: underline;
			color: @orange;
			&:hover {text-decoration: none;}
		}

		small {font-size: 0.8em;}
	}
}

.parallax {
	&, > div {
		background: #000 url(../img/ShotTracker_Scrolling.jpg) center no-repeat;
		background-size: cover;
		height: 250px;
	}

	@media(min-width: @screen-sm-max) {
		> div {background-attachment: fixed;}
	}
}

.buynow {
	background-color: @orange;
	.box-shadow(0 3px 4px rgba(0,0,0,.75));
	z-index: 2;
	color: #fff;

	.container {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	&__logo {
		vertical-align: -3px;
		margin-right: 25px;
		display: inline-block;
		height: 22px;
	}

	span {
		line-height: 1;
		vertical-align: -3px;
		display: inline-block;
		text-transform: uppercase;
		margin-right: 125px;
		font-size: 1.5em;
		.fonta;
	}

	.btn {
		height: 50px;
		padding: 0 20px;
		line-height: 50px;
		text-transform: uppercase;
		right: 0; top: 0; bottom: 0;
		background-color: #fff;
		position: absolute;
		font-size: 1.5em;
		color: @orange;
		display: block;
		.fonta;
	}

	@media (max-width: 1199px) {
		text-align: center;

		.buynow__logo {
			display: block;
			vertical-align: 0;
			margin: 10px auto;
			height: auto;
		}

		span {
			display: block;
			vertical-align: 0;
			text-transform: uppercase;
			margin-right: 0;
			font-size: 1.875em;
			.fonta;
		}

		.btn {
			display: block;
			position: relative;
			vertical-align: 0;
			background-color: #fff;
			margin: 10px 0 -12px;
			font-size: 1.875em;
		}
	}

	@media (max-width: 640px) {
		.btn {
			height: auto;
			// font-size: 3em;
			margin: 20px -15px -12px;
			padding: 10px;
		}
	}
}

.details {
	background: url(../img/ShotTracker_CampDetails.jpg) center no-repeat;
	background-size: cover;
	color: #fff;

	h2 {
		margin: 40px 0 20px;
		.fonta;
		font-size: 3em;
	}

	.items {
		margin: 0 -15px 20px;
		.clearfix();
		.item {
			width: 20%;
			float: left;

			&__wrap {
				.t();
				margin: 0 15px;
				padding: 12px 15px 40px;
				border: 1px solid #4f504f;
				position: relative;
				min-height: 280px;
				&:hover {background: rgba(256, 256, 256, 0.1);}
			}

			h3 {
				font-family: 'Oswald', sans-serif;
				font-size: 1.375em;
				font-weight: 300;
				margin: 0 0 10px;
				color: @orange;
			}

			p {
				font-size: 0.75em;
				margin: 0;
				+ a {
					position: absolute;
					text-transform: uppercase;
					text-decoration: underline;
					font-size: 0.75em;
					color: inherit;
					bottom: 10px;

					&:hover {text-decoration: none;}
				}
			}

			@media (max-width: @screen-md-min) {
				width: auto;
				float: none;
				+ .item {margin-top: 30px;}
				.item__wrap {min-height: 0;}
				// p, p + a {font-size: 1em;}
			}
		}
	}

	.note {
		font-size: 0.75em;
		font-style: italic;
		margin-bottom: 20px;
		> a {color: @orange;}
	}
}

.experience {
	padding: 40px 0;
	h2 {
		font-size: 3em;
		line-height: 1;
		margin: 0 0 20px;
		text-transform: uppercase;
		.fonta;
		color: @orange;
	}

	.img {
		text-align: center;
		display: block;
		max-width: 48%;
		float: right;
		padding: 20px;

		.btn-buynow {
			display: block;
			margin: 20px auto;
			text-transform: uppercase;
			border: 1px solid @orange;
			text-decoration: none;
			font-size: 1.875em;
			color: @orange;
			padding: 5px;
			width: 200px;
			.fonta;
			.t();

			&:hover {
				background-color: @orange;
				color: #fff;
			}
		}
	}

	.step {
		color: #787878;
		min-height: 30px;
		padding: 0 0 15px 35px;
		position: relative;

		.digit1 {
			width: 25px;
			height: 25px;
			left: 0; top: 2px;
			position: absolute;
			border: 1px solid #505050;
			border-radius: 50%;
			text-align: center;
			margin: 0 10px 0 0;
			.fonta;
			line-height: 25px;
			font-size: 1.3em;
			color: #666;
		}

		.title {
			color: #717171;
			text-transform: uppercase;
			position: relative;
			.fonta;
			font-size: 1.875em;
			line-height: 1;
		}

		p {font-size: 0.8em;}

		ul {
			.clearfix();
			list-style: none;
			margin: 0 0 10px;
			padding: 0;

			li {
				float: left;
				// max-width: 127px;
				text-align: center;
				margin: 10px 15px 0 0;
				font-size: 0.6em;

				span {
					display: block;
					white-space: nowrap;
					margin-top: 5px;
				}

				a {
					color: #575757;
					text-transform: uppercase;
					text-decoration: underline;
				}

				@media(max-width: 380px) {max-width: 127px;}
			}
		}
	}

	@media (max-width: @screen-md) {
		.img {
			float: none;
			max-width: 100%;
			.btn-buynow {width: auto; margin: 20px -5px;}
		}

		.step + .step {
			border-top: 1px solid #acacac;
			padding-top: 20px;

			.digit1 {top: 22px;}
		}
	}
}

.seazon {
	color: #fff;
	padding: 1px 0;
	.fonta;
	background: @orange;
	text-align: center;
	line-height: 1;
	font-size: 5em;

	span > span {color: @blue;}
}

.questions {
	color: #fff;
	background: url(../img/ShotTracker_Questions.jpg) no-repeat center;
	background-size: cover;
	min-height: 456px;

	h3 {
		color: #fff;
		font-size: 3em;
		text-transform: uppercase;
		margin: 40px 0 14px;
		.fonta;
	}

	.panel-title  {
		font-size: 1.5em;
		color: @orange;
		.fonta;
	}

	.panel-body {
		padding-top: 10px;
		font-size: 0.8em;
	}
}

.awards {
	padding: 40px 0;
	min-height: 750px;

	.breadcrumb {margin: 20px 0 0;}
	h2 {
		.fonta;
		font-size: 3em;
		color: @orange;
		margin: 0 0 20px;
		text-transform: uppercase;
	}

	h3 {
		.fonta;
		font-size: 1.5em;
		color: @orange;
		margin: 20px 0 10px;
		text-transform: uppercase;
	}

	img.icon {
		top: -2px;
		position: relative;
		vertical-align: middle;
		display: inline-block;
		margin-right: 5px;
	}

	.col-md-6 + .col-md-6 { text-align: center;}

	.note {
		text-transform: uppercase;
		margin-top: 40px;
		font-size: 0.8em;
	}

	a {color: @orange;}

	@media(min-width: @screen-sm) {
		.notebook {margin: 20px 0 0 -30px;}
	}
}

.livefeed {
	padding: 80px 0;
	background: url(../img/klay-bg.jpg) top center;
	background-size: cover;
	text-align: center;
	color: #fff;

	@board-height: 462px;

	h1 {
		.fonta;
		font-size: 5em;
		line-height: 1;
		margin-bottom: -5px;
		text-shadow: 0 2px 1px #a5a5a5;
		text-transform: uppercase;
		position: relative;
		color: inherit;

		@media(max-width: @screen-sm) {font-size: 4em;}
		@media(max-width: @screen-xs) {font-size: 3em;}
	}

	.row {margin: 20px 0 0;}
	.col-md-8 {margin-bottom: 30px;}

	.livefeed-wrap {
		@media(min-width: @screen-md) {
			&:first-of-type {margin-right: -15px;}
			&:last-of-type {margin-left: -15px;}
		}
	}

	.life-frame {
		position: relative;
		background-color: #000;
		border: 1px solid #999;
		vertical-align: middle;

		> img, > iframe {display: block;}

		&-wrap {
			text-align: center;
			padding: 40px 60px;

			h2 {
				line-height: 1;
				text-transform: uppercase;
				font-size: 3em;
				.fonta;

				span {
					display: block;
					line-height: 1;
					font-size: 0.6em;
					&:last-of-type {margin-top: 20px;}
				}
			}

			ol {
				padding: 0;
				margin: 0 auto;
				max-width: 540px;
				list-style-position: inside;
				> li {margin: 10px 0;}
			}

			a {color: @orange;}
		}
	}

	.board-pannel__twitter {
		background-color: rgba(200,200,200,.25);
		position: relative;
		padding-bottom: 40px;
		height: 100%;

		&-header {
			vertical-align: middle;
			background-color: #24b4ff;
			padding: 10px 15px;
			color: #fff;

			h4 {
				margin: 0;
				text-transform: uppercase;
				font-size: 1.8em;
				color: inherit;
				.fonta;
			}
		}

		&-subheader {
			font-size: .8em;
			text-align: left;
			padding: 5px 10px;
			background-color: #1c1c1c;
			color: #fff;
		}

		&-body {
			// overflow-y: auto;
			margin-bottom: -8px;

			@media(max-width: @screen-md) {
				overflow: visible;
			}

			> iframe {
				width: 100% !important;
				padding: 0;
			}
		}

		&-item {
			position: relative;
			padding: 15px 15px 15px 60px;
			+ .board-pannel__twitter-item {border-top: 1px solid #e7e7e7;}

			p {
				margin: 0;
				font-size: 0.9em;
				line-height: 1.1;
				margin: -1px 0 0;
				color: #999;
			}

			small {
				display: block;
				font-size: 0.7em;
				margin: 0;
			}

			a {color: #24b4ff;}
		}

		&-avatar {
			width: 30px;
			height: 30px;
			overflow: hidden;
			position: absolute;
			left: 15px; top: 15px;
			// border: 1px solid #ccc;
		}

		&-footer {
			background-color: #1c1c1c;
			padding: 10px 15px;
			position: absolute;
			font-size: 0.9em;
			.clearfix();
			bottom: 0;
			right: 0;
			left: 0;

			> div {
				width: 50%;
				float: left;
				height: 20px;
				line-height: 20px;
				text-align: left;
				&:last-child {text-align: right;}
			}

			a {color: #fff;}
		}
	}

	.poweredby {
		margin-top: 20px;
		span {
			display: block;
			text-transform: uppercase;
			.fonta;
		}
	}
}

.leaderboard {
	@media(max-width: @screen-sm-max) and (min-width: @screen-sm-min) {font-size: 20px;}
	.board {
		@h: 720px;

		margin: 80px 0;
		@media(max-width: @screen-sm) {margin: 40px 0;}
		@media(max-width: @screen-xs) {margin: 20px 0;}

		&-tab {
			color: @orange;
			position: relative;
			text-transform: uppercase;
			border-top: 1px solid @orange;
			border-left: 1px solid @orange;
			padding: 12px 10px 8px 20px;
			.box-sizing(border-box);
			background-color: #fff;
			display: inline-block;
			font-size: 0.9em;
			line-height: 1;

			&:before {
				content: '';
				.skew(29deg, 0);
				position: absolute;
				background-color: #fff;
				.box-sizing(border-box);
				border-top: 1px solid @orange;
				border-right: 1px solid @orange;
				left: 9px; right: -9px;
				top: -1px; bottom: 0;
			}

			span {position: relative;}
		}

		&-pannel {
			position: relative;
			background-color: #cfcfcf;

			.col-md-8 {z-index: 2;}
			.col-md-4 {z-index: 1;}

			.board-pannel__wrap {.box-shadow(0 0 15px 0 rgba(0,0,0,.2));}
			.col-md-8 .board-pannel__wrap {
				margin-right: -@grid-gutter-width/2;
				@media(max-width: @screen-md) {margin-right: 0;}
			}

			&__table {
				overflow-y: auto;
				position: relative;
				max-height: 540px;

				@media(max-width: @screen-xs) {max-height: 400px;}

				&-wrapper {
					display: table;
					max-height: @board-height;
					background-color: #fff;
					position: relative;
					width: 100%;
					z-index: 1;
				}
			}

			&__filter {
				.fontb;
				text-transform: uppercase;

				.btn-group + .btn-group {
					border-left: 1px solid #fff;
				}

				.btn-group .btn-group {
					background-color: #898989;
					.t();

					&:hover {background-color: darken(#898989, 10%);}

					.btn {
						vertical-align: middle;
						.box-shadow(none);
						border: 0;

						> span:first-child {
							display: inline-block;
							vertical-align: middle;
							line-height: 1.3;
						}
					}
				}

				.dropdown-menu {
					border: 0;
					border-top: 1px solid #fff;
					background-color: darken(#898989, 10%);
					.box-shadow(none);
					min-width: 100%;
					padding: 0;
					margin: 0;
					.t();

					> li {
						> a {
							color: #fff;
							&:hover {background-color: #898989;}
						}
					}
				}

				a {
					white-space: pre-wrap;
					padding: 10px 35px 10px 15px;
					text-align: left;
					font-weight: 300;

					.caret {
						border-width: 8px;
						position: absolute;
						border-top-color: #b1b1b1;
						margin-top: -3px;
						right: 10px;
						top: 50%;
					}
				}

				@media(max-width: @screen-sm) {
					.btn {
						height: 100%;
						font-size: 0.9em;
						padding: 5px 25px 5px 10px;
						display: table;

						> span {
							display: inline-block;
							vertical-align: middle;
						}

						.caret {border-width: 5px; right: 7px;}
					}

					.dropdown-menu {font-size: 0.9em; min-width: 160px;}

				}

				@media(max-width: @screen-xs) {
					.btn {font-size: 0.66em;}
					.btn-group .btn-group:last-child .dropdown-menu {right: 0;}
 					.dropdown-menu {font-size: 0.9em;}
				}
			}

			&__item {
				background-color: #fff;
				display: table-row;
				height: 60px;
				width: 100%;
				.t();

				&:hover {background-color: #f3f3f3;}

				&.leader {
					display: table;
					.box-shadow(0 2px 3px 0 rgba(0,0,0,.25));
					position: relative;
					border-bottom: 0;
					z-index: 5;

					@media(min-width: @screen-sm) {
						> .number {font-size: 2em;}
					}

					.name {
						.fonta;
  						line-height: 1;
						font-size: 1.8em;
						text-transform: uppercase;
						color: @orange;
					}
				}

				&.header {
					height: 25px;
					font-size: 0.8em;
					background-color: #3d3d3d;
					padding-right: 18px;
					position: relative;
					border-bottom: 0;
					color: #b0b0b0;

					@media (max-width: 480px) {font-size: .6em; text-transform: uppercase;}

					.board-pannel__item-column {
						padding: 5px 10px 3px;
						text-transform: uppercase;

						&.number, &.percent, &.shots {font-family: inherit; font-size: inherit; color: inherit; white-space: nowrap;}

						@media(min-width: @screen-sm) {&.percent {width: 180px;}}
						@media(max-width: @screen-xs) {padding: 5px; line-height: 1;}

						@media(max-width: @screen-sm) {
							&.avatar {padding-left: 5px;}
							&.shots {padding-left: 0;}
						}
					}
				}

				&-column {
					display: table-cell;
					border-bottom: 1px solid #e7e7e7;
					.box-sizing(border-box);
					vertical-align: middle;
					padding: 10px;


					@media(max-width: @screen-sm) {padding: 5px;}

					.board-pannel__item-column {
						border: 0;
						padding: 0;
						+ .board-pannel__item-column {
							padding-left: 10px;
							width: 50%;
						}

						@media(max-width: @screen-sm) {
							display: block;
							+ .board-pannel__item-column {padding-left: 0; width: auto;}
						}
					}

					&.number {
						width: 70px;
						font-size: 1.2em;
						font-weight: 300;
						background-color: rgba(0,0,0,.03);
						text-align: right;
						color: #666;
						.fontb;

						@media(max-width: @screen-sm) {font-size: 1em;}
						@media(max-width: @screen-xs) {font-size: .9em; width: 35px;}
					}

					&.percent {
						width: 50px;
						font-size: 1.2em;
						font-weight: 300;
						text-align: right;
						color: @orange;
						.fontb;
					}

					&.avatar {
						width: 50px;
						padding-right: 0;

						> span {
							display: block;
							overflow: hidden;
							height: 40px;
							width: 40px;
							> img {
								max-width: 100%;
								height: auto;
								object-fit: cover;
							}
						}
					}

					&.shots {color: #777;}
				}

				@media (max-width: 480px) {
					&-column{
						&.percent {font-size: 1em;}
						&.shots {font-size: .8em;}
					}
				}
				@media (max-width: 370px) {
					height: 50px;
					&-column {
						// &.percent {font-size: .7em;}
						&.shots {font-size: .67em;}
					}
				}
			}

			&__resoults-info .board-pannel__item-column {border: 0;}

			&__item-wrap {
				display: table;
				width: 100%;
			}

			// &__wrap {
			// 	> .board-pannel__table .board-pannel__item-column.percent,
			// 	> .board-pannel__item .board-pannel__item-column.percent {width: 180px;}
			// }

			&__wrap-right {
				overflow: hidden;
				position: relative;
				margin: 0 0 0 -@grid-gutter-width/2;
				@media(max-width: @screen-md) {margin: 0;}
			}

			&__resoults {
				position: relative;
				&-header {
					vertical-align: middle;
					background-color: #f3f3f3;
					padding: 5px 15px 6px;

					.board-pannel__item-column {
						&.avatar {
							padding: 0;
							width: 30px;
						}

						&.name {padding: 0 0 0 10px;}
					}
				}

				&-body {
					padding: 15px;
					@media(max-width: @screen-xs) {text-align: left;}
				}

				&-desc {margin: 0 0 15px;}

				&-charts {
					min-height: 90px;
					padding-left: 105px;
					position: relative;

					> span {
						line-height: 1;
						display: inline-block;
						font-weight: 300;
						font-size: 1.5em;
						margin: 5px;
						color: @orange;
						.fontb;

						> small {
							display: block;
							font-size: 0.5em;
							font-family: @font-family-sans-serif;
							text-transform: uppercase;
							color: @gray-lighter;
						}
					}
				}

				.chart, .chart > span,  .chart > canvas {
					@h: 90px;
					vertical-align: middle;
					border-radius: 50%;
					position: absolute;
					left: 0; top: 0;
					height: @h;
					width: @h;

					> span {
						font-size: 2em;
						font-weight: 300;
						line-height: @h;
						display: inline-block;
						text-align: center;
						color: @orange;
						.fontb;

						&:after {
							font-size: 0.3em;
							margin-right: -5px;
							display: inline-block;
							content: '%';
						}
					}
				}

				&-info, &-shots {
					.box-shadow(0 2px 3px 0 rgba(0,0,0,.15));
					background-color: #fff;
					border: 1px solid #ccc;
					border-left-width: 0;
					margin-bottom: 5px;

					@media(max-width: @screen-md) {border-left-width: 1px;}
				}

				&-info {text-align: center}

				&-shots {
					.board-pannel__resoults-header {
						text-align: right;
						.clearfix;

						@media(max-width: @screen-md-max) and (min-width: @screen-md-min) {text-align: left;}

						> span {
							display: inline-block;

							&.h5 {float: left;}

							&.points {
								color: @gray-light;
								text-transform: uppercase;
								font-size: 0.7em;

								> span {
									display: inline-block;
									vertical-align: middle;
									+ span {margin-left: 15px;}

									&:before {
										@h: 12px;
										content: '';
										margin-right: 5px;
										vertical-align: -2px;
										display: inline-block;
										height: @h; width: @h;
										border-radius: 50%;
									}

									&.points-red:before {background-color: #f32121;}
									&.points-green:before {background-color: #23c0b3;}
									&.points-orange:before {background-color: @orange;}

								}

							}
						}
					}

					.h5 {
						line-height: 1;
						font-weight: 300;
						margin: 4px 15px 0 0;
						text-transform: uppercase;
						.fontb;
					}

					table.table {
						margin: 10px 0 0;
						tr {
							&:first-child > td {border: 0;}
							> td {
								vertical-align: 0;

								&:nth-child(1) {padding-left: 0;}
								&:nth-child(3) {padding-right: 0;}

								&:nth-child(1), &:nth-child(3) {
									color: @orange;
									font-size: 0.8em;
									font-weight: 300;
									text-align: right;
									white-space: nowrap;
									.fontb;
								}

								&:nth-child(2) {
									color: @gray-light;
									text-transform: uppercase;
									font-size: 0.7em;
								}
							}
						}
					}
				}
			}

			&__empty {
				width: 100%;
				height: 620px;
				display: table;
				background: #ffffff;
				background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 99%, #efefef 99%, #efefef 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#ffffff), color-stop(99%,#efefef), color-stop(100%,#efefef));
				background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 99%,#efefef 99%,#efefef 100%);
				background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 99%,#efefef 99%,#efefef 100%);
				background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 99%,#efefef 99%,#efefef 100%);
				background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 99%,#efefef 99%,#efefef 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
				background-position: center 33px;
				background-size: 100% 60px;
				vertical-align: middle;
				text-align: center;

				> div {
					display: table-cell;
					vertical-align: middle;
				}

				.h1 {
					.fontb;
					color: @orange;
					margin: 0 0 10px;
					text-transform: uppercase;
				}

				p {font-size: 1.1em;}
			}
		}
	}
}

.column-wrapper {overflow-x: hidden; overflow-y: auto;}

.activity {
	@media(max-width: @screen-sm-max) and (min-width: @screen-sm-min) {font-size: 20px;}
	&-tabs {
		background-color: #d7d7d7;

		ul {
			text-align: center;
			list-style: none;
			font-size: 0;
			padding: 0;
			margin: 0;

			&:after {
				content: '';
				display: inline-block;
				width: 100%;
			}

			> li {
				display: inline-block;
				font-size: 16px;
				width: 33.33%;

				+ li > a {
					border-left: 1px solid #aaa;
				}

				> a {
					.fontb;
					display: block;
					font-weight: 300;
					text-decoration: none;
					text-transform: uppercase;
					text-align: center;
					padding: 20px 20px 15px;
					line-height: 1.2;
					font-size: 1em;
					width: 100%;
					color: #999;

					&:hover {color: #555;}

					@media(max-width: @screen-sm-max) and (min-width: @screen-sm-min) {font-size: 1.5em;}
				}

				&.active, &:active, &:focus {
					> a {color: #555;}
				}
			}
		}
	}

	.board {
		margin: 80px 0;
		@media(max-width: @screen-sm) {margin: 40px 0;}
		@media(max-width: @screen-xs) {margin: 20px 0;}

		&-tab {
			color: @orange;
			position: relative;
			text-transform: uppercase;
			border-top: 1px solid @orange;
			border-left: 1px solid @orange;
			padding: 12px 10px 8px 20px;
			.box-sizing(border-box);
			background-color: #fff;
			display: inline-block;
			font-size: 0.9em;
			line-height: 1;

			&:before {
				content: '';
				.skew(29deg, 0);
				position: absolute;
				background-color: #fff;
				.box-sizing(border-box);
				border-top: 1px solid @orange;
				border-right: 1px solid @orange;
				left: 9px; right: -9px;
				top: -1px; bottom: 0;
			}

			span {position: relative;}
		}

		.dropdown {
			> .btn {
				border: 0;
				color: @orange;
				position: relative;
				text-transform: uppercase;
				border-top: 1px solid @orange;
				border-left: 1px solid @orange;
				padding: 12px 10px 8px 20px;
				.box-sizing(border-box);
				background-color: #fff;
				display: inline-block;
				font-size: 0.9em;
				line-height: 1;

				&:before {
					content: '';
					.skew(29deg, 0);
					position: absolute;
					background-color: #fff;
					.box-sizing(border-box);
					border-top: 1px solid @orange;
					border-right: 1px solid @orange;
					left: 9px; right: -9px;
					top: -1px; bottom: 0;
					.t();
				}

				&:hover, &:focus, &:active {
					color: #fff;
					&, &:before {background-color: darken(@orange, 5%);}
				}

				span {
					position: relative;
					&.caret {margin-left: 5px;}
				}

			}

			&-menu {
				.t();
				border: 0;
				margin: 1px 0 0;
				padding: 1px 0 0;
				min-width: 200px;

				> li {
					> a {padding: 5px 20px;}
					+ li > a {border-top: 1px solid #eee;}
				}
			}
		}

		&-pannel {
			position: relative;

			.col-md-8 {
				z-index: 2;
				.col-md-6 {
					height: 100%;
					&:first-child {z-index: 2;}
					&.rc {
						z-index: 0;
						padding: 0;
						margin-left: -@grid-gutter-width/2;
						@media(max-width: @screen-md) {margin-left: 0; padding: 0 15px;}
					}
				}
			}

			.col-md-4 {z-index: 1;}

			.board-pannel__wrap {
				height: @board-height + 20;
				.box-shadow(0 0 15px 0 rgba(0,0,0,.2));
				position: relative;
				overflow: hidden;

				@media(max-width: @screen-md) {
					height: auto;
					overflow: visible;
					// .box-shadow(none);
				}

				> .row {height: 100%;}
			}

			&__header {
				padding: 0 10px;
				text-transform: uppercase;
				background-color: @gray-light;
				vertical-align: 0;
				line-height: 23px;
				font-size: 0.8em;
				overflow: hidden;
				height: 20px;
				color: #fff;
			}

			&__table {
				overflow-y: auto;
				padding-top: 1px;
				position: relative;

				&-wrapper {
					max-height: 480px;
					background-color: #fff;
					position: relative;
					z-index: 1;

					@media(max-width: @screen-md) {
						max-height: none;
					}
				}
			}

			&__filter {
				.fontb;
				text-transform: uppercase;

				.btn-group + .btn-group {
					border-left: 1px solid #fff;
				}

				.btn-group .btn-group {
					background-color: #898989;
					.t();

					&:hover {background-color: darken(#898989, 10%);}

					.btn {
						vertical-align: middle;
						.box-shadow(none);
						border: 0;

						> span:first-child {
							display: inline-block;
							vertical-align: middle;
							line-height: 1.3;
						}
					}
				}

				.dropdown-menu {
					border: 0;
					border-top: 1px solid #fff;
					background-color: darken(#898989, 10%);
					.box-shadow(none);
					min-width: 100%;
					padding: 0;
					margin: 0;
					.t();

					> li {
						> a {
							color: #fff;
							&:hover {background-color: #898989;}
						}
					}
				}

				a {
					white-space: pre-wrap;
					padding: 10px 35px 10px 15px;
					text-align: left;
					font-weight: 300;

					.caret {
						border-width: 8px;
						position: absolute;
						border-top-color: #b1b1b1;
						margin-top: -3px;
						right: 10px;
						top: 50%;
					}
				}

				@media(max-width: @screen-sm) {
					.btn {
						height: 100%;
						font-size: 0.9em;
						padding: 5px 25px 5px 10px;
						display: table;

						> span {
							display: inline-block;
							vertical-align: middle;
						}

						.caret {border-width: 5px; right: 7px;}
					}

					.dropdown-menu {font-size: 0.9em; min-width: 160px;}

				}

				@media(max-width: @screen-xs) {
					.btn {font-size: 0.7em;}
					.btn-group .btn-group:last-child .dropdown-menu {right: 0;}
 					.dropdown-menu {font-size: 0.9em;}
				}
			}

			&__item {
				background-color: #fff;
				border-bottom: 1px solid #e7e7e7;
				display: table;
				width: 100%;
				.t();

				&:hover {background-color: #f3f3f3;}

				&.leader {
					.box-shadow(0 2px 3px 0 rgba(0,0,0,.25));
					padding-right: 5px;
					position: relative;
					border-bottom: 0;
					z-index: 5;

					.name {
						.fonta;
  						line-height: 1;
						font-size: 1.8em;
						text-transform: uppercase;
						color: @orange;
					}

					.avatar {
						width: 50px;
						> span {width: 40px; height: 40px;}
					}

					.shots {color: @orange;}
				}

				&-column {
					display: table-cell;
					.box-sizing(border-box);
					vertical-align: middle;
					padding: 10px;

					.board-pannel__item-column {
						padding: 0;
						+ .board-pannel__item-column {
							padding-left: 10px;
							width: 50%;
						}

						@media(max-width: @screen-sm) {
							display: block;
							+ .board-pannel__item-column {padding-left: 0; width: auto;}
						}
					}

					&.avatar {
						width: 40px;
						padding-right: 0;
						> span {
							display: block;
							overflow: hidden;
							height: 30px;
							width: 30px;
						}
					}

					&.name {
						line-height: 1;
						> small {
							display: block;
							font-size: 0.7em;
							color: #666;
						}
					}

					&.shots {
						color: #777;
						font-size: 0.8em;
						text-align: right;
						font-weight: 300;
						padding-left: 0;
						width: 180px;
						.fontb;
					}
				}
			}

			&__item-wrap {
				display: table;
				width: 100%;
			}

			&__resoults {
				position: relative;

				&-body {
					padding: 15px;
			  		overflow-y: auto;
  					max-height: @board-height - 31;
					@media(min-width: @screen-md) {}
					@media(max-width: @screen-md) {
						overflow: visible;
						text-align: left;
						max-height: none;
					}
				}

				.total-shots {
					float: right;
					color: @orange;
					font-size: 0.8em;
					font-weight: 300;
					margin: 5px 0 0 20px;
					.fontb;
				}

				p + .board-pannel__shot {margin-top: 20px;}

				&-shots {
					height: @board-height + 20;
					.box-shadow(0 0px 10px 0 rgba(0,0,0,.20));
					background-color: #fff;

					@media(max-width: @screen-md-min) {
						height: auto;
						overflow: visible;
					}

					.board-pannel__resoults-header {
						background-color: @orange;
						padding: 10px 15px;
						color: #fff;

						h4 {
							margin: 0;
							text-transform: uppercase;
							font-size: 1.8em;
							.fonta;
						}
					}

					.h5 {
						line-height: 1;
						font-weight: 300;
						margin: 4px 15px 0 0;
						text-transform: uppercase;
						.fontb;
					}

					table.table {
						margin: 10px 0 0;
						tr {
							&:first-child > td {border: 0;}
							> td {
								vertical-align: 0;

								&:nth-child(1) {padding-left: 0;}
								&:nth-child(3) {padding-right: 0; text-transform: uppercase;}

								&:nth-child(1), &:nth-child(3) {
									color: @orange;
									font-size: 0.8em;
									font-weight: 300;
									text-align: right;
									white-space: nowrap;
									.fontb;
								}

								&:nth-child(2) {
									color: @gray-light;
									text-transform: uppercase;
									font-size: 0.7em;
								}
							}
						}
					}
				}
			}

			&__twitter {
				position: relative;
				padding-bottom: 40px;
				height: 100%;

				&-header {
					vertical-align: middle;
					background-color: #24b4ff;
					padding: 10px 15px;
					color: #fff;

					h4 {
						margin: 0;
						text-transform: uppercase;
						font-size: 1.8em;
						color: inherit;
						.fonta;
					}
				}

				&-subheader {
					font-size: .8em;
					padding: 5px 10px;
					background-color: #1c1c1c;
					color: #fff;
				}

				&-body {
					// overflow-y: auto;
					height: @board-height - 118px;
					@media(max-width: @screen-md) {
						height: auto;
						overflow: visible;
					}

					> iframe {
						height: 100%;
						width: 100% !important;
						display: block !important;
						min-height: 425px;
						padding: 0;
						margin: 0;
					}
				}

				&-item {
					position: relative;
					padding: 15px 15px 15px 60px;
					+ .board-pannel__twitter-item {border-top: 1px solid #e7e7e7;}

					p {
						margin: 0;
						font-size: 0.9em;
						line-height: 1.1;
						margin: -1px 0 0;
						color: #999;
					}

					small {
						display: block;
						font-size: 0.7em;
						margin: 0;
					}

					a {color: #24b4ff;}
				}

				&-avatar {
					width: 30px;
					height: 30px;
					overflow: hidden;
					position: absolute;
					left: 15px; top: 15px;
					// border: 1px solid #ccc;
				}

				&-footer {
					background-color: #1c1c1c;
					padding: 10px 15px;
					position: absolute;
					font-size: 0.9em;
					.clearfix();
					bottom: 0;
					right: 0;
					left: 0;

					> div {
						width: 50%;
						float: left;
						height: 20px;
						line-height: 20px;
						text-align: left;
						&:last-child {text-align: right;}
					}

					a {color: #fff;}
				}
			}

			&__empty {
				width: 100%;
				height: 620px;
				display: table;
				vertical-align: middle;
				text-align: center;

				> div {
					display: table-cell;
					vertical-align: middle;
				}

				.h1 {
					.fontb;
					color: @orange;
					margin: 0 0 10px;
					text-transform: uppercase;
				}

				p {font-size: 1.1em;}
			}
		}

		.pannel {
			@media(max-width: @screen-md) {
				display: none;
				&.active {display: block;}
			}
		}
	}
}

.activity, .leaderboard {
	@import "shot.less";
}

.postcamp {
	&-intro {
		background: #000 url(../img/postcamp-head-bg.jpg) top center no-repeat;
		background-size: auto 100%;

		@media(max-width: @screen-sm) {
			background: #000 url(../img/postcamp-head-bg_sm.jpg) top center no-repeat;
			background-size: 100%;
			padding-top: 400px;
		}

		@media(max-width: 600px) {padding-top: 350px;}
		@media(max-width: 550px) {padding-top: 300px;}
		@media(max-width: 480px) {padding-top: 250px;}
		@media(max-width: 360px) {padding-top: 200px;}

		&-wrap {
			padding: 80px 0;
			color: #fff;

			h1 {
				line-height: .7;
				text-transform:uppercase;
				text-shadow: 0 2px 1px #a5a5a5;
				margin: 0 0 20px -4px;
			  	font-weight: 300;
				font-size: 8em;
				color: #fff;
				.fonta;

				> span {font-size: .5em; display: block; line-height: 1; margin-left: 4px;}

				@media(max-width: @screen-xs) {font-size: 5em;}
				@media(max-width: 380px) {font-size: 4em;}
			}

			p {font-size: 1.3em;}
		}
	}

	&-stats {
		position: relative;
		padding: 60px 0 40px;
		overflow: hidden;

		&:before {
			content: '';
			.fit(-10px);
			background: url(../img/postcamp-stat-bg.jpg) center no-repeat;
			background-size: cover;
			.blur(5px);
		}

		.stat {
			text-transform: uppercase;
			text-align: center;
			font-weight: 300;
			margin: 20px 0;
			color: #fff;
			.fonta;

			&-number {
				white-space: nowrap;
				letter-spacing: -.07em;
				line-height: .8;
				font-size: 10em;

				u {
					margin-left: 7px;
					position: relative;
					letter-spacing: normal;
					display: inline-block;
					text-decoration: none;
					font-size: 0.5em;
					// top: -8px;
				}
			}

			&-name {
				font-size: 2em;
				color: #dedede;
			}
		}
	}

	&-workout {
		padding: 80px 0;

		h2 {margin: 0 0 30px; font-size: 5.15em; line-height: 0.79; letter-spacing: -2px;}

		.recap {
			margin: 20px 0;

			&-date {
				text-transform: uppercase;
				font-size: .9em;
			}

			&-video {
				&__footer {
					color: #fff;
					text-align: right;
					vertical-align: middle;
					background-color: #4d4d59;
					padding: 5px 7px;
					.clearfix;
					.fontb;

					h4 {
						margin: 0;
						color: inherit;
						line-height: .9;
						font-size: 1.5em;
						float: left;
					}

					span {
						text-transform: uppercase;
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}
	}

	&-winners {
		overflow: hidden;
		position: relative;
		padding: 80px 0;
		color: #fff;

		&:before {
			content: '';
			.fit(-10px);
			background: url(../img/postcamp-winners-bg.jpg) center no-repeat;
			background-size: cover;
			.blur(5px);
		}

		h2 {margin: 0 0 30px; font-size: 5.15em; line-height: 0.79; letter-spacing: -2px;}

		.winner {
			margin: 15px 0;
			position: relative;
			padding-left: 20px;

			@media(max-width: 540px) {margin: 40px 0;}

			h3 {
				color: inherit;
				line-height: 1;
				margin: 0;
			}

			&-name {text-transform: uppercase;}

			&-point {
				@x: 7px;
				width: @x;
				overflow: hidden;
				position: absolute;
				left: 0; top: 3px;
				bottom: 4px;

				> span {
					display: block;
					border-radius: 50%;
					background-color: @orange;
					height: @x; width: @x;
					position: absolute;
					left: 0; top: 50%;
					margin-top: -@x/2;

					&:before, &:after {
						content: '';
						display: block;
						width: 1px; height: 100px;
						background-color: fade(#fff, 50%);
						position: absolute; left: 3px;
					}

					&:before {bottom: 10px;}
					&:after {top: 10px;}
				}
			}
		}

		&__video {
			margin: 30px 0 0;
		}

		@media(max-width: 540px) {
			.col-xs-6 {
				float: none;
				width: auto;
			}
		}
	}

	&-leaderboard {
		padding: 80px 0;
		h2 {margin: 0 0 30px; font-size: 5.1em; line-height: 0.82; letter-spacing: -2px;}
		.leaderboard .board {margin: 0;}
		// @media(max-width: @screen-xs){.board-pannel__table {max-height: 400px;}}
	}
}

.footer {
	height: 100px;
	.vertical(#2e2e2e, #1c1c1c, 0%, 100%);

	.link {
		.fontb;
		font-size: 1em;
		font-weight: 300;
		margin-right: -1px;
		.box-sizing(border-box);
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		line-height: 100px;
		display: inline-block;
		color: #fff;
		width: 33%;
		.t();

		@media(max-width: @screen-lg-min) {font-size: 0.8em;}

		&:hover {
			.box-shadow(0 0 15px 0 rgba(0,0,0,.5) inset);
		}
	}

	&-soc {
		line-height: 100px;
		display: inline-block;
		vertical-align: middle;
		text-align: center;

		a {
			vertical-align: middle;
  			background: url(../img/soc.png) no-repeat 0 0;
			display: inline-block;
  			height: 28px;
			width: 28px;

			&:nth-child(2) {margin: 0 20px;}

			&.facebook {background-position: -45px 0;}
			&.youtube {background-position: -90px 0;}

			&.mixpanel{
				width: 114px;
				height: 36px;
				background: none;
				display: inline;
				margin: 0 20px;
			}
		}
	}

	.copyright {
		color: #a9a9a9;
		display: block;
		line-height: 1.5em;
		text-transform: uppercase;
		margin: 37px 0 0 0;
		text-align: right;
		font-size: 0.7em;

		> a {
			color: inherit;
			text-decoration: underline;
			+ a {margin-left: 10px;}
			&:hover {text-decoration: none;}
		}
	}
}

.modal {
	z-index: 1100;
	.close {margin: 3px -10px -8px;}
	.twitter-share-button {float: left; margin: 5px 0 -2px;}

	&-dialog {
		height: 100%;
		margin: auto;
		@media (min-width: @screen-md) {
			width: 740px;
		}

		.errorMessage {color: red;}
	}

	&-content {
		width: 100%;
		display: inline-block;
		vertical-align: middle;

		* {line-height: normal;}
	}
}

#modal-invite {
	.modal-content  {
		background: #171717;
		border: 1px solid #636363;
		color: #fff;
	}

	h2 {
		.fonta;
		color: @orange;
		font-size: 1.5em;
		text-transform: uppercase;
		margin: 0 0 10px;
	}

	p {
		margin: 10px 0;
		color: #fff;
	}

	label {
		display: block;
	}

	textarea {
		width: 100%;
		height: 155px;
		padding: 5px 10px;
		background: #3a3a3a;
		.box-sizing(border-box);
		border: 1px solid #8b8b8b;
		font-weight: 300;
		resize: none;

		&:focus {outline: none;}
	}

	.btn {
		float: right;
		display: block;
		background: @orange;
		text-transform: uppercase;
		font-weight: 300;
		color: #fff;
		.fontb;

	}

	.info {
		display: block;
		line-height: 1.2;
		margin-right: 150px;
		font-size: 0.75em;
		font-weight: 300;
		margin-top: 10px;
		// float: left;
		// .fontb;
	}
}

#modal-sigin-signup {
	@media (min-width: @screen-sm) {
		.modal-content {
			border: 0;
			.box-shadow(0 5px 15px rgba(255, 255, 255, 0.5));
		}
	}
	.modal-dialog {max-width: 460px;}
	.modal-body  {padding: 25px;}
	h2 {
		.fonta;
		color: @orange;
		line-height: 1;
		font-size: 2.8em;
		position: relative;
		text-transform: uppercase;
		margin: 0 0 10px 60px;

		+ p {
			line-height: 1.2;
			max-width: 320px;
			margin: 10px auto 20px;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			background: url(../img/logo-popup.png) center no-repeat;
			height: 102px;
			width: 100px;
			left: -111px;
			top: -43px;
		}
	}

	label {
		display: block;
		font-weight: normal;
		font-size: 0.9em;
	}

	.form-control {
		margin-bottom: 10px;
		background-color: #eee;
		font-size: 0.9em;
		padding: 10px;
		height: 40px;
		border: 0;
	}

	.btn {
		// float: right;
		display: block;
		background: @orange;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 1.8em;
		color: #fff;
		.fontb;
	}

	.info {
		display: block;
		line-height: 1.2;
		margin-right: 150px;
		font-size: 0.75em;
		font-weight: 300;
		margin-top: 10px;
		// float: left;
		// .fontb;
	}

	.switcher {
		margin: 0 5px;
		text-transform: uppercase;
		display: inline-block;
		color: @gray-light;
		font-size: 1.2em;
		.fontb;
	}

	#signIn {
		.switcher:before {
			content: '';
			display: inline-block;
			vertical-align: 1px;
			height: 13px; width: 13px;
			.box-shadow(1px 1px 0 0 @gray-light);
			.rotate(135deg);
		}
	}

	#signUp {
		.switcher:after {
			content: '';
			display: inline-block;
			vertical-align: 1px;
			height: 13px; width: 13px;
			.box-shadow(1px 1px 0 0 @gray-light);
			.rotate(-45deg);
		}
	}
}

.blockUI h1{
    font-size: 0.8em;
    text-transform: uppercase;
}

.space {
	&-10 {width: 10px;}
	&-20 {width: 20px;}
	&-30 {width: 30px;}
	&-40 {width: 40px;}
}

[class^="space-"], [class*=" space-"] {
	text-align: center;
	display: inline-block;
}

@media (min-width: @screen-md) {
	.questions {
		.collapse {display: block;}
	}
}

@media (max-width: @screen-md) {
	.details {
		.items {
			.item__wrap {
				min-height: 400px;
				p {margin-bottom: 1em;}
			}
		}
	}

	.register {
		.form {
			.form-group {
				float: none;
				display: block;
				width: auto !important;

				&:nth-child(1), &:nth-child(2) {padding-right: 0;}
			}

			.has-error .tooltip {right: 0; font-size: 1.8em;}

			.form-control, .btn {
				height: auto;
				padding: 10px 15px;
				display: block;
				width: 100%;
			}
		}

		.intro {margin-right: 0;}
		.register .text4 a.twitter {background-position: 0 0;}
	}

	.footer {
		height: auto;
		.link {
			border-bottom: 1px solid #000;
			line-height: 80px;
			font-size: 1.5em;
		}

		.copyright  {
			margin: 0 0 20px;
			text-align: center;
		}
	}
}

@media (max-width: @screen-md) and (min-width: @screen-xs) {
	.container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.register {
		.date {font-size: 2.5em}
		// h1 {font-size: 7em;}
		h1 {font-size: 6em;}
		p {
			font-size: 1.5em;
			margin-bottom: 1em;
		}

		.form {
			.form-group {
				float: none;
				display: block;
				margin-right: 0 !important;

			}

			.checkbox {
				line-height: 1.8;
				padding-left: 20px;
				font-size: 1.5em;
				label > span {
					height: 30px;
					width: 30px;
					background-image: url('../img/checkbox1.png');
				}

				label > input[type="checkbox"]:checked + span {background-position: 0 -30px;}
			}

			.form-control, .btn {
				height: auto;
				padding: 10px 15px;
				font-size: 2.25em;
				display: block;
				width: 100%;
			}
		}

		.text1 {
			height: 60px;
			line-height: 60px;
			padding: 0 20px 0 75px;
			font-size: 1.5em;
			background: #1f1f1f url(../img/14.png) no-repeat 18px 49%;
		}

		.text2 {
			font-size: 5em;
			line-height: 0.8;
			margin: 20px 0;
		}

		.text3 {
			font-size: 2em;
			margin-bottom: 15px;
		}

		.text4 {
			font-size: 1.5em;
			padding: 23px 0 85px;

			a {
				background: url(../img/15.png) no-repeat 100% 0;
				height: 40px;
				width: 40px;
				top: 9px;
				margin: 0 0 0 17px;

				&.twitter {background-position: 0 0;}
			}
		}

		.btn {
			font-size: 2em;
			padding: 10px 25px;
			margin-right: 20px;
		}
	}

	.details {
		h2 {font-size: 4em;}
		.items {
			font-size: 1.5em;
			.item__wrap {
				min-height: 400px;
				p {margin-bottom: 1em;}
			}
		}

		.note {font-size: 1em;}
	}

	.experience {
		h2 {font-size: 4em;}
		.step {
			padding-left: 50px;
			.title {
				font-size: 3em;
				margin-bottom: 10px;
				display: block;
			}

			p {font-size: 1.5em;}

			.digit1 {
				width: 40px;
				height: 40px;
				line-height: 40px;
				font-size: 2em;
			}
		}
	}

	.seazon {
		font-size: 5em;
		padding: 20px;
		height: auto;
	}

	.questions {
		h3 {font-size: 4em;}

		.panel + .panel,
		.col-md-6 + .col-md-6 .panel {
			margin-top: 1em;
			border-top: 1px solid #fff;
			padding-top: 30px;
		}

		.panel-title {
			font-size: 2.5em;
			padding-right: 40px;
			position: relative;

			> a {
				color: #fff;
				line-height: 30px;
				text-decoration: none;
				position: absolute;
				right: 0; top: 8px;
				font-size: 2.2em;
			}
		}

		.panel-body {
			font-size: 1.5em;
		}
	}

	.footer {
		&-soc a {
			width: 60px;
			height: 60px;
			background: url(../img/soc1.png) no-repeat 0 0;

			&.facebook {background-position: -96px 0;}
			&.youtube {  background-position: -192px 0;}
		}

		.copyright {font-size: 1em; line-height: 1.2;}
	}
}

@media (max-width: @screen-xs) {
	.footer {
		.link {
			font-size: 1em;
			margin: 0 -15px;
			display: block;
			width: auto;
		}
	}

	.register {
		h1 {
			text-shadow: none;
			font-size: 2em;
			line-height: 1;
		}
		.date {font-size: 1em;}
		.form .has-error .tooltip {font-size: 1.2em;}
	}

	.seazon {
		font-size: 2em;
		line-height: 1;
		padding: 10px;
	}

	.questions {
		// h3 {font-size: 4em;}

		.panel + .panel,
		.col-md-6 + .col-md-6 .panel {
			margin-top: 1em;
			border-top: 1px solid #fff;
			padding-top: 20px;
		}

		.panel-title {
			padding-right: 40px;
			position: relative;

			> a {
				color: #fff;
				line-height: 30px;
				text-decoration: none;
				position: absolute;
				right: 0; top: 0;
				font-size: 2.2em;
			}
		}
	}

	.timer .timer-span {font-size: 0.9em;}
	// .main-menu .klay {width: 100px; top: -10px;}
}

@import "pretty.less";

.errorMessage{color:red}

.blockUI h1 {
	font-size: 1.4em;
	text-transform: uppercase;
	padding-top: 10px;
}

// scroll width detect
#mfdehc {width: 50px; height: 50px; visibility: hidden; position: absolute; overflow: scroll; top:0; left: 0; }
#mfdehd {height: 100px;}