// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 17 times
@color1: #000000; // Appears 10 times
@color2: #f8f8f8; // Appears 2 times
@color3: #c4c4c4; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width2: 100%; // Appears 3 times
@width3: 40px; // Appears 2 times
@width7: 22px; // Appears 5 times
@width8: 30px; // Appears 3 times
@width9: 20px; // Appears 8 times
@width10: 75px; // Appears 4 times
@width11: 28px; // Appears 2 times
@width12: 14px; // Appears 10 times
@width13: 49%; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height1: 33px; // Appears 2 times
@height2: 100%; // Appears 2 times
@height5: 15px; // Appears 10 times
@height6: 28px; // Appears 2 times
@height7: 30px; // Appears 4 times
@height8: 20px; // Appears 12 times
@height9: 22px; // Appears 9 times

div.pp_default .pp_top, div.pp_default .pp_top .pp_middle, div.pp_default .pp_top .pp_left, div.pp_default .pp_top .pp_right, div.pp_default .pp_bottom, div.pp_default .pp_bottom .pp_left, div.pp_default .pp_bottom .pp_middle, div.pp_default .pp_bottom .pp_right  {
	height: 13px;
}
div.pp_default {
	.pp_top {
		.pp_left {
			background: url(../img/prettyPhoto/default/sprite.png) -78px -93px no-repeat;
		}
		.pp_middle {
			background: url(../img/prettyPhoto/default/sprite_x.png) top left repeat-x;
		}
		.pp_right {
			background: url(../img/prettyPhoto/default/sprite.png) -112px -93px no-repeat;
		}
	}
	.pp_content {
		background-color: @color0;
		.ppt {
			color: @color2;
		}
	}
	.pp_content_container {
		.pp_left {
			background: url(../img/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;
			padding-left: 13px;
		}
		.pp_right {
			background: url(../img/prettyPhoto/default/sprite_y.png) top right repeat-y;
			padding-right: 13px;
		}
		.pp_details {
			margin-top: 5px;
		}
	}
	.pp_next {
		&:hover {
			background: url(../img/prettyPhoto/default/sprite_next.png) center right no-repeat;
			cursor: pointer;
		}
	}
	.pp_previous {
		&:hover {
			background: url(../img/prettyPhoto/default/sprite_prev.png) center left no-repeat;
			cursor: pointer;
		}
	}
	.pp_expand {
		background: url(../img/prettyPhoto/default/sprite.png) 0 -29px no-repeat;
		cursor: pointer;
		height: @height6;
		width: @width11;
		&:hover {
			background: url(../img/prettyPhoto/default/sprite.png) 0 -56px no-repeat;
			cursor: pointer;
		}
	}
	.pp_contract {
		background: url(../img/prettyPhoto/default/sprite.png) 0 -84px no-repeat;
		cursor: pointer;
		height: @height6;
		width: @width11;
		&:hover {
			background: url(../img/prettyPhoto/default/sprite.png) 0 -113px no-repeat;
			cursor: pointer;
		}
	}
	.pp_close {
		background: url(../img/prettyPhoto/default/sprite.png) 2px 1px no-repeat;
		cursor: pointer;
		height: @height7;
		width: @width8;
	}
	#pp_full_res {
		.pp_inline {
			color: @color1;
		}
	}
	.pp_gallery {
		ul {
			li {
				a {
					background: url(../img/prettyPhoto/default/default_thumb.png) center center @color2;
					border:1px solid #aaaaaa;
					&:hover {
						border-color: @color0;
					}
				}
			}
			li.selected {
				a {
					border-color: @color0;
				}
			}
		}
		a.pp_arrow_previous {
			left: auto;
			position: static;
		}
		a.pp_arrow_next {
			left: auto;
			position: static;
		}
	}
	.pp_social {
		margin-top: 7px;
	}
	.pp_nav {
		clear: none;
		height: @height7;
		position: relative;
		width: 110px;
		.pp_play {
			background: url(../img/prettyPhoto/default/sprite.png) -51px 1px no-repeat;
			height:@height7;
			width:@width8;
		}
		.pp_pause {
			background-position: -51px -29px;
			background: url(../img/prettyPhoto/default/sprite.png) -51px 1px no-repeat;
			height:@height7;
			width:@width8;
		}
		.currentTextHolder {
			color:#999999;
			font-family: Georgia;
			font-size: 11px;
			font-style: italic;
			left: 75px;
			line-height: 25px;
			margin: 0;
			padding: 0 0 0 10px;
			position: absolute;
			top: 2px;
		}
	}
	.pp_details {
		position: relative;
	}
	a.pp_arrow_previous {
		background: url(../img/prettyPhoto/default/sprite.png) -31px -3px no-repeat;
		height: @height8;
		margin: 4px 0 0 0;
		width: @width9;
	}
	a.pp_arrow_next {
		background-position: -82px -3px;
		background: url(../img/prettyPhoto/default/sprite.png) -31px -3px no-repeat;
		height: @height8;
		left: 52px;
		margin: 4px 0 0 0;
		width: @width9;
	}
	.pp_description {
		font-size: 11px;
		font-weight: bold;
		line-height: 14px;
		margin: 5px 50px 5px 0;
	}
	.pp_bottom {
		.pp_left {
			background: url(../img/prettyPhoto/default/sprite.png) -78px -127px no-repeat;
		}
		.pp_middle {
			background: url(../img/prettyPhoto/default/sprite_x.png) bottom left repeat-x;
		}
		.pp_right {
			background: url(../img/prettyPhoto/default/sprite.png) -112px -127px no-repeat;
		}
	}
	.pp_loaderIcon {
		background: url(../img/prettyPhoto/default/loader.gif) center center no-repeat;
	}
}
div.pp_default .pp_close:hover, div.pp_default .pp_nav .pp_play:hover, div.pp_default .pp_nav .pp_pause:hover, div.pp_default .pp_arrow_next:hover, div.pp_default .pp_arrow_previous:hover  {
	opacity:0.7;
}
div.light_rounded {
	.pp_top {
		.pp_left {
			background: url(../img/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat;
		}
		.pp_middle {
			background: @color0;
		}
		.pp_right {
			background: url(../img/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat;
		}
	}
	.pp_content {
		background-color: @color0;
		.ppt {
			color: @color1;
		}
	}
	.pp_content_container {
		.pp_left {
			background: @color0;
		}
		.pp_right {
			background: @color0;
		}
	}
	.pp_next {
		&:hover {
			background: url(../img/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;
			cursor: pointer;
		}
	}
	.pp_previous {
		&:hover {
			background: url(../img/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;
			cursor: pointer;
		}
	}
	.pp_expand {
		background: url(../img/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;
		cursor: pointer;
		&:hover {
			background: url(../img/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;
			cursor: pointer;
		}
	}
	.pp_contract {
		background: url(../img/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;
		cursor: pointer;
		&:hover {
			background: url(../img/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;
			cursor: pointer;
		}
	}
	.pp_close {
		background: url(../img/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;
		cursor: pointer;
		height: @height9;
		width: @width10;
	}
	.pp_details {
		position: relative;
	}
	.pp_description {
		margin-right: 85px;
	}
	#pp_full_res {
		.pp_inline {
			color: @color1;
		}
	}
	.pp_gallery {
		a.pp_arrow_previous {
			margin-top: 12px !important;
		}
		a.pp_arrow_next {
			margin-top: 12px !important;
		}
	}
	.pp_nav {
		.pp_play {
			background: url(../img/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;
			height: @height5;
			width: @width12;
		}
		.pp_pause {
			background: url(../img/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;
			height: @height5;
			width: @width12;
		}
	}
	.pp_arrow_previous {
		background: url(../img/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat;
	}
	.pp_arrow_previous.disabled {
		background-position: 0 -87px;
		cursor: default;
	}
	.pp_arrow_next {
		background: url(../img/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat;
	}
	.pp_arrow_next.disabled {
		background-position: -22px -87px;
		cursor: default;
	}
	.pp_bottom {
		.pp_left {
			background: url(../img/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat;
		}
		.pp_middle {
			background: @color0;
		}
		.pp_right {
			background: url(../img/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat;
		}
	}
	.pp_loaderIcon {
		background: url(../img/prettyPhoto/light_rounded/loader.gif) center center no-repeat;
	}
}
div.dark_rounded {
	.pp_top {
		.pp_left {
			background: url(../img/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat;
		}
		.pp_middle {
			background: url(../img/prettyPhoto/dark_rounded/contentPattern.png) top left repeat;
		}
		.pp_right {
			background: url(../img/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat;
		}
	}
	.pp_content_container {
		.pp_left {
			background: url(../img/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y;
		}
		.pp_right {
			background: url(../img/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y;
		}
	}
	.pp_content {
		background: url(../img/prettyPhoto/dark_rounded/contentPattern.png) top left repeat;
	}
	.pp_next {
		&:hover {
			background: url(../img/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;
			cursor: pointer;
		}
	}
	.pp_previous {
		&:hover {
			background: url(../img/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;
			cursor: pointer;
		}
	}
	.pp_expand {
		background: url(../img/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;
		cursor: pointer;
		&:hover {
			background: url(../img/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;
			cursor: pointer;
		}
	}
	.pp_contract {
		background: url(../img/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;
		cursor: pointer;
		&:hover {
			background: url(../img/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;
			cursor: pointer;
		}
	}
	.pp_close {
		background: url(../img/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;
		cursor: pointer;
		height: @height9;
		width: @width10;
	}
	.pp_details {
		position: relative;
	}
	.pp_description {
		color: @color0;
		margin-right: 85px;
	}
	.currentTextHolder {
		color: @color3;
	}
	#pp_full_res {
		.pp_inline {
			color: @color0;
		}
	}
	.pp_gallery {
		a.pp_arrow_previous {
			margin-top: 12px !important;
		}
		a.pp_arrow_next {
			margin-top: 12px !important;
		}
	}
	.pp_nav {
		.pp_play {
			background: url(../img/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;
			height: @height5;
			width: @width12;
		}
		.pp_pause {
			background: url(../img/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;
			height: @height5;
			width: @width12;
		}
	}
	.pp_arrow_previous {
		background: url(../img/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat;
	}
	.pp_arrow_previous.disabled {
		background-position: 0 -87px;
		cursor: default;
	}
	.pp_arrow_next {
		background: url(../img/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat;
	}
	.pp_arrow_next.disabled {
		background-position: -22px -87px;
		cursor: default;
	}
	.pp_bottom {
		.pp_left {
			background: url(../img/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat;
		}
		.pp_middle {
			background: url(../img/prettyPhoto/dark_rounded/contentPattern.png) top left repeat;
		}
		.pp_right {
			background: url(../img/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat;
		}
	}
	.pp_loaderIcon {
		background: url(../img/prettyPhoto/dark_rounded/loader.gif) center center no-repeat;
	}
}
div.dark_square .pp_left , div.dark_square .pp_middle, div.dark_square .pp_right, div.dark_square .pp_content  {
	background: @color1;
}
div.dark_square {
	.currentTextHolder {
		color: @color3;
	}
	.pp_description {
		color: @color0;
		margin: 0 85px 0 0;
	}
	.pp_loaderIcon {
		background: url(../img/prettyPhoto/dark_square/loader.gif) center center no-repeat;
	}
	.pp_expand {
		background: url(../img/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;
		cursor: pointer;
		&:hover {
			background: url(../img/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;
			cursor: pointer;
		}
	}
	.pp_contract {
		background: url(../img/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;
		cursor: pointer;
		&:hover {
			background: url(../img/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;
			cursor: pointer;
		}
	}
	.pp_close {
		background: url(../img/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;
		cursor: pointer;
		height: @height9;
		width: @width10;
	}
	.pp_details {
		position: relative;
	}
	#pp_full_res {
		.pp_inline {
			color: @color0;
		}
	}
	.pp_gallery {
		a.pp_arrow_previous {
			margin-top: 12px !important;
		}
		a.pp_arrow_next {
			margin-top: 12px !important;
		}
	}
	.pp_nav {
		clear: none;
		.pp_play {
			background: url(../img/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;
			height: @height5;
			width: @width12;
		}
		.pp_pause {
			background: url(../img/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;
			height: @height5;
			width: @width12;
		}
	}
	.pp_arrow_previous {
		background: url(../img/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat;
	}
	.pp_arrow_previous.disabled {
		background-position: 0 -87px;
		cursor: default;
	}
	.pp_arrow_next {
		background: url(../img/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat;
	}
	.pp_arrow_next.disabled {
		background-position: -22px -87px;
		cursor: default;
	}
	.pp_next {
		&:hover {
			background: url(../img/prettyPhoto/dark_square/btnNext.png) center right no-repeat;
			cursor: pointer;
		}
	}
	.pp_previous {
		&:hover {
			background: url(../img/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;
			cursor: pointer;
		}
	}
}
div.light_square .pp_left , div.light_square .pp_middle, div.light_square .pp_right, div.light_square .pp_content  {
	background: @color0;
}
div.light_square {
	.pp_content {
		.ppt {
			color: @color1;
		}
	}
	.pp_expand {
		background: url(../img/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;
		cursor: pointer;
		&:hover {
			background: url(../img/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;
			cursor: pointer;
		}
	}
	.pp_contract {
		background: url(../img/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;
		cursor: pointer;
		&:hover {
			background: url(../img/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;
			cursor: pointer;
		}
	}
	.pp_close {
		background: url(../img/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;
		cursor: pointer;
		height: @height9;
		width: @width10;
	}
	.pp_details {
		position: relative;
	}
	.pp_description {
		margin-right: 85px;
	}
	#pp_full_res {
		.pp_inline {
			color: @color1;
		}
	}
	.pp_gallery {
		a.pp_arrow_previous {
			margin-top: 12px !important;
		}
		a.pp_arrow_next {
			margin-top: 12px !important;
		}
	}
	.pp_nav {
		.pp_play {
			background: url(../img/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;
			height: @height5;
			width: @width12;
		}
		.pp_pause {
			background: url(../img/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;
			height: @height5;
			width: @width12;
		}
	}
	.pp_arrow_previous {
		background: url(../img/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat;
	}
	.pp_arrow_previous.disabled {
		background-position: 0 -87px;
		cursor: default;
	}
	.pp_arrow_next {
		background: url(../img/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat;
	}
	.pp_arrow_next.disabled {
		background-position: -22px -87px;
		cursor: default;
	}
	.pp_next {
		&:hover {
			background: url(../img/prettyPhoto/light_square/btnNext.png) center right no-repeat;
			cursor: pointer;
		}
	}
	.pp_previous {
		&:hover {
			background: url(../img/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;
			cursor: pointer;
		}
	}
	.pp_loaderIcon {
		background: url(../img/prettyPhoto/light_rounded/loader.gif) center center no-repeat;
	}
}
div.facebook {
	.pp_top {
		.pp_left {
			background: url(../img/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat;
		}
		.pp_middle {
			background: url(../img/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x;
		}
		.pp_right {
			background: url(../img/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat;
		}
	}
	.pp_content {
		background: @color0;
		.ppt {
			color: @color1;
		}
	}
	.pp_content_container {
		.pp_left {
			background: url(../img/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y;
		}
		.pp_right {
			background: url(../img/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y;
		}
	}
	.pp_expand {
		background: url(../img/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;
		cursor: pointer;
		&:hover {
			background: url(../img/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;
			cursor: pointer;
		}
	}
	.pp_contract {
		background: url(../img/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;
		cursor: pointer;
		&:hover {
			background: url(../img/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;
			cursor: pointer;
		}
	}
	.pp_close {
		background: url(../img/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;
		cursor: pointer;
		height: @height9;
		width: @width7;
	}
	.pp_details {
		position: relative;
	}
	.pp_description {
		margin: 0 37px 0 0;
	}
	#pp_full_res {
		.pp_inline {
			color: @color1;
		}
	}
	.pp_loaderIcon {
		background: url(../img/prettyPhoto/facebook/loader.gif) center center no-repeat;
	}
	.pp_arrow_previous {
		background: url(../img/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;
		height: @height9;
		margin-top: 0;
		width: @width7;
	}
	.pp_arrow_previous.disabled {
		background-position: 0 -96px;
		cursor: default;
	}
	.pp_arrow_next {
		background: url(../img/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;
		height: @height9;
		margin-top: 0;
		width: @width7;
	}
	.pp_arrow_next.disabled {
		background-position: -32px -96px;
		cursor: default;
	}
	.pp_nav {
		margin-top: 0;
		p {
			font-size: 15px;
			padding: 0 3px 0 4px;
		}
		.pp_play {
			background: url(../img/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;
			height: @height9;
			width: @width7;
		}
		.pp_pause {
			background: url(../img/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;
			height: @height9;
			width: @width7;
		}
	}
	.pp_next {
		&:hover {
			background: url(../img/prettyPhoto/facebook/btnNext.png) center right no-repeat;
			cursor: pointer;
		}
	}
	.pp_previous {
		&:hover {
			background: url(../img/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;
			cursor: pointer;
		}
	}
	.pp_bottom {
		.pp_left {
			background: url(../img/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat;
		}
		.pp_middle {
			background: url(../img/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x;
		}
		.pp_right {
			background: url(../img/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat;
		}
	}
}
div.pp_pic_holder {
	display: none;
	position: absolute;
	width: 100px;
	z-index: 10000;
	a {
		&:focus {
			outline:none;
		}
	}
}
div.pp_overlay {
	background: @color1;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: @width2;
	z-index: 9500;
}
.pp_top {
	height: @height8;
	position: relative;
	.pp_left {
		height: @height8;
		left: 0;
		position: absolute;
		width: @width9;
	}
	.pp_middle {
		height: @height8;
		left: 20px;
		position: absolute;
		right: 20px;
	}
	.pp_right {
		height: @height8;
		left: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: @width9;
	}
}
* {
	html {
		.pp_top {
			padding: 0 20px;
			.pp_middle {
				left: 0;
				position: static;
			}
		}
		.pp_content {
			width: @width3;
		}
		.pp_bottom {
			padding: 0 20px;
			.pp_middle {
				left: 0;
				position: static;
			}
		}
	}
}
.pp_content {
	height: 40px;
	min-width: @width3;
}
.pp_fade {
	display: none;
}
.pp_content_container {
	position: relative;
	text-align: left;
	width: @width2;
	.pp_left {
		padding-left: 20px;
	}
	.pp_right {
		padding-right: 20px;
	}
	.pp_details {
		float: left;
		margin: 10px 0 2px 0;
	}
}
.pp_description {
	display: none;
	margin: 0;
}
.pp_social {
	float: left;
	margin: 0;
	.facebook {
		float: left;
		margin-left: 5px;
		overflow: hidden;
		width: 55px;
	}
	.twitter {
		float: left;
	}
}
.pp_nav {
	clear: right;
	float: left;
	margin: 3px 10px 0 0;
	p {
		float: left;
		margin: 2px 4px;
		white-space: nowrap;
	}
	.pp_play {
		float: left;
		margin-right: 4px;
		text-indent: -10000px;
	}
	.pp_pause {
		float: left;
		margin-right: 4px;
		text-indent: -10000px;
	}
}
a.pp_arrow_previous {
	display: block;
	float: left;
	height: @height5;
	margin-top: 3px;
	overflow: hidden;
	text-indent: -10000px;
	width: @width12;
}
a.pp_arrow_next {
	display: block;
	float: left;
	height: @height5;
	margin-top: 3px;
	overflow: hidden;
	text-indent: -10000px;
	width: @width12;
}
.pp_hoverContainer {
	position: absolute;
	top: 0;
	width: @width2;
	z-index: 2000;
}
.pp_gallery {
	display: none;
	left: 50%;
	margin-top: -50px;
	position: absolute;
	z-index: 10000;
	div {
		float: left;
		overflow: hidden;
		position: relative;
	}
	ul {
		float: left;
		height: 35px;
		margin: 0 0 0 5px;
		padding: 0;
		position: relative;
		white-space: nowrap;
		a {
			border: 1px @color1 solid;
			border: 1px rgba(0,0,0,0.5) solid;
			display: block;
			float: left;
			height: @height1;
			overflow: hidden;
			&:hover {
				border-color: @color0;
			}
			img {
				border: 0;
			}
		}
	}
	li.selected {
		a {
			border-color: @color0;
		}
	}
	li {
		display: block;
		float: left;
		margin: 0 5px 0 0;
		padding: 0;
	}
	li.default {
		a {
			background: url(../img/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;
			display: block;
			height: @height1;
			width: 50px;
			img {
				display: none;
			}
		}
	}
	.pp_arrow_previous {
		margin-top: 7px !important;
	}
	.pp_arrow_next {
		margin-top: 7px !important;
	}
}
a.pp_next {
	background: url(../img/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
	display: block;
	float: right;
	height: @height2;
	text-indent: -10000px;
	width: @width13;
}
a.pp_previous {
	background: url(../img/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
	display: block;
	float: left;
	height: @height2;
	text-indent: -10000px;
	width: @width13;
}
a.pp_expand {
	cursor: pointer;
	display: none;
	height: @height8;
	position: absolute;
	right: 30px;
	text-indent: -10000px;
	top: 10px;
	width: @width9;
	z-index: 20000;
}
a.pp_contract {
	cursor: pointer;
	display: none;
	height: @height8;
	position: absolute;
	right: 30px;
	text-indent: -10000px;
	top: 10px;
	width: @width9;
	z-index: 20000;
}
a.pp_close {
	display: block;
	line-height:@height9;
	position: absolute;
	right: 0;
	text-indent: -10000px;
	top: 0;
}
.pp_bottom {
	height: @height8;
	position: relative;
	.pp_left {
		height: @height8;
		left: 0;
		position: absolute;
		width: @width9;
	}
	.pp_middle {
		height: @height8;
		left: 20px;
		position: absolute;
		right: 20px;
	}
	.pp_right {
		height: @height8;
		left: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: @width9;
	}
}
.pp_loaderIcon {
	display: block;
	height: 24px;
	left: 50%;
	margin: -12px 0 0 -12px;
	position: absolute;
	top: 50%;
	width: 24px;
}
#pp_full_res {
	line-height: 1 !important;
	.pp_inline {
		text-align: left;
		p {
			margin: 0 0 15px 0;
		}
	}
}
div.ppt {
	color: @color0;
	display: none !important;
	font-size: 17px;
	margin: 0 0 5px 15px;
	z-index: 9999;
}