.board-pannel__shot {
	margin-bottom: 15px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		bottom: 0; left: -1px; right: -1px;
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
		height: 25%;
	}

	> table {
		margin: 0;
		padding: 0;
		position: relative;
		border-collapse: collapse;
		background: url(../img/field-img-big.png) top center no-repeat;
		background-size: contain;
		border: 1px solid rgba(0,0,0,.3);
		.box-sizing(border-box);
		border-bottom: 0;
		width: 100%;

		tr {
			&:first-child td {border-top: 0;}
			> td {
				// .box-shadow(1px 1px 0 0 rgba(0,0,0,.07) inset);
				border-top: 1px solid rgba(0,0,0,.07);
				border-left: 1px solid rgba(0,0,0,.07);
				background-color: transparent;
				vertical-align: middle;
				text-align: center;
				line-height: 0;
				font-size: 0;

				&:first-child {border-left: 0;}

				> span {
					cursor: pointer;
					z-index: 100;
					vertical-align: middle;
					display: inline-block;
					position: relative;
					height: 90%;
					width: 90%;

					&[class^="point-"], &[class*="point-"] {
						&:before {
							@h: 100%;
							content: '';
							border-radius: 50%;
							height: @h; width: @h;
							position: absolute;
							display: block;
							left: 0;
							top: 0;
						}

					}

					&.point-red:before {background-color: #f32121;}
					&.point-green:before {background-color: #23c0b3;}
					&.point-orange:before {background-color: @orange;}
				}
			}
		}
	}

	.tooltip {
		&-inner {
			word-spacing: 5px;
			padding: 5px 10px;
			.box-shadow(0 2px 7px 1px fade(#666, 50%));
			background-color: rgba(255,255,255,.9);
			font-size: 1em;
			color: #666;
			.fontb;
		}

		&-arrow {
			border-top-color: rgba(255,255,255,.8);
		}
	}
}