.customer-content{
    min-height: 461px;
    padding-bottom: 120px;
}


/* header */
.navbar-nav > li.active > a {
    font-weight: bold;
}
header .main-menu .navbar {
    border-radius: 0;
}
/* ./ header*/

/* get started + learn */

/* vertical-tab-items */
.tab-item-container {
    margin-bottom: 30px;
}

ul.nav.nav-pills.nav-stacked{
    background-color: #ebebeb;
    min-height: 500px;
}
ul.nav.nav-pills.nav-stacked li{
    border-bottom: 1px #676767 solid;
}

ul.nav.nav-pills.nav-stacked > li + li {
    margin-top: 0px;
    margin-left: 0;
}

.nav-pills > li > a {
    border-radius: 0px;
    font-family: 'QswaldLight';
    text-transform: uppercase;
    font-size: 1.2em;
    height: 55px;
    padding-top: 14px;
    padding-left: 70px;
    background-image: url(../img/3-small.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 6%
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus,.nav-pills > li.active > a:hover {
    background-color: #676767;
    background-image: url(../img/3-small-invert.png);
}

.nav-pills > li.doc > a {
    background-position-x: 7.5%;
    background-image: url(../img/4-small-invert.png);
    /* this image should be changed to non-invert version when I get it*/
}

.nav-pills > li.active.doc > a, .nav-pills > li.active.doc > a:focus {
    background-color: #676767;
    background-image: url(../img/4-small-invert.png);
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .nav-pills > li > a {
        background-position-x: 4%
    }
}

@media only screen and (min-width:300px) and (max-width:767px) {
    .nav-pills > li > a {
        padding-left: 60px;
        background-position-x: 3%
    }
}
/* ./ vertical-tab-items */

/* video */
.resources .video-container {
    padding: 0px 0px 0px 0px;
}

.resources  .fluid-width-video-wrapper a.fancybox-media, .resources .fluid-width-video-wrapper a.fancybox-media {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 80%;
    z-index: 999;
    background: none;
    background: url(/img/bgpix.png) center no-repeat;
}
.resources  .fluid-width-video-wrapper a.fancybox-media:hover, .resources .fluid-width-video-wrapper a.fancybox-media:hover {
    background: url(/img/3.png) center no-repeat;
}

.resources .action-item {
    background:none;
    width: 100%;
    padding: 0 15px 15px 15px;
}

.action-item > div:first-child {
    padding: 20px;
    min-height: 350px;
}

.resources .action-item > div:last-child {
    font-family: 'QswaldLight';
    color: #083C81;
    font-size: 1.2em;
    padding: 15px 0px;
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .action-item > div:first-child {
        min-height: 300px;
    }
}
@media (max-width: 768px) {
    .resources .action-item, .resources .subrow .action-item {
        width: 100%;
    }

    .action-item > div:first-child {
        min-height: 180px;
    }
}
/* ./ video*/

/* text-content */
.tab-pane.definitions {
    margin-top: 0px;
}

.definitions h3 {
    color: #083F88;
    margin-top: 0px;
}
.definitions p > span {
    color: #083F88;
    text-decoration: underline;
    font-weight: bold;
}
/* ./ text-content */

/* ./ get started + learn */






/* questions */

/* search input*/
.resources .article input.search, .resources .customer-content input.search{
    float: right;
    background-color: #ebebeb;
    height: 54px;
    color: #aaaaaa;
    font-size: 18px;
    font-family: 'QuestrialRegular';
    width: 100%;
    border:solid 1px #ebebeb;
    padding: 0px 0px 0px 50px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 2%
}
/* ./ search input*/

/* accordion */
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #F5F5F5;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}

.panel-title {
    font-size: 1.7em;
    color: #0B2658;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #F5F5F5;
    font-family: 'QuestrialRegular';
    font-size: 1.1em;
}

.panel-body > h5 {
    color: inherit;
    font-family: 'QuestrialRegular';
    font-weight: bold;
    margin-bottom: 0.01em;
}

.panel-body > p {
    margin-top: 0.01em;
}

.panel-body ul > li {
    list-style-type: none;

}

.panel-body ul > li:before {
    content: "- ";
    margin-right: 10px;
}

.fa {
    float: right;
    color: #0B2658;
}
/* ./ accordion */

.questionor-form-section .successMessage{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
    padding: 10px 10px;

}

/* bottom inputs */
.resources .forms input.questions, .resources .forms textarea {
    background-color: #ebebeb;
    height: 54px;
    color: #808080;
    font-size: 22px;
    font-family: 'QswaldLight';
    width: 100%;
    border:solid 1px #ebebeb;
    padding: 0px 0px 0px 20px;
    margin: 5px 2px 5px 2px;
}

.resources .forms textarea {
    resize: none;
    height: 200px;
    padding: 20px 0px 0px 20px;
}

.resources .forms .questions-submit-button {
    float: right;
    margin: 5px 2px 5px 2px;
    padding: 10px 0px 10px 0px;
    background-color: #083C81;
    border: none;
    width: 230px;
    color: #fff;
    font-size: 22px;
    font-family: 'QswaldLight';
}

.hr-questions {
    border-top: 1px solid #0B2658;
    margin: 4.0em 0 4.0em 0;
}

.forms > .row > div > p {
    font-size: 1.4em;
}

.forms > .row > div.left-input {
    padding-right: 5px;
}

.forms > .row > div.right-input {
    padding-left: 5px;
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .forms > .row > div.left-input {
        padding-right: 15px;
    }

    .forms > .row > div.right-input {
        padding-left: 15px;
    }
}

@media only screen and (min-width:300px) and (max-width:767px) {
    .forms > .row > div.left-input {
        padding-right: 15px;
    }

    .forms > .row > div.right-input {
        padding-left: 15px;
    }
}


.space {
    height: 300px;
}

.list-tooltips img{
    position: absolute; z-index: 8888; max-width: 500px
}

.court-stars{
    position: relative;
}
.court-stars div{
    position: absolute; left:55px; top:228px; width: 40px; height: 30px;
    text-indent: -9999px;
    cursor: pointer;
    //border:1px solid red;
}

.court-stars div:nth-child(1){
    left: 340px;
    top: 235px;
}
.court-stars div:nth-child(2){
    left: 340px;
    top: 570px;
}
.court-stars div:nth-child(3){
    left: 267px;
    top: 310px;
}
.court-stars div:nth-child(4){
    left: 202px;
    top: 370px;
}
.court-stars div:nth-child(5){
    left: 415px;
    top: 305px;
}
.court-stars div:nth-child(6){
    left: 485px;
    top: 370px;
}
.court-stars div:nth-child(7){
    left: 110px;
    top: 415px;
}
.court-stars div:nth-child(8){
    left: 150px;
    top: 545px;
}
.court-stars div:nth-child(9){
    left: 535px;
    top: 550px;
}
.court-stars div:nth-child(10){
    left: 80px;
    top: 230px;
}
.court-stars div:nth-child(11){
    left: 630px;
    top: 505px;
}
.examples-popup.court-photos h4{
    color:#545454;

}
.examples-popup.court-photos p{
    color:#545454;
}
.examples-popup.court-photos .btn{
    background-color: #0b2659;
    color: #FFF;
    font-size: 18px;
    width: auto;
    height: 35px;
    line-height: 1.25em;
}
.examples-popup.court-photos .btn .arrow{
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
}
.examples-popup.court-photos .btn .arrow.right  {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/*fonts*/
@font-face {
    font-family: 'Oswald';
    src: url(../css/fonts/oswald.regular.ttf);
}
@font-face {
    font-family: 'AlternateGotNo1D';
    src: url(../css/fonts/AlternateGotNo1D.ttf);
}
@font-face {
    font-family: 'Avenir Light';
    src: url(../css/fonts/AvenirLTStd-Light.otf);
}
@font-face {
    font-family: 'Avenir Black';
    src: url(../css/fonts/AvenirLT95-Black.ttf);
}
@font-face {
    font-family: 'Questrial';
    src: url(../css/fonts/questrial-regular.ttf);
}
/*./fonts*/

/* HEADER */

/*main logo*/
.navbar-brand > img {
//    height: 58px;
    margin-top: 5px;
}
/*./main logo*/


/*main menu*/
.navbar {
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 0px;
}

.navbar-nav > li > a {
    margin-top: 25px;
    line-height: 15px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav > li > a > div , .navbar-nav > li > a > img, .navbar-nav > li > a > i {
    float: left;
}

.navbar-nav > li > a > div {
    width: 100px;
}

.signin-button {
    border: 1px solid #fff;
    background-color: #243D6A;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
}
/*/. main menu*/

/* ./ HEADER */




/* CONTENT */
h2 {
    font-family: 'AlternateGotNo1D';
    color: #0B2659;
    font-size: 55px;
    line-height: 1.2em;
    margin-top: 55px;
}

p {
    font-size: 18px;
    line-height: 1.2em;
    margin-bottom: 55px;
}

.all-content {
    margin-bottom: 200px;
}

/*video-container*/
.video-container > .fillWidth {     /* video */
    width: 675px;
    padding-top: 5px;
}

video::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}
/*./video-container*/

/*forms*/
.form-block {
    text-align: right;
    padding-right: 15px;
}

.form-block > form > div {
    text-align: left;
}

.form-block > form > div > span {
    font-family: 'AlternateGotNo1D';
    color: #0B2659;
    font-size: 30px;
    line-height: 1.0em;
    text-transform: uppercase;

}

.form-block input {
    width: 100%;
    margin-bottom: 2px;
    padding: 5px 10px;
    font-size: 18px;
}

.form-block input::placeholder {
    text-transform: uppercase;

}

.form-block input[type="submit"],  .form-block button{
    width: 50%;
    height: 40px;
    border-width: 0px;
    text-transform: uppercase;
    font-size: 15px; 
    color: #5C5C5C;
    background-color: #E9E9E9;
    font-weight: bold;
    font-family: 'Avenir Black';
}
.form-block button{
    display: inline-block;
    width: 40%;
}
.form-block .controls input[type="submit"],  .form-block .controls button{
    width: 49%;
    display: inline-block;
}
.form-block .controls button{
    margin-left: 2px;
}

.form-block div > input[type="submit"] {
    width: 100%;
}

.form-block > form > div {
    padding: 0px;
}

.form-block > form > div.link {
    text-align: left;
    padding-top: 12px;
    padding-left: 10px;
}

.form-block > form > div > a {
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
    font-size: 13px;
    line-height: 1.0em;
    color: #787878;
    font-family: 'Avenir Light';
}

hr {
    margin-top: 60px;
    margin-bottom: 10px;
    margin-right: 15px;
    border-top: 1px solid #B7B7B7; 
}
/*./forms*/

/*save bar*/
.save-bar {
    padding: 11px 25px 11px 25px;
    text-transform: uppercase;
    background-color: rgba(211,211,211,0.90);
    color: #4C4C4C;
    position: absolute;
    top: 92px;
    left: 68%;
}
/*./save bar*/

/* ./ CONTENT */




/* FOOTER */
.footer-header {
    font-size: 30px;
    line-height: 0.7em;
    font-family: 'AlternateGotNo1D';
}

.footer-header, .footer-email, .footer-sn {
    margin-left: -75px;
}

.footer-email {
    font-size: 15px;
}

.footer-sn > img {
    margin-top: 10px;
    width: 145px;
}

.footer-bottom, .copyright {
    text-align: right;
}

.footer-bottom > a {
    font-size: 16px;
    text-decoration: underline;
    vertical-align: bottom;
    line-height: 1.36em;
}

.copyright {
    padding-top: 20px;
}

.copyright > span {
    font-size: 16px;
    line-height: 1.36em;
}
.customers-signin p{
    margin-bottom: 20px
}
.customers-signin div.notify a {
    display:block;
    margin-bottom: 20px;
    border: 1px solid #f36f21;
    padding: 10px 10px;
    margin-right: 15px;
    font-size: 22px;
    color:#f36f21;
    text-align: center;
    text-decoration: none;
}
.customers-signin div.notify span.like-link{
    color:#f36f21;
    text-decoration: underline;
    font-weight: bold;
}

.media-wrapper label.loading{
    background-image: url(/img/spinner.gif);
    background-size:100%;
    text-indent: -9999px;
}
.compact {
    max-width: 400px;
}
.compact .errors-box{
    float: left;
    width: 100%;
}
.compact .errors-box .errorMessage{
    text-align: right;
}
.form-messages-popup .successMessage{
    color: green;
}
.fancybox-square .fancybox-skin {
    -webkit-border-radius:  0px !important;
    -moz-border-radius:  0px !important;
    border-radius:  0px !important;
    border-radius: 0px !important;
}
.fancybox-square .form-messages-popup.square-popup p{
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-family: 'AvenirMedium';
    font-size: 18px;
    color:#545454;
        
}
.fancybox-square .form-messages-popup.square-popup button{
    font-family: 'QswaldLight';
    background: white;
    border: 1px solid #616161;
}
.box-nofyer {
    padding: 10px 10px;
    background-color: #F3F3F3;
}
.facility .box-nofyer {
    margin-top: 20px;
}
.facility .internet-speed a {
        color: #0b2659;
        text-decoration: underline;
}
.court-photos p{
    margin-bottom: 11px;
}
.video-wrapper p a {
    color:#4d4d4d;
}
.all-content.installform-content{
    margin-bottom: 0px;
}
    
/* ./ FOOTER */


