/*fonts*/
@font-face {
	font-family: 'Oswald';
	src: url(../css/fonts/oswald.regular.ttf);
	}
@font-face {
	font-family: 'AlternateGotNo1D';
	src: url(../css/fonts/AlternateGotNo1D.ttf);
	}
@font-face {
	font-family: 'Avenir Light';
	src: url(../css/fonts/AvenirLTStd-Light.otf);
	}
@font-face {
	font-family: 'Avenir Black';
	src: url(../css/fonts/AvenirLT95-Black.ttf);
	}
/*./fonts*/

* {
	margin: 0 auto;
}

div {
	outline: 0px dotted red;
}

body {
	background-image: url(../img/video-layout-bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	color: #373B3F;
	font-family: 'Avenir Light';
	font-size: 2.2em;
}

/*video-container*/
.video-container > .fillWidth {		/* video */
    position: fixed;
    top: 50%; /*was 50% by default*/
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; /*was -100 by default*/
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

video::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

/*./video-container*/

/*video-layout*/
.video-layout {
	margin-top: 100px;
	font-family: 'AlternateGotNo1D';
	color: #fff;
	text-transform: uppercase;
}

.video-layout > div {
	font-size: 6.8em;
	line-height: 0.76em;
	margin: 0px 40% 0px 0px; /*default - 0px 60% 0px 0px;*/
}

.video-layout > div:nth-child(3) {
	font-size: 3.1em;
	margin-top: 3px;
}

@media screen and (min-width: 992px){
	.video-layout > div { 
		margin: 0px 30% 0px 0px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
	.video-layout > div {
		font-size: 4.5em;
		line-height: 0.76em;
		margin: 0px 20% 0px 0px;
	}

	.video-layout > p:nth-child(4) {
		margin-top: 3px;
		font-size: 2.4em;
	}
}

@media screen and (min-width: 320px) and (max-width: 768px){
	body {
		background-image: url(../img/video-layout-bg-small.png);
		background-size: 100%;
	}

	.video-layout {
		margin-top: 60px;
	}

	.video-layout > img {
		width: 30%;
	}

    .video-layout > div:nth-child(2) {
		font-size: 3.0em;
		line-height: 0.78em;
		margin: 0px 20% 0px 0px;
	}

	.video-layout > div:nth-child(3) {
		margin-top: 4px;
		font-size: 1.65em;
	}
}
/*./video-layout*/

/*skewed top*/
.skewed-bg {
	margin-top: 60px;
	padding-top: 30px;
	margin-bottom: -170px;
	-webkit-transform: skew(0deg, -5.3deg);
  	transform: skew(0deg, -5.3deg);
  	background-color: #fff;
}

.skewed-content {
	-webkit-transform: skew(0deg, 5.3deg);
  	transform: skew(0deg, 5.3deg);
}

/*ball-ipad-player_tag image*/
.skewed-content > .row > div > img {
	width: 160%;
	position: relative;
	z-index: 10;
}
/*./ball-ipad-player_tag image*/

/*ball-ipad-player_tag video-looping*/
.skewed-content.top > div:nth-child(1) > div {
	position: relative;
	z-index: 20;
}

.skewed-content.top > div:nth-child(1) > div > div {
	position: absolute;
	top: 221px;
	left: 140px;
	width: 390px;
	height: auto;
	background-color: #fff;
	background: url(../img/ipad-screenshot.png) no-repeat;
	background-size: 100%;
}

@media screen and (min-width: 1050px) and (max-width: 1199px) { 
	.skewed-content.top > div:nth-child(1) > div > div {
		position: relative;
		top: -303px;
		left: -25px;
		width: 320px;
	}	
}
@media screen and (min-width: 990px) and (max-width: 1050px) {
	.skewed-content.top > div:nth-child(1) > div > div {
		position: relative;
		top: -303px;
		left: -25px;
		width: 320px;
	}	
}
@media screen and (min-width: 900px) and (max-width: 990px) {
	.skewed-content.top > div:nth-child(1) > div > div {
		position: relative;
		top: -280px;
		left: 170px;
		width: 320px;
	}	
}
@media screen and (min-width: 800px) and (max-width: 900px) {
	.skewed-content.top > div:nth-child(1) > div > div {
    position: relative;
    top: -285px;
    left: 165px;
    width: 310px;
	}	
}
@media screen and (min-width: 780px) and (max-width: 799px) {
	.skewed-content.top > div:nth-child(1) > div > div {
		position: relative;
		top: -303px;
		left: 170px;
		width: 320px;
	}	
}
@media screen and (min-width: 700px) and (max-width: 779px) {
	.skewed-content.top > div:nth-child(1) > div > div {
    position: relative;
    top: 194px;
    left: 110px;
    width: 54%;
	}	
}
@media screen and (min-width: 650px) and (max-width: 699px) {
	.skewed-content.top > div:nth-child(1) > div > div {
		position: relative;
		top: 184px;
		left: 16.0%;
		width: 54.0%;
	}	
}

@media screen and (min-width: 600px) and (max-width: 649px) {
	.skewed-content.top > div:nth-child(1) > div > div {
		position: relative;
		top: 154px;
		left: 16.0%;
		width: 54.0%;
	}	
}

@media screen and (min-width: 450px) and (max-width: 600px) {
	.skewed-content.top > div:nth-child(1) > div > div {
position: relative;
    top: 142px;
    left: 17.0%;
    width: 56.0%;
	}	
}

@media screen and (min-width: 400px) and (max-width: 449px) {
	.skewed-content.top > div:nth-child(1) > div > div {
		position: relative;
		top: 96px;
		left: 15.0%;
		width: 56.4%;
	}	
}

@media screen and (min-width: 370px) and (max-width: 399px) {
	.skewed-content.top > div:nth-child(1) > div > div {
		position: relative;
		top: 83px;
		left: 14.8%;
		width: 56.5%;
	}	
}

@media screen and (min-width: 350px) and (max-width: 369px) {
	.skewed-content.top > div:nth-child(1) > div > div {
		position: relative;
		top: 78px;
		left: 14.5%;
		width: 57.0%;
	}	
}

@media screen and (min-width: 320px) and (max-width: 349px) {
	.skewed-content.top > div:nth-child(1) > div > div {
		position: relative;
		top: 65px;
		left: 14.0%;
		width: 57.8%;
	}	
}
/*./ball-ipad-player_tag video-looping*/

/*ball-ipad-player_tag text*/
.skewed-content.top > .row > div:nth-child(2) {
	text-align: justify;
	padding-left: 130px;
	padding-top: 105px;
	padding-bottom: 30px;
	color: #373b3f;
}

.skewed-content > .row > div:nth-child(2) > span {
	font-family: 'Avenir Black';
	text-transform: uppercase;
	font-size: 1.2em;
	line-height: 1.2em;
}

.skewed-content > .row > div:nth-child(2) > span:first-child {
	font-family: 'AlternateGotNo1D';
	font-weight: bold;
	font-weight: normal;
	font-size: 2.2em;
	line-height: 1.1em;
}
/*./ball-ipad-player_tag text*/

/*'how it works' button*/
.skewed-content > .row > div:nth-child(2) > a {
	width: 250px;
	border-width: 0px;
	width: 250px;
	margin: 60px 0px;
	padding: 8px 30px 10px 15px;
	background-color: #EBEBEB;
	position: relative;
	top: 20px;
}

.skewed-content > .row > div:nth-child(2) > a:hover,
.skewed-content > .row > div:nth-child(2) > a:active,
.skewed-content > .row > div:nth-child(2) > a:focus {
	text-decoration: none;
	color: #898989;
	background-color: #BEBEBE;
}

.skewed-content > .row > div:nth-child(2) > a > span {
	font-family: 'AlternateGotNo1D';
	text-transform: uppercase;
	font-size: 1.4em;
	color: #898989;
	line-height: 1.5em;
	display: inline-block;
	vertical-align: middle;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.skewed-content > .row > div:nth-child(2) > a > span {
		font-size: 1.6em;
	}
}


.skewed-content > .row > div:nth-child(2) > a > span:after {
	content: "";
	background: url(../img/play-icon.png) no-repeat;
	display: inline-block;  
    height: 26px;  
    width: 26px;
    position: relative;
    left: 15px;
    top: 3px;
}
/*./'how it works' button*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.skewed-content.top > .row > div:nth-child(1) {
		max-height: 200px;
	}

	.skewed-content > .row > div:nth-child(2) {
		padding-left: 80px;
		padding-top: 30px;
	}

	.skewed-content.top > .row > div:nth-child(2) {
		padding-bottom: 60px;
	}
}

@media screen and (min-width: 769px) and (max-width: 991px) {
	.skewed-content > .row > div:nth-child(2) {
		padding-left: 15px;
		padding-top: 30px;
	}

	.skewed-content > .row > div > img {
		width: 100%;
	}
}

@media screen and (min-width: 450px) and (max-width: 768px) {
	.skewed-content.top > .row > div:nth-child(1) {
		min-height: 400px;
	}

	.skewed-content.top > .row > div:nth-child(2) {
		padding-top: 205px;
	}
}

@media screen and (min-width: 380px) and (max-width: 449px) {
	.skewed-content.top > .row > div:nth-child(1) {
		min-height: 220px;
	}
}

@media screen and (min-width: 370px) and (max-width: 379px) {
	.skewed-content.top > .row > div:nth-child(1) {
		min-height: 190px;
	}
}

@media screen and (min-width: 350px) and (max-width: 369px) {
	.skewed-content.top > .row > div:nth-child(1) {
		min-height: 180px;
	}
}

@media screen and (min-width: 320px) and (max-width: 349px) {
	.skewed-content.top > .row > div:nth-child(1) {
		min-height: 140px;
	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.skewed-bg {
		min-height: 400px;	}

	.skewed-content > .row > div > img {
		width: 120%;
		position: absolute;
		right: 15px;
		top: -40px;
	}

	.skewed-content.top > .row > div:nth-child(2) {
		padding-left: 30px;
		padding-right: 30px;
		font-size: 0.7em;
		line-height: 1.3em;
	}

	.skewed-content > .row > div:nth-child(2) > div {
		display: none;
	}

	.skewed-content > .row > div:nth-child(2) > button {
		display: none;
	}

	/*'how it works' button*/
	.skewed-content > .row > div:nth-child(2) > a > span:after {
	    top: 6px;
	}
	/*./'how it works' button*/	
}

@media screen and (max-width: 2400px) {
	.skewed-bg {
		margin-bottom: -135px;
	}
}

@media screen and (max-width: 1950px) {
	.skewed-bg {
		margin-bottom: -105px;
	}
}

@media screen and (max-width: 1400px) {
	.skewed-bg {
		margin-bottom: -85px;
	}
}

@media screen and (max-width: 1100px) {
	.skewed-bg {
		margin-bottom: -65px;
	}
}	

@media screen and (max-width: 991px) {
	.skewed-bg {
		margin-bottom: -60px;
	}
}

@media screen and (min-width: 991px) {
	.skewed-content > .row > div > img {
		right: 330px;
		top: -20px;
	}

	.skewed-content > .row > div:nth-child(2) {
		padding-right: 30px;
	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.skewed-bg {
		margin-bottom: -50px;
	}
}

@media screen and (max-width: 390px) {
	.skewed-bg {
		margin-bottom: -20px;
	}
}
/*/.skewed top*/

/*how-it-works-bg*/
.how-it-works-bg {
	background-image: url(../img/how-it-works-bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	min-height: 2050px;
	margin-bottom: -190px;
}

/*circle-highlight*/
.circle-highlight {
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 1692px;
	margin-bottom: -700px;
	background-color: transparent;
}

.circle-highlight > div:nth-child(1) {
	position: absolute;
	top: 24.1%;
	left: 15.9%;
	width: 116px;
	height: 116px;
	border-radius: 58px;
	box-shadow: 0px 0px 9px 4px #fff;
  	animation: glow 1.5s linear infinite alternate;
}

.circle-highlight > div:nth-child(2) {
	position: absolute;
	top: 129px;
	left: 54.5%;
	width: 114px;
	height: 114px;
	border-radius: 57px;
	box-shadow: 0px 0px 9px 4px #fff;
  	animation: glow 1.5s linear infinite alternate;
}

.circle-highlight > div:nth-child(3) {
	position: absolute;
	top: 696px;
	left: 55.9%;
	width: 128px;
	height: 128px;
	border-radius: 64px;
	box-shadow: 0px 0px 9px 4px #fff;
  	animation: glow 1.5s linear infinite alternate;
}

@keyframes glow {
	to {
		box-shadow: 0px 0px 30px 20px #fff;
	}
}

@media screen and (min-width: 3800px) and (max-width: 3900px) {
	.circle-highlight > div:nth-child(1) {
		top: 51.35%;
		left: 15.85%;
		width: 236px;
		height: 236px;
		border-radius: 118px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 18.1%;
		left: 54.45%;
		width: 230px;
		height: 230px;
		border-radius: 115px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 85.5%;
		left: 55.85%;
		width: 260px;
		height: 260px;
		border-radius: 130px;
	}
}

@media screen and (min-width: 2700px) and (max-width: 2800px) {
	.circle-highlight > div:nth-child(1) {
		top: 36.25%;
		left: 15.85%;
		width: 168px;
		height: 168px;
		border-radius: 84px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 12.3%;
		left: 54.40%;
		width: 166px;
		height: 166px;
		border-radius: 83px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 60.8%;
		left: 55.95%;
		width: 184px;
		height: 184px;
		border-radius: 92px;
	}
}

@media screen and (min-width: 2500px) and (max-width: 2600px) {
	.circle-highlight > div:nth-child(1) {
		top: 33.15%;
		left: 15.85%;
		width: 158px;
		height: 158px;
		border-radius: 79px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 11.0%;
		left: 54.35%;
		width: 158px;
		height: 158px;
		border-radius: 79px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 55.9%;
		left: 55.95%;
		width: 170px;
		height: 170px;
		border-radius: 85px;
	}
}

/*!!!*/
@media screen and (min-width: 2000px) and (max-width: 2100px) {
	.circle-highlight > div:nth-child(1) {
		top: 26.35%;
		left: 15.85%;
		width: 124px;
		height: 124px;
		border-radius: 62px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 8.45%;
		left: 54.45%;
		width: 122px;
		height: 122px;
		border-radius: 61px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 44.55%;
		left: 55.95%;
		width: 138px;
		height: 138px;
		border-radius: 69px;
	}
}

@media screen and (min-width: 1650px) and (max-width: 1700px) {
	.circle-highlight > div:nth-child(1) {
		top: 20.8%;
		left: 15.85%;
		width: 102px;
		height: 102px;
		border-radius: 51px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 6.25%;
		left: 54.35%;
		width: 102px;
		height: 102px;
		border-radius: 51px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 35.6%;
		left: 55.95%;
		width: 110px;
		height: 110px;
		border-radius: 55px;
	}
}

@media screen and (min-width: 1600px) and (max-width: 1649px) {
	.circle-highlight > div:nth-child(1) {
		top: 19.6%;
		left: 15.85%;
		width: 96px;
		height: 96px;
		border-radius: 48px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 5.85%;
		left: 54.45%;
		width: 96px;
		height: 96px;
		border-radius: 48px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 33.75%;
		left: 55.85%;
		width: 106px;
		height: 106px;
		border-radius: 52px;
	}
}

@media screen and (min-width: 1500px) and (max-width: 1550px) {
	.circle-highlight > div:nth-child(1) {
		top: 18.8%;
		left: 15.85%;
		width: 92px;
		height: 92px;
		border-radius: 46px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 5.50%;
		left: 54.45%;
		width: 92px;
		height: 92px;
		border-radius: 46px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 32.25%;
		left: 55.90%;
		width: 102px;
		height: 102px;
		border-radius: 51px;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1450px) {
	.circle-highlight > div:nth-child(1) {
		top: 17.4%;
		left: 15.85%;
		width: 86px;
		height: 86px;
		border-radius: 43px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 4.95%;
		left: 54.45%;
		width: 86px;
		height: 86px;
		border-radius: 43px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 30.00%;
		left: 55.90%;
		width: 96px;
		height: 96px;
		border-radius: 48px;
	}
}

@media screen and (min-width: 1365px) and (max-width: 1400px) {
	.circle-highlight > div:nth-child(1) {
		top: 16.4%;
		left: 15.90%;
		width: 82px;
		height: 82px;
		border-radius: 41px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 4.55%;
		left: 54.40%;
		width: 82px;
		height: 82px;
		border-radius: 41px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 28.35%;
		left: 55.85%;
		width: 90px;
		height: 90px;
		border-radius: 45px;
	}
}

@media screen and (min-width: 1300px) and (max-width: 1364px) {
	.circle-highlight > div:nth-child(1) {
		top: 16.4%;
		left: 15.90%;
		width: 80px;
		height: 80px;
		border-radius: 40px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 4.55%;
		left: 54.40%;
		width: 80px;
		height: 80px;
		border-radius: 40px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 28.25%;
		left: 55.85%;
		width: 90px;
		height: 90px;
		border-radius: 45px;
	}
}

@media screen and (min-width: 1201px) and (max-width: 1299px) {
	.circle-highlight > div:nth-child(1) {
		top: 15.4%;
		left: 15.90%;
		width: 76px;
		height: 76px;
		border-radius: 38px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 4.28%;
		left: 54.40%;
		width: 76px;
		height: 76px;
		border-radius: 38px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 26.75%;
		left: 55.85%;
		width: 84px;
		height: 84px;
		border-radius: 42px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1100px) {
	.circle-highlight > div:nth-child(1) {
		top: 11.65%;
		left: 15.90%;
		width: 62px;
		height: 62px;
		border-radius: 31px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 2.80%;
		left: 54.40%;
		width: 62px;
		height: 62px;
		border-radius: 31px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 20.80%;
		left: 55.85%;
		width: 68px;
		height: 68px;
		border-radius: 34px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.circle-highlight > div:nth-child(1) {
		top: 14.35%;
		left: 6.75%;
		width: 72px;
		height: 72px;
		border-radius: 36px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 1.60%;
		left: 80.50%;
		width: 102px;
		height: 102px;
		border-radius: 51px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 24.15%;
		left: 76.85%;
		width: 102px;
		height: 102px;
		border-radius: 51px;
	}
}

@media screen and (min-width: 400px) and (max-width: 767px) {
	.circle-highlight > div:nth-child(1) {
		top: 7.50%;
		left: 6.75%;
		width: 38px;
		height: 38px;
		border-radius: 19px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 0.65%;
		left: 80.55%;
		width: 54px;
		height: 54px;
		border-radius: 27px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 12.85%;
		left: 76.90%;
		width: 54px;
		height: 54px;
		border-radius: 27px;
	}
}

@media screen and (min-width: 370px) and (max-width: 399px) {
	.circle-highlight > div:nth-child(1) {
		top: 6.65%;
		left: 6.80%;
		width: 34px;
		height: 34px;
		border-radius: 17px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 0.45%;
		left: 80.60%;
		width: 48px;
		height: 48px;
		border-radius: 24px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 11.45%;
		left: 76.95%;
		width: 48px;
		height: 48px;
		border-radius: 24px;
	}
}

@media screen and (min-width: 350px) and (max-width: 369px) {
	.circle-highlight > div:nth-child(1) {
		top: 6.30%;
		left: 6.85%;
		width: 32px;
		height: 32px;
		border-radius: 16px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 0.30%;
		left: 80.60%;
		width: 48px;
		height: 48px;
		border-radius: 24px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 10.95%;
		left: 76.90%;
		width: 46px;
		height: 46px;
		border-radius: 23px;
	}
}

@media screen and (min-width: 320px) and (max-width: 349px) {
	.circle-highlight > div:nth-child(1) {
		top: 5.45%;
		left: 6.90%;
		width: 28px;
		height: 28px;
		border-radius: 14px;
	}

	.circle-highlight > div:nth-child(2) {
		top: 0.05%;
		left: 80.50%;
		width: 42px;
		height: 42px;
		border-radius: 21px;
	}

	.circle-highlight > div:nth-child(3) {
		top: 9.50%;
		left: 76.90%;
		width: 42px;
		height: 42px;
		border-radius: 21px;
	}
}
/*./circle-highlight*/

@media screen and (max-width: 3500px) {
	.how-it-works-bg {
		min-height: 2050px;
		margin-bottom: -240px;
	}
}

@media screen and (max-width: 3400px) {
	.how-it-works-bg {
		min-height: 2050px;
		margin-bottom: -280px;
	}
}

@media screen and (max-width: 3350px) {
	.how-it-works-bg {
		min-height: 2050px;
		margin-bottom: -320px;
	}
}

@media screen and (max-width: 3200px) {
	.how-it-works-bg {
		min-height: 1850px;
		margin-bottom: -270px;
	}
}

@media screen and (max-width: 3000px) {
	.how-it-works-bg {
		min-height: 1650px;
		margin-bottom: -120px;
	}
}

@media screen and (max-width: 2900px) {
	.how-it-works-bg {
		min-height: 1550px;
		margin-bottom: -120px;
	}
}

@media screen and (max-width: 2700px) {
	.how-it-works-bg {
		min-height: 1550px;
		margin-bottom: -180px;
	}
}

@media screen and (max-width: 2600px) {
	.how-it-works-bg {
		min-height: 1550px;
		margin-bottom: -220px;
	}
}

@media screen and (max-width: 2500px) {
	.how-it-works-bg {
		min-height: 1500px;
		margin-bottom: -220px;
	}
}

@media screen and (max-width: 2400px) {
	.how-it-works-bg {
		min-height: 1500px;
		margin-bottom: -260px;
	}
}

@media screen and (max-width: 2300px) {
	.how-it-works-bg {
		min-height: 1450px;
		margin-bottom: -290px;
	}
}

@media screen and (max-width: 2200px) {
	.how-it-works-bg {
		min-height: 1450px;
		margin-bottom: -350px;
	}
}

@media screen and (max-width: 2100px) {
	.how-it-works-bg {
		min-height: 1400px;
		margin-bottom: -350px;
	}
}

@media screen and (max-width: 2000px) {
	.how-it-works-bg {
		min-height: 1400px;
		margin-bottom: -380px;
	}
}

@media screen and (max-width: 1950px) {
	.how-it-works-bg {
		min-height: 1350px;
		margin-bottom: -380px;
	}
}

@media screen and (max-width: 1850px) {
	.how-it-works-bg {
		min-height: 1300px;
		margin-bottom: -360px;
	}
}

@media screen and (max-width: 1800px) {
	.how-it-works-bg {
		min-height: 1300px;
		margin-bottom: -390px;
	}
}

@media screen and (max-width: 1750px) {
	.how-it-works-bg {
		min-height: 1250px;
		margin-bottom: -390px;
	}
}

@media screen and (max-width: 1650px) {
	.how-it-works-bg {
		min-height: 1200px;
		margin-bottom: -390px;
	}
}

@media screen and (max-width: 1550px) {
	.how-it-works-bg {
		min-height: 1150px;
		margin-bottom: -390px;
	}
}

@media screen and (max-width: 1450px) {
	.how-it-works-bg {
		min-height: 1150px;
		margin-bottom: -450px;
	}
}

@media screen and (max-width: 1350px) {
	.how-it-works-bg {
		min-height: 1150px;
		margin-bottom: -490px;
	}
}

@media screen and (max-width: 1250px) {
	.how-it-works-bg {
		min-height: 1050px;
		margin-bottom: -450px;
	}
}

@media screen and (max-width: 1150px) {
	.how-it-works-bg {
		min-height: 1000px;
		margin-bottom: -450px;
	}
}

@media screen and (max-width: 1100px) {
	.how-it-works-bg {
		min-height: 1000px;
		margin-bottom: -560px;
	}

	.skewed-bg.bottom {
		margin-top: -220px;
	}
}	

@media screen and (max-width: 991px) {
	.how-it-works-bg {
		background-image: url(../img/how-it-works-bg-small.png);
		min-height: 1200px;
		margin-bottom: -480px;
	}
}

@media screen and (max-width: 850px) {
	.how-it-works-bg {
		min-height: 1050px;
		margin-bottom: -380px;
	}
}

@media screen and (max-width: 800px) {
	.how-it-works-bg {
		min-height: 850px;
		margin-bottom: -200px;
	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.how-it-works-bg {
		background-image: url(../img/how-it-works-bg-small.png);
		min-height: 800px;
		margin-bottom: -445px;
	}
}

@media screen and (max-width: 750px) {
	.how-it-works-bg {
		min-height: 750px;
		margin-bottom: -180px;
	}
}

@media screen and (max-width: 680px) {
	.how-it-works-bg {
		min-height: 700px;
		margin-bottom: -190px;
	}
}

@media screen and (max-width: 605px) {
	.how-it-works-bg {
		min-height: 650px;
		margin-bottom: -190px;
	}
}

@media screen and (max-width: 500px) {
	.how-it-works-bg {
		min-height: 650px;
		margin-bottom: -190px;
	}
}

@media screen and (max-width: 550px) {
	.how-it-works-bg {
		min-height: 600px;
		margin-bottom: -170px;
	}
}

@media screen and (max-width: 510px) {
	.how-it-works-bg {
		min-height: 550px;
		margin-bottom: -160px;
	}
}

@media screen and (max-width: 460px) {
	.how-it-works-bg {
		min-height: 500px;
		margin-bottom: -710px;
	}
}

@media screen and (max-width: 400px) {
	.how-it-works-bg {
		min-height: 450px;
		margin-bottom: -750px;
	}
}

@media screen and (max-width: 350px) {
	.how-it-works-bg {
		min-height: 400px;
		margin-bottom: -785px;
	}
}

@media screen and (max-width: 390px) {
	.how-it-works-bg {
		background-image: url(../img/how-it-works-bg-small.png);
	}
}
/*./how-it-works-bg*/

/*skewed bottom*/
.skewed-bg.bottom {
	margin-top: 0px;
}

/*TOP PARAGRAPH*/
.skewed-bg.bottom > .skewed-content > div > div > h2,
.skewed-bg.bottom > .skewed-content > div > div > h3  {
	font-family: 'AlternateGotNo1D';
	font-weight: normal;
	text-transform: uppercase;
	font-size: 2.2em;
	line-height: 0.98em;
	margin: 8px 0 8px 0; 
}
.skewed-bg.bottom > .skewed-content > div > div:nth-child(1) > p {
	color: #373B3E;
	font-size: 1.2em;
}
/*./TOP PARAGRAPH*/

/*GENERAL PARAGRAPH*/
.skewed-bg.bottom > .skewed-content > div > div > h2 > span {
	font-size: 1.5em;
	line-height: 0.75em; 
}

.skewed-bg.bottom > .skewed-content > div > div > h3 > span {
	font-size: 2.39em;
	font-family: 'AlternateGotNo1D';
	font-weight: normal;
	text-transform: uppercase;
	line-height: 0.75em;
}
.skewed-bg.bottom > .skewed-content > div > div > p {
	font-size: 1.10em;
	line-height: 1.15em;
	padding-bottom: 15px;
}

.skewed-bg.bottom > .skewed-content > div > div > p > span {
	font-size: 0.9em;
	color: #373B3E;
}
/*./GENERAL PARAGRAPH*/

/****ODD-ROW****/
/*fan-engagement*/
.skewed-bg.bottom > div:nth-child(1) > div > div:first-child {
	padding: 35px 0 0 0;
	text-align: right;
}

.skewed-bg.bottom > div:nth-child(1) > div > div:nth-child(4) {
	margin-top: 60px;
	margin-bottom: 60px;	
}
/*rectangle-right*/
.skewed-bg.bottom > div:nth-child(1) > div > div:nth-child(4) > h2 {
	margin-top: 21px;
}

.skewed-bg.bottom > div:nth-child(1) > div > .pull-right {
	background: url(../img/rectangle-right-full.png) no-repeat;
	background-size: 27.0%;
	background-position: 20px 0px;
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
	.skewed-bg.bottom > div:nth-child(1) > div > .pull-right {
		background: url(../img/rectangle-right-full.png) no-repeat;
		background-size: 36.5%;
		background-position: 10px 0;
	}
}

/***custom media-queries for rectangles***/
@media screen and (min-width: 750px) and (max-width: 800px) {
	.skewed-bg.bottom > div:nth-child(1) > div > .pull-right {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 7.5%;
		background-position: 15px 0;
	}	
}

@media screen and (min-width: 400px) and (max-width: 749px) {
	.skewed-bg.bottom > div:nth-child(1) > div > .pull-right {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 15.0%;
		background-position: 15px 0;
	}	
}

@media screen and (min-width: 370px) and (max-width: 399px) {
	.skewed-bg.bottom > div:nth-child(1) > div > .pull-right {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 16.9%;
		background-position: 15px 0;
	}	
}

@media screen and (min-width: 350px) and (max-width: 369px) {
	.skewed-bg.bottom > div:nth-child(1) > div > .pull-right {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 17.9%;
		background-position: 15px 0;
	}	
}
/***./custom media-queries for rectangles***/

@media screen and (min-width: 320px) and (max-width: 349px) {
	.skewed-bg.bottom > div:nth-child(1) > div > .pull-right {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 21.0%;
		background-position: 15px 0;
	}
}

/*./rectangle-right*/

@media screen and (min-width: 1201px) {
	.skewed-bg.bottom > div:nth-child(1) > div > div:nth-child(4) {
		position: relative;
		top: -510px;
	}
}

@media screen and (min-width: 991px) and (max-width: 1200px){
	.skewed-bg.bottom > div:nth-child(1) > div > div:nth-child(4) {
		position: relative;
		top: -350px;
	}
}

.skewed-bg.bottom > div:nth-child(1) > div > div:nth-child(2) {
	padding: 0 30px 0 0;
}

.skewed-bg.bottom > div:nth-child(1) > div > div:nth-child(4) {
	padding: 0 0px 0 100px;
	margin-bottom: -300px;
}

.skewed-bg.bottom > div:nth-child(1) > div > div > img {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}
/*./fan-engagement*/

/*augmented-reality*/
.skewed-bg.bottom > div:nth-child(3) {
	/*margin-top: -20px;
	-webkit-margin-before: -20px;*/
	padding-top: 15px;
	/*-webkit-padding-before: 15px;*/
}

.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(1) > img {
	margin-top: 15px;
}

.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) {
	/*margin-top: -445px;*/
	margin-top: 275px;
	padding-left: 100px;
}

.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) {
	padding: 0 30px 15px 100px;
}

.skewed-bg.bottom > div:nth-child(3) > div > div > img {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) > p {
	margin-bottom: 5px;
}

/*see-it-in-action-button*/
.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) > a {
	font-family: "AlternateGotNo1D";
	text-transform: uppercase;
	color: #373B3F;
	background-color: #fff;
	position: relative;
	top: -5px;
	margin-bottom: 20px;
	font-size: 1.2em;
	padding-bottom: 10px;
}

.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) > a > span:after {
	content: "";
	background: url(../img/play-icon-plain.png) no-repeat;
	display: inline-block;  
    height: 31px;  
    width: 31px;
    position: relative;
    left: 8px;
    top: 4px;
}
/*./see-it-in-action-button*/

/*rectangle-right*/
.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) {
	background: url(../img/rectangle-right-full.png) no-repeat;
	background-size: 26.5%;
	background-position: 20px 0px;
}

@media screen and (min-width: 1201px) {
	.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) > h2 {
		padding-top: 10px;
	}
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
	.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) {
		background: url(../img/rectangle-right-full.png) no-repeat;
		background-size: 37.0%;
		background-position: 20px 0px;
	}
}

/***custom media-queries for rectangles***/
@media screen and (min-width: 750px) and (max-width: 800px) {
	.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 9.25%;
		background-position: 15px 0;
	}	
}

@media screen and (min-width: 400px) and (max-width: 749px) {
	.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 18.9%;
		background-position: 15px 0;
	}	
}

@media screen and (min-width: 370px) and (max-width: 399px) {
	.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 20.2%;
		background-position: 15px 0;
	}	
}

@media screen and (min-width: 350px) and (max-width: 369px) {
	.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 21.6%;
		background-position: 15px 0;
	}	
}
/***./custom media-queries for rectangles***/

@media screen and (min-width: 320px) and (max-width: 349px) {
	.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 24.2%;
		background-position: 15px 0;
	}
}
/*./rectangle-right*/
/*./augmented-reality*/

/*offline branding*/
.skewed-bg.bottom > div:nth-child(5) {
	/*margin-top: -50px;
	-webkit-margin-before: -50px;*/
}
.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(1) > img {
	margin-top: 125px;
}

.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(2) {
	margin-top: 255px;
	padding-left: 100px;
}

.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(4) {
	padding: 0 30px 0 100px;
}

.skewed-bg.bottom > div:nth-child(5) > div > div > img {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

/*rectangle-right*/
.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(2) {
	background: url(../img/rectangle-right-full.png) no-repeat;
	background-size: 25.2%;
	background-position: 20px 0px;
}

@media screen and (min-width: 1201px) {
	.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(2) > h2 {
		padding-top: 21px;
	}
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
	.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(2) {
		background: url(../img/rectangle-right-full.png) no-repeat;
		background-size: 33.5%;
		background-position: 15px 0px;
	}
}

/***custom media-queries for rectangles***/
@media screen and (min-width: 750px) and (max-width: 800px) {
	.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(2) {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 5.8%;
		background-position: 15px 0;
	}	
}

@media screen and (min-width: 400px) and (max-width: 749px) {
	.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(2) {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 12.5%;
		background-position: 15px 0;
	}	
}

@media screen and (min-width: 370px) and (max-width: 399px) {
	.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(2) {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 13.8%;
		background-position: 15px 0;
	}	
}

@media screen and (min-width: 350px) and (max-width: 369px) {
	.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(2) {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 14.2%;
		background-position: 15px 0;
	}	
}
/***./custom media-queries for rectangles***/

@media screen and (min-width: 320px) and (max-width: 349px) {
	.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(2) {
		background: url(../img/rectangle-left-small.png) no-repeat;
		background-size: 18.2%;
		background-position: 15px 0px;
	}
}
/*./rectangle-right*/
/*./offline branding*/
/****./ODD-ROW****/

/****EVEN-ROW****/
/*awards and recognition*/
.skewed-bg.bottom > div:nth-child(2) > div > div:nth-child(1) {
	margin-top: 40px;
}

.skewed-bg.bottom > div:nth-child(2) > div > div:nth-child(2) {
	padding: 20px 100px 0 0;
	margin-top: 135px;
	text-align: right;
}

.skewed-bg.bottom > div:nth-child(2) > div > div:nth-child(1) > img {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
	.skewed-bg.bottom > div:nth-child(2) > div > div:nth-child(2) {
		margin-top: 95px;
	}
}

/*rectangle-left*/
.skewed-bg.bottom > div:nth-child(2) > div > div:nth-child(2) {
	background: url(../img/rectangle-left-full.png) no-repeat;
	background-size: 25.7%;
	background-position: 420px 10px;
}

@media screen and (min-width: 1201px) {
	.skewed-bg.bottom > div:nth-child(2) > div > div:nth-child(2) > h2 {
		padding-top: 15px;
	}
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
	.skewed-bg.bottom > div:nth-child(2) > div > div:nth-child(2) {
		background: url(../img/rectangle-left-full.png) no-repeat;
		background-size: 30%;
		background-position: calc(100% - 10px) 0px;
	}
}

/***custom media-queries for rectangles***/
@media screen and (min-width: 750px) and (max-width: 768px) {
	.skewed-bg.bottom > div:nth-child(2) > div > div:nth-child(2) {
		background: url(../img/rectangle-right-small.png) no-repeat;
		background-size: 6.6%;
		background-position: calc(100% - 15px) 45px;
	}
}

@media screen and (min-width: 400px) and (max-width: 749px) {
	.skewed-bg.bottom > div:nth-child(2) > div > div:nth-child(2) {
		background: url(../img/rectangle-right-small.png) no-repeat;
		background-size: 14.0%;
		background-position: calc(100% - 15px) 45px;
	}
}

@media screen and (min-width: 370px) and (max-width: 399px) {
	.skewed-bg.bottom > div:nth-child(2) > div > div:nth-child(2) {
		background: url(../img/rectangle-right-small.png) no-repeat;
		background-size: 15.0%;
		background-position: calc(100% - 15px) 45px;
	}
}

@media screen and (min-width: 350px) and (max-width: 369px) {
	.skewed-bg.bottom > div:nth-child(2) > div > div:nth-child(2) {
		background: url(../img/rectangle-right-small.png) no-repeat;
		background-size: 18.0%;
		background-position: calc(100% - 15px) 45px;
	}
}
/***./custom media-queries for rectangles***/

@media screen and (min-width: 320px) and (max-width: 349px) {
	.skewed-bg.bottom > div:nth-child(2) > div > div:nth-child(2) {
		background: url(../img/rectangle-right-small.png) no-repeat;
		background-size: 25.0%;
		background-position: calc(100% - 15px) 45px;
	}
}
/*./rectangle-left*/
/*./awards and recognition*/

/*one-to-one*/
.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(1) {
	margin-top: 60px;
}

/*!!!strange behaviour on width ~640px!!!*/
@media screen and (min-width: 991px) and (max-width: 1200px) {
	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(1) > img {
		position: relative;
		right: 10px;
		width: 105%;
	}
}

@media screen and (min-width: 1201px) {
	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(1) > img {
		position: relative;
		right: 10px;
		width: 115%;
	}
}

.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(2) {
	padding: 20px 100px 0 0;
	margin-top: 175px;
	text-align: right;
}

/*rectangle-left*/
.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(2) {
	background: url(../img/rectangle-left-full.png) no-repeat;
	background-size: 25.7%;
	background-position: 420px 10px;
}

@media screen and (min-width: 1201px) {
	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(2) > h2 {
		padding-top: 15px;
	}
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(2) {
		background: url(../img/rectangle-left-full.png) no-repeat;
		background-size: 30%;
		background-position: calc(100% - 10px) 0px;
	}
}

/***custom media-queries for rectangles***/
@media screen and (min-width: 750px) and (max-width: 768px) {
	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(2) {
		background: url(../img/rectangle-right-small.png) no-repeat;
		background-size: 6.5%;
		background-position: calc(100% - 15px) 45px;
	}
}

@media screen and (min-width: 400px) and (max-width: 749px) {
	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(2) {
		background: url(../img/rectangle-right-small.png) no-repeat;
		background-size: 14.0%;
		background-position: calc(100% - 15px) 45px;
	}
}

@media screen and (min-width: 370px) and (max-width: 399px) {
	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(2) {
		background: url(../img/rectangle-right-small.png) no-repeat;
		background-size: 15.0%;
		background-position: calc(100% - 15px) 45px;
	}
}

@media screen and (min-width: 350px) and (max-width: 369px) {
	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(2) {
		background: url(../img/rectangle-right-small.png) no-repeat;
		background-size: 18.0%;
		background-position: calc(100% - 15px) 45px;
	}
}
/***./custom media-queries for rectangles***/

@media screen and (min-width: 320px) and (max-width: 349px) {
	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(2) {
		background: url(../img/rectangle-right-small.png) no-repeat;
		background-size: 20.5%;
		background-position: calc(100% - 15px) 45px;
	}
}
/*./rectangle-left*/
/*./one-to-one*/
/****./EVEN-ROW****/

@media screen and (min-width: 992px) and (max-width: 1200px) {
	/*general paragraph*/
	.skewed-bg.bottom > .skewed-content > div > div > h3 > span {
		font-size: 1.90em;
		line-height: 0.75em;
	}
	/*./general paragraph*/

	/*augmented-reality*/
	.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) {
		margin-top: 200px;
		padding-top: 15px;
	}
	/*./augmented-reality*/

	/*offline-branding*/
	.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(2) {
		margin-top: 200px;
		padding-top: 15px;
	}
	/*./offline-branding*/

	/*one-to-one*/
	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(2) {
		margin-top: 105px;
	}
	/*./one-to-one*/
}

@media screen and (max-width: 991px) {
	/*general paragraph*/
	.skewed-bg.bottom > .skewed-content > div > div > h2,
	.skewed-bg.bottom > .skewed-content > div > div > h3 {
		line-height: 0.75em;
		font-size: 2.0em;
	}

	.skewed-bg.bottom > .skewed-content > div > div > p {
		font-size: 0.68em;
	}

	.skewed-bg.bottom > .skewed-content.odd-row > div > div:nth-child(4) {
		padding: 0 15px 0 30px;
	}
	/*./general paragraph*/

	/****ODD-ROW****/
	/*fan-engagement*/
	.skewed-bg.bottom > .skewed-content.odd-row > div > div:first-child {
		padding: 60px 25px 30px 15px;
	}

	.skewed-bg.bottom > .skewed-content.odd-row > div > div:nth-child(2) {
		padding: 0 15px 15px 30px;
	}

	.skewed-bg.bottom > .skewed-content.odd-row > div > div > img {
		width: 85%;
	}

	/*augmented-reality*/
	.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) {
		margin-top: 0px;
	}

	.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) > a {
		font-size: 1.2em;
	}
	/*./augmented-reality*/

	/*offline-branding*/
	.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(2) {
		margin-top: 0px;
	}
	/*./offline-branding*/
	/****./ODD-ROW****/
	/*./fan-engagement*/
	
	/****EVEN-ROW****/
	/*awards and rewards*/
	.skewed-bg.bottom > .skewed-content.even-row > div:first-child {
		margin-bottom: -50px;
	}

	.skewed-bg.bottom > .skewed-content.even-row > div > div:first-child {
		padding: 60px 15px 30px 15px;
		padding-top: 0px;
	}

	.skewed-bg.bottom > .skewed-content.even-row > div > div:nth-child(2) {
		padding: 60px 30px 30px 15px;
		margin-top: -50px;
	}
	/*./awards and rewards*/

	/*one-to-one*/
	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(1) > img {
		position: relative;
		left: 10px;
		width: 100%;
	}
	/*./one-to-one*/
	/****./EVEN-ROW****/
	
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	/****ODD-ROW****/
	/*./fan-engagement*/
	.skewed-bg.bottom > .skewed-content.odd-row {
		margin-top: -50px;
	}

	.skewed-bg.bottom > .skewed-content.odd-row > div > div {
		padding: 0 30px 0 30px;
	}

	.skewed-bg.bottom > div:nth-child(1) > div > div:nth-child(1) > h2 {
		font-size: 1.15em;
		margin-bottom: 3px;
	}

	.skewed-bg.bottom > div:nth-child(1) > div > div:nth-child(1) > h3 {
		font-size: 1.05em;
		margin-top: 3px;
	}

	.skewed-bg.bottom > div:nth-child(1) > div > div:nth-child(1) > p {
		line-height: 1.0em;
	}

	.skewed-bg.bottom > div:nth-child(1) > div > div:nth-child(4) {
		margin-top: 30px;
		margin-bottom: 60px;
	}
	/*./fan-engagement*/

	/*augmented-reality*/
	.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(1) > img {
		margin-top: 65px;
		margin-right: 55px;
	}

	.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) {
		margin-top: -20px;
		margin-bottom: 90px;
		text-align: left;
	}

	.skewed-bg.bottom > div:nth-child(3) > div > div:nth-child(2) > h2 {
		padding-top: 15px;
	}
	/*./augmented-reality*/

	/*offline-branding*/
	.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(1) {
		text-align: center;
	}

	.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(1) > img {
		margin-top: 65px;	}

	.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(2) {
		margin-top: 5px;
		margin-bottom: 90px;
		text-align: left;
	}

	.skewed-bg.bottom > div:nth-child(5) > div > div:nth-child(2) > h2 {
		padding-top: 15px;
	}
	/*./offline-branding*/
	/****./ODD-ROW****/

	/****EVEN-ROW****/
	/*awards and recognition*/
	.skewed-bg.bottom > div:nth-child(2) > div > div:nth-child(2) {
		margin-bottom: 40px;
	}
	/*./awards and recognition*/

	/*one-to-one*/
	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(1) {
		margin-bottom: -90px;
	}

	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(2) {
		padding: 20px 15px 30px 15px;
		margin-top: -0px;
		margin-bottom: 70px;
	}

	.skewed-bg.bottom > div:nth-child(4) > div > div:nth-child(1) > img {
		position: relative;
		left: 10px;
		width: 100%;
	}
	/*./one-to-one*/
	/****./EVEN-ROW****/
}
/*./skewed bottom*/

/*world-map-bg*/
.world-map-bg {
	background-image: url(../img/world-map-bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	min-height: 200px;
	margin-bottom: 0px;
	padding-bottom: 175px;
	color: #fff;
	font-family: 'AlternateGotNo1D';
}

.world-map-bg > div > div {
	margin-top: 175px;
}

/*label*/
.world-map-bg > div > div > div:nth-child(1) > p {
	font-size: 5.9em;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 0.7em;
	margin: 5px 10px 5px 10px;
}

.world-map-bg > div > div > div:nth-child(1) > p:nth-child(1) {
	font-size: 2.5em;
	margin-top: 65px;
}

.world-map-bg > div > div > div:nth-child(1) > p:nth-child(2) {
	margin-bottom: 15px;
}
/*./label*/

/*forms*/
.world-map-bg > div > div > div:nth-child(2) {
	text-align: center;
}

.world-map-bg > div > div > div:nth-child(2) > form > input {
	width: 80%;
	margin: 2px 0 2px 0;
	-webkit-margin: 2px 0 2px 0;
	padding-top: 10px;
	-webkit-padding-before: 10px;
	padding-bottom: 10px;
	-webkit-padding-after: 5px;
	line-height: 1em;
	-webkit-line-height: 1em;
	border-width: 0px;
	-webkit-border-radius: 0px;
	padding-left: 20px;
	font-family: 'Avenir Light';
	-webkit-font-family: 'Avenir Light';
	background-color: rgba(192,192,192,0.4)
}

.world-map-bg > div > div > div:nth-child(2) > form > input:focus {
	outline: none;
	border: 1px solid orange;
}

.world-map-bg > div > div > div:nth-child(2) > form > input::placeholder {
	font-weight: normal;
	font-family: 'Avenir Light';
	-webkit-font-family: 'Avenir Light';
	-webkit-margin-before: 15px;
	-webkit-margin-after: 5px;
	color: #fff;
	font-size: 0.8em;
}

input::-webkit-input-placeholder {
    line-height:normal!important;
}

.world-map-bg > div > div > div:nth-child(2) > form.valid > input[type="submit"] {
	background: #fff;
}

.world-map-bg > div > div > div:nth-child(2) > form > input:last-child {
	background-color: #373B3F;
	font-weight: normal;
	font-family: 'AlternateGotNo1D'; 
	color: #9B9D9F;
	border-width: 0px;
	padding: 8px;
	line-height: 1em;
	font-size: 1.5em;
}
/*messages & errors*/
.successMessage {
	color: green;
	text-align: left;
   	width: 80%;
   	position: absolute;
   	top: -35px;
   	right: 47px;
   	font-size: 24px;
}

.errorMessage {
	color: #fff;
	text-transform: uppercase;
	text-align: right;
   	width: 41%;
   	position: absolute;
   	top: 60%;
    right: 80px;
    font-size: 24px;
}

form > .errorMessage:nth-child(2) {
    top: 2%;
}

form > .errorMessage:nth-child(4) {
    top: 21%;
}

form > .errorMessage:nth-child(6) {
    top: 41%;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.successMessage {
	   	right: 37px;
	}
}

@media screen and (min-width: 769px) and (max-width: 991px) {
	.successMessage {
		text-align: right;
	   	right: 100px;
	}

	.errorMessage {
	    right: 100px;
	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.successMessage {
		text-align: right;
	   	right: 30px;
	   	top: -22px;
	   	font-size: 20px;
	}

	.errorMessage {
		width: 42%;
		top: 65.5%;
	    right: 30px;
	    font-size: 18px;
	}

	form > .errorMessage:nth-child(2) {
	    top: 4.5%;
	}

	form > .errorMessage:nth-child(4) {
	    top: 24.5%;
	}

	form > .errorMessage:nth-child(6) {
	    top: 44.5%;
	}
}
/*messages & errors*/
/*./forms*/

@media screen and (min-width: 1280px) and (max-width: 1600px) {
	.world-map-bg {
		padding-bottom: 45px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
	.world-map-bg {
		background-size: 160%;
		background-position: 0% 80%;
	}

	/*label*/
	.world-map-bg > div > div > div:nth-child(1) > p {
		font-size: 4.5em;
		line-height: 0.7em;
	}

	.world-map-bg > div > div > div:nth-child(1) > p:nth-child(1) {
		font-size: 1.6em;
		margin-top: 30px;
	}
	/*./label*/
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.world-map-bg {
		background-image: url(../img/world-map-bg-small.png);
		background-size: 150%;
		background-position: 0% 75%;
		min-height: 50px;
	}

	.world-map-bg > div > div {
		margin-top: 55px;
	}
	
	/*label*/
	.world-map-bg > div > div > div:nth-child(1) > p {
		margin: 1px 0px 1px 0px;
	}

	.world-map-bg > div > div > div:nth-child(1) > p {
		font-size: 3.0em;
		line-height: 0.75em;
	}

	.world-map-bg > div > div > div:nth-child(1) > p:nth-child(1) {
		font-size: 1.6em;
		margin-top: 0px;
	}
	/*./label*/

	/*forms*/
	.world-map-bg > div > div > div:nth-child(2) > form > input {
		width: 100%;
		font-size: 1.0em;
		padding: 10px 10px 10px 10px;
		margin: 2px 0 2px 0;
	}

	.world-map-bg > div > div > div:nth-child(2) > form > input:last-child {
		font-size: 1.4em;
		padding: 9px 0 9px 0;
	}


	/*./forms*/
}

/*./world-map-bg*/

/*footer*/
footer {
	background-color: #373B3F;
	color: #fff;
	text-align: center;
	margin-top: -10px;
	text-transform: uppercase;
	font-size: 0.6em;
}

footer > div > div > div {
	padding: 35px 0 35px 0;
}

footer > div > div > div:first-child {
	text-align: left;
}

footer > div > div > div:last-child {
	text-align: right;
	padding-top: 40px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	footer > div > div > div:first-child,
	footer > div > div > div:last-child {
		text-align: center;
	}

	footer > div > div > div:first-child {
		padding: 15px 0 2px 0;
	}

	footer > div > div > div:last-child {
		padding: 2px 0 15px 0;
		font-size: 0.7em;
	}

	footer > div > div > div:first-child > img {
		width: 30%;
	}
}
/*./footer*/