/*FONTS*/
@font-face {
  font-family: 'AlternateGotNo1D';
  src: url('fonts/AlternateGotNo1D.eot?#iefix') format('embedded-opentype'), url('fonts/AlternateGotNo1D.woff') format('woff'), url('fonts/AlternateGotNo1D.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirRoman';
    src: url('fonts/AvenirRoman.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLight';
    src: url('fonts/AvenirLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'AvenirBlack';
  src: url('fonts/AvenirBlack.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirBlack.woff') format('woff'), url('fonts/AvenirBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OswaldLight';
  src: url('fonts/oswald.light.eot');
  src: url('fonts/oswald.light.eot?#iefix') format('embedded-opentype'), url('fonts/oswald.light.woff') format('woff'), url('fonts/Oswald.light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*./FONTS*/

/*CONTENT*/
.installform.facilityimages .installform-content {
	font-family: 'AvenirRoman';
	text-align: justify;
}

/*paragraph*/
.installform.facilityimages .paragraph {
	padding: 35px 0 30px 0;
}

.installform.facilityimages .paragraph p {
	margin: 0 0 25px 0;
	font-size: 1.15em;
	line-height: 1.40em;
	color: #545454;
}

.installform.facilityimages .paragraph h5 {
	font-family: 'Avenir';
	font-weight: bold;
	color: #545454;
}
/*./paragraph*/

/*video*/
.installform.facilityimages .video {
	margin: 0 0;
	padding: 0 0;
	background-color: #fff;
}

.installform.facilityimages .video > div > div {
	padding: 0 0;
}

.installform.facilityimages video {
	margin: 0 0;
	background-color: #707070;
	width: 100%;
}
/*./video*/

/*faq*/
.installform.facilityimages .paragraph.faq {
	padding: 45px 0 30px 0;
	text-align: left;
}

.installform.facilityimages .paragraph.faq h5 {
	font-size: 1.23em;
}

.installform.facilityimages .paragraph.faq .first-column,.installform.facilityimages .paragraph.faq .second-column {
	margin-bottom: 40px;
}

.installform.facilityimages .paragraph.faq .first-column h2 {
	text-transform: none;
	font-size: 2.7em;
}

.installform.facilityimages .paragraph.faq .second-column {
	padding-left: 30px;
}

.installform.facilityimages .paragraph.faq .second-column a:hover {
	text-decoration: none;
}

.installform.facilityimages .paragraph.faq .second-column h2 {
	padding-left: 30px;
	font-family: 'AvenirRoman';
	text-align: right;
	text-decoration: underline;
	font-size: 1.05em;
	font-weight: bold;
	margin-top: 14px;
}

.installform.facilityimages .paragraph.faq .second-column h2::before{
    content: "";
    position: absolute;
    background-image: url(../img/pdf-copy.png);
    top: -7px;
    right: 314px;
    height: 30px;
    width: 24px;
}
.installform.facilityimages .paragraph.faq .second-column h2:hover {
	text-decoration:none;
}

.installform.facilityimages .first-column .faq-note {
	padding-right: 45px;
}

.installform.facilityimages .second-column .faq-note {
	padding-right: 30px;
}

.installform.facilityimages .faq-note {
	padding-bottom: 0px;
}

.installform.facilityimages .faq-note h5 {
	line-height: 1.35em;
	margin-top: 0px;
	margin-bottom: 0px;
}

.installform.facilityimages  .faq-note p {
	line-height: 1.40em;
	font-size: 1.20em;
	margin-bottom: 13px;
}

@media (max-width: 768px) {
	.installform.facilityimages .paragraph.faq .first-column, .installform.facilityimages .paragraph.faq .second-column {
		margin-bottom: 0px;
	}

	.installform.facilityimages .paragraph.faq .second-column h2 {
		text-align: left;
	}

	.installform.facilityimages .paragraph.faq .second-column h2::before{
	    top: -7px;
	    left: 0px;
	}

	.installform.facilityimages .paragraph.faq .second-column {
		padding-left: 15px;
	}

	.installform.facilityimages .second-column .faq-note {
		padding-right: 0px;
	}

	.installform.facilityimages .paragraph.faq h2 {
		margin-bottom: 40px;
	}

	.installform.facilityimages .first-column .faq-note, .installform.facilityimages .second-column .faq-note {
		padding-right: 0px;
	}

	.installform.facilityimages .first-column .faq-note p, .installform.facilityimages .second-column .faq-note p {
		text-align: justify;
	}
}

@media (min-width: 320px) and (max-width: 349px) {
	.installform.facilityimages .paragraph.faq .second-column h2::before{
	    top: 1px;
	    left: 0px;
	}
}
/*./faq*/

/*modal*/
.success-install .modal-content {
	margin-top: 240px;
	border-radius: 0;
	text-align: center;
}

.success-install .modal-body h2 {
	margin-top: 4%;
	margin-bottom: 10px;
	font-size: 5.4em;
	line-height: 0.75em;
}

.success-install .modal-body h3 {
	color: #0B2659;
	margin-top: 5px;
	font-size: 3.9em;
	line-height: 0.6em;
	font-family: 'AlternateGotNo1D';
}

.success-install .modal-body p {
	font-size: 1.19em;
	line-height: 2.2em;
	margin-bottom: 25px;
}
.modal-backdrop.in {
    opacity: 0;
    filter: alpha(opacity=0);
}
 .modal-backdrop {
	z-index:0;
}

/*./modal*/
/*./CONTENT*/