/* adjusting page */

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../img/bg-image-03.png); 
	min-width: 300px;
	background-repeat: no-repeat;
}

div {
	outline: 0px dotted red;
}

/* describing styles */

.header {
	background: rgba( 8, 63, 136, 0.502);
  	padding: 0;
  	padding-left: 26px;
  	padding-right: -2px;
}


	

	/* NAVIGATION BAR */
	.navbar {
		margin-bottom: 0px;
		margin-right: 0px;
	}

	.navbar-brand img {
		height: 150%;
	}
	
	.navbar-header button {
		border: 1px solid white;
	}

	.main-menu .navbar .navbar-toggle .icon-bar {
    background: #f8f8f8;
}

	.nav li a {
		font-size: 17px;
		font-family: Oswald, sans-serif; 
		/* used normal instant oswald-light */
		padding-right: 40px;
		color: white;
	}

	.nav li:hover a {
		text-decoration: underline;
	}

	.nav.responsive > li.active {
		font-weight: bold;
	}

	.nav>li>a:hover, .nav>li>a:focus {
    	background-color: transparent;
	}

/* CONTENT CONTAINER */	
.container {
    display:table;
    width: 100%;
    box-sizing: border-box;
    padding-right: 0px;
    padding-left: 0px;	
}

/* LEFT SIDEBAR */
.sidebar {
    background: rgba( 0, 0, 0, 0.8 );
  	max-width: 250px;
  	padding-right: 0px;
  	outline: 0px solid yellow;
  	position: relative;
  	right: 15px;
  	min-height: calc(100vh - 52px);
}

.sidebar-left {
	min-height: calc(100vh - 52px);
}

	.myslider {
		min-height: 150px;
	}

		.myslider ol {
			position: relative;
			top: 10px;
			left: 90px;
		}


		.myindicator {
			width: 100%;
			text-align: left;
		}

		.myslider ol li { 		/* RIGHT REGULAR SLIDER MARKERS */
			background: #555;
			border: #555;
		}

	.player-item {
		padding: 0px;
	}
		.player-box-left {
			height: 145px;
			box-shadow: 0px 3px 3px #121212;
		}

	 	.player-item img {
	 		width: 45%;
	 		margin: 20px; 
	 	}
	 	
	 	.player-box-left.responsive img {
			width: 25%;
	 		margin: 20px;
	 	}

	 	.player-caption  {
	 		position: relative;
	 		bottom: 120px;
	 		left: 130px;
	 		width: 50%;
	 		padding: 5px; 
	 		text-align: left;
	 	}

	 	.player-caption h4 {
	 		font-family: Oswald, sans-serif;
	 		font-size: 22px;
	 		font-weight: 100;
	 		margin-bottom: 0px;
	 	}

	 	.player-caption p {
	 		font-family: Avenir, sans-serif;
	 		font-size: 10px;
	 		margin-top: 0px;
	 	}

	.mytable {
		color: white;
		font-family: Oswald, sans-serif;
		font-size: 18px;
		position: relative;
		bottom: 5px;
		left: 25px;
	} 
		
		.mytable table tr:first-child td {
			border-top: none;
		}

		.mytable td, .mytable th {
			text-align: left;
			padding-left: 0px;
		}	
	
		.mytable tbody {
			border: none;
		}
			
			.mytable tr td {
				border-bottom: 1px solid rgba( 116, 113, 109, 0.502 );
			}

			.mytable tr th {
				border: 0px solid rgba( 116, 113, 109, 0.502 );
			}

/* LEFT SIDEBAR FOR COMPARE */
.sidebar-left {
    background: rgba( 0, 0, 0, 0.8 );
  	max-width: 250px;
  	padding-right: 0px;
  	outline: 0px solid yellow;
  	position: relative;
  	right: 15px;
}

	.myslider-left {
		min-height: 150px;
	}

		.myslider-left ol {
			position: relative;
			top: 10px;
			left: 80px;
		}


		.myindicator-left {
			width: 100%;
			text-align: left;
		}

		.myslider-left ol li { 		/* LEFT REGULAR SLIDER MARKERS */
			background-color: transparent;
			width: 25px;
			height: 25px;
			border-radius: 50% 50% 50% 50%;
			margin: 3px;
			border: #555;
			color: #555;
			text-indent: 0;
			font-family: Avenir, sans-serif;
			font-weight: bold;
			text-align: center;
		}

			.myslider-left ol .active { /* LEFT ACTIVE SLIDER MARKERS*/
				width: 25px;
				height: 25px;
				margin: 3px;
				background: dimgray;
				color: white;
				text-decoration: none;
				text-align: center;
				font-family: Avenir, sans-serif;
				font-weight: bold;
				text-align: center;
			}

			.myslider-left ol li p, .myslider-left ol .active p { /* marker value vertical align */
				margin-top: 3px;
			}

	.player-item-left {
		padding: 0px;
	}
		.player-box-left {
			height: 145px;
			box-shadow: 0px 3px 3px #121212;
		}

		.player-box-left.responsive {
			height: 100px;
			box-shadow: 0px 3px 3px #121212;
		}

	 	.player-item-left img {
	 		width: 45%;
	 		margin: 20px; 
	 	}

	 	.player-caption-left  {
	 		position: relative;
	 		bottom: 120px;
	 		left: 130px;
	 		width: 50%;
	 		padding: 5px; 
	 		text-align: left;
	 	}

	 	.player-caption-left.responsive  {
	 		position: relative;
	 		bottom: 100px;
	 		left: 90px;
	 		width: 50%;
	 		padding: 5px; 
	 		text-align: left;
	 	}

	 	.player-caption-left h4 {
	 		font-family: Oswald, sans-serif;
	 		font-size: 22px;
	 		font-weight: 100;
	 		margin-bottom: 0px;
	 	}

	 	.player-caption-left p {
	 		font-family: Avenir, sans-serif;
	 		font-size: 10px;
	 		margin-top: 0px;
	 	}

	 	.player-caption-left.responsive p {
	 		color: rgba( 255, 255, 255, 0.8 );
	 	}

	.mytable-left {
		color: white;
		font-family: Oswald, sans-serif;
		font-size: 18px;
		position: relative;
		bottom: 5px;
		left: 25px;
	} 
		
		.mytable-left table tr:first-child td {
			border-top: none;
		}

		.mytable-left td, .mytable-left th {
			text-align: left;
			padding-left: 0px;
		}	
	
		.mytable-left tbody {
			border: none;
		}
			
			.mytable-left tr td {
				border-bottom: 1px solid rgba( 116, 113, 109, 0.502 );
			}

			.mytable-left tr th {
				border: 0px solid rgba( 116, 113, 109, 0.502 );
			}

/* RIGHT SIDEBAR FOR COMPARE */
.sidebar-right {
    background: rgba( 0, 0, 0, 0.8 );
  	max-width: 250px;
  	padding-right: 0px;
  	margin-left: auto;
  	margin-right: 0;
  	outline: 0px solid yellow;
  	position: relative;
  	left: 15px;
}

	.myslider-right {
		min-height: 150px;
	}

		.myslider-right ol {
			position: relative;
			top: 10px;
			left: 80px;

		}

		.myindicator-right {
			width: 100%;
			text-align: left;
		}

		.myslider-right ol li { /* RIGHT REGULAR SLIDER MARKERS */
			background-color: transparent;
			width: 25px;
			height: 25px;
			border-radius: 50% 50% 50% 50%;
			margin: 3px;
			border: #555;
			color: #555;
			text-indent: 0;
			font-family: Avenir, sans-serif;
			font-weight: bold;
			text-align: center;
		}

			.myslider-right ol .active { /* RIGHT ACTIVE SLIDER MARKERS */
				width: 25px;
				height: 25px;
				margin: 3px;
				background: dimgray;
				color: white;
				text-decoration: none;
				text-align: center;
				font-family: Avenir, sans-serif;
				font-weight: bold;
				text-align: center;
			}

			.myslider-right ol li p, .myslider-right ol .active p { /* marker value vertical align */
				margin-top: 3px;
			}

	.player-item-right {
		padding: 0px;
	}
		.player-box-right {
			height: 145px;
			box-shadow: 0px 3px 3px #121212;
		}

	 	.player-item-right img {
	 		width: 45%;
	 		margin: 20px; 
	 	}

	 	.player-caption-right  {
	 		position: relative;
	 		bottom: 120px;
	 		left: 130px;
	 		width: 50%;
	 		padding: 5px; 
	 		text-align: left;
	 	}

	 	.player-caption-right h4 {
	 		font-family: Oswald, sans-serif;
	 		font-size: 22px;
	 		font-weight: 100;
	 		margin-bottom: 0px;
	 	}

	 	.player-caption-right p {
	 		font-family: Avenir, sans-serif;
	 		font-size: 10px;
	 		margin-top: 0px;
	 	}

	.mytable-right {
		color: white;
		font-family: Oswald, sans-serif;
		font-size: 18px;
		position: relative;
		bottom: 5px;
		left: 25px;
	} 
		
		.mytable-right table tr:first-child td {
			border-top: none;
		}

		.mytable-right td, .mytable-right th {
			text-align: left;
			padding-left: 0px;
		}	
	
		.mytable-right tbody {
			border: none;
		}
			
			.mytable-right tr td {
				border-bottom: 1px solid rgba( 116, 113, 109, 0.502 );
			}

			.mytable-right tr th {
				border: 0px solid rgba( 116, 113, 109, 0.502 );
			}
		
		/* ZONE MAP */
		.zone-map {
			position: relative;
			bottom: 5px;
			left: 0px;
			margin-left: 0px;
			padding: 5px;
			box-shadow: 0px -3px 3px #121212;
		}

		.zone-map.responsive {
			position: relative;
			bottom: 45px;
			background: rgba( 255, 255, 255, 0.1 );
		}

			.zone-map h6 {
				margin: 15px;
				font-size: 11px;
				font-family: Oswald, sans-serif; 
				padding-right: 40px;
				color: white;
				text-align: left;
			}

			.zone-map img {
				width: 90%;
				margin: 15px;
			}

				.zone-map .gsw-dal {
					border-collapse: collapse;
					border: 1px solid rgba( 116, 113, 109, 0.502 );
					margin-left: 15px;
					margin-top: 5px;
					width: 90%;

				}

					.gsw-dal td {
						border: 1px solid rgba( 116, 113, 109, 0.502 );
						font-family: Oswald, sans-serif; 
						font-weight: bold;
						padding: 5px;
					}

					.gsw-dal-filled {
						background: rgba( 129, 129, 129, 0.502 )
					}

				.zone-map-for-teamstats {
					
				}

		/* OVERALL SHOOTING */
		.overall-shooting {
			position: relative;
			bottom: 5px;
			left: 0px;
			margin-left: 0px;
			padding: 5px;
			box-shadow: 0px -3px 3px #121212;
		}

			.overall-shooting h6 {
				margin: 15px;
				font-family: Oswald, sans-serif; 
				padding-right: 40px;
				color: white;
				text-align: left;

			}

			.overall-shooting img {
				width: 90%;
				margin: 15px;
			}	
		
		/* POINTS PER SHOT FROM DIFFERENT FLOOR LOCATIONS */
		.pps {
			position: relative;
			bottom: 5px;
			left: 0px;
			margin-left: 0px;
			padding: 5px;

		}

			.pps h6 {
				margin: 15px;
				font-family: Oswald, sans-serif; 
				padding-right: 40px;
				color: white;
				text-align: left;
			}

			.pps img {
				width: 90%;
				margin: 15px;
			}

		/* FG% ON NUMBER OF DRIBBLES BEFORE SHOT */
		.fg-dribbles {
			position: relative;
			bottom: 5px;
			left: 0px;
			margin-left: 0px;
			padding: 5px;
			box-shadow: 0px -3px 3px #121212;
		}

			.fg-dribbles h6 {
				margin: 15px;
				font-family: Oswald, sans-serif; 
				padding-right: 40px;
				color: white;
				text-align: left;
			}

			.fg-dribbles img {
				width: 90%;
				margin: 15px;
			}

			.fg-dribbles table {
				margin-left: 0px;
				width: 100%;
				margin-bottom: 15px;
			}

			.fg-dribbles tr {
				font-family: Avenir, sans-serif;
				font-size: 8px;
			}

		/* FG% BASED ON CLOSEST DEFENDER */
		.fg-closest-defender {
			position: relative;
			bottom: 5px;
			left: 0px;
			margin-left: 0px;
			padding: 5px;
			box-shadow: 0px -3px 3px #121212;
		}

			.fg-closest-defender h6 {
				margin: 15px;
				font-family: Oswald, sans-serif; 
				padding-right: 40px;
				color: white;
				text-align: left;
			}

			.fg-closest-defender img {
				width: 90%;
				margin: 15px;
			}

			.fg-closest-defender table {
				margin-left: 0px;
				width: 100%;
				margin-bottom: 15px;
			}

			.fg-closest-defender tr {
				font-family: Avenir, sans-serif;
				font-size: 8px;
			}

		/* TEAMSTATS */		
		.teamstats {
			position: relative;
			bottom: 5px;
			left: 0px;
			margin-left: 0px;
			padding: 20px 5px 10px 5px;
		}

			.teamstats-table {
				border-collapse: collapse;
				border: 1px solid rgba( 116, 113, 109, 0.502 );
				font-family: Oswald, sans-serif;
				margin-left: 15px;
				margin-top: 5px;
				width: 90%;
			}

				.teamstats-table tr td {
					border: 1px solid rgba( 116, 113, 109, 0.502 );
					padding-top: 5px;
					padding-bottom: 5px;
					width: 33.3%
				}	

					.teamstats-table tr th {
						height: 10px;
					}

					.teamstats-table tr th div {
						outline: 1px solid yellow;
						height: 25px;
						width: 70px;
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						margin: 0px;
						padding: 0px;
						overflow: visible;
						z-index: 1;
					}

					.teamstats-img-table {
						display: table;
						outline: 0px yellow solid;
						margin-left: 15px;
						margin-right: 10px;
						margin-top: -40px;
					}

					/*TEAMS 1-2*/

					.ontable-cell {
						display: table-cell;
					}

					div.teamstats > div.teamstats-img-table > .ontable-cell img {
						position: relative;
						top: 30px;
						z-index: 2;
					}

			.myslider-bottom {
				min-height: 100px;
			}

				.myslider-bottom ol {
					position: relative;
					bottom: 5px;
				}

				.myindicator-bottom {
					width: 100%;
					text-align: left;
				}

				.myslider-bottom ol li {
					background: #555;
					border: #555;
				}

				div.myslider-bottom > div.carousel-inner > div.player-item > div.teamstats > div.teamstats-img-table {
					display: table;
					outline: 0px yellow solid;
					margin-left: 15px;
					margin-right: 10px;
					margin-top: -60px;
				}

				div.myslider-bottom > div.carousel-inner > div.player-item > div.teamstats > table.teamstats-table {
					position: relative;
					bottom: 20px;
					margin-bottom: -15px;
				}

				div.myslider-bottom > div.carousel-inner > div.zonemap-item {
					margin-top: 30px;
					outline: 0px solid red;
				}

				div.zonemap-item > div.teamstats > div.teamstats-img-table > div.ontable-cell img {
					outline: 0px solid yellow;
					position: relative;
					top: 0px;
					right: 20px;
				}

				div.zonemap-item > div.teamstats > div.zonemap-img > img {
					width: 90%;
					outline: 0px solid lime;
					margin-bottom: 0px;
					margin-top: 10px;
				}

				div.zonemap-item > div.teamstats > div.zonemap-img > svg {
					width: 90%;
					outline: 0px solid lime;
					margin-bottom: 0px;
					margin-top: 10px;
				}

				div.zonemap-item > hr {
					position: relative;
					bottom: 20px;
					left: 18px;
				}

					.zonemap-teamname p {
						font-family: Oswald, sans-serif;
						font-size: 18px;
						text-transform: uppercase;
						color: #FFF;
						margin: 0px;
						outline: 0px solid aqua;
						text-align: left;
						position: relative;
						right: 20px;
						top: 5px;
					}

					.teamstats-table tr:first-child td {
						border-bottom: 0px solid rgba( 116, 113, 109, 0.502 );
					}

					.teamstats-table tr:nth-child(2) td {
						border-top: 0px solid rgba( 116, 113, 109, 0.502 );
					}

				.teamstats-table tr .teamstats-table-filled {
					background: rgba( 255, 255, 255, 0.2 );
					color: rgba( 0, 0, 0, 0.8);
					height: 25px;
				}

					.teamstats-table tr .teamstats-table-filled div {
						height: 15px;
					}


		/* LINEUP ON PLAYERS */
		.lineup-players table  {
			width: 89%;
		}

			.lineup-player-face {
				width: 50px;
			}

				.lineup-player-face img {
					width: 130%;
    			}

				.lineup-player-name h4 {
					line-height: 1em;
					margin: 0px;
					position: relative;
					top: 4px;
    			}

				.lineup-player-name p {
					font-family: Avenir, sans-serif;
					font-size: 12px;
					margin: 0px;
					position: relative;
					top: 6px;
    			}

			.lineup-players hr {
				border: none;
    			color: rgba( 116, 113, 109, 0.502 );
    			background-color: rgba( 116, 113, 109, 0.702 );
    			height: 2px;
    			margin-left: -25px;
    			margin-top: -22px;
    			width: 100%;
    		}	
				
		/* LINEUP STATS */
		.lineup-stats table  {
			width: 85%;
			margin-left: 10px;
			margin-top: -70px;
		}

		/* POSSESSION PLAYERS */
		.possession-players table  {
			width: 89%;
		}

			.possession-player-face {
				width: 50px;
			}

				.possession-player-face img {
					width: 130%;
    			}

				.possession-player-name h4 {
					line-height: 1em;
					margin: 0px;
					position: relative;
					top: 4px;
    			}

				.possession-player-name p {
					font-family: Avenir, sans-serif;
					font-size: 12px;
					margin: 0px;
					position: relative;
					top: 6px;
    			}

			.possession-players hr {
				border: none;
    			color: rgba( 116, 113, 109, 0.502 );
    			background-color: rgba( 116, 113, 109, 0.702 );
    			height: 2px;
    			margin-left: -25px;
    			margin-top: -22px;
    			width: 100%;
    		}


		
		/* POSSESSION STATS */
		.possession-stats-header {
			position: relative;
			right: 25px;
			bottom: 70px;
			background: rgba( 68, 64, 59, 0.52 );
			padding: 7px 0px 7px 25px;
			text-align: left;
		}

		.possession-stats table  {
			width: 85%;
			margin-left: 10px;
			margin-top: -70px;
		}	
			
			.possession-stats table td:first-child {
				font-family: Avenir, sans-serif;	
			}

		/* LEADERBORD */
		.leaderbord-wrapper {
			height: 850px;  /* height should me changed */
			overflow-y: scroll;
		}

			::-webkit-scrollbar { /* hiding scroll bar, but still being able to scroll */
    			display: none; 
			}

		.leaderbord {
			margin: 5px 0px 5px 25px;
		}

			.leaderbord table {
				background: rgba( 68, 64, 59, 0.52 );
				outline: 0px dashed pink;
				width: 93%;
				color: white;
				font-family: Oswald, sans-serif;

			}

				.leaderbord-table-header {
					background: rgba( 255, 255, 255, 0.42 );
					padding: 2px 0px 2px 5px;
					font-weight: bold;
				}

				.leaderbord-table-footer {
					height: 8px;
				}

			.leaderbord img {
				width: 95%;
				margin: 4px 0px 4px 0px;
			}

			.leaderbord td {
				outline: 0px dashed yellow;
				padding-left: 4px;
			}

			.leaderbord td:first-child {
				width: 15px;
			}

			.leaderbord td:nth-child(2) {
				width: 45px;
			}

				.leaderbord td p {
					font-family: Avenir, sans-serif;
					margin: 0px;
					line-height: 0.95em;
				}

.fillWidth {		/* video */
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.nav li a {
	text-transform: uppercase;
}

/* progress bar */

.sidebar .progress-bar {
    position: relative;
}
.sidebar .progress-bar div {
    position: absolute;
    border-radius: 50%;
}
.sidebar .progress-bar div span {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 25px;
    line-height: 52px;
    height: 52px;
    width: 52px;
    left: 2px;
    top: 18px;
    text-align: center;
    border-radius: 50%;
    color: #FFF;
    margin-top: -81px;
}
.sidebar .progress-bar div span sup {
    position: absolute;
    font-size: 8px;
    left: 38px;
    top: 33px;;
}
.sidebar .progress-bar .background {
    background-color: #fff;
}
/* end progress bar */

/* responsive styles for FoxGo */

/*HEADER*/
.header.responsive {
	width: 70%;
}

.navbar-right.responsive ul li {
	text-align: left;
}

/*HEADER UPD*/

.navbar-left.responsive li a img {
	width: 20px;
	position: relative;
	bottom: 1px;
}

.navbar-left.responsive ul li {
	text-align: left;
}

div.navbar-left.responsive {
	
}

.navbar-collapse.responsive {
	//float: left;
}

.navbar-header.responsive {
	//float: right;
}

.navbar-collapse {
    //width: 84%;
}

.closed .navbar-header.responsive {
//	float: left;
}
.nav.navbar-nav.navbar-left.uppercase.responsive{
	width:83%;
	margin-left:2px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-collapse.responsive.collapse.in{
	//background: rgba( 8, 63, 136, 0.502);
}

/* SCREEN MEDIA COLLAPSING */
@media (max-width: 767px) {
	.navbar-collapse.collapse.responsive {
    	/*display: none!important;  WHY NONE? */
	}
	.header {
		background:transparent;
	}
	.navbar-brand-responsive {
		display: none!important;
	}
	
	.sidebar {
		background: rgba( 0, 0, 0, 0 );
	}	
}

/*FREE THROW*/

.container.freethrow-main {
	position: fixed;
	bottom: 150px;
}

.freethrow {
	width:50%;
	background: rgba( 0, 0, 0, 0.8 );
	position:absolute;
	left:25%;
	bottom: -120px;
	color: white;
	border-right: 2px solid black;
}

.freethrow.revised {
	width: 40%;
	left: 30%;
}

	.freethrow-name {
		float: left;
		outline: 0px solid red;
		width: 30%;
		border: 2px solid rgba( 255, 255, 255, 0.2 );
		border-right: 2px solid black;
	}

		.freethrow-name p:first-child {
			font-size: 47px;
			font-family: Oswald, sans-serif;
			line-height: 0.95em;
			padding: 10px 10px 1px 10px;
		}

		.freethrow-name p:last-child {
			font-size: 22px;
			font-family: Avenir, sans-serif;
			line-height: 0.8em;
			padding: 1px 10px 5px 10px;
		}

	.freethrow-header {
		float: right;
		outline: 0px solid yellow;
		height: 30%;
		width: 70%;
		background: rgba( 255, 255, 255, 0.2 );
		display: table;
	}

	.freethrow-header.revised {
		width: 100%;
		display: table;
	}

		.freethrow-header.revised > img {
			width: 5%;
			margin: 10px 2px 5px 15px;
			float: left;
		}

		.freethrow-header.revised > p {
			display: table-cell;
			font-family: Oswald, sans-serif;
			font-size: 24px;
			float: left;
		}

		.freethrow-header p {
			font-size: 22px;
			font-family: Avenir, sans-serif;
			vertical-align: middle;
			margin: 5px 5px 5px 10px;
		}

	.freethrow-results {
		display: table;
		float: right;
		outline: 0px solid green;
		height: 70%;
		width: 70%;
		text-align: center;
	}

	.freethrow-results.revised {
		width: 100%;
	}




	.freethrow-descriptions.revised > div {
		width: 33.33%;
		display: table-cell;
	}


		.freethrow-values {
			display: table-row;
		}

			.freethrow-values div {
				display: table-cell;
				font-size: 47px;
				font-family: Oswald, sans-serif;
				line-height: 0.95em;
				padding: 10px 25px 2px 25px;
			}
		
		.freethrow-descriptions  {
			display: table-row;
		}

			.freethrow-descriptions div {
				display: table-cell;
				font-size: 18px;
				font-family: Avenir, sans-serif;
				color: rgba( 255, 255, 255, 0.2 );
				padding: 5px 25px 5px 25px;
			}

/*HALF TIME 1*/

.container.halftime1-main {
	width: 80%;
}

.halftime1 {
	width: 30%;
	background: rgba( 0, 0, 0, 0.8 );
	outline: 0px solid yellow;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,.7);
}

	.halftime1.center-block table, .halftime2.center-block table {
		width: 100%;
		outline: 0px solid aqua;
		margin: 0px auto; 
	}

	table.stat-table tr td:first-child{
    	width:16%;
    	text-align: center;
    	padding: 0px 0px;
    	margin: 0px 0px;
	}
	
	.stat-table tr th {
		font-size: 22px;
		font-family: Avenir, sans-serif;
		outline: 0px solid red;
		font-weight: normal;
	}

	.halftime1.center-block table tr td, .halftime2.center-block table tr td {
		font-size: 22px;
		font-family: Avenir, sans-serif;
		outline: 0px solid red;
	}

	.halftime1-p-team {
		font-size: 20px;
		margin: 10px 0px 2px 10px;
		color: rgba( 255, 255, 255, 0.8 );
		line-height: 0.7em;
		font-family: Avenir, sans-serif;
		text-align: left;
	}

	.halftime1-p-name {
		font-size: 26px;
		font-family: Oswald, sans-serif;
		vertical-align: middle;
		margin: 10px 0px 15px 10px;
		line-height: 0.7em;
		text-align: left;
	}


.halftime1-table-header {
	background: rgba( 255, 255, 255, 0.2 );
	width: 100%;
}

	.halftime1-table-header p {
		margin: 2px 5px 2px 20px;
	}

	.halftime1 table {
		outline: 0px dotted blue;
	}

	.halftime2 table {
		outline: 0px dotted blue;
		position: relative;
		right: 15px;
	}

	.halftime1 .img-circle {
		border: 1px solid #FFF;
		margin: 10px 0px 10px 0px;
		width: 60%; 
	}

.halftime1-table-points p {
	font-size: 28px;
	font-family: Oswald, sans-serif;
	color: white;
	margin: 0px;
}

td.halftime1-table-points {
	text-align: right;
	padding-right: 20px;
}
	
.teamstats-table {
	outline: 0px solid aqua;
	position: relative;
	z-index: 1;
}

/*HALF TIME 2*/

.container.halftime2-main {
	width: 80%;
}

.ontable-header {
	display: table;
	width: 100%;
	position: relative;
	z-index: 2;
	top: 30px;
}

	.ontable-cell {
		display: table-cell;
		outline: 0px dotted blue;
		width: 33.3%;
		text-align: center;
		overflow-y: visible;
	}

	.ontable-cell.central {
		background: #393939;
	}

	.ontable-cell.central p {
		margin: 0px;
		line-height: 1.1em;
		position: relative;
		bottom: 8px;
	}
		.ontable-cell.central p:first-child {
			font-size: 16px;
			font-family: Avenir, sans-serif;
		}

		.ontable-cell.central p:last-child {
			font-size: 28px;
			font-family: Oswald, sans-serif;
			font-weight: bold;
		}

	.ontable-cell img {
		width: 48%;
	}

.halftime2 {
	outline: 0px yellow solid; 
	padding: 0px 20px 20px 20px;
	box-shadow: -3 3 10px rgba(255,255,255,0.8); /* adjust block shadow*/
}

div.halftime2 > .ontable-cell img {
	position: relative;
	top: 30px;
}

.halftime2.center-block table tr td {
	font-family: Oswald, sans-serif;
	outline: 0px solid red;
	text-align: center;
	margin-top: 0px;
}

	.transparent-cell {
		border: 0px solid black;
	}

	.top-cell {
		height: 30px;
	}

/*HALF TIME ALL*/

.halftime1.center-block.all {
	padding: 0px 25px 25px 25px;
	outline: 0px solid red;
}

.halftime1.center-block.all.header, .halftime1.center-block.all.header-halftime2 {
	padding: 0px;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 0px;
}

.halftime1.center-block.all.header-halftime2.revised {
	padding: 0px 25px 25px 25px;
}

	.halftime1.center-block.all.header p.header-report {
		font-family: 'AlternateGotNo1D', sans-serif;
		font-size: 68px;
		margin-bottom: 0px;
	}

@font-face {
    font-family: 'AlternateGotNo1D';
    src: url('fonts/AlternateGotNo1D.eot');
    src: url('fonts/AlternateGotNo1D.eot?#iefix') format('embedded-opentype'), url('fonts/AlternateGotNo1D.woff') format('woff'), url('fonts/AlternateGotNo1D.ttf') format('truetype'), url('fonts/AlternateGotNo1D.svg#nexa_slab_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.halftime1.center-block.all.sub-header {
	margin-bottom: 0px;
	padding: 5px 0px 5px 0px;
	text-align: center;
	font-family: Avenir, sans-serif;
	font-size: 22px;
	border-bottom: 1px solid #FFF;
	background: rgba( 255, 255, 255, 0.15 );
	background-blend-mode: color-burn;
	margin-top: 0px;
	
}

.halftime1.center-block.all.sub-header p {
	margin: 0px;
}

.halftime1.center-block.all table {
	width: 100%;
	outline: 0px solid aqua;
	margin: 0px auto;
	text-align: center;
}

	.halftime1.center-block.all table tr td {
		font-family: Oswald, sans-serif;
	}

	.halftime1.center-block.all  table.playground-results.revised tr td {
		font-family: Avenir, sans-serif;
	}

	.halftime1.center-block.all  table.playground-results.revised tr td:last-child {
		font-family: Oswald, sans-serif;
	}

.svg-playground.all {
	padding: 30px 0px 12px 0px;
}

.svg-playground.all > .playground-results {
	width: 95%;
	font-family: Avenir, sans-serif; 
}
	.svg-playground.all > .playground-results tr td {
		outline: 0px solid red;
		color: #FFF;
	}

	.svg-playground.all > .playground-results tr td:first-child {
		width: 10%;
		text-align: left;
		font-family: Avenir, sans-serif;
		font-size: 18px;
	}

	.svg-playground.all > .playground-results tr td:last-child {
		text-align: right;
		font-size: 36px;
	}

/*PLAYERS 1*/

.players1-teamname {
	outline: 0px solid yellow;
	font-family: Avenir, sans-serif;
	border-bottom: 1px solid #FFF;
	display: table;
	background: rgba( 0, 0, 0, 0.8 );
	text-align: center;
}

.players1-teamname1 {
    outline: 0px solid yellow;
    color: #FFF;
    background: rgba( 255, 255, 255, 0.2 );
    text-decoration: none;
}

	.players1-tabs li a {
	    padding: 10px 5px 10px 5px;
	    font-family: Avenir, sans-serif;
	    line-height: 1.1em;
	}

.players1-teamname2 {
    outline: 0px solid pink;
    color: rgba( 255, 255, 255, 0.8 );
    margin-bottom: 0px; 
}

ul.players1-tabs  {
    display: inline-block;
    border:none;
    margin-bottom: 0px;
}

ul.players1-tabs li {
    background: transparent;
    width: 50%;
    height: 100%;
}

ul.players1-tabs li a {
    display: block;
}

	.nav-tabs.players1-tabs li > a, .nav-tabs.players1-tabs li > a:hover {
		background-color: transparent !important;
		padding: 0px;
		width: 100%;
		border: 0px solid #FFF;
		outline: 0px yellow solid;
	}

/* frame that includes slider indicators */

button.player-shevron {
	width: 30px;
	padding: 0px;
	outline: 0px dotted yellow;
	background: transparent;
	color: #fff;
	float: left;
	position: relative;
	top: 15px;
}

button.player-shevron:checked {
	color: #FFF;
	border: 0px #FFF solid;
}

button.player-shevron:focus {
	color: #FFF;
	border: 0px #FFF solid;
}

button.player-shevron:disabled {
	color: transparent;
}

.frame {
	width: 183px;
	height: 50px;
	overflow: hidden;
	outline: 0px solid white;
	float: left;
}
	
	div.frame > ol.players1 {
		position: relative;
		left: 60px;
	}

.frame ul li.active, .frame ol li.active  {
	color: #fff;
	position: relative;
}

/* PLAYERS 2 */

.svg-playground {
	position: relative;
	bottom: 5px;
	left: 0px;
	margin-left: 0px;
	padding: 5px;
}

.playground-results {
	margin-top: 7px;
	margin-left: 7px;
	width: 95%;
	font-family: Avenir, sans-serif;
}
	.playground-results tr td {
		outline: 0px solid red;
		width: 20%;
	}

	.playground-results tr:first-child {
		font-family: Oswald, sans-serif;
		font-size: 1.8em;
	}

	.playground-results tr:last-child {
		font-family: Avenir, sans-serif;
		font-size: 0.9em;
		text-transform: uppercase;
		color: rgba( 255, 255, 255, 0.8 );
	}

.playground-stats {
	margin-left: 5px;
	width: 95%;
}

	.playground-stats tr td {
		font-family: Oswald, sans-serif;
		font-size: 1.2em;
	}


/* SCREEN MEDIA COLLAPSING */
@media (min-width: 1400px) {
	/*halftimeall*/
	.my-flex-container {
		display: flex;
		justify-content: center;
	}

	.my-flex-block {
		flex-basis: 300px;
	}

	.triple {
		width: 100%;
		left: 0%;
	}

	.halftime1.triple.header {
		width: 900px;
	}

	.halftime1.center-block.all.triple-leaderboard {
		padding: 0px;
		padding-bottom: 5px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td {
		font-size: 15px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr th.halftime1-table-header {
		font-size: 16px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td img.img-circle {
		width: 70%; 
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td p.halftime1-p-team {
		font-size: 14px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td p.halftime1-p-name {
		font-size: 16px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td.halftime1-table-points p {
		font-size: 18px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td .stat-table tr th {
		font-size: 12px;
	}

	.halftime1.center-block.all.triple-leaderboard > table.stat-table {
		width: 100%;
		outline: 0px solid yellow;
		margin: 0px;
	}

	/*halftimeall*/

	.svg-playground.all > table.playground-results tr td div img {
		width: 80%;
	}

	/*freethrow*/
	.freethrow-header.revised > img {
		width: 4%;
		margin: 10px 2px 5px 15px;
	}

}

@media (min-width: 1280px) and (max-width: 1399px) {
	/*.halftime1*/
	.halftime1.center-block table tr td {
		font-size: 18px;
	}

	.halftime1-p-team {
		font-size: 15px;
	}

	.halftime1-p-name {
		font-size: 21px;
	}

	.halftime1-table-points p {
		font-size: 24px;
	}

	/*.halftime2*/
	.ontable-cell.central p:first-child {
		font-size: 14px;
		font-family: Avenir, sans-serif;
	}

	.ontable-cell.central p:last-child {
		font-size: 23px;
		font-family: Oswald, sans-serif;
		font-weight: bold;
	}			

	/*halftimeall*/
	.my-flex-container {
		display: flex;
		justify-content: center;
	}

	.my-flex-block {
		flex-basis: 300px;
	}

	.triple {
		width: 100%;
		left: 0%;
	}

	.halftime1.triple.header {
		width: 900px;
	}

	.halftime1.center-block.all.triple.header p {
		font-size: 56px;
	}

	.halftime1.center-block.all.triple > table.teamstats-table tr td {
		font-size: 22px;
	}

	.halftime1.center-block.all.triple-leaderboard {
		padding: 0px;
		padding-bottom: 5px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td {
		font-size: 15px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr th.halftime1-table-header {
		font-size: 16px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td img.img-circle {
		width: 70%; 
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td p.halftime1-p-team {
		font-size: 14px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td p.halftime1-p-name {
		font-size: 16px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td.halftime1-table-points p {
		font-size: 18px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td .stat-table tr th {
		font-size: 12px;
	}

	.halftime1.center-block.all.triple-leaderboard > table.stat-table {
		width: 100%;
		outline: 0px solid yellow;
		margin: 0px;
	}

	.halftime1.all.triple.center-block:last-child > table.stat-table {
		margin-bottom: 0px;
	}

	.halftime1.all.triple.center-block:first-child > table.stat-table {
		margin-bottom: 0px;
	}

	.svg-playground.all > table.playground-results tr td div img {
		width: 80%;
	}

	.freethrow-descriptions div {
		font-size: 15px;
		padding: 5px 15px 5px 15px;	
	}
}

@media (min-width: 880px) and (max-width: 1279px) {
	.freethrow-name p:first-child {
		font-size: 36px;
		padding: 10px 10px 1px 10px;
	}

	.freethrow-name p:last-child {
		font-size: 18px;
		padding: 1px 10px 5px 10px;
	}

	.freethrow-header p {
		font-size: 18px;
	}

	.freethrow-values div {
		font-size: 36px;
		padding: 10px 15px 2px 15px;
	}

	.freethrow-header.revised > img {
		width: 6%;
	}

	.freethrow-descriptions div {
		font-size: 14px;
		padding: 5px 10px 5px 10px;	
	}

	.freethrow.revised {
		width: 50%;
		left: 25%;
	}	

	.halftime1.center-block table tr td {
		font-size: 15px;
	}

	.halftime1-p-team {
		font-size: 11px;
	}

	.halftime1-p-name {
		font-size: 13px;
	}

	.halftime1-table-points p {
		font-size: 20px;
	}

	.stat-table tr th {
		font-size: 18px;
	}

	/*.halftime2*/
	.ontable-cell.central p:first-child {
			font-size: 12px;
			font-family: Avenir, sans-serif;
		}

	.ontable-cell.central p:last-child {
		font-size: 18px;
		font-family: Oswald, sans-serif;
		font-weight: bold;
	}			

	.container.halftime2-main {
		width: 100%;
	}

	.halftime2.center-block table tr td {
		font-size: 19px;
	}

	.halftime2 {
		width: 30%;
		left: 30%;
	}

	/*.halftimeall*/
	.svg-playground.all:first-child > table.playground-results {
		margin-bottom: 1px;
	}

	.svg-playground.all > .playground-results tr td:first-child {
		width: 10%;
		text-align: left;
		font-family: Avenir, sans-serif;
		font-size: 15px;
	}

	.svg-playground.all > .playground-results tr td:last-child {
		text-align: right;
		font-size: 28px;
	}

	.svg-playground.all > table.playground-results tr td div img {
		width: 70%;
	}

	.my-flex-container {
		display: flex;
		justify-content: center;
	}

	.my-flex-block {
		flex-basis: 300px;
	}

	.triple {
		width: 100%;
		left: 0%;
	}

	.halftime1.triple.header {
		width: 900px;
	}

	.halftime1.center-block.all.triple.header p {
		font-size: 56px;
	}

	.halftime1.center-block.all.triple > table.teamstats-table tr td {
		font-size: 22px;
	}

	.halftime1.center-block.all.triple > div.svg-playground.all {
		margin-bottom: 8px;
	}

	.halftime1.center-block.all.triple-leaderboard {
		padding: 0px;
		padding-bottom: 5px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td {
		font-size: 15px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr th.halftime1-table-header {
		font-size: 16px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td img.img-circle {
		width: 70%; 
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td p.halftime1-p-team {
		font-size: 14px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td p.halftime1-p-name {
		font-size: 16px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td.halftime1-table-points p {
		font-size: 18px;
	}

	.halftime1.center-block.all.triple-leaderboard > table tr td .stat-table tr th {
		font-size: 12px;
	}

	.halftime1.center-block.all.triple-leaderboard > table.stat-table {
		width: 100%;
		outline: 0px solid yellow;
		margin: 0px;
	}

}

@media (min-width: 600px) and (max-width: 879px) {
	.freethrow-name p:first-child {
		font-size: 24px;
		padding: 5px 5px 1px 5px;
	}

	.freethrow-name p:last-child {
		font-size: 14px;
		padding: 1px 5px 2px 5px;
	}

	.freethrow-header p {
		font-size: 14px;
	}

	.freethrow-values div {
		font-size: 24px;
		padding: 6px 15px 6px 15px;
	}

	.freethrow-descriptions div {
		font-size: 8px;
		padding: 6px 15px 6px 15px;	
	}

	.freethrow-header.revised > img {
		width: 7%;
	}

	.freethrow-descriptions.revised div {
		font-size: 12px;
		padding: 6px 15px 6px 5px;	
	}

	.freethrow.revised {
		width: 50%;
		left: 25%;
	}

	.halftime1 {
		width: 100%;
		left: 30%;
	}

	.halftime1.revised {
		width: 100%;
	}

	.halftime1.center-block table tr td {
		font-size: 15px;
	}

	.halftime1-p-team {
		font-size: 14px;
	}

	.halftime1-p-name {
		font-size: 16px;
	}

	.halftime1-table-points p {
		font-size: 21px;
	}

	.stat-table tr th {
		font-size: 16px;
	}

	/*.halftime2*/
	.container.halftime2-main {
		width: 60%;
	}

	.ontable-cell.central p:first-child {
			font-size: 9px;
			font-family: Avenir, sans-serif;
		}

	.ontable-cell.central p:last-child {
		font-size: 14px;
		font-family: Oswald, sans-serif;
		font-weight: bold;
	}			

	.halftime1.center-block.all {
		padding: 0px 0px 0px 0px;
	}

	.halftime2.center-block table tr td {
		font-size: 15px;
	}

	.halftime2 {
		width: 30%;
		left: 30%;
	}

	/*.halftimeall*/
	.svg-playground.all > .playground-results tr td:first-child {
		width: 10%;
		text-align: left;
		font-family: Avenir, sans-serif;
		font-size: 16px;
	}

	.svg-playground.all > .playground-results tr td:last-child {
		text-align: right;
		font-size: 30px;
	}

	.svg-playground.all > table.playground-results tr td div img {
		width: 70%;
	}


	.halftime1.center-block.all {
		padding: 0px 25px 25px 25px;
	}

	.halftime1.center-block.all.triple.header p {
		font-size: 56px;
	}						
}

@media (min-width: 0px) and (max-width: 599px) {
	.freethrow {
		width: 80%;
		left: 10%;
	}

	.freethrow-name p:first-child {
		font-size: 18px;
		padding: 10px 80px 7px 3px;
	}

	.freethrow-name p:last-child {
		font-size: 14px;
		padding: 5px 40px 6px 5px;
	}

	.freethrow-name {
		width: 35%;
	}

	.freethrow-header {
		width: 65%;
	}
	
	.freethrow-results {
		width: 65%;
	}

	.freethrow-header p {
		font-size: 14px;
	}

	.freethrow-values div {
		font-size: 18px;
		padding: 12px 5px 5px 5px;
	}

	.freethrow-descriptions div {
		font-size: 12px;
		padding: 5px 5px 5px 5px;	
	}

	.freethrow.revised {
		width: 80%;
		left: 10%;
	}

	.freethrow-header.revised > img {
		width: 7%;
		padding-top: 5px;
	}

	.freethrow-descriptions.revised div {
		font-size: 11px;
	}

	.halftime1 {
		width: 100%;
		left: 10%;
		padding: 0px;
	}

	.halftime1.center-block.all {
		padding: 0px 0px 0px 0px;
	}

	.halftime1.center-block table tr td {
		font-size: 15px;
	}

	.halftime1-p-team {
		font-size: 14px;
	}

	.halftime1-p-name {
		font-size: 16px;
	}

	.halftime1-table-points p {
		font-size: 21px;
	}

	.stat-table tr th {
		font-size: 16px;
	}

	/*.halftime2*/
	.ontable-cell.central p:first-child {
			font-size: 9px;
			font-family: Avenir, sans-serif;
		}

	.ontable-cell.central p:last-child {
		font-size: 14px;
		font-family: Oswald, sans-serif;
		font-weight: bold;
	}			

	.halftime2.center-block table tr td {
		font-size: 15px;
	}

	.halftime2 {
		width: 60%;
		left: 30%;
	}

	/*.halftimeall*/
	.svg-playground.all > .playground-results tr td:first-child {
		width: 10%;
		text-align: left;
		font-family: Avenir, sans-serif;
		font-size: 16px;
	}

	.svg-playground.all > .playground-results tr td:last-child {
		text-align: right;
		font-size: 26px;
	}

	.svg-playground.all > table.playground-results tr td div img {
		width: 70%;
	}

	.halftime1.center-block.all.triple.header p {
		font-size: 52px;
	}

	.halftime1.center-block.all {
		padding: 0px 25px 25px 25px;
	}				
}


/*JS header-toogle*/
.closed.header{
    background:transparent;
}

.closed.navbar-brand-responsive {
    display: none!important;
}

.closed.responsive button {
    float:left;
    border-radius: 0px;
    border: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

.closed.responsive button a {
    height:auto;
}
@media (max-width: 767px) {
    .nav.navbar-nav li:first-child {
        display: none;
    }	
}

@media (max-width: 1010px) {
    a.navbar-brand-responsive img{
        display: none; /*remove logo on medium screens*/
    }	
}

@media (max-width: 800px){
    .responsive button {
        float: left;
        border-radius: 0px;
        border: 0px;
        margin-top: 0px;
        margin-left: 0px;
    }
}